<template>
  <div class="section-body">
    <div v-if="member" class="row">
      <div class="col-md-12 mb-1">
        {{ member.account }}
        <button
          v-for="(item,index) in pageList"
          :key="index"
          class="btn btn-sm mr-1"
          :class="currPageIndex==item?'btn-dark':'btn-light'"
          @click="setPage(item)"
        >
          {{ item }}
        </button>
      </div>
      <member-detail v-if="currPageIndex=='帳戶詳情'" :member="member" />

      <member-trans v-if="currPageIndex=='平台額度'" :member="member" />
      <member-reset-password v-if="currPageIndex=='重置密碼'" :member="member" />

      <div v-if="currPageIndex=='額度補單'" class="row col-md-12 m-0">
        <div class="col-md-4 p-0">
          <member-money :member="member" />
        </div>
      </div>

      <member-money-log v-if="currPageIndex=='交易紀錄'" :member="member" />

      <member-trans-log v-if="currPageIndex=='轉款報告'" :member="member" />
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberList } from '~/api/member.js';
export default {
  data () {
    return {
      member: null,
      pageList: ['帳戶詳情', '平台額度', '重置密碼', '額度補單', '交易紀錄', '轉款報告'], // '會員存提', '出款審核', '流水報表', '優惠報表', '輸贏報表'
      currPageIndex: '轉款報告'
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree'])
  },
  watch: {
    '$route.query.page': {
      handler (page) {
        this.currPageIndex = page || '帳戶詳情';
      },
      immediate: true
    }
  },
  mounted () {
    // this.currPageIndex = this.$route.query.page;
    const id = this.$route.params.id;
    const params = {
      where: { id }
    };
    getMemberList(params).then(({ data }) => {
      this.$set(this, 'member', data[0]);
    });
  },
  methods: {
    setPage (index) {
      const query = {};// JSON.parse(JSON.stringify(this.$route.query));
      query.page = index;
      this.$router.push({
        query
      });
      setTimeout(() => {
        this.currPageIndex = index;
      });
    },

    updateMemberInOutLog () {
      this.$refs.memberInOutLog.getList();
    },

    updateMemberMoneyLog () {
      this.$refs.memberMoneyLog.getList();
    },
    updateMemberWashCodeLog () {
      this.$refs.memberWashCodeLog.getList();
    }
  }
};
</script>
