<template>
  <div class="section-body">
    <div class="d-inline-flex pr-3 mb-3 form-inline">
      <button
        class="btn btn-primary btn-sm"
        @click="insertMember()"
      >
        {{ getLang('新增會員') }}
      </button>
    </div>
    <div class="row">
      <div class="col-12">
        <member-listing-head
          :get-list="getList"
          :set-where="setWhere"
          :change-agent="changeAgent"
          :change-group="changeGroup"
          :send-message="sendMessage"
        />
      </div>
    </div>
    <div v-show="initShow" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <member-listing ref="memberList" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return { initShow: 0 };
  },
  computed: {
  },
  mounted () {
    // this.getList();
  },
  methods: {
    insertMember () {
      this.$refs.memberList.edit(0);
    },
    getList () {
      if (!this.initShow) {
        this.initShow = 1;
      }
      this.$refs.memberList.getList();
    },
    setWhere (where) {
      this.$refs.memberList.setWhere(where);
    },
    changeAgent (agent_account) {
      this.$refs.memberList.changeAgent(agent_account);
    },
    changeGroup (gid) {
      this.$refs.memberList.changeGroup(gid);
    },
    sendMessage (payload) {
      this.$refs.memberList.sendMessage(payload);
    }
  }
};
</script>
