<template id="edit">
  <div class="section-body">
    <div class="col-sm-4">
      <wash-modify-index />
    </div>
  </div>
</template>
<script>

export default {
  data () {
    return {

    };
  },
  computed: {},
  watch: {},
  mounted () {
  },
  methods: {

  }
};
</script>
