<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <wash-code-index />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
    };
  },
  computed: {},
  watch: {},
  mounted () {
  },
  methods: {

  }
};
</script>
