<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增貨幣') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" @change="getData" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>{{ getLang('名稱') }}</th>
                        <th>
                          {{ getLang('代碼') }}
                          <a href="https://zh.wikipedia.org/wiki/ISO_4217" target="_blank">
                            ISO_4217
                          </a>
                        </th>
                        <th>{{ getLang('匯率') }}(HKD to X)</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="showItem(item,search)" :key="index" role="row">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.currency }}</td>
                        <td>{{ moneyFormat(item.rate) }}</td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('編輯') }}</b-button>
                          <button v-if="0" class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('名稱') }}:</label>
          <input v-model="editItem.name" type="text" class="form-control" />
        </div>
        <div class="form-group ">
          <label>{{ getLang('代碼') }}:
            <a href="https://zh.wikipedia.org/wiki/ISO_4217" target="_blank">
              ISO_4217
            </a></label>
          <input v-model="editItem.currency" type="text" class="form-control" />
        </div>
        <div class="form-group ">
          <label>{{ getLang('匯率') }}:</label>
          <input v-model="editItem.rate" type="text" class="form-control" />
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { getCountryList, addCountry, updateCountry, deleteCountry } from '~/api/country.js';
export default {
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { name: '', currency: '', rate: '' },
      editIndex: -1,
      data: {},
      pageData: { page: 0, limit: 10 },
      search: ''
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.getData();
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { name: '', lang: '', currency: '', rate: '', images: '', status: 0 });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit
      };
      try {
        const res = await getCountryList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteCountry(item.id);
          this.data.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addCountry(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateCountry(payload, id);
        this.$set(this.data, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    showItem (item, search) {
      if (search) {
        if (item.name.indexOf(search) != -1) {
          return true;
        }
        if (item.currency.indexOf(search) != -1) {
          return true;
        }
        return false;
      }
      return true;
    }
  }
};
</script>
