<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getList">
                    <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary mr-3 btn-sm" @click="edit(0)">{{ getLang('新增') }}</button>
                </div>
                <div v-if="0" class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" @change="getList" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th style="width:200px;">
                          <input
                            v-model="where.contentLike"
                            type="text"
                            :placeholder="getLang('原文')"
                            @change="getList"
                          />
                        </th>
                        <th>
                          <div>
                            {{ getLang('狀態') }}
                          </div>

                          <select v-model="where.status" @change="getList">
                            <option :value="-1">{{ getLang('全部') }}</option>
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ statusItem.show }}
                            </option>
                          </select>
                        </th>
                        <th v-for="(langItem,langIndex) in langList" :key="langIndex" style="width:200px;">
                          <input
                            v-model="where.lang[langItem.id]"
                            type="text"
                            :placeholder="langItem.name"
                            @change="getList"
                          />
                        </th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" :key="index" role="row">
                        <td>{{ item.id }}</td>
                        <td class="overflow-auto">
                          <div>
                            <textarea :value="item.content" disabled style="height:100px;"></textarea>
                          </div>
                          <button class="btn btn-sm btn-primary" @click="edit(1, index)">{{ getLang('編輯') }}</button>
                        </td>
                        <td>
                          <select :value="item.status" @change="updateField($event,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ statusItem.show }}
                            </option>
                          </select>
                          <span v-if="0">
                            {{ getLang(statusObject[item.status]) }}
                          </span>
                        </td>
                        <td v-for="(langItem,langIndex) in langList" :key="langIndex">
                          <div>
                            <textarea
                              :value="translate[langItem.id+'-'+item.id] && translate[langItem.id+'-'+item.id].content"
                              disabled
                              style="height:100px;"
                            ></textarea>
                          </div>
                          <button class="btn btn-sm btn-primary" @click="edit(1, index,langItem.id)">{{ getLang('編輯') }}</button>
                        </td>
                        <td>
                          <button class="btn btn-danger btn-sm" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('內容') }}:</label>
          <textarea v-model="editItem.content" :disabled="translateItem" type="text" class="form-control"></textarea>
        </div>
        <div v-if="translateItem" class="form-group">
          <textarea v-model="translateItem.content" type="text" class="form-control"></textarea>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import {
  getLanguageList,
  addLanguage,
  updateLanguage,
  deleteLanguage,
  langTranslation,
  getTranslationList,
  updateTranslation,
  deleteTranslation,
  addTranslation,
  reimportLang
} from '~/api/langstandard.js';

export default {
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { content: '', lang: '', status: 0 },
      editIndex: -1,
      data: {},
      pageData: { page: 0, limit: 10 },
      statusArray: [{ value: 0, show: '未審核' }, { value: 1, show: '已審核(未翻譯)' }, { value: 2, show: '已審核(已翻譯)' }],
      translate: {},
      translateItem: null,
      where: { contentLike: '', lang: {}, status: -1 }
    };
  },
  computed: {
    ...mapFields('lang', ['langList', 'langObject', 'selectLang']),
    ...mapFields('user', ['guide', 'guideTree', 'profile']),
    statusObject () {
      const result = {};
      for (const i in this.statusArray) {
        const item = this.statusArray[i];
        result[item.value] = item.show;
      }
      return result;
    }
  },
  watch: {

  },
  mounted () {
    this.getList();
  },
  methods: {
    edit (mode, index, lid) {
      this.editType = mode;
      const item = this.data[index];
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
        if (lid) {
          if (!this.translate[lid + '-' + item.id]) {
            this.$set(this.translate, lid + '-' + item.id, { lid, parentId: item.id, content: '' });
          }
          this.$set(this, 'translateItem', JSON.parse(JSON.stringify(this.translate[lid + '-' + item.id])));
        } else {
          this.$set(this, 'translateItem', null);
        }
      } else { // 新增
        this.$set(this, 'translateItem', null);
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { content: '', lang: '', status: 0 });
      }
    },
    async getList () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where
      };
      try {
        const res = await getLanguageList(params);
        this.$set(this, 'data', res.data);
        const ids = [];
        for (const i in res.data) {
          const item = res.data[i];
          ids.push(item.id);
        }
        getTranslationList({
          where: {
            parentId: ids
          }
        }).then(({ data }) => {
          for (const i in data) {
            const item = data[i];
            this.$set(this.translate, item.lid + '-' + item.parentId, item);
          }
        });
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteLanguage(item.id);
          this.data.splice(index, 1);
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addLanguage(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    async updateItem () {
      if (this.translateItem) {
        const keyName = this.translateItem.lid + '-' + this.translateItem.parentId;
        addTranslation({
          parentId: this.translateItem.parentId,
          content: this.translateItem.content,
          lid: this.translateItem.lid
        }).then(({ message }) => {
          this.$set(this.translate, keyName, JSON.parse(JSON.stringify(this.translateItem)));
          this.$root.$emit('bv::hide::modal', 'edit');
          this.alertWindow(message);
          return true;
        }).catch(({ message }) => {
          this.alertWindow(message);
          return true;
        });
      } else {
        const payload = this.editItem;
        const id = this.editItem.id;
        const index = this.editIndex;
        try {
          const res = await updateLanguage(payload, id);
          this.$set(this.data, index, payload);
          this.$root.$emit('bv::hide::modal', 'edit');
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      }
    },
    updateField (e, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = e.target.value;
        const item = this.data[index];
        const id = item.id;

        try {
          const res = await updateLanguage(payload, id);
          this.data[index][field] = e.target.value;
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          e.target.value = this.data[index][field];
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
        e.target.value = this.data[index][field];
      });
    }

  }
};
</script>
