<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('加扣點') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group ">
        <button class="btn btn-sm btn-light" :class="{'btn-primary':isPositive}" @click="isPositive = true">{{ getLang('加點') }}</button>
        <button class="btn btn-sm btn-light" :class="{'btn-primary':!isPositive}" @click="isPositive = false">{{ getLang('扣點') }}</button>
      </div>
      <div class="form-group ">
        <label>{{ getLang('金額') }}:</label>
        <input v-model="editItem.amount" type="text" class="form-control" />
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="adjustAmount()">{{ getLang('完成') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { agentAdjustAmount } from '~/api/affiliate.js';
export default {
  props: ['editItem', 'updateList'],
  data () {
    return {
      isPositive: true
    };
  },
  methods: {
    async adjustAmount () {
      this.editItem.amount = this.isPositive ? this.editItem.amount : -this.editItem.amount;
      const params = this.editItem;
      try {
        const res = await agentAdjustAmount(params);
        this.toggle();
        this.updateList();
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    toggle () {
      this.$refs.modal.toggle();
    }
  }
};
</script>
