<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ editType?getLang('更新代理人信息詳情'):getLang('添加代理') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group form-inline">
        <label class="label">{{ getLang('用戶名') }}:</label>
        <input
          v-model="editItem.account"
          :disabled="editType === 1"
          type="text"
          class="form-control"
        />
      </div>
      <div v-if="!editType" class="form-group form-inline">
        <label class="label">{{ getLang('密碼') }}:</label>
        <input v-model="editItem.password" type="password" class="form-control" />
      </div>
      <div v-if="!editType" class="form-group form-inline">
        <label class="label">{{ getLang('確認密碼') }}:</label>
        <input v-model="editItem.passwordAgain" type="password" class="form-control" />
      </div>
      <div class="form-group form-inline">
        <label class="label">{{ getLang('代理編號') }}:</label>
        <input v-model="editItem.agent_code" :disabled="editType === 1" type="text" class="form-control" />
      </div>
      <div class="form-group form-inline">
        <label class="label">{{ getLang('全名') }}:</label>
        <input v-model="editItem.name" type="text" class="form-control" />
      </div>
      <div class="form-group form-inline">
        <label class="label">{{ getLang('電子郵箱') }}:</label>
        <input v-model="editItem.email" type="text" class="form-control" />
      </div>
      <div class="form-group form-inline">
        <label class="label">{{ getLang('聯絡號碼') }}:</label>
        <input v-model="editItem.phone" type="text" class="form-control" />
      </div>
      <div class="form-group form-inline border-top pt-4">
        <label class="label">{{ getLang('代理模式') }}:</label>
        <select v-model="editItem.agent_type" class="form-control" :disabled="editType === 1">
          <option
            v-for="(item,index) in agentStatusArray"
            :key="index"
            :value="item.value"
          >
            {{ item.show }}
          </option>
        </select>
      </div>

      <div class="form-group form-inline">
        <label class="label">{{ getLang('運營提成(%)') }}:</label>
        <input v-model="editItem.handIn" class="form-control" />
      </div>

      <div class="form-group form-inline">
        <label class="label">{{ getLang('運營成本(%)') }}:</label>
        <input v-model="editItem.cost_pct" class="form-control" />
      </div>

      <div class="form-group form-inline">
        <label class="label">{{ getLang('固定收費') }}:</label>
        <input v-model="editItem.fixed_cost" class="form-control" />
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: ['editItem', 'editOk', 'editType'],
  data () {
    return {
      agentStatusArray: [{ value: 0, show: '現金模式' }]
    };
  },
  methods: {
    toggle () {
      this.$refs.modal.toggle();
    }
  }
};
</script>
<style scoped>
  .label {
    width: 90px;
    justify-content: flex-start;
  }
</style>
