<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('重置代理密碼') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group ">
        <label>{{ getLang('用戶名') }}:</label>
        <input :placeholder="editItem.account" disabled type="text" class="form-control" />
      </div>
      <div class="form-group ">
        <label>{{ getLang('密碼') }}:</label>
        <input v-model="editItem.password" type="password" class="form-control" />
      </div>
      <div class="form-group ">
        <label>{{ getLang('確認密碼') }}:</label>
        <input v-model="editItem.passwordAgain" type="password" class="form-control" />
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="resetPassword">{{ getLang('重置密碼') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: ['editItem', 'resetPassword'],
  data () {
    return {
    };
  },
  methods: {
    toggle () {
      this.$refs.modal.toggle();
    }
  }
};
</script>
