<template>
  <b-modal id="pt-detail" :no-close-on-backdrop="true" size="xl">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('PT詳情') }}</h4>
      <button type="button" class="close" @click="close();subAgentNav = []">×</button>
    </template>
    <template #default>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <b-table :items="ptDetails" :fields="fields" striped responsive="sm" class="table table-striped table-bordered">
              <template #cell(id)="row">
                {{ row.index +1 }}
              </template>
              <template v-if="type === 'member'" #cell(company)="row">
                {{ row.item.Member_company }}
              </template>
              <template v-else #cell(company)="row">
                {{ row.item.Agent_company }}
              </template>
              <template v-if="type === 'member'" #cell(subTotal)="row">
                {{ row.item.Member_commission }}
              </template>
              <template v-else #cell(subTotal)="row">
                {{ row.item.Agent_commission }}
              </template>
              <template v-if="type === 'member'" #bottom-row>
                <b-td colspan="4" class="text-right">Total</b-td>
                <b-td colspan="1">{{ ptDetailsTotal.Member_company }}</b-td>
                <b-td colspan="1">{{ ptDetailsTotal.Member_commission }}</b-td>
              </template>
              <template v-else #bottom-row>
                <b-td colspan="4" class="text-right">Total</b-td>
                <b-td colspan="1">{{ ptDetailsTotal.Agent_company }}</b-td>
                <b-td colspan="1">{{ ptDetailsTotal.Agent_commission }}</b-td>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </template>
    <template #modal-footer="{ ok, cancel }">
      <b-button variant="light" @click="cancel();subAgentNav = []">{{ getLang('關閉') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: ['type', 'ptDetails', 'ptDetailsTotal'],
  data () {
    return {
      fields: [
        { key: 'id', label: 'No.' },
        { key: 'pid', label: '產品名稱' },
        { key: 'gameClass', label: '產品類型' },
        { key: 'handIn', label: 'PT (%)' },
        { key: 'company', label: '公司盈虧' },
        { key: 'subTotal', label: '總額' }
      ],
      data: [],
      total: []
    };
  },
  methods: {
    toggle () {
      this.$refs.modal.toggle();
    }
  }
};
</script>
