<template>
  <div>
    <div v-if="currPageIndex=='會員存提'" class="row col-md-12 ">
      <div class="col-md-4 p-0">
        <member-deposit v-if="guide['會員管理.會員列表']" :member="member" :get-list="updateMemberInOutLog" />
        <member-withdrawal v-if="guide['會員管理.會員列表']" :member="member" :get-list="updateMemberInOutLog" />
      </div>
      <div class="col-md-8">
        <member-in-out-log ref="memberInOutLog" :member="member" />
      </div>
    </div>
    <div v-if="currPageIndex=='出款審核'" class="row col-md-12 ">
      <div class="col-md-12">
        <div class="card d-flex">
          <div class="card-header d-flex justify-content-center">
            <h4>{{ getLang('出款審核') }}</h4>
          </div>
          <div class="card-body table-responsive text-center text-nowrap">
            <withdrawal :member="member" />
          </div>
        </div>
      </div>
    </div>
    <div v-if="currPageIndex=='流水報表'" class="row col-md-12 ">
      <div class="col-md-4 p-0">
        <member-wash-code :member="member" :get-list="updateMemberWashCodeLog" />
      </div>
      <div class="col-md-8">
        <member-wash-code-log ref="memberWashCodeLog" :member="member" />
      </div>
    </div>
    <div v-if="currPageIndex=='優惠報表'" class="row col-md-12 ">
      <div v-if="0" class="col-md-4 p-0">
      </div>
      <div class="col-md-12">
        <div class="card d-flex">
          <div class="card-header d-flex justify-content-center">
            <h4>{{ getLang('優惠報表') }}</h4>
          </div>
          <div class="card-body table-responsive text-center text-nowrap">
            <order-main
              ref="orderMain"
              :route-name="'promo'"
              :mid="member.id"
              :type="[5]"
              :current-page="currPageIndex"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-if="currPageIndex=='輸贏報表'" class="row col-md-12 ">
      <div v-if="0" class="col-md-4 p-0">
      </div>
      <div class="col-md-12">
        <div class="card d-flex">
          <div class="card-header d-flex justify-content-center">
            <h4>{{ getLang('輸贏報表') }}</h4>
          </div>
          <div class="card-body table-responsive text-center text-nowrap">
            <member-report :mid="member.id" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { withdrawal } from '~/api/transaction.js';
export default {
  props: ['member', 'getList'],
  data () {
    return {
      messages: {},
      tradeTypeList: [
        { type: 'PAY01', name: '支付寶轉支付寶(使用連絡電話)' },
        { type: 'PAY01', name: '支付寶轉支付寶(使用電子郵件)' },
        { type: 'PAY03', name: '轉數快(使用連絡電話)' },
        { type: 'PAY03', name: '轉數快(使用電子郵件)' },
        { type: 'PAY04', name: '銀行轉帳' }
      ],
      bankList: [
        { id: 1, name: '中國銀行' },
        { id: 2, name: '匯豐銀行' },
        { id: 3, name: '恆生銀行' }
      ],
      withdrawal: {
        tradeType: 0
      }
    };
  },

  watch: {
    'withdrawal.tradeType': {
      handler (tradeType) {
        if (tradeType == 0 || tradeType == 2) {
          this.$set(this.withdrawal, 'phone', '');
          this.$delete(this.withdrawal, 'email');
          this.$delete(this.withdrawal, 'bankName');
          this.$delete(this.withdrawal, 'bankAccount');
        } else if (tradeType == 1 || tradeType == 3) {
          this.$set(this.withdrawal, 'email', '');
          this.$delete(this.withdrawal, 'phone');
          this.$delete(this.withdrawal, 'bankName');
          this.$delete(this.withdrawal, 'bankAccount');
        } else if (tradeType == 4) {
          this.$delete(this.withdrawal, 'email');
          this.$delete(this.withdrawal, 'phone');
        }
      },
      immediate: true
    }
  },
  mounted () {
  },
  methods: {
    async withdrawalMoney () {
      try {
        const postData = JSON.parse(JSON.stringify(this.withdrawal));
        postData.tradeType = this.tradeTypeList[postData.tradeType].type;
        postData.id = this.member.id;
        const { message } = await withdrawal(postData);
        this.getList();
        this.alertWindow(message);
        this.$set(this, 'messages', {});
      } catch ({ message, messages }) {
        this.alertWindow(message);
        if (messages) {
          this.$set(this, 'messages', messages);
        }
      }
    }
  }
};
</script>
