<template>
  <div class="card d-flex">
    <div class="card-header d-flex justify-content-center">
      <h4>{{ getLang('流水報表') }}</h4>
    </div>
    <div class="card-body table-responsive text-center text-nowrap">
      <wash-code-index ref="washCodeIndex" :member="member" />
    </div>
  </div>
</template>
<script>
export default {
  props: ['member'],
  data () {
    return {
    };
  },
  computed: {

  },
  mounted () {
  },
  methods: {
    getList () {
      this.$refs.washCodeIndex.getData();
    }
  }
};
</script>
