<template>
  <div class="card d-flex">
    <div class="card-header d-flex justify-content-center">
      <h4>{{ getLang('會員存款') }}</h4>
    </div>
    <div class="card-body ">
      <div>
        <label>{{ getLang('支付種類') }}:</label>
        <select
          v-model="editItem.tradeType"
          :class="messages.tradeType?'is-invalid':''"
        >
          <option :value="0">無</option>
          <option v-for="(item,index) in paymentList" :key="index" :value="item.type">
            {{ item.name }}
          </option>
        </select>
        <div class="invalid-feedback">
          {{ messages.tradeType }}
        </div>
      </div>
      <div>
        <label>{{ getLang('優惠') }}:</label>
        <select
          v-model="editItem.pid"
          :class="messages.pid?'is-invalid':''"
        >
          <option :value="0">無</option>
          <option v-for="(item,index) in promoList" :key="index" :value="item.id">
            {{ item.title }}
          </option>
        </select>
        <div class="invalid-feedback">
          {{ messages.pid }}
        </div>
      </div>
      <div>
        <label>{{ getLang('支付金額') }}:</label>
        <input
          v-model="editItem.amount"
          :class="messages.amount?'is-invalid':''"
        />
        <div class="invalid-feedback">
          {{ messages.amount }}
        </div>
      </div>
      <button
        class="btn btn-primary btn-sm"
        @click="genOrder"
      >
        {{ getLang('手動下單') }}
      </button>
    </div>
  </div>
</template>
<script>
import { getPaymentList, getPromoList, depositOrder } from '~/api/transaction.js';
export default {
  props: ['member', 'getList'],
  data () {
    return {
      editItem: {
        tradeType: 'PAY01',
        pid: -1,
        amount: 0
      },
      paymentList: [],
      promoList: [],
      messages: {}
    };
  },
  watch: {
    'member.id': {
      handler (id) {
        getPromoList({ id }).then(({ data }) => {
          this.promoList = data;
          if (data.length) {
            this.$set(this.editItem, 'pid', data[0].id);
          } else {
            this.$set(this.editItem, 'pid', 0);
          }
        });
      },
      immediate: true
    }
  },
  mounted () {
    getPaymentList().then(({ data }) => {
      this.paymentList = data;
      if (data.length) {
        this.$set(this.editItem, 'tradeType', data[0].type);
      } else {
        this.$set(this.editItem, 'tradeType', 0);
      }
    });
  },
  methods: {
    genOrder () {
      this.$set(this, 'messages', {});
      this.confirmWindow(this.getLang('確認產生新訂單') + '?', async () => {
        const payload = this.editItem;
        payload.id = this.member.id;
        try {
          const res = await depositOrder(payload);
          this.getList();
          this.alertWindow(this.getLang('操作成功'));
          // window.open(res.jumpUrl);
          return true;
        } catch ({ message, messages }) {
          if (messages) {
            this.$set(this, 'messages', messages);
          }
          this.alertWindow(message);
          return true;
        }
      });
    }
  }
};
</script>
