<template>
  <b-modal ref="modal" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('修改') }}{{ editItem.account }}{{ getLang('密碼') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group ">
        <label>{{ getLang('密碼') }}:</label>
        <input v-model="editItem.password" type="password" class="form-control" />
      </div>
      <div class="form-group ">
        <label>{{ getLang('確認密碼') }}:</label>
        <input v-model="editItem.passwordAgain" type="password" class="form-control" />
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="editOk">{{ getLang('重置密碼') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['editType', 'editItem', 'editOk'],
  computed: {
    ...mapFields('user', ['guide', 'guideTree']),
    ...mapFields(['dateTimeArray']),
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields('agent', { agent: 'list', agentObject: 'object' })
  },
  methods: {
    toggle () {
      this.$refs.modal.toggle();
    }
  }
};
</script>
