<template>
  <b-modal id="gen-order" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('產生') }}{{ editItem.account }}{{ getLang('存款訂單') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group form-inline">
        <label>{{ getLang('支付種類') }}:</label>
        <select
          v-model="editItem.tradeType"
          class="form-control"
          :class="messages.tradeType?'is-invalid':''"
        >
          <option v-for="(item,index) in paymentList" :key="index" :value="item.type">
            {{ item.name }}
          </option>
        </select>
        <div class="invalid-feedback">
          {{ messages.tradeType }}
        </div>
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('優惠') }}:</label>
        <select
          v-model="editItem.pid"
          class="form-control"
          :class="messages.pid?'is-invalid':''"
        >
          <option :value="0">無</option>
          <option v-for="(item,index) in promoList" :key="index" :value="item.id">
            {{ item.title }}
          </option>
        </select>
        <div class="invalid-feedback">
          {{ messages.pid }}
        </div>
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('支付金額') }}:</label>
        <input
          v-model="editItem.amount"
          class="form-control"
          :class="messages.amount?'is-invalid':''"
        />
        <div class="invalid-feedback">
          {{ messages.amount }}
        </div>
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="genOrder">{{ getLang('產生訂單') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { getPaymentList, getPromoList, depositOrder } from '~/api/transaction.js';
// import { mapFields } from 'vuex-map-fields';

export default {
  props: ['editType', 'editItem'],
  data () {
    return {
      paymentList: [],
      promoList: [],
      messages: {}
    };
  },
  computed: {
  },
  watch: {
    'editItem.id' (id) {
      getPromoList({ id }).then(({ data }) => {
        this.promoList = data;
      });
    }
  },
  mounted () {
    getPaymentList().then(({ data }) => {
      this.paymentList = data;
    });
    // getPromoList().then(({ data }) => {
    //   this.promoList = data;
    // });
  },
  methods: {
    genOrder () {
      this.confirmWindow(this.getLang('確認產生新訂單') + '?', async () => {
        const payload = this.editItem;
        try {
          const res = await depositOrder(payload);
          // this.alertWindow(message);
          // window.open(res.jumpUrl);
          this.$router.push('/order/real-time?where[id]=' + res.orderNo);
        } catch ({ message, messages }) {
          this.messages = messages;
          this.alertWindow(message);
        }
      });
    }
  }
};
</script>
