<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('寄送inbox給') }}{{ editItem.account }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group form-inline">
        <label>{{ getLang('類型') }}:</label>
        <select v-model="editItem.type">
          <option :value="0">{{ getLang('一般訊息') }}</option>
          <option :value="1">{{ getLang('緊急訊息') }}</option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('標題') }}:</label>
        <input
          v-model="editItem.title"
          type="text"
          :class="messages.title?'is-invalid':''"
        />
        <div class="invalid-feedback">
          {{ messages.title }}
        </div>
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('訊息') }}:</label>
        <textarea
          v-model="editItem.content"
          :class="messages.content?'is-invalid':''"
        ></textarea>
        <div class="invalid-feedback">
          {{ messages.content }}
        </div>
      </div>
      <img
        v-for="(imageSrc,index) in imageList"
        :key="index"
        :src="imageSrc"
        style="max-width:100%;"
      />
      <button class="btn btn-primary text-nowrap" style="position:relative;overflow: hidden;">
        {{ getLang('上傳圖片') }}
        <input
          type="file"
          style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;"
          @change="uploadImage($event)"
        />
      </button>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="sendInbox">{{ getLang('寄送') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import axios from 'axios';
import { sendInbox } from '~/api/member.js';
import commonImage from '~/api/commonImage.js';
export default {
  props: ['editItem'],
  data () {
    return {
      messages: {},
      imageList: []
    };
  },
  computed: {
  },
  mounted () {

  },
  methods: {
    uploadImage (e, id) {
      const reader = new FileReader();
      reader.onloadend = () => {
        this.imageList.push(reader.result);
      };
      reader.readAsDataURL(e.target.files[0]);
    },
    async sendInbox () {
      const payload = this.editItem;
      try {
        const { data, message } = await sendInbox(payload);

        const id = data.id;
        while (this.imageList.length) {
          axios.get('', {
            baseURL: this.imageList.pop(),
            responseType: 'blob'
          }).then(async ({ data }) => {
            const formData = new FormData();
            formData.append('image', data);
            formData.append('model_name', 'InBox');
            formData.append('model_id', id);
            const { image_id, message } = await commonImage.upload(formData);
            console.log(image_id, message);
          });
        }
        this.alertWindow(message);
      } catch ({ message, messages }) {
        this.messages = messages;
        this.alertWindow(message);
      }
    },
    toggle () {
      this.$refs.modal.toggle();
    }

  }
};
</script>
