<template>
  <div class="card d-flex">
    <div class="card-header d-flex justify-content-center">
      <h4>{{ getLang('額度報表') }}</h4>
    </div>
    <div class="card-body table-responsive text-center text-nowrap">
      <order-main
        ref="orderMain"
        :route-name="'money'"
        :mid="member.id"
        :type="[6]"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: ['member'],
  data () {
    return {
    };
  },
  computed: {

  },
  mounted () {
  },
  methods: {
    getList () {
      this.$refs.orderMain.getList();
    }
  }
};
</script>
