<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('寄送短訊給') }}{{ editItem.account }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group form-inline">
        <label>{{ getLang('手機') }}:</label>
        <input
          v-model="editItem.phone"
          class="form-control"
          disabled
        />
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('訊息') }}:</label>
        <textarea
          v-model="editItem.smsContent"
          class="form-control"
          :class="messages.smsContent?'is-invalid':''"
        ></textarea>
        <div class="invalid-feedback">
          {{ messages.smsContent }}
        </div>
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="sendSMS">{{ getLang('寄送簡訊') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
// import { getPaymentList, getPromoList, depositOrder } from '~/api/transaction.js';
import { sendSms } from '~/api/member.js';

// import { mapFields } from 'vuex-map-fields';

export default {
  props: ['editType', 'editItem'],
  data () {
    return {
      messages: {}
    };
  },
  computed: {
  },
  mounted () {
    // getPaymentList().then(({ data }) => {
    //   this.paymentList = data;
    // });
    // getPromoList().then(({ data }) => {
    //   this.promoList = data;
    // });
  },
  methods: {
    async sendSMS () {
      const payload = this.editItem;
      try {
        const { message } = await sendSms(payload);
        this.alertWindow(message);
      } catch ({ message, messages }) {
        this.messages = messages;
        this.alertWindow(message);
      }
    },
    toggle () {
      this.$refs.modal.toggle();
    }

  }
};
</script>
