<template>
  <div class="card d-flex">
    <div class="card-header d-flex justify-content-center">
      <h4>{{ getLang('流水修正') }}</h4>
    </div>
    <div class="card-body table-responsive text-left text-nowrap">
      <wash-modify-index :member="member" :get-list="getList" />
    </div>
  </div>
</template>
<script>
export default {
  props: ['member', 'getList'],
  data () {
    return {
    };
  },
  computed: {

  },
  mounted () {
  },
  methods: {

  }
};
</script>
