<template>
  <div class="card d-flex">
    <div class="card-header d-flex justify-content-center">
      <h4>{{ getLang('會員提款') }}</h4>
    </div>
    <div class="card-body ">
      <div>
        <div>
          <label>{{ getLang('提款方法') }}:</label>
          <select v-model="withdrawal.tradeType" :class="messages.tradeType?'is-invalid':''">
            <option v-for="(item,index) in tradeTypeList" :key="item.id" :value="index">
              {{ getLang(item.name) }}
            </option>
          </select>
        </div>
        <div>
          <label>{{ getLang('提款金額') }}:</label>
          <input
            v-model="withdrawal.amount"
            :class="messages.amount?'is-invalid':''"
          />
          <div class="invalid-feedback">
            {{ messages.amount }}
          </div>
        </div>
        <div>
          <label>{{ getLang('全名') }}:</label>
          <input
            v-model="withdrawal.name"
            type="text"
            :class="messages.name?'is-invalid':''"
          />
          <div class="invalid-feedback">
            {{ messages.name }}
          </div>
        </div>
        <div v-if="withdrawal.tradeType === 0 || withdrawal.tradeType === 2">
          <label>{{ getLang('聯繫電話') }}:</label>
          <input
            v-model="withdrawal.phone"
            type="text"
            :class="messages.phone?'is-invalid':''"
          />
          <div class="invalid-feedback">
            {{ messages.phone }}
          </div>
        </div>
        <div v-if="withdrawal.tradeType === 1 || withdrawal.tradeType === 3">
          <label>{{ getLang('電子郵件') }}:</label>
          <input
            v-model="withdrawal.email"
            type="text"
            :class="messages.email?'is-invalid':''"
          />
          <div class="invalid-feedback">
            {{ messages.email }}
          </div>
        </div>
        <template v-if="withdrawal.tradeType === 4">
          <div>
            <label>{{ getLang('銀行帳號') }}:</label>
            <input
              v-model="withdrawal.bankAccount"
              type="text"
              :class="messages.bankAccount?'is-invalid':''"
            />
            <div class="invalid-feedback">
              {{ messages.bankAccount }}
            </div>
          </div>
          <div>
            <label>{{ getLang('銀行名稱') }}:</label>
            <select
              v-model="withdrawal.bankName"
              :class="messages.bankName?'is-invalid':''"
            >
              <option value="0" disabled>
                {{ getLang('請選擇') }}
              </option>
              <option v-for="item in bankList" :key="item.id" :value="item.name">
                {{ getLang(item.name) }}
              </option>
            </select>
            <div class="invalid-feedback">
              {{ getLang(messages.bankName) }}
            </div>
            <div class="invalid-feedback">
              {{ messages.bankName }}
            </div>
          </div>
        </template>
        <button
          class="btn btn-primary btn-sm"
          @click="withdrawalMoney"
        >
          {{ getLang('手動出款') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>

import { withdrawal } from '~/api/transaction.js';
export default {
  props: ['member', 'getList'],
  data () {
    return {
      messages: {},
      tradeTypeList: [
        { type: 'PAY01', name: '支付寶轉支付寶(使用連絡電話)' },
        { type: 'PAY01', name: '支付寶轉支付寶(使用電子郵件)' },
        { type: 'PAY03', name: '轉數快(使用連絡電話)' },
        { type: 'PAY03', name: '轉數快(使用電子郵件)' },
        { type: 'PAY04', name: '銀行轉帳' }
      ],
      bankList: [
        { id: 1, name: '中國銀行' },
        { id: 2, name: '匯豐銀行' },
        { id: 3, name: '恆生銀行' }
      ],
      withdrawal: {
        tradeType: 0
      }
    };
  },

  watch: {
    'withdrawal.tradeType': {
      handler (tradeType) {
        if (tradeType == 0 || tradeType == 2) {
          this.$set(this.withdrawal, 'phone', '');
          this.$delete(this.withdrawal, 'email');
          this.$delete(this.withdrawal, 'bankName');
          this.$delete(this.withdrawal, 'bankAccount');
        } else if (tradeType == 1 || tradeType == 3) {
          this.$set(this.withdrawal, 'email', '');
          this.$delete(this.withdrawal, 'phone');
          this.$delete(this.withdrawal, 'bankName');
          this.$delete(this.withdrawal, 'bankAccount');
        } else if (tradeType == 4) {
          this.$delete(this.withdrawal, 'email');
          this.$delete(this.withdrawal, 'phone');
        }
      },
      immediate: true
    }
  },
  mounted () {
  },
  methods: {
    async withdrawalMoney () {
      try {
        const postData = JSON.parse(JSON.stringify(this.withdrawal));
        postData.tradeType = this.tradeTypeList[postData.tradeType].type;
        postData.id = this.member.id;
        const { message } = await withdrawal(postData);
        this.getList();
        this.alertWindow(message);
        this.$set(this, 'messages', {});
      } catch ({ message, messages }) {
        this.alertWindow(message);
        if (messages) {
          this.$set(this, 'messages', messages);
        }
      }
    }
  }
};
</script>
