<template>
  <div class="section-body">
    <div v-if="item && (type===1 || type===2 || type===5)" class="mb-2">
      <nuxt-link :to="`/order/${$route.params.name}`" class="btn btn-md btn-dark mx-1">{{ getLang('返回') }}</nuxt-link>
      <nuxt-link :to="`/member/member-listing/${item.mid}`" class="btn btn-md btn-light mx-1">
        <i class="far fa-user"></i>
        <span class="mx-1">{{ item.memberAccount }}</span>
        <i class="fas fa-external-link-alt"></i>
      </nuxt-link>
    </div>
    <div class="row">
      <order-detail-card-content-1
        v-if="item && bankItem && (type===1 || type===2 || type===5)"
        class="mx-1"
        :item="item"
        :type="type"
        :bank-item="bankItem"
        :wash-code-item="washCodeItem"
      />
      <order-detail-card-bank-account v-if="type===2 && detailContent" class="mx-1" :item="detailContent" />
      <order-detail-card-bank-info
        v-if="item && bankItem && (type===1 || type===2)"
        class="mx-1"
        :item="item"
        :type="type"
        :bank-item="bankItem"
      />
      <order-detail-card-discount v-if="item && type===5" class="mx-1" :item="item" :type="type" />
      <order-detail-card-review
        v-if="item && ((type===1 && (item.status===2 || item.status===3)) || (type===2 && (item.status===3 || item.status===4)) || (type===5 && (item.status===2 || item.status===3)))"
        class="mx-1"
        :item="item"
        :type="type"
      />
      <order-detail-card-other
        v-if="item && (type===1 || type===2 || type===5)"
        class="mx-1"
        :item="item"
        :type="type"
      />
      <order-detail-card-content
        v-if="item && item.type > 2"
        class="mx-1"
        :item="item"
      />
      <order-detail-card-member-wallet
        v-if="item && (!type==1 || !type==2 || !type==5) && (item.status==1 || item.status==2 || item.status==4)"
        class="mx-1"
        :item="item"
        :type="type"
      />
      <order-detail-card-game-wallet
        v-if="item && item.type==3 && (item.status==1 || item.status==2)"
        class="mx-1"
        :item="item"
      />
      <order-detail-card-promo
        v-if="item && item.status==2 && item.promoReport"
        class="mx-1"
        :item="item"
      />
      <order-detail-card-wash-code
        v-if="item && item.status==2 && item.promoReport"
        class="mx-1"
        :item="item"
      />
    </div>
    <div v-if="item && ((type===1 && item.status === 0) || (type===2 && (item.status === 0 || item.status === 1)))">
      <button class="btn btn-lg btn-primary mx-1" @click="receive()">{{ getLang('接收') }}</button>
      <button class="btn btn-lg btn-danger mx-1" @click="refuse()">{{ getLang('拒絕') }}</button>
      <button
        v-if="0 && type===2 && (item.status === 1 || item.status === 2)"
        class="btn btn-lg btn-danger mx-1"
        @click="review(0)"
      >
        {{ getLang('重新審核') }}
      </button>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getItem, deal, cancelOrder } from '~/api/order.js';
import { getWithdrawal, reviewWithdrawal } from '~/api/withdrawal.js';
import { getBankAccountList } from '~/api/bank.js';
import { getWashCodeList } from '~/api/wash-code.js';
export default {
  data () {
    return {
      item: null,
      bankItem: null,
      washCodeItem: null,
      detailContent: null,
      type: 0,
      id: 0
    };
  },
  computed: {
    ...mapFields('order', ['bankId', 'bankAccountId', 'fee', 'note', 'tradeChannel'])
  },
  mounted () {
    this.id = Number(this.$route.params.id.split('&')[0]);
    this.type = Number(this.$route.params.id.split('&')[1]);
    this.getItem();
  },
  methods: {
    getItem () {
      getItem(this.id).then(({ data }) => {
        if (this.item) {
          for (const i in data) {
            this.item[i] = data[i];
          }
        } else {
          this.item = data;
        }

        if (this.item.bank_accounts_id) {
          this.getBankItem();
        }
        if (this.item.type == 2) {
          getWithdrawal({ where: { order_id: this.id } }).then(({ data }) => {
            if (data.length) {
              this.detailContent = data[0];
            }
          });
          this.getWashCodeItem();
        }
      });
    },
    async getBankItem () {
      try {
        const { data } = await getBankAccountList({ where: { id: this.item.bank_accounts_id } });
        if (data.length) {
          this.$set(this, 'bankItem', data[0]);
        }
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getWashCodeItem () {
      const params = {
        search: this.item.memberAccount
      };
      try {
        const res = await getWashCodeList(params);
        this.$set(this, 'washCodeItem', res.washCodeData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    dealOrder () {
      this.confirmWindow(this.getLang('是否確定要確認此次交易') + '?', () => {
        const payload = {
          bank_id: this.item.bank_id,
          bank_accounts_id: this.item.bank_accounts_id,
          handling_fee: this.item.handling_fee,
          submit_note: this.item.submit_note
        };
        deal(payload, this.item.id).then(({ data }) => {
          this.item.status = 2;
          this.alertWindow(this.getLang('交易成功'));
        }).catch(() => {
          this.alertWindow(this.getLang('交易失敗'));
        });
      });
    },
    cancelOrder () {
      this.confirmWindow(this.getLang('是否確定要拒絕此次交易') + '?', async () => {
        try {
          const { data, message } = await cancelOrder(this.item.id);
          this.alertWindow(message);
          this.item.status = data.status;
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    },
    review (status) {
      const msg = this.showText(status);
      this.confirmWindow(this.getLang(`是否確定要${msg}此次交易`) + '?', () => {
        reviewWithdrawal({
          order_id: this.item.id,
          status,
          bank_id: this.item.bank_id,
          bank_accounts_id: this.item.bank_accounts_id,
          handling_fee: this.item.handling_fee,
          submit_note: this.item.submit_note,
          trading_channel: this.item.trading_channel
        }).then(() => {
          this.getItem();
        }).catch(({ message }) => {
          this.getItem();
          this.alertWindow(message);
        });
      });
    },
    showText (status) {
      switch (status) {
        case 0:
          return '重新審核';
        case 1:
        case 3:
          return '確認';
        case 2:
        case 4:
          return '拒絕';
        default:
          break;
      }
    },
    receive () {
      switch (this.type) {
        case 1:
          this.dealOrder();
          break;
        case 2:
          this.item.status === 0 ? this.review(1) : this.review(3);
          break;
        default:
          break;
      }
    },
    refuse () {
      switch (this.type) {
        case 1:
          this.cancelOrder();
          break;
        case 2:
          this.item.status === 0 ? this.review(2) : this.review(4);
          break;
        default:
          break;
      }
    }
  }
};
</script>
