<template>
  <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div v-if="!editType" class="form-group">
        <label>{{ getLang('用戶名') }}:</label>
        <input v-model="editItem.account" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>{{ getLang('名稱') }}:</label>
        <input v-model="editItem.name" type="text" class="form-control" />
      </div>
      <div v-if="!editType" class="form-group">
        <label>{{ getLang('狀態') }}:</label>
        <select v-model="editItem.status" class="form-control">
          <option
            v-for="(statusItem,statusIndex) in statusArray"
            :key="statusIndex"
            :value="statusItem.value"
          >
            {{ statusItem.show }}
          </option>
        </select>
      </div>
      <div v-if="!editType" class="form-group ">
        <label>{{ getLang('密碼') }}:</label>
        <input v-model="editItem.password" type="password" class="form-control" />
      </div>
      <div v-if="!editType" class="form-group ">
        <label>{{ getLang('確認密碼') }}:</label>
        <input v-model="editItem.passwordAgain" type="password" class="form-control" />
      </div>
      <div class="form-group">
        <label>{{ getLang('職務') }}:</label>
        <select v-model="editItem.rid" class="form-control">
          <option
            v-for="(item,index) in role"
            :key="index"
            :value="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: ['editType', 'editOk', 'editItem', 'role', 'statusArray']
};
</script>
