<template>
  <b-modal id="editPassword" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('修改') }}{{ editPasswordItem.account }}{{ getLang('密碼') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group ">
        <label>{{ getLang('密碼') }}:</label>
        <input v-model="editPasswordItem.password" type="password" class="form-control" />
      </div>
      <div class="form-group ">
        <label>{{ getLang('確認密碼') }}:</label>
        <input v-model="editPasswordItem.passwordAgain" type="password" class="form-control" />
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="resetPassword">{{ getLang('重置密碼') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: ['editPasswordItem', 'resetPassword']
};
</script>
