<template id="edit">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <h4 class="modal-title">{{ getLang('更新返水設置') }}</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <nuxt-link class="btn btn-primary" to="/promo/rebate">{{ getLang('回到返水設置') }}</nuxt-link>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                    <thead>
                      <tr role="row">
                        <th>{{ getLang('產品名稱') }}</th>
                        <th>{{ getLang('產品類型') }}</th>
                        <th>{{ getLang('返水') }}(‰)</th>
                        <th><input v-model="allRebate" type="text" class="form-control text-right" @change="writeAll(data)" /></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" :key="index" role="row">
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td colspan="2">
                          <input :name="`productID`+ item.productID" type="text" class="form-control text-right" :value="item.discount" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-inline-flex pr-3 mb-3 form-inline">
                    <button class="btn btn-primary" @click="createItem(data);">{{ getLang('提交') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getMemberGroupRebate, addRebate } from '~/api/promo.js';
export default {
  data () {
    return {
      allRebate: '',
      memGroupID: '',
      data: {},
      backupData: {},
      edit: {}
    };
  },
  computed: {},
  watch: {},
  mounted () {
    const memGroupID = this.$route.params.id;
    this.getData(memGroupID);
  },
  methods: {
    writeAll (fieldName) {
      for (let i = 0; i < fieldName.length; i++) {
        const inProduct = fieldName[i];
        document.querySelector(`input[name=productID${inProduct.productID}]`).value = this.allRebate;
      }
    },
    async getData (id) {
      try {
        const res = await getMemberGroupRebate(id);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async createItem (fieldName) {
      for (let i = 0; i < fieldName.length; i++) {
        const inProduct = fieldName[i];
        this.edit[i] =
          {
            memGroupID: this.$route.params.id,
            productID: `${inProduct.productID}`,
            discount: document.querySelector(`input[name=productID${inProduct.productID}]`).value
          };
      }
      const payload = {
        rebate: this.edit
      };
      try {
        const res = await addRebate(payload);
        this.alertWindow(res.message);
        this.getData(this.$route.params.id);
      } catch (err) {
        this.alertWindow(err.message);
      }
    }
  }
};
</script>
