<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>

                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="whereStatus" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                    <thead>
                      <tr role="row">
                        <th>No.</th>
                        <th>{{ getLang('群組名稱') }}</th>
                        <th>{{ getLang('狀態') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" :key="index" role="row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                          <div v-if="item.rebateStatus >= 0">
                            <select v-model="item.rebateStatus" @change="updateField(item,index,'rebateStatus')">
                              <option
                                v-for="(statusItem,statusIndex) in statusArray"
                                :key="statusIndex"
                                :value="statusItem.value"
                              >
                                {{ getLang(statusItem.show) }}
                              </option>
                            </select>
                          </div>
                          <div v-else>
                            <label>還未設置返水</label>
                          </div>
                        </td>
                        <td>
                          <nuxt-link class="btn btn-primary" :to="`/promo/rebate/${item.id}`">{{ item.rebateStatus >= 0 ? getLang('修改') : getLang('設置') }}</nuxt-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getRebate, updateRebate } from '~/api/promo.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { bank_name: '', swift_code: '', isPG: 0, status: 0 },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      whereStatus: -1,
      orderId: 1
    };
  },
  computed: {},
  watch: {},
  mounted () {
    this.getData();
  },
  methods: {
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus
      };
      try {
        const res = await getRebate(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateRebate(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    }
  }
};
</script>
