<template>
  <b-modal v-model="data.show" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ title }}</h4>
      <button type="button" class="close" @click="popAllBackFunc(close)">×</button>
    </template>
    <template #default>
      <div class="form-group ">
        <div>下層列表 (打勾為狀態開啟)</div>
        <button
          v-if="data.titleType==1"
          class="btn btn-dark"
          @click="$emit('addList')"
        >
          +
        </button>
        <button
          v-for="(item,index) in allTree[data.editItem.id]"
          :key="index"
          class="btn btn-dark"
          :draggable="true"
          @click="$emit('editList',item)"
          @dragover.prevent
          @dragstart="$emit('dragstart',item)"
          @drop="$emit('drop',item)"
        >
          <input
            :checked="listObject[item].status"
            type="checkbox"
            @click.stop="updateStatus(listObject[item])"
          />

          {{ listObject[item].name }}
        </button>
      </div>
      <div class="form-group ">
        <b-button
          v-if="data.editItem.id!=0"
          variant="primary"

          @click="data.okFunc(editItemTmpBack)"
        >
          {{ data.editItem.id?'儲存':'新增' }}
        </b-button>
        <button
          v-if="data.editItem.id"
          class="btn btn-danger"
          @click="$emit('del',editItemTmpBack)"
        >
          刪除
        </button>
      </div>
      <div v-if="data.editItem.id!=0">
        <div class="form-group form-inline">
          <div class="form-inline">
            <label>名稱:</label>
            <input v-model="data.editItem.name" type="text" class="form-control" />
          </div>
          <div class="form-group form-inline">
            <label>狀態:</label>
            <select v-model="data.editItem.status" class="form-control">
              <option :value="0">關閉</option>
              <option :value="1">啟用</option>
            </select>
          </div>
          <div class="form-group form-inline">
            <label>功能:</label>
            <select v-model="data.editItem.type" class="form-control">
              <option :value="0">(前端顯示)普通路由</option>
              <option :value="1">(前端顯示)restful API</option>
              <option :value="2">單一 API</option>
              <option :value="3">權限</option>
            </select>
          </div>
        </div>

        <div v-if="data.editItem.type==2" class="form-group form-inline">
          <label>需要權限:</label>
          <select v-model="data.editItem.needPower" class="form-control">
            <option :value="0">不需要</option>
            <option :value="1">需要</option>
          </select>
        </div>
        <div v-if="data.editItem.type==0 || data.editItem.type==1" class="form-group form-inline">
          <label><a target="_blank" href="https://fontawesome.com/v4.7.0/icons/">icon:</a></label>
          <input v-model="data.editItem.icon" type="text" class="form-control" />
          <i :class="data.editItem.icon" class="fa"></i>
          </i>
        </div>

        <div v-if="data.editItem.type==1 || data.editItem.type==2" class="form-group form-inline">
          <label>class檔案路徑:<span v-if="data.editItem.type==2">controller#method</span></label>
          <input v-model="data.editItem.classPath" type="text" class="form-control flex-fill" />
        </div>
        <div v-if="data.editItem.type==2" class="form-group form-inline">
          <label>request方法:</label>
          <select v-model="data.editItem.httpMethod" class="form-control">
            <option value="any">不限</option>
            <option value="get">GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="delete">DELETE</option>
          </select>
        </div>

        <div v-if="data.editItem.type==0 || data.editItem.type==1" class="form-group form-inline">
          <label>前端路徑:</label>
          <input v-model="data.editItem.frontendPath" type="text" class="form-control flex-fill" />
        </div>

        <div v-if="data.editItem.type==1 || data.editItem.type==2" class="form-group form-inline">
          <label>後端路徑:</label>
          <input v-model="data.editItem.backendPath" type="text" class="form-control flex-fill" />
        </div>
      </div>
      <pre v-if="0">
{{ data.editItem }}
{{ listObject[data.editItem.id] }}
        </pre>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="light" @click="editItemTmpBack(cancel)">{{ data.backFunc.length?'上一頁':'取消' }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: ['data', 'allTree', 'listObject'],
  computed: {
    title () {
      if (!this.data.editItem || !this.listObject[this.data.editItem.pid]) { return ''; };
      let title = '';
      if (this.data.titleType == 0) {
        title += '新增';
        title += this.listObject[this.data.editItem.pid].name;
        title += '下層';
      } else {
        title += '編輯';
        title += this.listObject[this.data.editItem.id].name;
      }

      return title;
    }
  },
  watch: {
    'data.editItem.type': {
      handler (type) {
        if (type == 1) {

        } else if (type == 2) {
          if (isNaN(this.data.editItem.httpMethod)) {
            this.data.editItem.httpMethod = 'any';
          }
          if (isNaN(this.data.editItem.needPower)) {
            this.data.editItem.needPower = 1;
          }
        }
        // console.log(type);
      }
    }
  },
  methods: {
    updateClassPower (index) {
      const scalar = 0;
      const base = Math.pow(2, index);
      if ((this.data.editItem.classPower & base) == base) {
        this.data.editItem.classPower = this.data.editItem.classPower * 1 - base;
      } else {
        this.data.editItem.classPower = this.data.editItem.classPower * 1 + base;
      }
    },
    popAllBackFunc (callback) {
      while (this.data.backFunc.length) {
        this.data.backFunc.pop();
      }
      callback && callback();
    },
    editItemTmpBack (callback) {
      if (this.data.backFunc.length) {
        const item = this.data.backFunc.pop();
        item();
      } else {
        callback && callback();
      }
    },
    updateStatus (item) {
      const newStatus = (item.status * 1 + 1) % 2;
      this.$emit('updateStatus', {
        status: newStatus,
        id: item.id,
        callback (status) {
          if (status) {
            item.status = newStatus;
          }
        }
      });
    }
  }

};
</script>
