<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12 ">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <power-guide-tree
                  :power="'A'"
                  :power-id="0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
    };
  },
  mounted () {
  },
  methods: {

  }
};
</script>
