<template>
  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="getList">
                <option v-for="(item,index) in [50,100,150,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('狀態') }}:
              <select v-model="where.status" @change="getList">
                <option value="-1">{{ getLang('全部') }}</option>
                <option
                  v-for="(statusItem,statusIndex) in statusArray"
                  :key="statusIndex"
                  :value="statusItem.value"
                >
                  {{ getLang(statusItem.show) }}
                </option>
              </select>
            </div>
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('代理模式') }}:
              <select v-model="where.agent_type" @change="getList">
                <option value="-1">{{ getLang('全部') }}</option>
                <option
                  v-for="(statusItem,statusIndex) in agentTypeArray"
                  :key="statusIndex"
                  :value="statusItem.value"
                >
                  {{ getLang(statusItem.show) }}
                </option>
              </select>
            </div>
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              <button class="btn btn-sm btn-primary" @click="edit(0)">
                {{ getLang('添加代理') }}
              </button>
            </div>
            <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
              {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive text-center">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('名稱') }}</th>
                    <th>{{ getLang('全名') }}</th>
                    <th>{{ getLang('代理編號') }}</th>
                    <th>{{ getLang('代理模式') }}</th>
                    <th>{{ getLang('狀態') }}</th>
                    <th>{{ getLang('登錄權限') }}</th>
                    <th>
                      {{ getLang('最近登錄時間') }}
                      <div>{{ getLang('最近登錄的IP') }}</div>
                    </th>
                    <th>{{ getLang('操作') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item,index) in data"
                    v-show="!search || item.account.indexOf(search)!=-1 || item.name.indexOf(search)!=-1"
                    :key="index"
                  >
                    <td>{{ item.id }}</td>
                    <td>
                      {{ item.account }}
                    </td>
                    <td>
                      {{ item.name }}
                    </td>
                    <td>
                      {{ item.agent_code }}
                    </td>
                    <td>
                      {{ agentType(item.agent_type) }}
                    </td>

                    <td>
                      <select
                        :value="item.status"
                        :class="item.status==1?'bg-success':'bg-danger'"
                        @change="updateField($event,index,'status')"
                      >
                        <option
                          v-for="(statusItem,statusIndex) in statusArray"
                          :key="statusIndex"
                          style="background-color:#EAECEE;color:black"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </td>

                    <td>
                      <select
                        :value="item.login_lock"
                        :class="item.login_lock==0?'bg-success':'bg-danger'"
                        @change="updateField($event,index,'login_lock')"
                      >
                        <option
                          v-for="(statusItem,statusIndex) in loginArray"
                          :key="statusIndex"
                          style="background-color:#EAECEE;color:black"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </td>
                    <td v-if="item.login_at && item.ip">
                      {{ item.login_at }}
                      <br />
                      {{ item.ip }}
                    </td>
                    <td v-else>--</td>
                    <td>
                      <button
                        class="btn btn-sm btn-primary my-1"
                        @click="openWindows(index, 'link-modal')"
                      >
                        {{ getLang('域名') }}
                      </button>
                      <button
                        class="btn btn-sm btn-primary my-1"
                        @click="edit(1,index)"
                      >
                        {{ getLang('修改檔案') }}
                      </button>
                      <button
                        class="btn btn-sm btn-primary my-1"
                        @click="openWindows(index, 'edit-password-modal')"
                      >
                        {{ getLang('重置密碼') }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
        </div>
      </div>
    </div>

    <AffiliateAgentEditModal
      ref="edit-modal"
      :edit-item="editItem"
      :edit-ok="editOk"
      :edit-type="editType"
    />

    <AffiliateAgentEditPasswordModal
      ref="edit-password-modal"
      :edit-item="editPasswordItem"
      :reset-password="resetPassword"
    />

    <agent-link-modal
      ref="link-modal"
      :edit-item="editAgentLinkItem"
    />
  </div>
</template>
<script>
import { getAgentList, addAgent, updateAgent } from '~/api/affiliate.js';
export default {
  data () {
    return {
      editType: 0,
      editOk: null,
      editPasswordItem: {
        id: -1,
        account: '',
        password: '',
        passwordAgain: ''
      },
      editItem: {},
      editIndex: -1,
      data: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      loginArray: [{ value: 0, show: '準予' }, { value: 1, show: '封鎖' }],
      agentTypeArray: [{ value: 0, show: '現金模式' }, { value: 1, show: '信用模式' }],
      search: '',
      where: {
        status: '',
        agent_type: ''
      },
      editAgentLinkItem: { list: [], id: '' }
    };
  },
  computed: {
  },
  mounted () {
    this.$store.dispatch('country/setList');
    this.getList();
  },
  methods: {
    edit (mode, index) {
      this.editType = mode;
      const item = this.data[index];
      this.$refs['edit-modal'].toggle();
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        // parentId
        const editItem = {
          account: '',
          password: '',
          passwordAgain: '',
          agent_code: '',
          name: '',
          email: '',
          phone: '',
          agent_type: 0,
          handIn: 0,
          cost_pct: 0,
          fixed_cost: 0,
          login_lock: 0
        };
        this.$set(this, 'editItem', editItem);
      }
    },
    async getList () {
      try {
        const params = {
          page: this.pageData.page,
          limit: this.pageData.limit,
          where: this.where
        };
        const res = await getAgentList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (e, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = e.target.value;
        const item = this.data[index];
        const id = item.id;
        console.log(e, index, field);
        try {
          const res = await updateAgent(payload, id);
          this.data[index][field] = e.target.value;
          this.alertWindow(res.message);
        } catch (err) {
          e.target.value = this.data[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        e.target.value = this.data[index][field];
      });
    },
    async createItem () {
      if (this.editItem.password !== this.editItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      }
      const payload = this.editItem;
      try {
        const res = await addAgent(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$refs['edit-modal'].toggle();
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    async updateItem () {
      const payload = {};
      const item = this.data[this.editIndex];
      for (const field in this.editItem) {
        if (this.editItem[field] != item[field]) {
          payload[field] = this.editItem[field];
        }
      }
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateAgent(payload, id);
        this.$set(this.data, index, this.editItem);
        this.$refs['edit-modal'].toggle();
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    openWindows (index, name) {
      const item = this.data[index];
      switch (name) {
        case 'edit-password-modal':
          this.editPasswordItem.account = item.account;
          this.editPasswordItem.id = item.id;
          this.editPasswordItem.password = '';
          this.editPasswordItem.passwordAgain = '';
          break;
        case 'link-modal':
          this.editAgentLinkItem.id = item.id;
          break;
        default:
          return false;
      }
      this.$refs[name].toggle();
    },
    async resetPassword () {
      if (this.editPasswordItem.password !== this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      } else if (!this.editPasswordItem.password || !this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('欄位不能留空'));
      }
      const payload = {
        password: this.editPasswordItem.password
      };
      const id = this.editPasswordItem.id;
      try {
        const res = await updateAgent(payload, id);
        this.editPasswordItem.password = '';
        this.editPasswordItem.passwordAgain = '';
        this.$refs['edit-password-modal'].toggle();
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    agentType (type) {
      let result = '';
      this.agentTypeArray.forEach((x) => {
        if (x.value === type) {
          result = x.show;
        }
      });
      return result;
    }
  }
};
</script>
