<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增資料') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" @change="getData" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>{{ getLang('網址') }}</th>
                        <th>{{ getLang('幣別') }}</th>
                        <th>{{ getLang('代理帳號') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.name.indexOf(search)!=-1 || item.lang.indexOf(search)!=-1" :key="index" role="row">
                        <td>{{ item.id }}</td>
                        <td>{{ item.domain }}</td>
                        <td>{{ item.countries.currency }}</td>
                        <td>{{ item.agent_account }}</td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('編輯') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('網址') }}:</label>
          <input v-model="editItem.domain" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>{{ getLang('幣別') }}:</label>
          <select v-model="editItem.cid" class="form-control">
            <option
              v-for="(item,index) in getCountryAll"
              :key="index"
              :value="item.id"
            >
              {{ item.name }} - {{ item.currency }}
            </option>
          </select>
          <!-- <input v-model="editItem.cid" type="text" class="form-control" /> -->
        </div>
        <div class="form-group">
          <label>{{ getLang('代理帳號') }}:</label>
          <input v-model="editItem.agent_account" type="text" :class="agent_accountClass" @change="chAgentManagements()" />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { chAgentManagement, getAgentdomain, updateAgentdomain, addAgentdomain, deleteAgentdomain } from '~/api/affiliate.js';
import { getCountryList } from '~/api/country.js';

export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { name: '', lang: '', images: '', status: 0 },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 10 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      orderId: 1,
      getCountryAll: {},
      agent_accountClass: 'form-control'
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.country();
    this.getData();
  },
  methods: {
    edit (mode, item, index) {
      this.agent_accountClass = 'form-control';
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { name: '', lang: '', images: '', status: 0 });
      }
    },
    async chAgentManagements () {
      const agent_account = this.editItem.agent_account;
      try {
        const res = await chAgentManagement(agent_account);
        if (res.data != '') {
          this.agent_accountClass = 'form-control is-valid';
        } else {
          this.agent_accountClass = 'form-control is-invalid';
          this.editItem.agent_account = '';
        }
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async country () {
      try {
        const res = await getCountryList();
        // this.$set(this, 'data', res.data);
        this.$set(this, 'getCountryAll', JSON.parse(JSON.stringify(res.data)));
        // this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        search: this.search
      };
      try {
        const res = await getAgentdomain(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteAgentdomain(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addAgentdomain(payload);
        this.getData();
        // this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        // this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateAgentdomain(payload, id);
        this.getData();
        // this.$set(this.data, index, payload);
        // this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    }
  }
};
</script>
