<template>
  <div class="section-body">
    <div class="row col-12 card card-body">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="filterStatus" class="d-flex border p-2  flex-wrap">
        <div class="col-md-12 my-2">
          {{ getLang('時間範圍') }}:
          <b-input-group class="mt-1">
            <template #prepend>
              <b-dropdown variant="primary" dropdown>
                <template #button-content>
                  <i class="fas fa-calendar"></i>
                </template>
                <b-dropdown-item
                  v-for="(item,index) in dateTimeArray"
                  :key="index"
                  @click="setDate(item,'createdAtRange')"
                >
                  {{ item.show }}
                </b-dropdown-item>
              </b-dropdown>
            </template>
            <date-picker
              v-model="createdAtRange"
              range
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
              placeholder=""
            />
          </b-input-group>
        </div>
        <div class="col-md-4 my-2">
          <button class="btn btn-primary" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary" @click="reset()">{{ getLang('重置') }}</button>
        </div>
      </div>
      <div class="row mt-3">
        <div v-if="searchStatus" class="col-sm-12">
          <div class="d-inline-flex pr-3 mb-3 form-inline">
            {{ getLang('顯示') }}
            <select v-model="pageData.limit" @change="getData">
              <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('條目') }}
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </div>
          <div class="d-inline-flex mb-3 form-inline float-right">
            {{ getLang('搜尋') }}:<input v-model.lazy="search" type="search" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table v-if="searchStatus" id="printTable" class="table table-striped table-bordered ">
              <thead>
                <tr role="row">
                  <th>No.</th>
                  <th>{{ getLang('代理編號') }}</th>
                  <th>{{ getLang('總存款額') }}</th>
                  <th>{{ getLang('總取款額') }}</th>
                  <th>{{ getLang('優惠活動總數') }}</th>
                  <th>{{ getLang('調整（存入）') }}</th>
                  <th>{{ getLang('調整（支出）') }}</th>
                  <th>{{ getLang('返水') }}</th>
                  <th>{{ getLang('流水') }}</th>
                  <th>{{ getLang('下注') }}</th>
                  <th>{{ getLang('輸贏') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in data" v-show="!search || item.agent_code.indexOf(search)!=-1" :key="index" role="row">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.agent_code }}</td>
                  <td>{{ moneyFormat(item.deposit_amount) }}</td>
                  <td>{{ moneyFormat(Math.abs(item.withdrawal_amount)) }}</td>
                  <td>{{ moneyFormat(item.discount_amount) }}</td>
                  <td>{{ moneyFormat(item.Adjustment_deposit_amount) }}</td>
                  <td>{{ moneyFormat(item.Adjustment_withdrawal_amount) }}</td>
                  <td>{{ moneyFormat(0) }}</td>
                  <td>{{ moneyFormat(item.sumValidbet) }}</td>
                  <td>{{ moneyFormat(item.sumPay) }}</td>
                  <td>{{ moneyFormat(item.sumResult) }}</td>
                </tr>
                <tr v-if="!data.length">
                  <td colspan="11" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                </tr>
              </tbody>
              <b-tfoot>
                <b-tr v-if="data.length">
                  <b-td colspan="2" variant="secondary" class="text-right">{{ 'Total' }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.deposit_amount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(Math.abs(total.withdrawal_amount)) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.discount_amount ) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.Adjustment_deposit_amount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.Adjustment_withdrawal_amount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.sumValidbet) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.sumPay) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.sumResult) }}</b-td>
                </b-tr>
              </b-tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getData" />
      </div> -->
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getPerformance } from '~/api/affiliate.js';
export default {
  data () {
    return {
      filterStatus: true,
      searchStatus: false,
      data: [],
      pageData: { page: 0, limit: 50 },
      total: {
        deposit_amount: 0,
        withdrawal_amount: 0,
        discount_amount: 0,
        Adjustment_deposit_amount: 0,
        Adjustment_withdrawal_amount: 0,
        sumValidbet: 0,
        sumPay: 0,
        sumResult: 0
      },
      createdAtRange: [],
      search: ''
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    async getData () {
      this.clearData();
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1]
      };
      try {
        const res = await getPerformance(params);
        this.$set(this, 'data', res.data);
        this.data && this.data.forEach((x) => {
          this.total.deposit_amount += Number(x.deposit_amount || 0);
          this.total.withdrawal_amount += Number(x.withdrawal_amount || 0);
          this.total.discount_amount += Number(x.discount_amount || 0);
          this.total.Adjustment_deposit_amount += Number(x.Adjustment_deposit_amount || 0);
          this.total.Adjustment_withdrawal_amount += Number(x.Adjustment_withdrawal_amount || 0);
          this.total.sumValidbet += Number(x.sumValidbet || 0);
          this.total.sumPay += Number(x.sumPay || 0);
          this.total.sumResult += Number(x.sumResult || 0);
        });
      } catch (err) {
        this.alertWindow(err.message);
      } finally {
        this.searchStatus = true;
      }
    },
    reset () {
      this.createdAtRange = [];
    },
    clearData () {
      this.searchStatus = false;
      this.total = {
        deposit_amount: 0,
        withdrawal_amount: 0,
        discount_amount: 0,
        Adjustment_deposit_amount: 0,
        Adjustment_withdrawal_amount: 0,
        sumValidbet: 0,
        sumPay: 0,
        sumResult: 0
      };
    },
    setExportData (type) {
      const routeName = this.$route.path.split('/')[2];
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;

      data.forEach((x) => {
        x.deposit_amount = this.moneyFormat(x.deposit_amount);
        x.withdrawal_amount = this.moneyFormat(Math.abs(x.withdrawal_amount));
        x.discount_amount = this.moneyFormat(x.discount_amount);
        x.Adjustment_deposit_amount = this.moneyFormat(x.Adjustment_deposit_amount);
        x.Adjustment_withdrawal_amount = this.moneyFormat(x.Adjustment_withdrawal_amount);
        x.sumValidbet = this.moneyFormat(x.sumValidbet);
        x.sumPay = this.moneyFormat(x.sumPay);
        x.sumResult = this.moneyFormat(x.sumResult);
      });
      total = Object.assign({}, this.total);
      total.deposit_amount = this.moneyFormat(total.deposit_amount);
      total.withdrawal_amount = this.moneyFormat(Math.abs(total.withdrawal_amount));
      total.discount_amount = this.moneyFormat(total.discount_amount);
      total.Adjustment_deposit_amount = this.moneyFormat(total.Adjustment_deposit_amount);
      total.Adjustment_withdrawal_amount = this.moneyFormat(total.Adjustment_withdrawal_amount);
      total.sumValidbet = this.moneyFormat(total.sumValidbet);
      total.sumPay = this.moneyFormat(total.sumPay);
      total.sumResult = this.moneyFormat(total.sumResult);

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
