<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h6>{{ getLang('搜索條件') }}</h6>
              <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
            </div>
            <div v-if="filterStatus" class="d-flex border p-2  flex-wrap">
              <div class="col-md-5 my-2">
                {{ getLang('時間範圍') }}:
                <b-input-group class="mt-1">
                  <template #prepend>
                    <b-dropdown variant="primary" dropdown>
                      <template #button-content>
                        <i class="fas fa-calendar"></i>
                      </template>
                      <b-dropdown-item
                        v-for="(item,index) in dateTimeArray"
                        :key="index"
                        @click="setDate(item,'createdAtRange')"
                      >
                        {{ item.show }}
                      </b-dropdown-item>
                    </b-dropdown>
                  </template>
                  <date-picker
                    v-model="where.createdAtRange"
                    range
                    type="datetime"
                    value-type="format"
                    format="YYYY-MM-DD HH:mm:ss"
                    placeholder=""
                  />
                </b-input-group>
              </div>
              <div class="col-md-5 my-2">
                {{ getLang('代理編號') }}:<input v-model="where.agent_account_search" type="search" class="form-control form-control-sm w-50 mt-1" />
              </div>
              <div class="col-md-4 my-2">
                <button class="btn btn-primary" @click="getData()">{{ getLang('搜尋') }}</button>
                <button class="btn btn-primary" @click="resetData()">{{ getLang('重置') }}</button>
              </div>
            </div>
            <div class="row mt-3">
              <!-- <div v-if="data.length" class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <b-table
                    v-if="searchStatus"
                    :items="data"
                    :fields="fields"
                    striped
                    responsive="sm"
                    class="table table-striped table-bordered"
                  >
                    <template #thead-top>
                      <b-tr>
                        <b-th colspan="2"><span class="sr-only"></span></b-th>
                        <b-th colspan="5">會員</b-th>
                        <b-th colspan="5">代理</b-th>
                        <b-th colspan="1">公司</b-th>
                      </b-tr>
                    </template>
                    <template #cell(id)="row">
                      {{ row.index +1 }}
                    </template>
                    <template #cell(agentAccount)="row">
                      <a href="javascript:void(0)" class="nav-link" @click="viewAgentDetail(row, 0)">{{ row.item.agentAccount }}</a>
                    </template>
                    <template #cell(cost)>
                      {{ '0' }}
                    </template>
                    <template #cell(fee)>
                      {{ '0' }}
                    </template>
                    <template #cell(Member_commission)="row">
                      <a href="javascript:void(0)" class="nav-link" @click="getDetails('member',row.item.Member_company, row.item.handIn, row.item.agentAccount, row.item.Member_sumPromo, row.item.Member_discount)">{{ row.item.Member_commission }}</a>
                    </template>
                    <template #cell(totalCost)>
                      {{ '0' }}
                    </template>
                    <template #cell(totalFee)>
                      {{ '0' }}
                    </template>
                    <template #cell(Agent_commission)="row">
                      <a href="javascript:void(0)" class="nav-link" @click="getDetails('agent',row.item.Agent_company, row.item.handIn, row.item.agentAccount, row.item.Agent_sumPromo, row.item.Agent_discount)">{{ row.item.Agent_commission }}</a>
                    </template>
                    <template #row-details="row">
                      <agent-tree v-if="row.item.subData" :fields="fields" :data="row.item.subData" :view-agent-detail="viewAgentDetail" />
                      <div v-else>{{ getLang('搜尋不到下線代理人') }}</div>
                    </template>
                    <template #bottom-row>
                      <b-td><span class="sr-only"></span></b-td>
                      <b-td>{{ getLang('總額') }}</b-td>
                      <b-td>{{ total.Member_company }}</b-td>
                      <b-td>{{ '0' }}</b-td>
                      <b-td>{{ '0' }}</b-td>
                      <b-td>{{ total.Member_discount }}</b-td>
                      <b-td>{{ total.Member_commission }}</b-td>
                      <b-td>{{ total.Agent_company }}</b-td>
                      <b-td>{{ '0' }}</b-td>
                      <b-td>{{ '0' }}</b-td>
                      <b-td>{{ total.Agent_sumPromo }}</b-td>
                      <b-td>{{ total.Agent_commission }}</b-td>
                      <b-td>{{ total.Agent_companySubtotal }}</b-td>
                    </template>
                  </b-table>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <b-modal id="detail" :no-close-on-backdrop="true" size="l">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('詳情') }}</h4>
        <button type="button" class="close" @click="close();subAgentNav = []">×</button>
      </template>
      <template #default>
        <div class="form-inline mt-2">
          <a href="javascript:void(0)" class="col-md-7 nav-link" @click="getPtDetails()">{{ getLang('PT') }}</a>
          <div class="col-md-1"></div>
          <div class="col-md-4">{{ moneyFormat(pt) }}</div>
        </div>
        <div class="form-inline mt-2">
          <a href="javascript:void(0)" class="col-md-7 nav-link" @click="getCommissionDetails()">{{ getLang('傭金') }}</a>
          <div class="col-md-1">{{ '+' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('固定收費') }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('GGR Contribution (1,150.50x0%)') }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('手續費') + `(0.00x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('優惠') + `(${sumPromo}x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ moneyFormat(discount) }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('返水') + `(0.00x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('獎勵遊戲') + `(0.00x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('救緩金') + `(0.00x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('優惠券') + `(0.00x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2">
          <div class="col-md-7">{{ getLang('返水 (Seamless)') + `(0.00x${handIn}%)` }}</div>
          <div class="col-md-1">{{ '-' }}</div>
          <div class="col-md-4">{{ '0.00' }}</div>
        </div>
        <div class="form-inline mt-2 border-top">
          <div class="col-md-7">{{ getLang('總額') }}</div>
          <div class="col-md-1"></div>
          <div class="col-md-4">{{ moneyFormat(pt - discount) }}</div>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="light" @click="cancel();subAgentNav = []">{{ getLang('關閉') }}</b-button>
      </template>
    </b-modal>

    <AffiliatePtDetailModal
      ref="pt-detail"
      :type="type"
      :pt-details="ptDetails"
      :pt-details-total="ptDetailsTotal"
    />

    <AffiliateCommissionDetailModal
      ref="commission-detail"
      :type="type"
      :commission-details="commissionDetails"
      :commission-details-total="commissionDetailsTotal"
    />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getCommission } from '~/api/affiliate.js';
export default {
  data () {
    return {
      filterStatus: true,
      searchStatus: false,
      pageData: { page: 0, limit: 50 },
      subSearch: '',
      where: {
        createdAtRange: '',
        agent_account_search: ''
      },
      createdAtRange: [],
      fields: [
        { key: 'id', label: 'No.' },
        { key: 'agentAccount', label: '代理編號' },
        { key: 'Member_company', label: '公司盈虧' },
        { key: 'cost', label: '運營成本' },
        { key: 'fee', label: '手續費' },
        { key: 'Member_discount', label: '優惠' },
        { key: 'Member_commission', label: '傭金' },
        { key: 'Agent_company', label: '總額 公司盈虧' },
        { key: 'totalCost', label: '總運營成本' },
        { key: 'totalFee', label: '總手續費' },
        { key: 'Agent_sumPromo', label: '優惠活動總數' },
        { key: 'Agent_commission', label: '總傭金' },
        { key: 'Agent_companySubtotal', label: '结算' }
      ],
      data: [],
      total: [],
      pt: 0,
      handIn: 0,
      sumPromo: 0,
      discount: 0,
      type: '',
      account: '',
      ptDetails: [],
      ptDetailsTotal: [],
      commissionDetails: [],
      commissionDetailsTotal: []
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
  },
  methods: {
    getDetails (type, company, handIn, account, sumPromo, discount) {
      this.pt = company * handIn / 100;
      this.handIn = handIn;
      this.type = type;
      this.account = account;
      this.sumPromo = sumPromo;
      this.discount = discount;
      this.$root.$emit('bv::show::modal', 'detail');
    },
    async getPtDetails () {
      const params = {
        agent_account_search: this.account,
        group_by: 'product_type'
      };
      try {
        const res = await getCommission(params);
        this.$set(this, 'ptDetails', res.data);
        this.$set(this, 'ptDetailsTotal', res.total);
      } catch (err) {
        this.alertWindow('查無詳情');
      }
      this.$root.$emit('bv::show::modal', 'pt-detail');
    },
    async getCommissionDetails () {
      const params = {
        agent_account_search: this.account,
        group_by: 'product_type'
      };
      try {
        const res = await getCommission(params);
        this.$set(this, 'commissionDetails', res.data);
        this.$set(this, 'commissionDetailsTotal', res.total);
      } catch (err) {
        this.alertWindow('查無詳情');
      }
      this.$root.$emit('bv::show::modal', 'commission-detail');
    },
    resetData () {
      this.where.createdAtRange = [];
      this.where.agent_account_search = '';
    },
    setDate (item, field) {
      this.$set(this.where, field, item.value.split('~'));
    },
    async getData () {
      this.searchStatus = true;
      const params = {
        startTime: this.where.createdAtRange[0],
        endTime: this.where.createdAtRange[1],
        agent_account_search: this.where.agent_account_search,
        lv_type: 0
      };
      try {
        const res = await getCommission(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'total', res.total);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow('查無此代理');
      }
    },
    async viewAgentDetail (row, lv) {
      const params = {
        startTime: this.where.createdAtRange[0],
        endTime: this.where.createdAtRange[1],
        agent_account: row.item.agentAccount,
        lv_type: lv
      };
      try {
        const res = await getCommission(params);
        row.item.subData = res.data;
      } catch (err) {
        this.alertWindow(err.message);
      } finally {
        row.toggleDetails();
      }
    }
  }
};
</script>
