<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('交易型態') }}&nbsp;
                  <select v-model="logType" @change="getData">
                    <option value="">全部</option>
                    <option value="0">上分</option>
                    <option value="1">下分</option>
                    <option value="2">盤點</option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('會員型態') }}&nbsp;
                  <select v-model="mtype" @change="getData">
                    <option value="">全部</option>
                    <option value="A">代理</option>
                    <option value="M">會員</option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" @change="getData" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr>
                        <th>{{ getLang('會員型態') }}</th>
                        <th>{{ getLang('帳號') }}</th>
                        <th>{{ getLang('上層代理') }}</th>
                        <th>{{ getLang('幣別') }}</th>
                        <th>{{ getLang('交易前') }}</th>
                        <th>{{ getLang('交易金額') }}</th>
                        <th>{{ getLang('交易後') }}</th>
                        <th>{{ getLang('操作員') }}</th>
                        <th>{{ getLang('交易型態') }}</th>
                        <th>{{ getLang('時間') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" :key="index" role="row">
                        <td>{{ item.mtype }}</td>
                        <td>{{ item.account }}</td>
                        <td>{{ item.parentId }}</td>
                        <td>{{ item.cid }}</td>
                        <td>{{ moneyFormat(item.before_wallet) }}</td>
                        <td>{{ moneyFormat(item.amount) }}</td>
                        <td>{{ moneyFormat(item.wallet) }}</td>
                        <td>{{ item.change_amount }}</td>
                        <td>{{ item.logType }}</td>
                        <td>{{ item.created_at }}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td>小計</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ moneyFormat(subtotal.before_wallet) }}</td>
                        <td>{{ moneyFormat(subtotal.amount) }}</td>
                        <td>{{ moneyFormat(subtotal.wallet) }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>總計</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ moneyFormat(pageData.before_wallet) }}</td>
                        <td>{{ moneyFormat(pageData.amount) }}</td>
                        <td>{{ moneyFormat(pageData.wallet) }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getWalletsLog } from '~/api/affiliate.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { name: '', lang: '', images: '', status: 0 },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 10 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      orderId: 1,
      getCountryAll: {},
      agent_accountClass: 'form-control',
      subtotal: { before_wallet: 0, amount: 0, wallet: 0 },
      logType: '',
      mtype: ''
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.getData();
  },
  methods: {
    async getData () {
      const params = {
        mtype: this.mtype,
        logType: this.logType,
        page: this.pageData.page,
        limit: this.pageData.limit,
        search: this.search
      };
      try {
        const res = await getWalletsLog(params);
        this.subtotal.before_wallet = 0;
        this.subtotal.amount = 0;
        this.subtotal.wallet = 0;
        console.log(res.data);
        if (res.data != null) {
          res.data.forEach((v) => {
            this.subtotal.before_wallet += parseInt(v.before_wallet);
            this.subtotal.amount += parseInt(v.amount);
            this.subtotal.wallet += parseInt(v.wallet);
          });
        }
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    }
  }
};
</script>
