<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('審核詳情') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item title="確認於">
        <input disabled :value="simpleDateFormat(item.updated_at) || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="確認方">
        <input disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
export default {
  props: ['item', 'type'],
  data () {
    return {
    };
  },
  computed: {
  },
  mounted () {
  },
  methods: {
  }
};
</script>
