<template>
  <div
    class="col-12 justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2"
  >
    <div class="d-flex col-4 justify-content-end">
      <label class="text-nowrap">{{ getLang(title) }}</label>:
    </div>
    <div class="d-flex col-8 align-items-center">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['title', 'col']

};
</script>
<style lang="scss">
.order-detail-card-item {
  label {
    padding: 0 2px 0 0;
    margin: 0;
  }
  textarea {
    height: 60px;
  }
}
</style>
