<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('優惠明細') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item v-if="item.promoId" title="存款單號">
        <nuxt-link :to="`/order/detail/${item.promoId.mainOrderId}`">{{ item.promoId.mainOrderId }}</nuxt-link>
      </order-detail-card-item>
      <order-detail-card-item v-if="item.promoId" title="優惠單號">
        <nuxt-link :to="`/order/detail/${item.promoId.promoOrderId}`">{{ item.promoId.promoOrderId }}</nuxt-link>
      </order-detail-card-item>

      <order-detail-card-item v-if="item.promoReport" title="存款金額">
        <input disabled :value="item.promoReport.deposit" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="item.promoId" title="優惠金額">
        <input disabled :value="item.promoReport.promo" type="text" class="form-control-sm" />
      </order-detail-card-item>

      <order-detail-card-item v-if="item.promoReport" title="優惠%">
        <input disabled :value="item.promoReport.discount" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="item.promoId" title="流水倍數">
        <input disabled :value="item.promoReport.multiples" type="text" class="form-control-sm" />
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
export default {
  props: ['item']
};
</script>
