<template>
  <div class="card d-flex" style="max-width: 25rem;">
    <div class="card-header d-flex justify-content-center">
      <h4><slot name="title"></slot></h4>
    </div>
    <div class="card-body d-flex flex-wrap align-content-start justify-content-start row">
      <slot name="content"></slot>
    </div>
  </div>
</template>
<script>
export default {

};
</script>
