<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('交易詳情') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item :title="`${showText(1)}交易代號`">
        <input disabled :value="item.order_id || item.id || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item :title="`${showText(1)}交易日期`">
        <input disabled :value="simpleDateFormat(item.created_at) || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item :title="`${showText(1)}額`">
        <input disabled :value="moneyFormat(Math.abs(item.amount)) || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item :title="`資金${showText(2)}方式`">
        <input disabled :value="typeObject[type]" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="狀態">
        <input
          disabled
          :value="statusObject[item.status]"
          type="text"
          class="form-control-sm"
          :class="[getStatusClass(item.status)]"
        />
      </order-detail-card-item>
      <order-detail-card-item v-if="type!==2" title="存款日期">
        <input disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="type!==2" title="存款途徑">
        <input disabled :value="channelObject[bankItem.trading_channel] || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="type===1" title="核準總額">
        <input disabled :value="moneyFormat(Math.abs(item.amount)) || '--'" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="參考編號">
        <input disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="type===5" title="倍數">
        <input disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="type===2" title="流水要求">
        <input v-if="washCodeItem" disabled :value="moneyFormat(Math.abs(washCodeItem.more))" type="text" class="form-control-sm" />
        <input v-else disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-else title="流水要求">
        <input disabled :value="moneyFormat(Math.abs(item.amount)) || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="type===2" title="當前打碼量">
        <input
          v-if="washCodeItem"
          disabled
          :value="moneyFormat(washCodeItem.less)"
          type="text"
          class="form-control-sm"
          :class="[getWashCodeClass(washCodeItem)]"
        />
        <input v-else disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['item', 'type', 'bankItem', 'washCodeItem'],
  data () {
    return {
      washCode: ''
    };
  },
  computed: {
    ...mapFields('order', [
      'typeObject',
      'statusObject',
      'channelObject'
    ]),
    ...mapFields('withdrawal', {
      withdrawalStatusObject: 'statusObject'
    })
  },
  methods: {
    showText (type) {
      let text = '';
      switch (type) {
        case 1:
          text = this.type === 2 ? '取款' : '存款';
          break;
        case 2:
          text = this.type === 2 ? '提取' : '存入';
          break;
        default:
          break;
      }
      return text;
    },
    getWashCodeClass (item) {
      if (Number(item.less) >= Number(item.more)) {
        return 'bg-success';
      } else {
        return 'bg-danger';
      }
    }
  }
};
</script>
