<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('會員的銀行賬戶信息') }}
    </template>
    <template v-if="item.content.tradeType=='PAY07'" v-slot:content>
      <order-detail-card-item title="銀行名稱">
        <input disabled :value="item.content.bankName || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="銀行賬號">
        <input disabled :value="item.content.bankAccount || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="銀行戶名">
        <input disabled :value="item.content.name" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="銀行支行">
        <input disabled :value=" item.content.branchCode || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
    </template>
    <template v-else-if="['PAY14','PAY15','PAY16','PAY17'].indexOf(item.content.tradeType)!=-1" v-slot:content>
      <order-detail-card-item title="錢包地址">
        <input disabled :value="item.content.walletAddress || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="匯率">
        <input disabled :value="item.content.rate || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="USDT">
        <input disabled :value="Math.floor(item.content.amount/item.content.rate*100)/100 || '--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
export default {
  props: ['item', 'type'],
  data () {
    return {
    };
  },
  computed: {
  },
  mounted () {
  },
  methods: {
  }
};
</script>
