<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('其他選項') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item v-if="type!==5" title="手續費">
        <input v-model.number="item.handling_fee" :disabled="item.status !== 0" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="備註">
        <textarea v-model="item.submit_note" :disabled="item.status !== 0" :placeholder="getLang('備註')" class="form-control-sm"></textarea>
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['item', 'type'],
  computed: {
    // ...mapFields('order', ['fee', 'note'])
  },
  watch: {
    item (data) {
      this.$set(this, 'fee', data.handling_fee || 0);
      this.$set(this, 'note', data.submit_note || '');
    }
  },
  mounted () {
  },
  methods: {
  }
};
</script>
