<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('遊戲錢包交易紀錄') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item title="遊戲商">
        <input disabled :value="productObject[item.pid]" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="對方單號">
        <input disabled :value="item.ppid" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <table class="table table-striped table-bordered text-center">
        <thead>
          <tr>
            <th>{{ getLang('交易時間') }}</th>
            <th>{{ getLang('交易前') }}</th>
            <th>{{ getLang('交易後') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(itemInner,index) in item.productTransLog"
            :key="index"
          >
            <td>{{ simpleDateFormat(itemInner.created_at) }}</td>
            <td>{{ moneyFormat(itemInner.before_wallet) }}</td>
            <td>{{ moneyFormat(itemInner.wallet) }}</td>
          </tr>
          <tr v-if="!item.productTransLog.length">
            <td colspan="3">{{ getLang('無資料') }}</td>
          </tr>
        </tbody>
      </table>
    </template>
  </order-detail-card>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['item'],
  computed: {
    ...mapFields('order', [
      'productObject'
    ])
  }
};
</script>
