<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('現金優惠詳情') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item title="優惠設置主題">
        <input disabled :value="'--'" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="">
        <input v-model="flowStatus" :disabled="item.status !== 0" type="checkbox" class="form-control-sm" />
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
export default {
  props: ['item', 'type'],
  data () {
    return {
      flowStatus: false
    };
  },
  computed: {
  },
  mounted () {
  },
  methods: {
  }
};
</script>
