<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang(`${showText(1)}`) }}
    </template>
    <template v-slot:content>
      <order-detail-card-item title="銀行名稱">
        <select v-model="item.bank_id" :disabled="item.status !== 0" class="form-control-sm w-75" @change="changeOption()">
          <option value="-1">{{ getLang("請選擇") }}</option>
          <option
            v-for="(item1, index) in bankList"
            :key="index"
            :value="item1.id"
          >
            {{ getLang(item1.bank_name) }}
          </option>
        </select>
      </order-detail-card-item>
      <order-detail-card-item title="銀行戶名">
        <select
          v-model="item.bank_accounts_id"
          :disabled="item.status !== 0"
          class="form-control-sm w-75"
        >
          <option value="-1">{{ getLang("請選擇") }}</option>
          <option
            v-for="(item1, index) in bankAccountList"
            :key="index"
            :value="item1.id"
          >
            {{ getLang(item1.bank_acc_name) }}
          </option>
        </select>
      </order-detail-card-item>
      <order-detail-card-item title="銀行賬號">
        <input disabled :value="account" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="type===1" title="收據">
        <textarea disabled :value="getLang('無法提供收據')" class="form-control-sm"></textarea>
      </order-detail-card-item>
      <order-detail-card-item v-if="type===2" title="取款途徑">
        <select v-model="item.trading_channel" :disabled="item.status !== 0" class="form-control-sm w-75">
          <option value="-1">{{ getLang("請選擇") }}</option>
          <option
            v-for="(item1, index) in channelList"
            :key="index"
            :value="item1.value"
          >
            {{ getLang(item1.show) }}
          </option>
        </select>
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getBankList, getBankAccountList } from '~/api/bank.js';
export default {
  props: ['item', 'type', 'bankItem'],
  data () {
    return {
      bankList: [],
      bankAccountList: []
    };
  },
  computed: {
    ...mapFields('order', ['channelList']), // 'bankId', 'bankAccountId', 'tradeChannel',
    account () {
      for (const i in this.bankAccountList) {
        const item = this.bankAccountList[i];
        if (item.id == this.item.bank_accounts_id) {
          return item.bank_acc_name;
        }
      }
      return '';
    }
  },
  mounted () {
    this.getBank();
    this.getBankAccount();
  },
  methods: {
    async getBank () {
      const params = {
        whereStatus: 1,
        orderId: 1,
        page: 0,
        limit: -1
      };
      try {
        const res = await getBankList(params);
        this.$set(this, 'bankList', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getBankAccount () {
      const params = {
        whereStatus: 1,
        orderId: 1,
        page: 0,
        limit: -1,
        whereBankId: this.bankId,
        where: {
          purpose: this.type
        }
      };
      try {
        const res = await getBankAccountList(params);
        this.$set(this, 'bankAccountList', res.data);
        // this.setAccount();
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    changeOption () {
      this.bankAccountId = -1;
      this.getBankAccount();
    },
    // setAccount () {
    //   if (this.bankAccountId > 0) {
    //     this.account = this.bankAccountList.find(x => x.id === this.bankAccountId).bank_acc_no;
    //   } else {
    //     this.account = '';
    //   }
    // },
    showText (type) {
      let text = '';
      switch (type) {
        case 1:
          text = this.type === 1 ? '代表人銀行信息明細' : '取款詳情';
          break;
        default:
          break;
      }
      return text;
    }
  }
};
</script>
