<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('洗碼明細') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item v-if="item.washCode" title="存款洗碼量">
        <input disabled :value="item.washCode[item.promoId.mainOrderId].amount" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="item.washCode" title="存款洗碼量註解">
        <textarea disabled :value="item.washCode[item.promoId.mainOrderId].description" type="text" class="form-control-sm"></textarea>
      </order-detail-card-item>

      <order-detail-card-item v-if="item.washCode" title="優惠洗碼量">
        <input disabled :value="item.washCode[item.promoId.promoOrderId].amount" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item v-if="item.washCode" title="優惠洗碼量註解">
        <textarea disabled :value="item.washCode[item.promoId.promoOrderId].description" type="text" class="form-control-sm"></textarea>
      </order-detail-card-item>
      <pre v-if="0">{{ item }}</pre>
    </template>
  </order-detail-card>
</template>
<script>
export default {
  props: ['item']
};
</script>
