<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('會員錢包交易紀錄') }}
    </template>
    <template v-slot:content>
      <table class="table table-striped table-bordered text-center">
        <thead>
          <tr>
            <th>{{ getLang('交易時間') }}</th>
            <th>{{ getLang('交易前') }}</th>
            <th>{{ getLang('交易後') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(itemInner,index) in item.orderTransLog"
            :key="index"
          >
            <td>{{ simpleDateFormat(itemInner.created_at) }}</td>
            <td>{{ moneyFormat(itemInner.before_wallet) }}</td>
            <td>{{ moneyFormat(itemInner.wallet) }}</td>
          </tr>
          <tr v-if="!item.orderTransLog || !item.orderTransLog.length">
            <td colspan="3">{{ getLang('無資料') }}</td>
          </tr>
        </tbody>
      </table>
    </template>
  </order-detail-card>
</template>
<script>
export default {
  props: ['item', 'type'],
  computed: {

  }
};
</script>
