<template>
  <order-detail-card>
    <template v-slot:title>
      {{ getLang('訂單明細') }}
    </template>
    <template v-slot:content>
      <order-detail-card-item title="訂單類型">
        <input disabled :value="typeObject[item.type]" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="訂單編號">
        <input disabled :value="item.id" type="text" class="form-control-sm" />
      </order-detail-card-item>

      <order-detail-card-item title="訂單狀態">
        <input disabled :value="statusObject[item.status]" type="text" class="form-control-sm" />
      </order-detail-card-item>

      <order-detail-card-item title="訂單創建時間">
        <input disabled :value="simpleDateFormat(item.created_at)" type="text" class="form-control-sm" />
      </order-detail-card-item>
      <order-detail-card-item title="訂單修改時間">
        <input disabled :value="simpleDateFormat(item.updated_at)" type="text" class="form-control-sm" />
      </order-detail-card-item>

      <order-detail-card-item title="交易金額">
        <input disabled :value="moneyFormat(item.amount)" type="text" class="form-control-sm" />
      </order-detail-card-item>

      <order-detail-card-item title="交易者">
        <input disabled :value="item.memberAccount" type="text" class="form-control-sm" />
      </order-detail-card-item>

      <order-detail-card-item title="訂單註記">
        <textarea disabled :value="item.note" class="form-control-sm"></textarea>
      </order-detail-card-item>
    </template>
  </order-detail-card>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['item'],
  computed: {
    ...mapFields('order', [
      'typeList', 'typeObject',
      'statusList', 'statusObject',
      'productList', 'productObject'
    ])
  }
};
</script>
