<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="where.status" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('職務') }}:
                  <select v-model="where.rid" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in role"
                      :key="statusIndex"
                      :value="statusItem.id"
                    >
                      {{ statusItem.name }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增帳號') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort()"
                        >
                          id
                        </th>
                        <th>{{ getLang('用戶名') }}</th>
                        <th>{{ getLang('職務') }}</th>
                        <th>{{ getLang('名稱') }}</th>
                        <th>{{ getLang('狀態') }}</th>
                        <th>{{ getLang('最近登錄時間') }}</th>
                        <th>{{ getLang('最近登錄IP') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item,index) in data"
                        v-show="!search || item.account.indexOf(search)!=-1 || item.name.indexOf(search)!=-1"
                        :key="index"
                      >
                        <td>{{ item.id }}</td>
                        <td>{{ item.account }}</td>
                        <td>{{ roleObject[item.rid] }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                          <select :value="item.status" @change="updateField($event,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ statusItem.show }}
                            </option>
                          </select>
                        </td>
                        <td>{{ item.login_at }}</td>
                        <td>{{ item.ip }}</td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('編輯') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                          <button
                            class="btn btn-danger"
                            @click="$root.$emit('bv::show::modal', 'editPassword');editPasswordItem.account=item.account;editPasswordItem.id=item.id;"
                          >
                            {{ getLang('重置密碼') }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <account-edit-modal
      :edit-type="editType"
      :edit-ok="editOk"
      :edit-item="editItem"
      :role="role"
      :status-array="statusArray"
    />
    <account-password-modal
      :edit-password-item="editPasswordItem"
      :reset-password="resetPassword"
    />
  </div>
</template>
<script>
import { getRoleList, getAccountList, deleteAccount, addAccount, updateAccount } from '~/api/admin.js';
export default {
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { },
      editIndex: -1,
      data: {},
      pageData: { page: 0, limit: 10 },
      statusArray: [{ value: 1, show: '開啟' }, { value: 0, show: '關閉' }],
      search: '',
      where: {
        status: -1,
        rid: -1
      },
      orderId: 1,
      role: null,
      editPasswordItem: {
        id: -1,
        account: '',
        password: '',
        passwordAgain: ''
      }
    };
  },
  computed: {
    roleObject () {
      const result = {};
      for (const i in this.role) {
        result[this.role[i].id] = this.role[i].name;
      }
      return result;
    }
  },
  watch: {

  },
  mounted () {
    this.getData();
    this.getRole();
  },
  methods: {
    async getRole () {
      try {
        const res = await getRoleList();
        this.$set(this, 'role', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { name: '', status: 0, rid: this.role[0].id });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where
      };
      try {
        const res = await getAccountList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (e, index, field) {
      const item = this.data[index];
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = e.target.value;
        const id = item.id;
        try {
          const res = await updateAccount(payload, id);
          item[field] = e.target.value;
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          e.target.value = item[field];
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
        e.target.value = item[field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteAccount(item.id);
          this.data.splice(index, 1);
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    },
    async createItem () {
      if (this.editItem.password !== this.editItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      }
      const payload = this.editItem;
      try {
        const res = await addAccount(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = {};
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        let count = 0;
        for (const field in this.editItem) {
          if (this.data[index][field] != this.editItem[field]) {
            payload[field] = this.editItem[field];
            count++;
          }
        }
        if (count) {
          const res = await updateAccount(payload, id);
          for (const i in payload) {
            this.$set(this.data[index], i, payload[i]);
          }

          // this.$root.$emit('bv::hide::modal', 'edit');
          this.alertWindow(res.message);
        } else {
          this.alertWindow(this.getLang('未修改'));
        }
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async resetPassword () {
      if (this.editPasswordItem.password !== this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      } else if (!this.editPasswordItem.password || !this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('欄位不能留空'));
      }
      const payload = {
        password: this.editPasswordItem.password
      };
      const id = this.editPasswordItem.id;
      try {
        const res = await updateAccount(payload, id);
        this.editPasswordItem.password = '';
        this.editPasswordItem.passwordAgain = '';
        this.$root.$emit('bv::hide::modal', 'editPassword');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      this.orderId = ++this.orderId % 3;
      this.getData();
    }
  }
};
</script>
