<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div v-if="0" class="col-sm-12 ">
                {{ getLang('模式') }}:<button
                  class="btn btn-primary"
                  @click="mode=!mode"
                >
                  {{ mode?getLang('排序'):getLang('階層') }}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 ">
                <div class="d-flex border flex-column">
                  <parent-tree />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { getRoleList, getCommonParent, addCommonParent, updateCommonParent, delCommonParent } from '~/api/admin.js';
export default {
  data () {
    return {
      // roleList: [],
      // // treeList: [],
      // drag: {
      //   name: null
      // },
      // mode: 0
    };
  },
  computed: {
    // allList () {
    //   const result = [];
    //   result.push('A-0');
    //   for (const i in this.roleList) {
    //     result.push('R-' + this.roleList[i].id);
    //   }
    //   return result;
    // },
    // nameObject () {
    //   const result = {};
    //   for (const i in this.roleList) {
    //     const { id, name } = this.roleList[i];
    //     result['R-' + id] = name;
    //   }
    //   result['A-0'] = this.getLang('代理');
    //   result['S-0'] = 'root';
    //   return result;
    // }
  },
  mounted () {
    // getRoleList().then(({ data }) => {
    //   this.roleList = data;
    // });
    // getCommonParent().then(({ data }) => {
    //   this.treeList = data;
    //   this.sortTreeList();
    // });
  },
  methods: {
    // sortTreeList () {
    //   this.treeList.sort((a, b) => {
    //     return a.sort_id - b.sort_id;
    //   });
    //   for (const i in this.treeList) {
    //     this.treeList[i].sort_id = i;
    //   }
    // },
    // drop (parent) {
    //   if (this.mode) {
    //     this.swap(parent);
    //   } else {
    //     this.add(parent);
    //   }
    // },
    // swap (swapName) {
    //   const parent = this.treeParent[this.drag.name];
    //   const parent1 = this.treeParent[swapName];
    //   if (!parent || !parent1) {
    //     return false;
    //   }
    //   if (parent != parent1) {
    //     return false;// 不同層級無法排序
    //   }
    //   const [parent_power, pid] = parent.split('-');
    //   const list = JSON.parse(JSON.stringify(this.tree[parent]));
    //   const swapIndex = list.indexOf(swapName);
    //   const index = list.indexOf(this.drag.name);

    //   list.splice(swapIndex, 0, list.splice(index, 1).pop());
    //   for (const i in list) {
    //     const [power, power_id] = list[i].split('-');
    //     updateCommonParent({ power, power_id, parent_power, pid, sort_id: i });
    //     this.treeListObject[list[i]].sort_id = i;
    //   }
    //   this.sortTreeList();
    // },

    // click (base) {
    //   this.del(base);
    // }

  }
};

</script>
