<template>
  <div class="section-body">
    <div class="row">
      <div class="col-sm-12 ">
        功能:<button class="btn btn-info" @click="showAll()">全部展開</button>
        <button class="btn btn-info" @click="hideAll()">全部關閉</button>
        區分:
        <button class="btn btn-primary">前端顯示</button>
        <button class="btn btn-success">restfulAPI</button>
        <button class="btn btn-warning">單一API</button>
        <button class="btn btn-danger">權限表</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 ">
        <div class="d-flex border">
          <parent-tree
            :name="0"
            :tree="tree"
            :show="show"
          >
            <template #content="slotProps">
              <div
                class="d-flex justify-content-center align-items-center rounded p-1"
                style="height:50px;"
              >
                <button
                  class="btn"
                  style="width:100px;"
                  :draggable="true"
                  :class="{
                    'btn-primary':listObject[slotProps.currentName].type==0,
                    'btn-success':listObject[slotProps.currentName].type==1,
                    'btn-warning':listObject[slotProps.currentName].type==2,
                    'btn-danger':listObject[slotProps.currentName].type==3,
                  }"
                  @dragover.prevent
                  @dragstart="dragstart(slotProps.currentName)"
                  @drop="drop(slotProps.currentName)"
                  @click="editList(slotProps.currentName)"
                >
                  {{ slotProps.currentLevel==1?"編輯第"+slotProps.currentLevel+"層":listObject[slotProps.currentName].name }}
                </button>
                <button
                  v-if="slotProps.currentName!=0 && tree[slotProps.currentName]"
                  class="btn "
                  :class="[show[slotProps.currentName]?'btn-dark':'btn-light']"
                  @click="$set(show,slotProps.currentName,!show[slotProps.currentName])"
                >
                  {{ show[slotProps.currentName]?'-':'+' }}
                </button>
              </div>
            </template>
          </parent-tree>
        </div>
      </div>
    </div>
    <guide-modal
      v-if="modalData.editItem"
      :data="modalData"
      :all-tree="allTree"
      :list-object="listObject"
      @addList="addList"
      @editList="editList"
      @del="del"
      @dragstart="dragstart"
      @drop="drop"
      @updateStatus="updateStatus"
    />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getRouteGuideList, deleteRouteGuide, addRouteGuide, updateRouteGuide } from '~/api/admin.js';
import { getProfile } from '~/api/user.js';
export default {
  data () {
    return {
      list: [],
      drag: { name: null },
      show: { 0: true },
      modalData: {
        show: false,
        okFunc: null,
        editItem: null,
        backFunc: []
      }
    };
  },
  computed: {
    allTree () {
      const result = {};
      for (const i in this.list) {
        const item = this.list[i];
        const pid = item.pid;
        const id = item.id;
        if (!result[pid]) { result[pid] = []; }
        result[pid].push(id);
      }
      return result;
    },
    tree () {
      const result = {};
      for (const i in this.list) {
        const item = this.list[i];
        if (item.status == 0) { continue; }

        const pid = item.pid;
        const id = item.id;
        if (!result[pid]) { result[pid] = []; }
        result[pid].push(id);
      }
      return result;
    },
    treeParent () {
      const result = {};
      for (const i in this.list) {
        const item = this.list[i];
        const pid = item.pid;
        const id = item.id;
        result[id] = pid;
      }
      return result;
    },
    listObject () {
      const result = {};
      for (const i in this.list) {
        const item = this.list[i];
        const id = item.id;
        result[id] = item;
      }
      result[0] = { id: 0, name: 'root', type: 0 };
      return result;
    }

  },
  mounted () {
    getRouteGuideList().then(({ data }) => {
      this.list = data;
      this.sortList();
      // this.editList(0);
    });
  },
  methods: {
    showAll () {
      for (const i in this.list) {
        this.$set(this.show, this.list[i].id, true);
      }
    },
    hideAll () {
      for (const i in this.list) {
        this.$set(this.show, this.list[i].id, false);
      }
    },
    dragstart (currentName) {
      this.drag.name = currentName;
    },
    sortList () {
      this.list.sort((a, b) => {
        return a.sort_id - b.sort_id;
      });
      // for (const i in this.list) {
      //   this.list[i].sort_id = i;
      // }
    },
    drop (swapName) {
      const parent = this.treeParent[this.drag.name];
      const swapParent = this.treeParent[swapName];
      // if (!parent || !swapParent) {
      //   return false;
      // }
      if (parent == swapParent) {
        // 實做跨層
      } else {
        return false;// 不同層級無法排序
      }
      const list = JSON.parse(JSON.stringify(this.allTree[parent]));
      const swapIndex = list.indexOf(swapName);
      const index = list.indexOf(this.drag.name);

      list.splice(swapIndex, 0, list.splice(index, 1).pop());

      for (const i in list) {
        updateRouteGuide({ sort_id: i }, list[i]).catch(() => {});
        this.listObject[list[i]].sort_id = i;
      }
      this.sortList();
    },
    add (callback) {
      this.confirmWindow('確認新增?', () => {
        addRouteGuide(this.modalData.editItem).then(({ status, data, message }) => {
          if (status) {
            this.list.push(data);
            callback && callback();
            this.editList(data.id);
            this.getProfile();
          }
          this.alertWindow(message);
        }).catch(({ message }) => {
          this.alertWindow(message);
        });
      });
    },
    updateStatus ({ status, id, callback }) {
      return updateRouteGuide({ status }, id).then(({ status, data, message }) => {
        callback && callback(status);
      });
    },
    edit (callback) {
      this.confirmWindow('確認修改?', () => {
        updateRouteGuide(this.modalData.editItem, this.modalData.editItem.id).then(({ status, data, message }) => {
          if (status) {
            for (const i in data) {
              this.listObject[this.modalData.editItem.id][i] = data[i];
            }
            // callback && callback();
            this.getProfile();
          }
          this.alertWindow(message);
        }).catch(({ message }) => {
          this.alertWindow(message);
        });
      });
    },
    addList () {
      this.modalData.backFunc.push(((titleType, editItem) => {
        this.modalData.editItem = editItem;
        this.modalData.titleType = titleType;
      }).bind(null, this.modalData.titleType, this.modalData.editItem));
      this.modalData.titleType = 0;
      this.modalData.okFunc = this.add;
      this.modalData.editItem = {
        pid: this.modalData.editItem.id,
        type: 0,
        status: 1,
        sort_id: this.allTree[this.modalData.editItem.id] ? this.allTree[this.modalData.editItem.id].length : 0
      };
    },
    editList (id) {
      if (this.modalData.show) {
        this.modalData.backFunc.push(((titleType, editItem) => {
          this.modalData.editItem = editItem;
          this.modalData.titleType = titleType;
        }).bind(null, this.modalData.titleType, this.modalData.editItem));
      } else {
        this.modalData.show = true;
      }
      this.modalData.titleType = 1;
      this.modalData.okFunc = this.edit;
      if (this.listObject[id]) {
        this.modalData.editItem = JSON.parse(JSON.stringify(this.listObject[id]));
      } else {
        this.modalData.editItem = { id: 0 };
      }
    },
    del (callback) {
      const id = this.modalData.editItem.id;
      this.confirmWindow('確認刪除?', () => {
        deleteRouteGuide(id).then(({ status, message }) => {
          if (status) {
            const index = this.list.findIndex((item) => {
              return item.id == id;
            });
            this.list.splice(index, 1);
            callback && callback();
            this.getProfile();
          }
          this.alertWindow(message);
        });
      });
    }
  }
};
</script>
