<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>

                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增職務') }}</button>
                </div>
                <div v-if="0" class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th>id</th>
                        <th>{{ getLang('職務名稱') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.bank_name.indexOf(search)!=-1 || item.swift_code.indexOf(search)!=-1" :key="index" role="row">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('編輯') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                          <b-button variant="primary" @click="getRoleGuide(item.id)">{{ getLang('權限') }}</b-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('權限名稱') }}:</label>
          <input v-model="editItem.name" type="text" class="form-control" />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
    <b-modal id="editGuide" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('編輯權限') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <power-guide-tree
          :power="power"
          :power-id="powerId"
        />
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { getRoleList, deleteRole, addRole, updateRole } from '~/api/admin.js';

export default {
  data () {
    return {
      editGuideItem: { rid: -1, gids: [] },
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { name: '' },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      orderId: 1,
      // rid: 0,
      tree: {},
      power: 'R',
      powerId: null
    };
  },
  computed: {
  },
  watch: {

  },
  mounted () {
    this.getData();
    // this.getRoleGuide(1);
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { name: '' });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId
      };
      try {
        const res = await getRoleList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteRole(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addRole(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateRole(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    getRoleGuide (id) {
      this.powerId = id;
      this.$root.$emit('bv::show::modal', 'editGuide');
    }
  }
};
</script>
