<template>
  <div class="section-body">
    <div class="row col-12 card card-body mb-3 pt-2">
      <b-card-header header-tag="nav">
        <b-nav card-header tabs>
          <b-nav-item :active="tabIndex===0" @click="tabIndex=0">{{ getLang('搜尋重複的IP地址') }}</b-nav-item>
          <b-nav-item :active="tabIndex===1" @click="tabIndex=1">{{ getLang('按會員帳戶搜尋IP') }}</b-nav-item>
          <b-nav-item :active="tabIndex===2" @click="tabIndex=2">{{ getLang('按IP搜尋會員') }}</b-nav-item>
        </b-nav>
      </b-card-header>
      <template v-if="tabIndex===0">
        <div class="my-2 font-bold">{{ getLang('核查類型') }}</div>
        <div class="w-25">
          <select v-model="postData.type" class="w-100 p-1">
            <option v-for="(item,index) in typeList" :key="index" :value="item.value">{{ item.show }}</option>
          </select>
        </div>
        <div class="mt-2">
          <button class="btn btn-primary" @click="submit()">{{ getLang('搜尋') }}</button>
        </div>
      </template>
      <template v-if="tabIndex===1">
        <div class="my-2 font-bold">{{ getLang('帳號') }}</div>
        <div class="w-25">
          <input v-model="postData.account" type="text" class="w-100" />
        </div>
        <div class="mt-2">
          <button class="btn btn-primary" @click="submit()">{{ getLang('搜尋') }}</button>
        </div>
      </template>
      <template v-if="tabIndex===2">
        <div class="d-flex">
          <div class="col-6">
            <div class="my-2 font-bold">{{ getLang('核查類型') }}</div>
            <div class="w-50">
              <select v-model="postData.type" class="w-100 p-1">
                <option v-for="(item,index) in typeList" :key="index" :value="item.value">{{ item.show }}</option>
              </select>
            </div>
            <div class="mb-1 mt-2">{{ getLang('IP地址') }}</div>
            <div class="mb-1 w-50">
              <input v-model="postData.ipAddress" type="text" class="w-100" />
            </div>
            <div class="mt-2">
              <button class="btn btn-primary" @click="submit()">{{ getLang('搜尋') }}</button>
            </div>
          </div>
          <div v-if="searchStatus3" class="col-6 my-3 py-3 bg-light">
            <div class="my-2 font-bold">Country Name : {{ ipOverview.pro || '-' }}</div>
            <div class="my-2 font-bold">City Name :  {{ ipOverview.city || '-' }}</div>
          </div>
        </div>
      </template>
      <template v-if="tabIndex === 0">
        <div class="row mt-3">
          <div v-if="searchStatus1" class="col-sm-12">
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="submit">
                <option v-for="(item,index) in [50,100,150,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
            <div class="d-inline-flex mb-3 form-inline float-right">
              {{ getLang('搜尋') }}:<input v-model.lazy="search1" type="search" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table v-if="searchStatus1" class="table table-striped table-bordered ">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('IP地址') }}</th>
                    <th>{{ getLang('會員總數') }}</th>
                    <th>{{ getLang('IP地址Info') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in data1" v-show="!search1 || item.ip.indexOf(search1)!=-1" :key="index" role="row">
                    <td>{{ index + 1 }}</td>
                    <td>
                      <a href="javascript:void(0)" @click="submit(item.ip)">{{ item.ip }}</a>
                    </td>
                    <td>{{ item.count }}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" @click="viewDetail(item.ip, 'ip')">{{ getLang('查看') }}</button>
                    </td>
                  </tr>
                  <tr v-if="!data1.length">
                    <td colspan="4" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
      <template v-if="tabIndex === 1">
        <div class="row mt-3">
          <div v-if="searchStatus2" class="col-sm-12">
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="submit">
                <option v-for="(item,index) in [50,100,150,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
            <div class="d-inline-flex mb-3 form-inline float-right">
              {{ getLang('搜尋') }}:<input v-model.lazy="search2" type="search" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table v-if="searchStatus2" class="table table-striped table-bordered ">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('登錄IP地址') }}</th>
                    <th>{{ getLang('最近登錄時間') }}</th>
                    <th>{{ getLang('IP地址Info') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in data2" v-show="!search2 || item.ip.indexOf(search2)!=-1" :key="index" role="row">
                    <td>{{ index + 1 }}</td>
                    <td>
                      <a href="javascript:void(0)" @click="submit(item.ip)">{{ item.ip }}</a>
                    </td>
                    <td>{{ simpleDateFormat(item.login_at) }}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" @click="viewDetail(item.ip, 'ip')">{{ getLang('查看') }}</button>
                    </td>
                  </tr>
                  <tr v-if="!data2.length">
                    <td colspan="4" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
      <template v-if="tabIndex === 2">
        <div class="row mt-3">
          <div v-if="searchStatus3" class="col-sm-12">
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="submit">
                <option v-for="(item,index) in [50,100,150,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
            <div class="d-inline-flex mb-3 form-inline float-right">
              {{ getLang('搜尋') }}:<input v-model.lazy="search3" type="search" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table v-if="searchStatus3" class="table table-striped table-bordered ">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('用戶名') }}</th>
                    <th>{{ getLang('註冊時間') }}</th>
                    <th>{{ getLang('最近登錄時間') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in data3" v-show="!search3 || item.ip.indexOf(search3)!=-1" :key="index" role="row">
                    <td>{{ index + 1 }}</td>
                    <td>
                      <a href="javascript:void(0)" @click="viewDetail(item.account,'member')">{{ item.account }}</a>
                    </td>
                    <td>{{ simpleDateFormat(item.created_at) }}</td>
                    <td>{{ simpleDateFormat(item.login_at) }}</td>
                  </tr>
                  <tr v-if="!data3.length">
                    <td colspan="4" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
      <!-- <div class="row">
        <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getData" />
      </div> -->
    </div>
    <b-modal id="ip" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('IP地址 Info') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="bg-secondary p-2">
          <div class="form-group text-dark font-weight-bold">
            {{ getLang('IP地址 ') }}: {{ ipData.ip || '-' }}
          </div>
          <div class="form-group text-dark font-weight-bold">
            {{ getLang('Country Name') }}: {{ ipData.pro || '-' }}
          </div>
          <div class="form-group text-dark font-weight-bold">
            {{ getLang('City Name') }}: {{ ipData.city || '-' }}
          </div>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="light" @click="cancel()">{{ getLang('關閉') }}</b-button>
      </template>
    </b-modal>
    <b-modal id="member" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('會員賬戶') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="p-2">
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('用戶名 ') }}:</div>
            <div>{{ memberData.account }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('全名 ') }}:</div>
            <div>{{ memberData.name }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('電子郵箱 ') }}:</div>
            <div>{{ memberData.email }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('聯絡號碼 ') }}:</div>
            <div>{{ memberData.phone }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('狀態 ') }}:</div>
            <div>{{ getStatusText(memberData.status, 'status') }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('暫停下註狀態 ') }}:</div>
            <div>{{ getStatusText(memberData.betStatus, 'bet') }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('登錄權限 ') }}:</div>
            <div>{{ getStatusText(memberData.loginStatus, 'login') }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('最近登錄的IP ') }}:</div>
            <div>{{ memberData.login_ip }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('最近登錄時間 ') }}:</div>
            <div>{{ simpleDateFormat(memberData.login_at) }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('註冊IP地址 ') }}:</div>
            <div>{{ memberData.register_ip }}</div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>{{ getLang('創建日期 ') }}:</div>
            <div>{{ simpleDateFormat(memberData.created_at) }}</div>
          </div>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="light" @click="cancel()">{{ getLang('關閉') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>

import { repeatIpAddress, memberAccountIp, getMemberDetail, getIpInfo } from '~/api/tool.js';
export default {
  data () {
    return {
      tabIndex: 0,
      searchStatus1: false,
      searchStatus2: false,
      searchStatus3: false,
      postData: {
        type: 1,
        account: '',
        ipAddress: ''
      },
      typeList: [
        { show: '註冊IP地址', value: 1 },
        { show: '登錄IP地址', value: 2 },
        { show: '全部', value: 3 }
      ],
      search1: '',
      search2: '',
      search3: '',
      data1: [],
      data2: [],
      data3: [],
      memberData: {},
      ipData: {},
      ipOverview: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 0, show: '非活躍' }, { value: 1, show: '活躍' }],
      loginArray: [{ value: 0, show: '封鎖' }, { value: 1, show: '準予' }],
      betArray: [{ value: 0, show: '暫停下注' }, { value: 1, show: '激活下注' }]
    };
  },
  methods: {
    submit (ip) {
      if (ip) {
        this.postData.ipAddress = ip;
        this.tabIndex = 2;
      }
      this.tabIndex === 2 && this.getIpInfo(ip, 'overview');
      this.tabIndex === 0 ? this.getRepeatIpAddress() : this.getMemberAccountIp();
    },
    async getRepeatIpAddress () {
      this.searchStatus1 = true;
      const params = {
        type: this.postData.type
      };
      try {
        const res = await repeatIpAddress(params);
        this.$set(this, 'data1', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getMemberAccountIp () {
      this.tabIndex === 1 ? this.searchStatus2 = true : this.searchStatus3 = true;
      const params = {
        type: this.tabIndex === 1 ? '' : this.postData.type,
        account: this.tabIndex === 1 ? this.postData.account : '',
        ipAddress: this.tabIndex === 1 ? '' : this.postData.ipAddress
      };
      try {
        const res = await memberAccountIp(params);
        this.$set(this, this.tabIndex === 1 ? 'data2' : 'data3', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getIpInfo (data, type) {
      const params = {
        ip: data
      };
      try {
        const res = await getIpInfo(params);
        this.$set(this, type ? 'ipOverview' : 'ipData', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async viewDetail (data, type) {
      if (type === 'member') {
        const params = {
          'where[account]': data
        };
        try {
          const res = await getMemberDetail(params);
          this.$set(this, 'memberData', res.data[0]);
        } catch (err) {
          this.alertWindow(err.message);
        }
      } else {
        this.getIpInfo(data);
      }
      this.$root.$emit('bv::show::modal', type);
    },
    getStatusText (status, type) {
      let result = '';
      this[`${type}Array`].forEach((x) => {
        if (x.value === status) {
          result = x.show;
        }
      });
      return result;
    }
  }
};
</script>
