<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                    <thead>
                      <tr role="row">
                        <th>No.</th>
                        <th>{{ getLang('Bank Account Count') }}</th>
                        <th>{{ getLang('銀行戶名') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" :key="index" role="row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                          <a href="javascript:void(0)" class="nav-link" @click="getDetails()">{{ item.name }}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="detail" :no-close-on-backdrop="true" size="xl">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('會員賬戶') }}</h4>
        <button type="button" class="close" @click="close();subAgentNav = []">×</button>
      </template>
      <template #default>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered text-center">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('用戶名') }}</th>
                    <th>{{ getLang('全名') }}</th>
                    <th>{{ getLang('註冊網站') }}</th>
                    <th>{{ getLang('電子郵箱') }}</th>
                    <th>{{ getLang('聯絡號碼') }}</th>
                    <th>{{ getLang('狀態') }}</th>
                    <th>{{ getLang('銀行') }}</th>
                    <th>{{ getLang('銀行戶名') }}</th>
                    <th>{{ getLang('銀行賬號') }}</th>
                    <th>{{ getLang('最近登錄時間') }}</th>
                    <th>{{ getLang('創建日期') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in data" :key="index" role="row">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                    <td>{{ '測試資料' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="light" @click="cancel();subAgentNav = []">{{ getLang('關閉') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getRebate, updateRebate } from '~/api/promo.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { bank_name: '', swift_code: '', isPG: 0, status: 0 },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      whereStatus: -1,
      orderId: 1
    };
  },
  computed: {},
  watch: {},
  mounted () {
    this.getData();
  },
  methods: {
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus
      };
      try {
        const res = await getRebate(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    getDetails () {
      this.$root.$emit('bv::show::modal', 'detail');
    }
  }
};
</script>
