<template>
  <div v-frag>
    <div class="row">
      <div class="col-sm-12 text-left">
        <div class="d-inline-flex pr-3 mb-3 form-inline ">
          <span>
            <select v-model="flushTime" @change="getList">
              <option v-for="(item,index) in [5,10,20]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('秒後更新') }}，
          </span>
          {{ getLang('最後更新時間') }}:{{ simpleDateFormat(lastUpdatedAt) }}
        </div>
        <date-time-select :set-date="setDate" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>
                <input
                  v-model="where.id"
                  style="width:100px;"
                  type="text"
                  :placeholder="getLang('提款單號')"
                  @change="getList"
                />
              </th>
              <th>{{ getLang('提款金額') }}</th>
              <th v-if="!member">
                <input
                  v-model="where.accountLike"
                  style="width:100px;"
                  type="text"
                  :placeholder="getLang('申請人')"
                  @change="getList"
                />
              </th>
              <th>
                {{ getLang("狀態") }}
                <select v-model="where.status" @change="getList">
                  <option value="-1">{{ getLang("全部") }}</option>
                  <option
                    v-for="(item, index) in statusList"
                    :key="index"
                    :value="item.value"
                  >
                    {{ getLang(item.show) }}
                  </option>
                </select>
              </th>
              <th>{{ getLang('操作人') }}</th>
              <th>{{ getLang('操作時間') }}</th>
              <th>{{ getLang('操作') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in data" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ moneyFormat(-item.amount) }}</td>
              <td v-if="!member">{{ item.memberAccount }}</td>
              <td>{{ getLang(statusObject[item.status]) }}</td>
              <td>
                <span v-if="item.operater.power!='S'">
                  {{ getLang(power[item.operater.power]) }}:
                  {{ item.operater.account }}
                </span>
                <span v-else>
                  {{ getLang('系統操作') }}
                </span>
              </td>
              <td>
                {{ simpleDateFormat(item.operater_time) }}
              </td>
              <td>
                <div v-frag>
                  <button
                    class="btn btn-primary"
                    @click="review(item.order_id)"
                  >
                    {{ getLang('審核') }}
                  </button>
                </div>
              </td>
            </tr>
            <tr v-if="!data.length">
              <td colspan="7">{{ getLang('無資料') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <pagination
        v-if="pageData"
        :page-data="pageData"
        @getData="getList"
      />
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getWithdrawal } from '~/api/withdrawal.js';
export default {
  props: ['member'],
  data () {
    return {
      data: [],
      pageData: {
        page: 0,
        limit: 10
      },
      where: {
        status: -1,
        type: [],
        pid: -1,
        gid: -1
      },
      power: {
        M: '會員',
        A: '代理',
        E: '員工',
        S: '管理員'
      },
      flushTime: 5,
      lastUpdatedAt: null,
      timer: null
    };
  },
  computed: {
    ...mapFields('withdrawal', [
      'statusList',
      'statusObject'
    ])
  },
  watch: {
    flushTime () {
      this.init();
    }
  },
  mounted () {
    this.init();
  },
  destroyed () {
    clearTimeout(this.timer);
  },
  methods: {
    init () {
      this.getList();
      clearTimeout(this.timer);
      this.timer = setInterval(() => {
        this.getList();
      }, this.flushTime * 1000);
    },
    getList () {
      const postData = JSON.parse(JSON.stringify({
        where: this.where,
        page: this.pageData.page,
        limit: this.pageData.limit
      }));
      if (this.member) {
        postData.where.mid = this.member.id;
      }
      getWithdrawal(postData).then(({ data, pageData }) => {
        this.data = data;
        this.pageData = pageData;
        this.lastUpdatedAt = Date.now();
      });
    },
    review (order_id) {
      this.$router.push(`/withdrawal/${order_id}`);
    },
    setDate (start, end) {
      this.where.updatedAtStart = start;
      this.where.updatedAtEnd = end;
      this.getList();
    }
  }
};
</script>
