<template>
  <b-modal id="bettingChart" :no-close-on-backdrop="true" size="xl">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('會員投注比例') }}</h4>
      <button type="button" class="close" @click="close();memberNav = []">×</button>
    </template>
    <template #default>
      <div v-if="chartData.dateList.length">
        <bar-chart
          :height="300"
          :chart-data="chartData"
          :options="{
            responsive: true,
            maintainAspectRatio: false
          }"
        />
      </div>
      <div class="form-group">
        <ul class="breadcrumb breadcrumb-style d-inline-flex">
          <li class="breadcrumb-item">
            <span>{{ getLang('代理') }}</span>
          </li>
          <li v-for="(item,index) in memberNav" :key="index" class="breadcrumb-item">
            <a v-if="memberNav.length !== index+1" href="javascript:void(0)" @click="viewMemberOverview()">{{ item.account }}</a>
            <span v-else>{{ item.account }}</span>
          </li>
          <a v-if="memberNav.length > 1" href="javascript:void(0)" class="ml-4" @click="viewMemberOverview()">{{ getLang('回上一頁') }}</a>
        </ul>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>{{ getLang('會員') }}</th>
              <th v-if="memberNav.length > 1">{{ getLang('遊戲類別') }}</th>
              <th>{{ getLang('幣別') }}</th>
              <th>{{ getLang('下注次數') }}</th>
              <th>{{ getLang('流水') }}</th>
              <th>{{ getLang('下注') }}</th>
              <th>{{ getLang('賠付') }}</th>
              <th>{{ getLang('輸贏') }}</th>
              <th>{{ getLang('操作') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in data" :key="index" role="row">
              <td>{{ item.account }}</td>
              <td v-if="memberNav.length > 1">{{ item.gameType }}</td>
              <td>{{ item.cid }}</td>
              <td>{{ item.total }}</td>
              <td :class="item.sumValidbet < 0? 'negative':'positive'">{{ moneyFormat(item.sumValidbet) }}</td>
              <td :class="item.sumBet < 0? 'negative':'positive'">{{ moneyFormat(item.sumBet) }}</td>
              <td :class="item.sumPay < 0? 'negative':'positive'">{{ moneyFormat(item.sumPay) }}</td>
              <td :class="item.sumResult < 0? 'negative':'positive'">{{ moneyFormat(item.sumResult) }}</td>
              <td>
                <b-button
                  v-if="!item.gameType"
                  variant="primary"
                  @click="viewMemberDetail(item)"
                >
                  {{ getLang('投注詳情') }}
                </b-button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>{{ getLang("總計") }}</td>
              <td v-if="memberNav.length > 1"></td>
              <td></td>
              <td>{{ pageData.total }}</td>
              <td :class="pageData.sumValidbet < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumValidbet) }}</td>
              <td :class="pageData.sumBet < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumBet) }}</td>
              <td :class="pageData.sumPay < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumPay) }}</td>
              <td :class="pageData.sumResult < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumResult) }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </template>
    <template #modal-footer="{ ok, cancel }">
      <b-button variant="light" @click="cancel();memberNav = []">{{ getLang('關閉') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
import BarChart from '~/components/BarChart.js';
import { getReport } from '~/api/report.js';
export default {
  components: {
    BarChart
  },
  props: ['bettingPostData', 'bettingAgent'],
  data () {
    return {
      data: [],
      pageData: { page: 0, limit: 100 },
      chartData: {
        dateList: [],
        list: [],
        status: true
      },
      memberNav: []
    };
  },
  computed: {

  },
  watch: {
    bettingPostData (data) {
      this.memberNav.push({ account: this.bettingAgent });
      this.getData(1);
    }
  },
  mounted () {
  },
  methods: {
    resetData () {
      this.chartData = { dateList: [], list: [] };
      this.data = [];
      this.pageData.sumResult = 0;
      this.pageData.sumValidbet = 0;
      this.pageData.sumPay = 0;
      this.pageData.sumBet = 0;
      this.pageData.total = 0;
    },
    async getData (rank) {
      this.resetData();
      const params = Object.assign(this.bettingPostData, this.pageData, { ranking: rank });
      try {
        const res = await getReport(params);
        res.data.forEach((x, index) => {
          this.chartData.dateList[index] = rank === 1 ? x.account : x.gameType;
          this.chartData.list[index] = x.sumResult.toFixed(2);
        });
        this.chartData.status = rank === 1;
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    viewMemberDetail (item) {
      this.memberNav.push({ account: item.account });
      this.bettingPostData.mid = item.mid;
      this.getData(2);
    },
    viewMemberOverview () {
      this.memberNav.pop();
      this.bettingPostData.mid = '';
      this.getData(1);
    }
  }
};
</script>
<style scoped>
  .positive {
    color:#6777ef;
  }
  .negative {
    color:#fc544b;
  }
</style>
