<template>
  <div v-frag>
    <report-filter
      :route-name="routeName"
      :set-data="setData"
      :post-data="postData"
      @clearData="clearData"
    />
    <template v-if="data.length">
      <div class="d-flex justify-content-between my-3">
        <div class="d-flex form-inline">
          {{ getLang('顯示') }}
          <select v-model="pageData.limit" class="mx-1" @change="getList">
            <option v-for="(item,index) in [50,100,150,200]" :key="index" :value="item">{{ item }}</option>
          </select>
          {{ getLang('條目') }}
          <template>
            <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
            <button class="btn btn-primary btn-sm mx-1" @click="setExportData('csv')">{{ getLang('CSV') }}</button>
            <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </template>
        </div>
        <div class="d-flex form-inline">
          {{ getLang('搜尋') }}：
          <input v-model.lazy="search" type="search" class="form-control form-control-sm ml-1" />
        </div>
      </div>
    </template>
    <div class="table-responsive text-center text-nowrap">
      <table v-if="data.length" id="printTable" class="table table-striped table-bordered table-hover">
        <thead>
          <tr v-if="lv === 0">
            <th>{{ getLang("No.") }}</th>
            <th>{{ getLang("Misc") }}</th>
            <th>{{ getLang("總紀錄條數") }}</th>
            <th>{{ getLang("流水") }}</th>
            <th>{{ getLang("下注") }}</th>
            <th>{{ getLang("賠付") }}</th>
            <th>{{ getLang("輸贏") }}</th>
            <th>{{ getLang("共享獎池") }}</th>
            <th>{{ getLang("累積獎池") }}</th>
            <th>{{ getLang("傭金") }}</th>
            <th>{{ getLang("公司盈虧") }}</th>
            <th>{{ getLang("%") }}</th>
          </tr>
          <tr v-else>
            <th>{{ getLang("No.") }}</th>
            <th>{{ getLang("交易號") }}</th>
            <th>{{ getLang("交易日期") }}</th>
            <th>{{ getLang("帳號") }}</th>
            <th>{{ getLang("詳情") }}</th>
            <th>{{ getLang("流水") }}</th>
            <th>{{ getLang("下注") }}</th>
            <th>{{ getLang("賠付") }}</th>
            <th>{{ getLang("輸贏") }}</th>
            <th>{{ getLang("共享獎池") }}</th>
            <th>{{ getLang("累積獎池") }}</th>
            <th>{{ getLang("傭金") }}</th>
          </tr>
        </thead>
        <tbody v-if="lv === 0">
          <tr
            v-for="(item,index) in data"
            v-show="!search || setText(item).indexOf(search)!=-1"
            :key="index"
          >
            <td>{{ index + 1 }}</td>
            <td>
              <a href="javascript:void(0)" class="text-decoration-none" @click="runProcess(item)">{{ getLang(setText(item)) }}</a>
            </td>
            <td>{{ item.total }}</td>
            <td>{{ moneyFormat(item.sumValidbet) }}</td>
            <td>{{ moneyFormat(item.sumBet) }}</td>
            <td>{{ moneyFormat(item.sumResult) }}</td>
            <td>{{ moneyFormat(item.winloss) }}</td>
            <td>{{ moneyFormat(0) }}</td>
            <td>{{ moneyFormat(0) }}</td>
            <td>{{ moneyFormat(0) }}</td>
            <td>{{ moneyFormat(item.company) }}</td>
            <td>{{ item.accounted }}</td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr
            v-for="(item,index) in data"
            v-show="!search || item.payId.indexOf(search)!=-1 || simpleDateFormat(item.created_at).indexOf(search)!=-1"
            :key="index"
          >
            <td>{{ index + 1 }}</td>
            <td>{{ item.payId }}</td>
            <td>{{ simpleDateFormat(item.created_at) }}</td>
            <td>{{ item.memberAccount }}</td>
            <td>
              <textarea v-model="item.payResult" disabled style="width:100%;height:100px;"></textarea>
            </td>
            <td>{{ moneyFormat(item.sumValidbet) }}</td>
            <td>{{ moneyFormat(item.sumBet) }}</td>
            <td>{{ moneyFormat(item.sumResult) }}</td>
            <td>{{ moneyFormat(item.winloss) }}</td>
            <td>{{ moneyFormat(0) }}</td>
            <td>{{ moneyFormat(0) }}</td>
            <td>{{ moneyFormat(0) }}</td>
          </tr>
        </tbody>
        <b-tfoot>
          <b-tr v-if="lv === 0">
            <b-td colspan="2" variant="secondary" class="text-center">Total</b-td>
            <b-td colspan="1" variant="secondary">{{ pageData.total }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumValidbet) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumBet) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumResult) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumWinloss) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumCompany) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(totalRate, '0,0') }}</b-td>
          </b-tr>
          <b-tr v-else>
            <b-td colspan="5" variant="secondary" class="text-right">Total</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumValidbet) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumBet) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumResult) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.sumWinloss) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
            <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
          </b-tr>
        </b-tfoot>
      </table>
    </div>
    <!-- <div class="row">
      <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getList" />
    </div> -->
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getWinloseReport } from '~/api/report.js';
export default {
  data () {
    return {
      postData: {
        nowType: '',
        pid: '',
        gameClass: '',
        agent_account: '',
        member_account: '',
        startTime: '',
        endTime: '',
        group_by: ''
      },
      data: [],
      pageData: { page: 0, limit: 50 },
      search: '',
      lv: 0,
      process: 0,
      textType: '',
      routeName: this.$route.path.split('/')[2]
    };
  },
  computed: {
    ...mapFields('product', ['productList', 'productObject', 'statusObject', 'productTypeObject']),
    totalRate () {
      return this.pageData.sumCompany / this.pageData.sumValidbet * 100;
    }
  },
  mounted () {
  },
  methods: {
    async getList () {
      this.clearData();
      const params = Object.assign(this.postData, {
        lv: this.lv,
        page: this.pageData.page,
        limit: this.pageData.limit
      });
      try {
        const res = await getWinloseReport(params);
        this.$set(this, 'data', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', JSON.parse(JSON.stringify(res.pageData)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    setText (item) {
      switch (this.postData.group_by) {
        case 'member':
          return item.memberAccount;
        case 'agent':
          return item.agentAccount;
        case 'product':
          return this.productObject[item.pid];
        case 'type':
          return this.productTypeObject[item.gameClass];
        default:
          return '';
      }
    },
    clearData () {
      this.data = [];
    },
    setData (type, process) {
      this.postData.group_by = type;
      this.process = process;
      this.lv = 0;
      this.getList();
    },
    runProcess (item) {
      switch (this.process) {
        case 1:
          if (!this.postData.member_account) {
            this.postData.member_account = item.memberAccount;
            this.postData.group_by = this.postData.pid ? 'type' : 'product';
          } else {
            if (this.postData.group_by === 'product') {
              this.postData.pid = item.pid;
              this.postData.group_by = 'type';
            } else if (this.postData.group_by === 'type') {
              this.postData.gameClass = item.gameClass;
              this.postData.group_by = 'product';
            } else {
              this.postData.group_by = this.postData.pid ? 'type' : 'product';
            }
          }
          this.lv = this.postData.pid && this.postData.gameClass ? 2 : 0;
          break;
        case 2:
          if (!this.postData.agent_account) {
            this.postData.agent_account = item.agentAccount;
            this.postData.group_by = this.postData.member_account ? (this.postData.pid ? 'type' : 'product') : 'member';
          } else {
            if (this.postData.group_by === 'member') {
              this.postData.member_account = item.memberAccount;
              this.postData.group_by = this.postData.pid ? 'type' : 'product';
            } else if (this.postData.group_by === 'product') {
              this.postData.pid = item.pid;
              this.postData.group_by = this.postData.member_account ? 'type' : 'member';
            } else if (this.postData.group_by === 'type') {
              this.postData.gameClass = item.gameClass;
              this.postData.group_by = this.postData.member_account ? 'product' : 'member';
            } else {
              this.postData.group_by = this.postData.member_account ? (this.postData.pid ? 'type' : 'product') : 'member';
            }
          }
          this.lv = this.postData.member_account && this.postData.pid && this.postData.gameClass ? 2 : 0;
          break;
        case 3:
          if (!this.postData.pid) {
            this.postData.pid = item.pid;
            this.postData.group_by = this.postData.member_account ? 'type' : 'member';
          } else {
            if (this.postData.group_by === 'member') {
              this.postData.member_account = item.memberAccount;
              this.postData.group_by = 'type';
            } else if (this.postData.group_by === 'type') {
              this.postData.gameClass = item.gameClass;
              this.postData.group_by = 'member';
            } else {
              this.postData.group_by = this.postData.member_account ? 'type' : 'member';
            }
          }
          this.lv = this.postData.member_account && this.postData.gameClass ? 2 : 0;
          break;
        case 4:
          if (!this.postData.gameClass) {
            this.postData.gameClass = item.gameClass;
            this.postData.group_by = this.postData.member_account ? 'product' : 'member';
          } else {
            if (this.postData.group_by === 'member') {
              this.postData.member_account = item.memberAccount;
              this.postData.group_by = 'product';
            } else if (this.postData.group_by === 'product') {
              this.postData.pid = item.pid;
              this.postData.group_by = 'member';
            } else {
              this.postData.group_by = this.postData.member_account ? 'product' : 'member';
            }
          }
          this.lv = this.postData.member_account && this.postData.pid ? 2 : 0;
          break;
        default:
          break;
      }
      this.getList();
    },
    setExportData (type) {
      const routeName = this.lv === 0 ? this.routeName : this.routeName + '-detail';
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;
      if (this.lv === 0) {
        data.forEach((x) => {
          x.text = this.getLang(this.setText(x));
          x.sumValidbet = this.moneyFormat(x.sumValidbet);
          x.sumBet = this.moneyFormat(x.sumBet);
          x.sumResult = this.moneyFormat(x.sumResult);
          x.winloss = this.moneyFormat(x.winloss);
          x.company = this.moneyFormat(x.company);
          x.accounted = this.moneyFormat(x.accounted, '0,0');
        });
        total = Object.assign({}, this.pageData);
        total.sumValidbet = this.moneyFormat(total.sumValidbet);
        total.sumBet = this.moneyFormat(total.sumBet);
        total.sumResult = this.moneyFormat(total.sumResult);
        total.sumWinloss = this.moneyFormat(total.sumWinloss);
        total.sumCompany = this.moneyFormat(total.sumCompany);
        total.rate = this.moneyFormat(this.totalRate, '0,0');
      } else {
        data.forEach((x) => {
          x.created_at = this.simpleDateFormat(x.created_at);
          x.sumValidbet = this.moneyFormat(x.sumValidbet);
          x.sumBet = this.moneyFormat(x.sumBet);
          x.sumResult = this.moneyFormat(x.sumResult);
          x.sumWinloss = this.moneyFormat(x.sumWinloss);
        });
        total = Object.assign({}, this.pageData);
        total.sumValidbet = this.moneyFormat(total.sumValidbet);
        total.sumBet = this.moneyFormat(total.sumBet);
        total.sumResult = this.moneyFormat(total.sumResult);
        total.sumWinloss = this.moneyFormat(total.sumWinloss);
      }
      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
