<template>
  <div v-frag>
    <div class="d-flex justify-content-between">
      <h6>{{ getLang('搜索條件') }}</h6>
      <div style="cursor:pointer" @click="searchStatus = !searchStatus"><i class="fas" :class="searchStatus?'fa-plus':'fa-minus'"></i></div>
    </div>
    <div v-if="searchStatus" class="d-flex border p-2 flex-wrap">
      <div class="col-md-4 my-2">
        <template>
          <b-form-group class="mb-1" label="時間範圍">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="primary" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>
        </template>
        <template>
          <div class="mb-1 mt-2">{{ getLang('代理編號') }}</div>
          <div class="mb-1 w-50">
            <input v-model="postData.agent_account" type="text" class="w-100" />
          </div>
        </template>
        <template>
          <div class="d-flex align-items-center mt-3">
            <button class="btn btn-primary btn-md w-25" @click="setData('member',1)">{{ getLang('會員') }}</button>
            <button class="btn btn-primary btn-md w-25 ml-2" @click="setData('agent',2)">{{ getLang('代理') }}</button>
            <button class="btn btn-primary btn-md w-25 ml-2" @click="setData('product',3)">{{ getLang('產品') }}</button>
            <button class="btn btn-primary btn-md w-25 ml-2" @click="setData('type',4)">{{ getLang('類型') }}</button>
            <button class="btn btn-primary btn-md w-25 ml-2" @click="resetData()">{{ getLang('重置') }}</button>
          </div>
        </template>
      </div>
      <div class="col-md-4 my-2">
        <template>
          <div class="mb-1">{{ getLang('產品') }}</div>
          <div class="mb-1 w-50">
            <select v-model="postData.pid" class="w-100 p-1">
              <option value="">{{ getLang("請選擇") }}</option>
              <option v-for="(item,index) in productList" :key="index" :value="item.id">{{ item.name }}</option>
            </select>
          </div>
        </template>
        <template>
          <div class="mb-1 mt-2">{{ getLang('用戶名') }}</div>
          <div class="mb-1 w-50">
            <input v-model="postData.member_account" type="text" class="w-100" />
          </div>
        </template>
      </div>
      <div class="col-md-4 my-2">
        <template>
          <div class="mb-1">{{ getLang('產品類型') }}</div>
          <div class="mb-1 w-50">
            <select v-model="postData.gameClass" class="w-100 p-1">
              <option value="">{{ getLang("全部") }}</option>
              <option v-for="(item,index) in productTypeList" :key="index" :value="item.value">{{ item.show }}</option>
            </select>
          </div>
        </template>
        <template>
          <div class="mb-1">{{ getLang('狀態') }}</div>
          <div class="mb-1 w-50">
            <select v-model="postData.nowType" class="w-100 p-1">
              <option value="">{{ getLang("全部") }}</option>
              <option v-for="(item,index) in statusList" :key="index" :value="item.value">{{ item.show }}</option>
            </select>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: [
    'setData',
    'postData',
    'routeName'
  ],
  data () {
    return {
      searchStatus: true,
      createdAtRange: []
    };
  },
  computed: {
    ...mapFields(['dateTimeArray']),
    ...mapFields('product', ['productList', 'productObject', 'statusList', 'productTypeList'])
  },
  mounted () {
    this.$store.dispatch('product/initData');
    this.$store.commit('initDateTimeArray');
  },
  methods: {
    resetData () {
      for (const i in this.postData) {
        this.postData[i] = '';
      }
      this.createdAtRange = [];
      this.$emit('clearData');
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
      if (item.type == -1) {
        this.$set(this.postData, 'startTime', -1);
        this.$set(this.postData, 'endTime', -1);
      } else {
        let datetime = item.value;
        if (datetime) {
          datetime = datetime.split('~');
          this.$set(this.postData, 'startTime', datetime[0]);
          this.$set(this.postData, 'endTime', datetime[1]);
        }
      }
    }
  }
};

</script>
