<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-left">
                <ul v-if="!account" class="breadcrumb breadcrumb-style d-inline-flex">
                  <li class="breadcrumb-item">
                    <a v-if="postData.lv > 0" href="#" @click="viewMemberOverview(0)">
                      {{ getLang('代理') }}
                      <span v-if="agentNav.agent">({{ agentNav.agent }})</span>
                    </a>
                    <span v-else>{{ getLang('代理') }}</span>
                  </li>
                  <li v-if="postData.lv > 0" class="breadcrumb-item">
                    <a v-if="postData.lv > 1" href="#" @click="viewMemberOverview(1)">
                      {{ getLang('會員') }}
                      <span v-if="agentNav.member">({{ agentNav.member }})</span>
                    </a>
                    <span v-else>{{ getLang('會員') }}</span>
                  </li>
                  <li v-if="postData.lv > 1" class="breadcrumb-item">
                    {{ getLang('會員詳情') }}
                  </li>
                  <a v-if="postData.lv > 0" href="javascript:void(0)" class="ml-3" @click="viewMemberOverview(postData.lv - 1)">{{ getLang('回上一頁') }}</a>
                </ul>
                <div class="d-inline-flex pr-1 form-inline">
                  {{ getLang("顯示") }}
                  <select v-model="pageData.limit" @change="getData">
                    <option
                      v-for="(item, index) in [50, 100, 200]"
                      :key="index"
                      :value="item"
                    >
                      {{ item }}
                    </option>
                  </select>
                  {{ getLang("條目") }}
                </div>
                <div class="d-inline-flex pr-1 form-inline">
                  {{ getLang('幣別') }}:
                  <select v-model="postData.cid" @change="getData">
                    <option value="">{{ getLang('全部') }}</option>
                    <option
                      v-for="item in country"
                      :key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }} - {{ item.currency }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-1 form-inline">
                  {{ getLang('產品') }}:
                  <select v-model="postData.pid" @change="getData">
                    <option value="">{{ getLang('全部') }}</option>
                    <option
                      v-for="item in product"
                      :key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-1 form-inline">
                  {{ getLang('起始時間') }}:
                  <date-picker
                    v-model="postData.startTime"
                    type="datetime"
                    value-type="format"
                    format="YYYY-MM-DD HH:mm:ss"
                    :editable="false"
                    :disabled-date="setMaxDate"
                    :confirm="true"
                    @change="setDate()"
                  />
                </div>
                <div class="d-inline-flex pr-1 form-inline">
                  {{ getLang('結束時間') }}:
                  <date-picker
                    v-model="postData.endTime"
                    type="datetime"
                    value-type="format"
                    format="YYYY-MM-DD HH:mm:ss"
                    :editable="false"
                    :disabled-date="setMaxDate"
                    :confirm="true"
                    @change="setDate()"
                  />
                </div>
                <div v-if="!account" class="d-inline-flex mt-2 form-inline float-right">
                  {{ getLang("搜尋") }}:
                  <input
                    v-model.lazy="postData.search"
                    type="search"
                    class="form-control form-control-sm"
                    @change="getData()"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr role="row">
                        <th v-if="postData.lv === 0">{{ getLang("代理") }}</th>
                        <th v-if="postData.lv > 0">{{ getLang("會員") }}</th>
                        <th>{{ getLang("幣別") }}</th>
                        <th
                          v-if="postData.lv < 2"
                          class="sorting"
                          :class="[sortingObject[order.total]]"
                          @click="switchSort('total')"
                        >
                          {{ getLang("下注次數") }}
                        </th>
                        <th v-else>
                          {{ getLang("下注時間") }}
                        </th>
                        <th
                          class="sorting"
                          :class="postData.lv < 2 ? sortingObject[order.sumValidbet] : sortingObject[order.validbet]"
                          @click="postData.lv < 2 ? switchSort('sumValidbet') : switchSort('validbet')"
                        >
                          {{ getLang("流水") }}
                        </th>
                        <th>{{ getLang("下注") }}</th>
                        <th>{{ getLang("賠付") }}</th>
                        <th
                          class="sorting"
                          :class="postData.lv < 2 ? sortingObject[order.sumResult] : sortingObject[order.result]"
                          @click="postData.lv < 2 ? switchSort('sumResult') : switchSort('result')"
                        >
                          {{ getLang("輸贏") }}
                        </th>
                        <th
                          v-if="postData.lv === 0"
                          class="sorting"
                          :class="[sortingObject[order.promoAgent]]"
                          @click="switchSort('promoAgent')"
                        >
                          {{ getLang("代理優惠負擔") }}
                        </th>
                        <th
                          v-if="postData.lv === 0"
                          class="sorting"
                          :class="[sortingObject[order.promoCompany]]"
                          @click="switchSort('promoCompany')"
                        >
                          {{ getLang("公司優惠負擔") }}
                        </th>
                        <th
                          v-if="postData.lv === 0"
                          class="sorting"
                          :class="[sortingObject[order.agentProfit]]"
                          @click="switchSort('agentProfit')"
                        >
                          {{ getLang("代理盈虧") }}
                        </th>
                        <th
                          v-if="postData.lv === 0"
                          class="sorting"
                          :class="[sortingObject[order.companyProfit]]"
                          @click="switchSort('companyProfit')"
                        >
                          {{ getLang("公司盈虧") }}
                        </th>
                        <th v-if="postData.lv === 2">{{ getLang("遊戲") }}</th>
                        <th v-if="postData.lv === 2" class="betting-message">{{ getLang("下注訊息") }}</th>
                        <th v-if="postData.lv < 2">{{ getLang("操作") }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in data"
                        :key="index"
                        role="row"
                      >
                        <td>{{ item.account }}</td>
                        <td>{{ item.cid }}</td>
                        <td v-if="postData.lv < 2">{{ item.total }}</td>
                        <td v-else>{{ simpleDateFormat(item.created_at) }}</td>
                        <td v-if="postData.lv < 2" :class="item.sumValidbet < 0? 'negative':'positive'">{{ moneyFormat(item.sumValidbet) }}</td>
                        <td v-else :class="item.validbet < 0? 'negative':'positive'">{{ moneyFormat(item.validbet) }}</td>
                        <td v-if="postData.lv < 2" :class="item.sumBet < 0? 'negative':'positive'">{{ moneyFormat(item.sumBet) }}</td>
                        <td v-else :class="item.bet < 0? 'negative':'positive'">{{ moneyFormat(item.bet) }}</td>
                        <td v-if="postData.lv < 2" :class="item.sumPay < 0? 'negative':'positive'">{{ moneyFormat(item.sumPay) }}</td>
                        <td v-else :class="item.pay < 0? 'negative':'positive'">{{ moneyFormat(item.pay) }}</td>
                        <td v-if="postData.lv < 2" :class="item.sumResult < 0? 'negative':'positive'">{{ moneyFormat(item.sumResult) }}</td>
                        <td v-else :class="item.result < 0? 'negative':'positive'">{{ moneyFormat(item.result) }}</td>
                        <td v-if="postData.lv === 0" :class="item.PromoReport.sumAgent < 0? 'negative':'positive'">{{ moneyFormat(item.PromoReport.sumAgent) }}</td>
                        <td v-if="postData.lv === 0" :class="item.PromoReport.sumCompany < 0? 'negative':'positive'">{{ moneyFormat(item.PromoReport.sumCompany) }}</td>
                        <td v-if="postData.lv === 0" :class="item.agentProfit < 0? 'negative':'positive'">{{ moneyFormat(item.agentProfit) }}</td>
                        <td v-if="postData.lv === 0" :class="item.companyProfit < 0? 'negative':'positive'">{{ moneyFormat(item.companyProfit) }}</td>
                        <td v-if="postData.lv === 2">{{ item.pid }}</td>
                        <td v-if="postData.lv === 2" class="betting-message">{{ item.payResult }}</td>
                        <td v-if="postData.lv < 2">
                          <b-button
                            v-if="item.AgentPosterity"
                            variant="primary"
                            @click="viewAgentDetail(item)"
                          >
                            {{ getLang("子代理明細") }}
                          </b-button>
                          <b-button
                            v-if="item.total"
                            variant="primary"
                            @click="viewMemberDetail(item)"
                          >
                            {{ postData.lv === 0 ? getLang("會員明細") : getLang("會員詳情") }}
                          </b-button>
                          <b-button
                            v-if="item.total && postData.lv === 0"
                            variant="primary"
                            @click="viewBettingDetail(item)"
                          >
                            {{ getLang("會員投注比例") }}
                          </b-button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr v-if="postData.lv === 2">
                        <td>{{ getLang("小計") }}</td>
                        <td></td>
                        <td></td>
                        <td :class="subTotal.validbet < 0? 'negative':'positive'">{{ moneyFormat(subTotal.validbet) }}</td>
                        <td :class="subTotal.bet < 0? 'negative':'positive'">{{ moneyFormat(subTotal.bet) }}</td>
                        <td :class="subTotal.pay < 0? 'negative':'positive'">{{ moneyFormat(subTotal.pay) }}</td>
                        <td :class="subTotal.result < 0? 'negative':'positive'">{{ moneyFormat(subTotal.result) }}</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>{{ getLang("總計") }}</td>
                        <td></td>
                        <td v-if="postData.lv < 2">{{ pageData.total }}</td>
                        <td v-else></td>
                        <td :class="pageData.sumValidbet < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumValidbet) }}</td>
                        <td :class="pageData.sumBet < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumBet) }}</td>
                        <td :class="pageData.sumPay < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumPay) }}</td>
                        <td :class="pageData.sumResult < 0? 'negative':'positive'">{{ moneyFormat(pageData.sumResult) }}</td>
                        <td v-if="postData.lv === 2"></td>
                        <td v-if="postData.lv === 0" :class="total.promoAgent < 0? 'negative':'positive'">{{ moneyFormat(total.promoAgent) }}</td>
                        <td v-if="postData.lv === 0" :class="total.promoCompany < 0? 'negative':'positive'">{{ moneyFormat(total.promoCompany) }}</td>
                        <td v-if="postData.lv === 0" :class="total.agentProfit < 0? 'negative':'positive'">{{ moneyFormat(total.agentProfit) }}</td>
                        <td v-if="postData.lv === 0" :class="total.companyProfit < 0? 'negative':'positive'">{{ moneyFormat(total.companyProfit) }}</td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination
                v-if="pageData && !pageStatus"
                :page-data="pageData"
                @getData="getData"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="subAgent" :no-close-on-backdrop="true" size="xl">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('子代理明細') }}</h4>
        <button type="button" class="close" @click="close();subAgentNav = []">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <ul class="breadcrumb breadcrumb-style d-inline-flex">
            <li class="breadcrumb-item">
              <span>{{ getLang('代理') }}</span>
            </li>
            <li v-for="(item,index) in subAgentNav" :key="index" class="breadcrumb-item">
              <a v-if="subAgentNav.length !== index+1" href="#" @click="viewAgentOverview(index)">{{ item.account }}</a>
              <span v-else>{{ item.account }}</span>
            </li>
            <a v-if="subAgentNav.length > 1" href="javascript:void(0)" class="ml-4" @click="viewAgentOverview()">{{ getLang('回上一頁') }}</a>
          </ul>
          <div class="d-inline-flex form-inline float-right mt-2">
            {{ getLang('搜尋') }}:
            <input
              v-model="subSearch"
              type="search"
              class="form-control form-control-sm"
            />
          </div>

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>{{ getLang('代理') }}</th>
                <th>{{ getLang('幣別') }}</th>
                <th>{{ getLang('下注次數') }}</th>
                <th>{{ getLang('流水') }}</th>
                <th>{{ getLang('下注') }}</th>
                <th>{{ getLang('賠付') }}</th>
                <th>{{ getLang('輸贏') }}</th>
                <th>{{ getLang('代理優惠負擔') }}</th>
                <th>{{ getLang('公司優惠負擔') }}</th>
                <th>{{ getLang('代理盈虧') }}</th>
                <th>{{ getLang('公司盈虧') }}</th>
                <th>{{ getLang('操作') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in subData" v-show="!subSearch || item.account.indexOf(subSearch)!=-1" :key="index" role="row">
                <td>{{ item.account }}</td>
                <td>{{ item.cid }}</td>
                <td>{{ item.total }}</td>
                <td :class="item.sumValidbet < 0? 'negative':'positive'">{{ moneyFormat(item.sumValidbet) }}</td>
                <td :class="item.sumBet < 0? 'negative':'positive'">{{ moneyFormat(item.sumBet) }}</td>
                <td :class="item.sumPay < 0? 'negative':'positive'">{{ moneyFormat(item.sumPay) }}</td>
                <td :class="item.sumResult < 0? 'negative':'positive'">{{ moneyFormat(item.sumResult) }}</td>
                <td :class="item.PromoReport.sumAgent < 0? 'negative':'positive'">{{ moneyFormat(item.PromoReport.sumAgent) }}</td>
                <td :class="item.PromoReport.sumCompany < 0? 'negative':'positive'">{{ moneyFormat(item.PromoReport.sumCompany) }}</td>
                <td :class="item.agentProfit < 0? 'negative':'positive'">{{ moneyFormat(item.agentProfit) }}</td>
                <td :class="item.companyProfit < 0? 'negative':'positive'">{{ moneyFormat(item.companyProfit) }}</td>
                <td>
                  <b-button
                    v-if="item.AgentPosterity"
                    variant="primary"
                    @click="viewAgentDetail(item)"
                  >
                    {{ getLang('子代理明細') }}
                  </b-button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>{{ getLang("總計") }}</td>
                <td></td>
                <td>{{ subPageData.total }}</td>
                <td :class="subPageData.sumValidbet < 0? 'negative':'positive'">{{ moneyFormat(subPageData.sumValidbet) }}</td>
                <td :class="subPageData.sumBet < 0? 'negative':'positive'">{{ moneyFormat(subPageData.sumBet) }}</td>
                <td :class="subPageData.sumPay < 0? 'negative':'positive'">{{ moneyFormat(subPageData.sumPay) }}</td>
                <td :class="subPageData.sumResult < 0? 'negative':'positive'">{{ moneyFormat(subPageData.sumResult) }}</td>
                <td :class="total.subPromoAgent < 0? 'negative':'positive'">{{ moneyFormat(total.subPromoAgent) }}</td>
                <td :class="total.subPromoCompany < 0? 'negative':'positive'">{{ moneyFormat(total.subPromoCompany) }}</td>
                <td :class="total.subAgentProfit < 0? 'negative':'positive'">{{ moneyFormat(total.subAgentProfit) }}</td>
                <td :class="total.subCompanyProfit < 0? 'negative':'positive'">{{ moneyFormat(total.subCompanyProfit) }}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="light" @click="cancel();subAgentNav = []">{{ getLang('關閉') }}</b-button>
      </template>
    </b-modal>
    <betting-chart :betting-post-data="bettingPostData" :betting-agent="bettingAgent" />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getReport } from '~/api/report.js';
import { getProductList } from '~/api/product.js';
import { getCountryList } from '~/api/country.js';
export default {
  props: ['account'],
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      mainStatus: true,
      data: [],
      backupData: [],
      subData: [],
      agentNav: { agent: '', member: '' },
      subAgentNav: [],
      pageData: { page: 0, limit: 50, sumResult: 0, sumValidbet: 0 },
      subPageData: { page: 0, limit: 50, sumResult: 0, sumValidbet: 0 },
      pageStatus: true,
      search: '',
      subSearch: '',
      order: {
        bet: 0,
        pay: 0,
        sumResult: 0,
        result: 0,
        sumValidbet: 0,
        validbet: 0,
        promoAgent: 0,
        promoCompany: 0,
        companyProfit: 0,
        agentProfit: 0,
        total: 0
      },
      postData: {
        lv: 0,
        aid: '',
        mid: '',
        cid: '',
        pid: '',
        startTime: '',
        endTime: '',
        search: ''
      },
      bettingPostData: {},
      bettingAgent: '',
      total: {
        promoAgent: 0,
        promoCompany: 0,
        companyProfit: 0,
        agentProfit: 0,
        subPromoAgent: 0,
        subPromoCompany: 0,
        subCompanyProfit: 0,
        subAgentProfit: 0
      },
      subTotal: {
        bet: 0,
        pay: 0,
        result: 0,
        validbet: 0
      },
      country: null,
      product: null
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  watch: {
  },
  mounted () {
    if (this.account) {
      this.postData.search = this.account;
    }
    this.getDate();
    this.getCountry();
    this.getProduct();
    this.getData();
  },
  methods: {
    resetData () {
      if (this.mainStatus) {
        this.data = [];
        this.pageData.sumResult = 0;
        this.pageData.sumValidbet = 0;
        this.pageData.sumPay = 0;
        this.pageData.sumBet = 0;
        this.pageData.total = 0;
        this.$set(this, 'subTotal', { result: 0, validbet: 0, bet: 0, pay: 0 });
        this.total.promoAgent = 0;
        this.total.promoCompany = 0;
        this.total.companyProfit = 0;
        this.total.agentProfit = 0;
      } else {
        this.subData = [];
        this.subPageData.sumResult = 0;
        this.subPageData.sumValidbet = 0;
        this.subPageData.total = 0;
        this.total.subPromoAgent = 0;
        this.total.subPromoCompany = 0;
        this.total.subCompanyProfit = 0;
        this.total.subAgentProfit = 0;
      }
    },
    getDate () {
      this.$store.commit('initDateTimeArray');
      const datetime = this.dateTimeArray[1].value.split('~');
      this.$set(this.postData, 'startTime', datetime[0]);
      this.$set(this.postData, 'endTime', datetime[1]);
    },
    async getCountry () {
      try {
        const res = await getCountryList();
        this.$set(this, 'country', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getProduct () {
      try {
        const res = await getProductList({ where: { type: 1 } });
        this.$set(this, 'product', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getData () {
      await this.resetData();
      const params = Object.assign(this.postData, this.mainStatus ? this.pageData : this.subPageData);
      try {
        const res = await getReport(params);
        this.postData.lv = parseInt(res.lv);
        res.data.forEach((x) => {
          if (this.postData.lv === 0) {
            const totalProfit = (-x.sumResult || 0) - (x.PromoReport.sumCompany || 0) + (x.PromoReport.sumAgent || 0);
            x.companyProfit = totalProfit * (x.handIn / 100);
            x.agentProfit = totalProfit - x.companyProfit;
          }
        });
        this.mainStatus ? this.$set(this, 'data', res.data) : this.$set(this, 'subData', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        if (res.pageData.limit) {
          this.mainStatus ? this.$set(this, 'pageData', res.pageData) : this.$set(this, 'subPageData', res.pageData);
        }
        switch (this.postData.lv) {
          case 0:
            this.calculateSubTotal();
            break;
          case 2:
            this.postData.aid = this.data[0] ? this.data[0].aid : '';
            this.calculateSubTotal();
            break;
          default:
            break;
        }
      } catch (err) {
        this.alertWindow(err.message);
      } finally {
        if (!this.mainStatus) {
          this.mainStatus = true;
          this.postData.aid = '';
        }
      }
    },
    calculateSubTotal () {
      if (this.postData.lv === 2) {
        this.data.forEach((v) => {
          this.subTotal.bet += (v.bet || 0) * 1;
          this.subTotal.pay += (v.pay || 0) * 1;
          this.subTotal.result += (v.result || 0) * 1;
          this.subTotal.validbet += (v.validbet || 0) * 1;
        });
      } else {
        const data = this.mainStatus ? this.data : this.subData;
        data.forEach((v) => {
          this.total[this.mainStatus ? 'promoAgent' : 'subPromoAgent'] += (v.PromoReport.sumAgent || 0) * 1;
          this.total[this.mainStatus ? 'promoCompany' : 'subPromoCompany'] += (v.PromoReport.sumCompany || 0) * 1;
          this.total[this.mainStatus ? 'companyProfit' : 'subCompanyProfit'] += (v.companyProfit) * 1;
          this.total[this.mainStatus ? 'agentProfit' : 'subAgentProfit'] += (v.agentProfit) * 1;
        });
      }
    },
    viewAgentDetail (item) {
      this.$root.$emit('bv::show::modal', 'subAgent');
      this.subAgentNav.push({ account: item.account, id: item.id });
      this.mainStatus = false;
      this.postData.aid = item.id;
      this.getData();
    },
    viewAgentOverview (index) {
      this.mainStatus = false;
      if (index) {
        this.postData.aid = this.subAgentNav[index].id;
        const removeCount = this.subAgentNav.length - index - 1;
        for (let i = 0; i < removeCount; i++) {
          this.subAgentNav.pop();
        }
      } else {
        this.postData.aid = this.subAgentNav[this.subAgentNav.length - 2].id;
        this.subAgentNav.pop();
      };
      this.getData();
    },
    viewMemberDetail (item) {
      this.mainStatus = true;
      this.postData.search = '';
      this.postData.lv++;
      this.postData[this.postData.lv === 1 ? 'aid' : 'mid'] = item[this.postData.lv === 1 ? 'aid' : 'mid'];
      this.agentNav[this.postData.lv === 1 ? 'agent' : 'member'] = item.account;
      if (this.postData.lv === 2) {
        this.pageStatus = false;
      }
      this.getData();
    },
    viewMemberOverview (value) {
      this.postData.lv = value;
      this.postData.search = '';
      if (value === 0) {
        this.postData.aid = '';
      }
      this.postData.mid = '';
      this.pageStatus = true;
      this.getData();
    },
    viewBettingDetail (item) {
      this.postData.aid = item.id;
      this.bettingAgent = item.account;
      this.$set(this, 'bettingPostData', JSON.parse(JSON.stringify(this.postData)));
      this.$root.$emit('bv::show::modal', 'bettingChart');
      this.postData.aid = '';
    },
    switchSort (type) {
      this.order[type] = ++this.order[type] % 3;
      if (this.order[type] === 0) {
        this.data = [...this.backupData];
      } else {
        this.data.sort((a, b) => {
          return this.order[type] === 1 ? parseInt(b[type]) - parseInt(a[type]) : parseInt(a[type]) - parseInt(b[type]);
        });
      }
    },
    setMaxDate (date) {
      return date > new Date(new Date().setHours(0, 0, 0, 0));
    },
    setDate () {
      if (this.postData.startTime && this.postData.endTime) {
        this.getData();
      } else if (!this.postData.startTime && !this.postData.endTime) {
        this.getData();
      }
    }
  }
};
</script>
<style scoped>
  .betting-message {
    max-width: 300px;
  }
  .positive {
    color:#6777ef;
  }
  .negative {
    color:#fc544b;
  }
</style>
