<template>
  <b-card-body>
    <b-card-text>
      <div class="row">
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="會員賬號">
            <input v-model="where.accountLike" trim />
          </b-form-group>
          <b-form-group class="mb-0" label="代理帳號">
            <input v-model="where.agentAccountLike" trim />
          </b-form-group>
        </div>
        <div class="col-md-2" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="會員名稱">
            <input v-model="where.nameLike" trim />
          </b-form-group>
          <b-form-group class="mb-0" label="會員群組">
            <select v-model="where.gid" class="search-input">
              <option :value="-1">
                ---{{ getLang('全部') }}---
              </option>
              <option
                v-for="(item,index) in group"
                :key="index"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </b-form-group>
        </div>
        <div class="col-md-3  " style="padding-right: 5px; padding-left: 5px;">
          <div class="row m-0">
            <div class="col-md-5" style="padding-right: 2px; padding-left: 2px;">
              <b-form-group class="mb-0" label="銀行">
                <select v-model="bankField" class=" search-input">
                  <option :value="null">{{ getLang('請選擇') }}</option>
                  <option :value="'bankAccountLike'">銀行戶名</option>
                  <option :value="'bankNumber'">賬號</option>
                </select>
              </b-form-group>
            </div>
            <div class="col-md-7" style="padding-right: 2px; padding-left: 2px;">
              <b-form-group class="mb-0" label="詳情">
                <input v-model="bankValue" type="text" class="search-input" />
              </b-form-group>
            </div>
            <div class="col-md-6" style="padding-right: 2px; padding-left: 2px;">
              <b-form-group class="mb-0" label="狀態">
                <select v-model="where.status" class=" search-input">
                  <option :value="-1">---{{ getLang('全部') }}---</option>
                  <option :value="1">{{ getLang('活躍') }}</option>
                  <option :value="0">{{ getLang('非活躍') }}</option>
                </select>
              </b-form-group>
            </div>
            <div class="col-md-6" style="padding-right: 2px; padding-left: 2px;">
              <b-form-group class="mb-0" label="暫停下註">
                <select v-model="where.betStatus" class=" search-input">
                  <option :value="-1">---{{ getLang('全部') }}---</option>
                  <option :value="1">{{ getLang('激活下註') }}</option>
                  <option :value="0">{{ getLang('暫停下註') }}</option>
                </select>
              </b-form-group>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="賬戶創建日期">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="dark" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>

          <b-form-group class="mb-0" label="最近登錄時間">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="dark" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'loginAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="loginAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>
        </div>
      </div>
    </b-card-text>
    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="input-group-sm">
          <input
            type="button"
            class="btn btn-primary"
            value="搜索"
            @click="search"
          />
          <input
            type="button"
            class="btn btn-primary"
            value="重置"

            @click="reset"
          />
          <input v-if="0" id="chkTransDetail" data-trans-detail="false" type="checkbox" style="vertical-align: middle;" />
          <label v-if="0">顯示交易資料</label>
          <input v-if="0" id="txtSearchCaption" readonly="readonly" value="單擊以進行搜索" style="border: none; font-style: italic;display:none;" />
        </div>
      </div>
    </div>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['getList', 'setWhere'],
  data () {
    return {
      where: {
        gid: -1,
        status: -1,
        betStatus: -1,
        accountLike: '',
        nameLike: '',
        agentAccountLike: ''
      },
      createdAtRange: [],
      loginAtRange: [],
      bankValue: null,
      bankField: null
    };
  },
  computed: {
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields(['dateTimeArray'])
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    reset () {
      this.where.accountLike = '';
      this.where.nameLike = '';
      this.where.agentAccountLike = '';
      this.where.gid = -1;
      this.where.status = -1;
      this.where.betStatus = -1;
      this.createdAtRange = [];
      this.loginAtRange = [];
      // this.search();
      this.bankField = '';
      this.bankValue = '';
    },
    search () {
      const where = JSON.parse(JSON.stringify(this.where));

      if (this.createdAtRange.length == 2) {
        where.createdAtStart = this.createdAtRange[0];
        where.createdAtEnd = this.createdAtRange[1];
      } else {
        where.createdAtStart = -1;
        where.createdAtEnd = -1;
      }

      if (this.loginAtRange.length == 2) {
        where.loginAtStart = this.loginAtRange[0];
        where.loginAtEnd = this.loginAtRange[1];
      } else {
        where.loginAtStart = -1;
        where.loginAtEnd = -1;
      }
      if (this.bankField && this.bankValue) {
        where[this.bankField] = this.bankValue;
      }
      this.setWhere(where);
      this.getList(where);
    }
  }
};
</script>
