<template>
  <b-card-body>
    <b-card-text>
      <div class="row">
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="發送方式">
            <select v-model="type" class="search-input">
              <option :value="0">{{ getLang('電子郵件') }}</option>
              <option :value="1">{{ getLang('短信') }}</option>
              <option :value="2">inbox</option>
            </select>
          </b-form-group>
          <b-form-group class="mb-0" label="主題">
            <input v-model="title" type="text" />
          </b-form-group>
          <b-form-group class="mb-0" label="內容">
            <input v-model="content" type="text" class="w-100" />
          </b-form-group>
        </div>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col-md-6">
          <div class="input-group-sm">
            <input
              type="button"
              class="btn btn-primary"
              value="提交"
              @click="sendMessage({title,content,type})"
            />
          </div>
        </div>
      </div>
    </b-card-text>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberList } from '~/api/member.js';
export default {
  props: ['sendMessage'],
  data () {
    return {
      title: '',
      content: '',
      type: 0
    };
  },
  computed: {
  },

  mounted () {

  },
  methods: {

  }
};
</script>
