<template>
  <b-card-body>
    <b-card-text>
      <div class="row">
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="請選擇目標會員群組">
            <select v-model="gid" class="search-input">
              <option
                v-for="(item,index) in group"
                :key="index"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </b-form-group>
        </div>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col-md-6">
          <div class="input-group-sm">
            <input
              type="button"
              class="btn btn-primary"
              value="提交"
              @click="changeGroup(gid)"
            />
          </div>
        </div>
      </div>
    </b-card-text>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberList } from '~/api/member.js';
export default {
  props: ['changeGroup'],
  data () {
    return { gid: -1 };
  },
  computed: {
    ...mapFields('group', { group: 'list', groupObject: 'object' })
    // ...mapFields('product', ['productList', 'productObject'])
  },

  mounted () {
    if (this.group.length) {
      this.gid = this.group[0].id;
    } else {
      this.$watch('group', (group) => {
        this.gid = group[0].id;
      });
    }
  },
  methods: {
    submit () {
      getMemberList({ where: { account: this.account } }).then(({ data }) => {
        if (data.length) {
          this.$router.push('/member/member-listing/' + data[0].id);
          // console.log();
        } else {
          this.alertWindow('查無會員');
        }
        // console.log(data);
      });
    }
  }
};
</script>
