<template>
  <b-card-body>
    <b-card-text>
      <div class="row">
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="請錄入代理人編號">
            <input v-model="account" trim />
          </b-form-group>
        </div>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col-md-6">
          <div class="input-group-sm">
            <input
              type="button"
              class="btn btn-primary"
              value="提交"
              @click="changeAgent(account)"
            />
          </div>
        </div>
      </div>
    </b-card-text>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberList } from '~/api/member.js';
export default {
  props: ['changeAgent'],
  data () {
    return { account: '' };
  },
  computed: {
    ...mapFields('product', ['productList', 'productObject'])
  },
  mounted () {
    this.$store.dispatch('product/initData');
  },
  methods: {
    submit () {
      getMemberList({ where: { account: this.account } }).then(({ data }) => {
        if (data.length) {
          this.$router.push('/member/member-listing/' + data[0].id);
          // console.log();
        } else {
          this.alertWindow('查無會員');
        }
        // console.log(data);
      });
    }
  }
};
</script>
