<template>
  <div class="section-body">
    <div class="row col-12 card card-body mb-3">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="filterStatus" class="border p-3">
        <div>
          {{ getLang('時間範圍') }}:
          <b-input-group class="mt-1">
            <template #prepend>
              <b-dropdown variant="primary" dropdown>
                <template #button-content>
                  <i class="fas fa-calendar"></i>
                </template>
                <b-dropdown-item
                  v-for="(item,index) in dateTimeArray"
                  :key="index"
                  @click="setDate(item,'createdAtRange')"
                >
                  {{ item.show }}
                </b-dropdown-item>
              </b-dropdown>
            </template>
            <date-picker
              v-model="createdAtRange"
              range
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
              placeholder=""
            />
          </b-input-group>
        </div>
        <div class="mt-3">
          <button class="btn btn-primary mr-1" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary" @click="resetFilter()">{{ getLang('重置') }}</button>
        </div>
      </div>
    </div>
    <template v-if="searchStatus">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('遊戲產品類型下註統計分析') }}</h6>
            <span>
              ({{ getLang('總記錄條數') }}:{{ totalData.total }},
              {{ getLang('下注') }}:{{ moneyFormat(totalData.sumBet) }},
              {{ getLang('賠付') }}:{{ moneyFormat(totalData.sumResult) }},
              {{ getLang('公司盈虧') }}:{{ moneyFormat(totalData.sumCompany) }})
            </span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart1 = !switchStatus.chart1"><i class="fas" :class="switchStatus.chart1?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData1 && switchStatus.chart1" class="w-100">
          <bar-chart
            :chart-data="chartData1"
            :options="{
              responsive: true,
              maintainAspectRatio: false
            }"
          />
        </div>
      </div>
    </template>
    <template v-if="searchStatus">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('遊戲產品下注統計分析') }}</h6>
            <span>
              ({{ getLang('總記錄條數') }}:{{ totalData.total }},
              {{ getLang('下注') }}:{{ moneyFormat(totalData.sumBet) }},
              {{ getLang('賠付') }}:{{ moneyFormat(totalData.sumResult) }},
              {{ getLang('公司盈虧') }}:{{ moneyFormat(totalData.sumCompany) }})
            </span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart2 = !switchStatus.chart2"><i class="fas" :class="switchStatus.chart2?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData2 && switchStatus.chart2" class="w-100">
          <bar-chart
            :chart-data="chartData2"
            :options="{
              responsive: true,
              maintainAspectRatio: false
            }"
          />
        </div>
      </div>
    </template>
    <template v-if="searchStatus">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('最受歡迎的遊戲產品') }}</h6>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart3 = !switchStatus.chart3"><i class="fas" :class="switchStatus.chart3?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData3 && switchStatus.chart3" class="w-100">
          <bar-chart
            :chart-data="chartData3"
            :options="{
              responsive: true,
              maintainAspectRatio: false
            }"
          />
        </div>
      </div>
    </template>
    <template v-if="searchStatus">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('最受歡迎的遊戲產品類型') }}</h6>
            <span>({{ getLang('會員點擊總量') }}:{{ totalData.total }})</span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart4 = !switchStatus.chart4"><i class="fas" :class="switchStatus.chart4?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData4 && switchStatus.chart4" class="w-50 mx-auto">
          <pie-chart
            :chart-data="chartData4"
          />
        </div>
      </div>
    </template>
    <template v-if="searchStatus">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('最受歡迎的遊戲產品') }}</h6>
            <span>({{ getLang('會員點擊總量') }}:{{ totalData.total }})</span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart5 = !switchStatus.chart5"><i class="fas" :class="switchStatus.chart5?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData5 && switchStatus.chart5" class="w-50 mx-auto">
          <pie-chart
            :chart-data="chartData5"
          />
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getGameStatistic } from '~/api/statistics.js';
export default {
  data () {
    return {
      filterStatus: true,
      searchStatus: false,
      switchStatus: {
        chart1: true,
        chart2: true,
        chart3: true,
        chart4: true,
        chart5: true
      },
      data: [],
      totalData: {},
      chartData1: {
        dateList: [],
        list: []
      },
      chartData2: {
        dateList: [],
        list: []
      },
      chartData3: {
        dateList: [],
        list: []
      },
      chartData4: {
        dateList: [],
        list: []
      },
      chartData5: {
        dateList: [],
        list: []
      },
      labelList: ['總記錄條數', '平均下注額', '下注', '賠付', '公司盈虧'],
      createdAtRange: []
    };
  },
  computed: {
    ...mapFields(['dateTimeArray']),
    ...mapFields('product', ['productObject', 'productTypeObject'])
  },
  mounted () {
    this.$store.dispatch('product/initData');
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
  },
  methods: {
    async getData () {
      this.clearData();
      for (let i = 1; i <= 3; i++) {
        const params = {
          startTime: this.createdAtRange[0],
          endTime: this.createdAtRange[1],
          chart: i
        };
        try {
          const res = await getGameStatistic(params);
          this.$set(this, 'data', res.data);
          i !== 3 && this.$set(this, 'totalData', res.pageData);
          this.data && this.setChartData(this.data, i);
        } catch (err) {
          this.alertWindow(err.message);
        }
      }
      this.searchStatus = true;
    },
    setChartData (data, i) {
      if (i < 3) {
        const listData = [this.setList(data, 'total'), 0, this.setList(data, 'sumBet'), this.setList(data, 'sumResult'), this.setList(data, 'company')];
        data.forEach((x, index) => {
          this[`chartData${i}`].dateList[index] = i === 1 ? this.productTypeObject[x.gameClass] : this.productObject[x.pid];
        });
        this.labelList.forEach((x, index) => {
          this[`chartData${i}`].list[index] = {
            name: this.labelList[index],
            list: listData[index]
          };
        });
        data.forEach((x, index) => {
          this[`chartData${i + 3}`].dateList[index] = i === 1 ? this.productTypeObject[x.gameClass] : this.productObject[x.pid];
          this[`chartData${i + 3}`].list[index] = x.total;
        });
      } else {
        this[`chartData${i}`].dateList[0] = '';
        data.forEach((x, index) => {
          this[`chartData${i}`].list[index] = {
            name: this.productObject[x.pid] + '(' + this.productTypeObject[x.gameClass] + ')',
            list: [x.total]
          };
        });
      }
    },
    setList (data, target) {
      return data.map(x => x[target]) || 0;
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    clearData () {
      this.searchStatus = false;
      this.data = [];
      for (let i = 1; i <= 5; i++) {
        this[`chartData${i}`] = {
          dateList: [],
          list: []
        };
      }
      for (const i in this.switchStatus) {
        this.switchStatus[i] = true;
      }
    },
    resetFilter () {
      this.createdAtRange = [];
    }
  }
};
</script>
