<template>
  <div class="section-body">
    <div class="row col-12 card card-body mb-3">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="filterStatus" class="border p-3">
        <div>
          {{ getLang('時間範圍') }}:
          <b-input-group class="mt-1">
            <template #prepend>
              <b-dropdown variant="primary" dropdown>
                <template #button-content>
                  <i class="fas fa-calendar"></i>
                </template>
                <b-dropdown-item
                  v-for="(item,index) in dateTimeArray"
                  :key="index"
                  @click="setDate(item,'createdAtRange')"
                >
                  {{ item.show }}
                </b-dropdown-item>
              </b-dropdown>
            </template>
            <date-picker
              v-model="createdAtRange"
              range
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
              placeholder=""
            />
          </b-input-group>
        </div>
        <div style="width:500px">
          <div class="mb-1 d-flex my-2">
            <button class="btn btn-primary btn-sm mr-1" @click="selectAll(1)">{{ getLang('全選') }}</button>
            <button class="btn btn-primary btn-sm" @click="selectAll(0)">{{ getLang('取消全選') }}</button>
          </div>
          <div class="d-flex border p-2">
            <b-form-checkbox-group
              v-model="filterRange"
              :options="filterList"
            />
          </div>
        </div>
        <div class="mt-2">
          <button class="btn btn-primary mr-1" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary" @click="resetFilter()">{{ getLang('重置') }}</button>
        </div>
      </div>
    </div>
    <template v-if="winData">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('首30玩家列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list1 = !switchStatus.list1"><i class="fas" :class="switchStatus.list1?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list1">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 1)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable1')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list1" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable1"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("總紀錄條數") }}</th>
                <th>{{ getLang("流水") }}</th>
                <th>{{ getLang("下注") }}</th>
                <th>{{ getLang("賠付") }}</th>
                <th>{{ getLang("輸贏") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in winData"
                v-show="!search.list1 || item.memberAccount.indexOf(search.list1)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.memberAccount }}</td>
                <td>{{ item.total }}</td>
                <td>{{ moneyFormat(item.sumValidbet) }}</td>
                <td>{{ moneyFormat(item.sumBet) }}</td>
                <td>{{ moneyFormat(item.sumResult) }}</td>
                <td>{{ moneyFormat(item.winloss) }}</td>
              </tr>
            </tbody>
            <b-tfoot>
              <b-tr>
                <b-td colspan="2" variant="secondary">Total</b-td>
                <b-td colspan="1" variant="secondary">{{ winTotalData.total }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(winTotalData.sumValidbet) }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(winTotalData.sumBet) }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(winTotalData.sumResult) }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(winTotalData.sumWinloss) }}</b-td>
              </b-tr>
            </b-tfoot>
          </table>
        </div>
      </div>
    </template>
    <template v-if="loseData">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('首30輸家列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list2 = !switchStatus.list2"><i class="fas" :class="switchStatus.list2?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list2">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 2)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable2')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list2" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable2"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("總紀錄條數") }}</th>
                <th>{{ getLang("流水") }}</th>
                <th>{{ getLang("下注") }}</th>
                <th>{{ getLang("賠付") }}</th>
                <th>{{ getLang("輸贏") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in loseData"
                v-show="!search.list2 || item.memberAccount.indexOf(search.list2)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.memberAccount }}</td>
                <td>{{ item.total }}</td>
                <td>{{ moneyFormat(item.sumValidbet) }}</td>
                <td>{{ moneyFormat(item.sumBet) }}</td>
                <td>{{ moneyFormat(item.sumResult) }}</td>
                <td>{{ moneyFormat(item.winloss) }}</td>
              </tr>
            </tbody>
            <b-tfoot>
              <b-tr>
                <b-td colspan="2" variant="secondary">Total</b-td>
                <b-td colspan="1" variant="secondary">{{ loseTotalData.total }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(loseTotalData.sumValidbet) }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(loseTotalData.sumBet) }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(loseTotalData.sumResult) }}</b-td>
                <b-td colspan="1" variant="secondary">{{ moneyFormat(loseTotalData.sumWinloss) }}</b-td>
              </b-tr>
            </b-tfoot>
          </table>
        </div>
      </div>
    </template>
    <template v-if="notOperateData && filterRange.indexOf(3) !== -1">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('未存款列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list3 = !switchStatus.list3"><i class="fas" :class="switchStatus.list3?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list3">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 3)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable3')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list3" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable3"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("註冊時間") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in notOperateData.Undeposited_list"
                v-show="!search.list3 || item.account.indexOf(search.list3)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.account }}</td>
                <td>{{ simpleDateFormat(item.created_at) || '--' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
    <template v-if="notOperateData && filterRange.indexOf(4) !== -1">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('未登錄列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list4 = !switchStatus.list4"><i class="fas" :class="switchStatus.list4?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list4">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 4)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable4')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list4" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable4"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("註冊時間") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in notOperateData.Not_login"
                v-show="!search.list4 || item.account.indexOf(search.list4)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.account }}</td>
                <td>{{ simpleDateFormat(item.created_at) || '--' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
    <template v-if="transactionData && filterRange.indexOf(5) !== -1">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('首30存款玩家列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list5 = !switchStatus.list5"><i class="fas" :class="switchStatus.list5?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list5">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 5)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable5')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list5" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable5"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("總額") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in transactionData.List_of_deposit"
                v-show="!search.list5 || item.memberAccount.indexOf(search.list5)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.memberAccount }}</td>
                <td>{{ moneyFormat(item.deposit_sumAmount) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
    <template v-if="transactionData && filterRange.indexOf(6) !== -1">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('首30取款玩家列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list6 = !switchStatus.list6"><i class="fas" :class="switchStatus.list6?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list6">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 6)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable6')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list6" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable6"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("總額") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in transactionData.List_of_withdrawal"
                v-show="!search.list6 || item.memberAccount.indexOf(search.list6)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.memberAccount }}</td>
                <td>{{ moneyFormat(Math.abs(item.withdrawal_sumAmount)) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
    <template v-if="transactionData && filterRange.indexOf(7) !== -1">
      <div class="row col-12 card card-body mb-3">
        <div class="d-flex justify-content-between">
          <h6>{{ getLang('首30優惠玩家列表') }}</h6>
          <div style="cursor:pointer" @click="switchStatus.list7 = !switchStatus.list7"><i class="fas" :class="switchStatus.list6?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="switchStatus.list7">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getData">
                <option v-for="(item,index) in [30]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx', 7)">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable7')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search.list7" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
          <table
            id="printTable7"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ getLang("用戶名") }}</th>
                <th>{{ getLang("總額") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in transactionData.List_of_discount"
                v-show="!search.list7 || item.memberAccount.indexOf(search.list7)!=-1"
                :key="index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.memberAccount }}</td>
                <td>{{ moneyFormat(item.discount_sumAmount) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberWinloseStatistic, getMemberNotOperateStatistic, getMemberTransactionStatistic } from '~/api/statistics.js';
export default {
  data () {
    return {
      filterStatus: true,
      filterList: [{ text: '首30玩家列表', value: 1 }, { text: '首30輸家列表', value: 2 }, { text: '未存款列表', value: 3 }, { text: '未登錄列表', value: 4 }, { text: '首30存款玩家列表', value: 5 }, { text: '首30提款玩家列表', value: 6 }, { text: '首30優惠玩家列表', value: 7 }],
      filterRange: [],
      switchStatus: {
        list1: true,
        list2: true,
        list3: true,
        list4: true,
        list5: true,
        list6: true,
        list7: true
      },
      search: {
        list1: '',
        list2: '',
        list3: '',
        list4: '',
        list5: '',
        list6: '',
        list7: ''
      },
      pageData: { page: 0, limit: 30 },
      winData: null,
      winTotalData: null,
      loseData: null,
      loseTotalData: null,
      notOperateData: null,
      transactionData: null,
      createdAtRange: [],
      routeName: this.$route.path.split('/')[2]
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
    this.selectAll(1);
  },
  methods: {
    getData () {
      this.clearData();
      const range = [];
      this.filterRange.forEach((x) => {
        switch (x) {
          case 1:
            range.push(1);
            break;
          case 2:
            range.push(2);
            break;
          case 3:
          case 4:
            range.push(3);
            break;
          case 5:
          case 6:
          case 7:
            range.push(4);
            break;
          default:
            break;
        }
      });
      const result = [...new Set(range)];
      result.forEach((x) => {
        switch (x) {
          case 1:
          case 2:
            this.getWinloseData(x);
            break;
          case 3:
            this.getNotOperateData();
            break;
          case 4:
            this.getTransactionData();
            break;
          default:
            break;
        }
      });
    },
    async getWinloseData (type) {
      const params = Object.assign(this.pageData, {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1],
        order: type === 1 ? 'desc' : 'asc'
      });
      try {
        const res = await getMemberWinloseStatistic(params);
        this.$set(this, type === 1 ? 'winData' : 'loseData', res.data);
        this.$set(this, type === 1 ? 'winTotalData' : 'loseTotalData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getNotOperateData () {
      const params = Object.assign(this.pageData, {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1]
      });
      try {
        const res = await getMemberNotOperateStatistic(params);
        this.$set(this, 'notOperateData', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getTransactionData () {
      const params = Object.assign(this.pageData, {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1]
      });
      try {
        const res = await getMemberTransactionStatistic(params);
        this.$set(this, 'transactionData', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    clearData () {
      this.winData = null;
      this.winTotalData = null;
      this.loseData = null;
      this.loseTotalData = null;
      this.notOperateData = null;
      this.transactionData = null;
      for (const i in this.switchStatus) {
        this.switchStatus[i] = true;
      }
    },
    resetFilter () {
      this.createdAtRange = [];
      this.selectAll(1);
    },
    selectAll (type) {
      this.filterRange = [];
      if (type) {
        for (let i = 0; i < this.filterList.length; i++) {
          this.filterRange[i] = this.filterList[i].value;
        }
      }
    },
    setExportData (type, list) {
      let routeName = null;
      const tableHeader = document.getElementById(`printTable${list}`).rows[0];
      let data = null;
      let total = null;
      switch (list) {
        case 1:
          routeName = this.routeName + '-win';
          data = JSON.parse(JSON.stringify(this.winData));
          total = Object.assign({}, this.winTotalData);
          data.forEach((x) => {
            x.sumValidbet = this.moneyFormat(x.sumValidbet);
            x.sumBet = this.moneyFormat(x.sumBet);
            x.sumResult = this.moneyFormat(x.sumResult);
            x.winloss = this.moneyFormat(x.winloss);
          });
          total.sumValidbet = this.moneyFormat(total.sumValidbet);
          total.sumBet = this.moneyFormat(total.sumBet);
          total.sumResult = this.moneyFormat(total.sumResult);
          total.sumWinloss = this.moneyFormat(total.sumWinloss);
          break;
        case 2:
          routeName = this.routeName + '-lose';
          data = JSON.parse(JSON.stringify(this.loseData));
          total = Object.assign({}, this.loseTotalData);
          data.forEach((x) => {
            x.sumValidbet = this.moneyFormat(x.sumValidbet);
            x.sumBet = this.moneyFormat(x.sumBet);
            x.sumResult = this.moneyFormat(x.sumResult);
            x.winloss = this.moneyFormat(x.winloss);
          });
          total.sumValidbet = this.moneyFormat(total.sumValidbet);
          total.sumBet = this.moneyFormat(total.sumBet);
          total.sumResult = this.moneyFormat(total.sumResult);
          total.sumWinloss = this.moneyFormat(total.sumWinloss);
          break;
        case 3:
          routeName = this.routeName + '-notDeposit';
          data = JSON.parse(JSON.stringify(this.notOperateData.Undeposited_list));
          data.forEach((x) => {
            x.created_at = this.simpleDateFormat(x.created_at);
          });
          total = {};
          break;
        case 4:
          routeName = this.routeName + '-notLogin';
          data = JSON.parse(JSON.stringify(this.notOperateData.Not_login));
          data.forEach((x) => {
            x.created_at = this.simpleDateFormat(x.created_at);
          });
          total = {};
          break;
        case 5:
          routeName = this.routeName + '-deposit';
          data = JSON.parse(JSON.stringify(this.transactionData.List_of_deposit));
          data.forEach((x) => {
            x.deposit_sumAmount = this.moneyFormat(x.deposit_sumAmount);
          });
          total = {};
          break;
        case 6:
          routeName = this.routeName + '-withdrawal';
          data = JSON.parse(JSON.stringify(this.transactionData.List_of_withdrawal));
          data.forEach((x) => {
            x.withdrawal_sumAmount = this.moneyFormat(x.withdrawal_sumAmount);
          });
          total = {};
          break;
        case 7:
          routeName = this.routeName + '-discount';
          data = JSON.parse(JSON.stringify(this.transactionData.List_of_discount));
          data.forEach((x) => {
            x.discount_sumAmount = this.moneyFormat(x.discount_sumAmount);
          });
          total = {};
          break;
        default:
          break;
      }

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
