<template>
  <div class="section-body">
    <div class="row col-12 card card-body mb-3 pt-2">
      <b-card-header header-tag="nav">
        <b-nav card-header tabs>
          <b-nav-item :active="tabIndex===0" @click="tabIndex=0">{{ getLang('搜尋條件') }}</b-nav-item>
          <b-nav-item :active="tabIndex===1" @click="tabIndex=1">{{ getLang('更改會員群組') }}</b-nav-item>
          <b-nav-item :active="tabIndex===2" @click="tabIndex=2">{{ getLang('發送信息') }}</b-nav-item>
        </b-nav>
      </b-card-header>
      <template v-if="tabIndex===0">
        <div class="my-2 text-right" style="cursor:pointer" @click="filterStatus = !filterStatus">
          <i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i>
        </div>
        <div v-if="filterStatus" class="d-flex border p-2 flex-wrap">
          <div class="col-md-6 my-2">
            <b-form-group class="mb-2" label="時間範圍">
              <b-input-group>
                <template #prepend>
                  <b-dropdown variant="primary" dropdown>
                    <template #button-content>
                      <i class="fas fa-calendar"></i>
                    </template>
                    <b-dropdown-item
                      v-for="(item,index) in dateTimeArray"
                      :key="index"
                      @click="setDate(item,'createdAtRange')"
                    >
                      {{ item.show }}
                    </b-dropdown-item>
                  </b-dropdown>
                </template>
                <date-picker
                  v-model="createdAtRange"
                  range
                  type="datetime"
                  value-type="format"
                  format="YYYY-MM-DD HH:mm:ss"
                  placeholder=""
                />
              </b-input-group>
            </b-form-group>
            <div class="my-1">
              {{ getLang('記錄類型') }}
              <div class="mt-1 w-50">
                <select v-model="postData.reportType" class="w-100 p-1">
                  <option value="-1">{{ getLang("請選擇") }}</option>
                  <option v-for="(item,index) in reportTypeList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
              </div>
            </div>
            <div class="my-1">
              Number of Records
              <div class="mt-1 w-50">
                <select v-model="postData.number" class="w-100 p-1">
                  <option v-for="(item,index) in numberList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
              </div>
            </div>
            <div class="my-1">
              {{ getLang('狀態') }}
              <div class="mt-1 w-50">
                <select v-model="postData.status" class="w-100 p-1">
                  <option value="-1">{{ getLang("全部") }}</option>
                  <option v-for="(item,index) in statusList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
              </div>
            </div>
            <div class="my-1">
              {{ getLang('暫停下注') }}
              <div class="mt-1 w-50">
                <select v-model="postData.betting" class="w-100 p-1">
                  <option value="-1">{{ getLang("全部") }}</option>
                  <option v-for="(item,index) in betList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div>
              <div class="d-flex mb-2">
                <span class="mr-3">{{ getLang('會員群組') }}</span>
                <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll(1)">{{ getLang('全選') }}</a>
                <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll(0)">{{ getLang('取消全選') }}</a>
              </div>
              <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
                <b-form-checkbox-group
                  v-if="postData.gid"
                  v-model="postData.gid"
                  :options="memberGroupList"
                />
              </div>
            </div>
            <div class="my-2">
              {{ getLang('總存款額') }}
              <div class="d-flex mt-1 w-50">
                <select v-model="postData.depositSymbol" class="mr-2 p-1">
                  <option v-for="(item,index) in symbolList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
                <input v-model="postData.depositAmount" type="text" class="w-100" />
              </div>
            </div>
            <div class="my-2">
              {{ getLang('總取款額') }}
              <div class="d-flex mt-1 w-50">
                <select v-model="postData.withdrawSymbol" class="mr-2 p-1">
                  <option v-for="(item,index) in symbolList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
                <input v-model="postData.withdrawAmount" type="text" class="w-100" />
              </div>
            </div>
            <div class="my-2">
              {{ getLang('總流水') }}
              <div class="d-flex mt-1 w-50">
                <select v-model="postData.flowSymbol" class="mr-2 p-1">
                  <option v-for="(item,index) in symbolList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
                <input v-model="postData.flowAmount" type="text" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <h6>{{ getLang('高級設置') }}</h6>
          <div style="cursor:pointer" @click="filterStatus2 = !filterStatus2"><i class="fas" :class="filterStatus2?'fa-plus':'fa-minus'"></i></div>
        </div>
        <div v-if="filterStatus2" class="d-flex border p-2 flex-wrap">
          <div class="col-md-6 my-2">
            <div class="my-1">
              {{ getLang('篩選') }}
              <div class="mt-1 w-50">
                <select v-model="postData.tableType" class="w-100 p-1">
                  <option value="-1">{{ getLang("請選擇") }}</option>
                  <option v-for="(item,index) in tableTypeList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
              </div>
            </div>
            <template v-if="postData.tableType > 0">
              <b-form-group class="my-2" label="時間範圍">
                <b-input-group>
                  <template #prepend>
                    <b-dropdown variant="primary" dropdown>
                      <template #button-content>
                        <i class="fas fa-calendar"></i>
                      </template>
                      <b-dropdown-item
                        v-for="(item,index) in dateTimeArray"
                        :key="index"
                        @click="setDate(item,'createdAtRange2')"
                      >
                        {{ item.show }}
                      </b-dropdown-item>
                    </b-dropdown>
                  </template>
                  <date-picker
                    v-model="createdAtRange2"
                    range
                    type="datetime"
                    value-type="format"
                    format="YYYY-MM-DD HH:mm:ss"
                    placeholder=""
                  />
                </b-input-group>
              </b-form-group>
            </template>
            <div class="my-1">
              <div class="mb-1 mt-2">{{ getLang('註冊域名') }}</div>
              <div class="mb-1 w-50">
                <input v-model="postData.domain" type="text" class="w-100" />
              </div>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div class="my-1">
              Upcoming Birthday
              <div class="mt-1 w-50">
                <select v-model="postData.birthday" class="w-100 p-1">
                  <option value="-1">{{ getLang("請選擇") }}</option>
                  <option v-for="(item,index) in birthdayList" :key="index" :value="item.value">{{ item.show }}</option>
                </select>
              </div>
            </div>
            <div class="d-flex my-1">
              <div class="w-25 mr-2">
                <div class="mb-1 mt-2">{{ getLang('轉款方') }}</div>
                <div class="mb-1">
                  <input disabled type="text" class="w-100" />
                </div>
              </div>
              <div class="w-25 ml-2">
                <div class="mb-1 mt-2">{{ getLang('收款方') }}</div>
                <div class="mb-1">
                  <input disabled type="text" class="w-100" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mt-3">
          <button class="btn btn-primary btn-md" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary btn-md ml-2" @click="resetFilter()">{{ getLang('重置') }}</button>
        </div>
        <div class="row mt-3">
          <div v-if="searchStatus" class="col-sm-12">
            <hr />
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="getData">
                <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
            <div class="d-inline-flex pr-1 mb-3 form-inline">
              <button class="btn btn-primary btn-sm" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
            </div>
            <div class="d-inline-flex pr-1 mb-3 form-inline">
              <button class="btn btn-primary btn-sm" @click="printData('printTable')">{{ getLang('打印') }}</button>
            </div>
            <div class="d-inline-flex mb-3 form-inline float-right">
              {{ getLang('搜尋') }}:<input v-model.lazy="search" type="search" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table v-if="searchStatus" id="printTable" class="table table-striped table-bordered ">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('用戶名') }}</th>
                    <th>{{ getLang('電子郵箱') }}</th>
                    <th>{{ getLang('聯絡號碼') }}</th>
                    <th>{{ getLang('生日') }}</th>
                    <th>{{ getLang('會員群組') }}</th>
                    <th>{{ getLang('狀態') }}</th>
                    <th>{{ getLang('暫停下注狀態') }}</th>
                    <th>{{ getLang('總額') }}</th>
                    <th class="text-center"><input type="checkBox" @click="selectAllItem()" /></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in data" v-show="!search || item.operator_accounts.indexOf(search)!=-1" :key="index" role="row">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.operator_accounts }}</td>
                    <td>{{ item.positive_count || 0 }}</td>
                    <td>{{ item.Avg_Deposit_Process_Time }}</td>
                    <td>{{ item.negativ_count || 0 }}</td>
                    <td>{{ item.Avg_WIthdraw_Process_Time }}</td>
                    <td>{{ item.promos_count || 0 }}</td>
                    <td>{{ item.Avg_Promotion_Process_Time }}</td>
                    <td>{{ item.Avg_Promotion_Process_Time }}</td>
                    <td class="text-center"><input type="checkBox" /></td>
                  </tr>
                  <tr v-if="!data.length">
                    <td colspan="10" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
      <template v-if="tabIndex===1">
        <div class="my-2 font-bold">{{ getLang('請選擇目標會員群組') }}</div>
        <div class="w-25">
          <select v-model="postData2.gid" class="w-100 p-1">
            <option v-for="(item,index) in memberGroupList" :key="index" :value="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div class="mt-2">
          <button class="btn btn-primary" @click="changeMemberGroup()">{{ getLang('提交') }}</button>
        </div>
      </template>
      <template v-if="tabIndex===2">
        <div class="my-2 font-bold">{{ getLang('發送方式') }}</div>
        <div class="w-25">
          <select v-model="postData3.type" class="w-100 p-1">
            <option v-for="(item,index) in messageList" :key="index" :value="item.value">{{ item.show }}</option>
          </select>
        </div>
        <div class="mb-1 mt-2">{{ getLang('主題') }}</div>
        <div class="mb-1 w-25">
          <input v-model="postData3.title" type="text" class="w-100" />
        </div>
        <div class="mb-1 mt-2">{{ getLang('內容') }}</div>
        <div class="mb-1 w-25">
          <input v-model="postData3.content" type="text" class="w-100" />
        </div>
        <div class="mt-2">
          <button class="btn btn-primary" @click="sendMessage()">{{ getLang('發送訊息') }}</button>
        </div>
      </template>
      <div class="row">
        <pagination v-if="data.length && pageData && tabIndex === 0" :page-data="pageData" @getData="getData" />
      </div>
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberGroupList } from '~/api/member.js';
import { getTransactionStatistic } from '~/api/statistics.js';
export default {
  data () {
    return {
      tabIndex: 0,
      filterStatus: true,
      filterStatus2: false,
      searchStatus: false,
      postData: {
        gid: [],
        reportType: -1,
        number: 1,
        status: -1,
        betting: -1,
        depositSymbol: 1,
        depositAmount: '',
        withdrawSymbol: 1,
        withdrawAmount: '',
        flowSymbol: 1,
        flowAmount: '',
        tableType: -1,
        birthday: -1,
        domain: ''
      },
      postData2: {
        gid: 1,
        mid: []
      },
      postData3: {
        type: 1,
        title: '',
        content: '',
        mid: []
      },
      reportTypeList: [
        { show: 'Top Deposit', value: 1 },
        { show: 'Top Withdraw', value: 2 },
        { show: 'Top Promotion', value: 3 },
        { show: 'Top Rebate', value: 4 },
        { show: 'Top Winner', value: 5 },
        { show: 'Top Winner', value: 6 },
        { show: '註冊時間', value: 7 },
        { show: '存款 > 取款', value: 8 },
        { show: '取款 > 存款', value: 9 }
      ],
      numberList: [
        { show: 'Top 10', value: 1 },
        { show: 'Top 30', value: 2 },
        { show: 'Top 50', value: 3 },
        { show: 'Top 100', value: 4 },
        { show: 'Top 500', value: 5 },
        { show: 'Top 1000', value: 6 },
        { show: '全部', value: 7 }
      ],
      statusList: [
        { show: '活躍', value: 1 },
        { show: '非活躍', value: 2 }
      ],
      betList: [
        { show: '激活下注', value: 1 },
        { show: '暫停下注', value: 2 }
      ],
      symbolList: [
        { show: '<', value: 1 },
        { show: '=', value: 2 },
        { show: '>', value: 3 }
      ],
      tableTypeList: [
        { show: 'Login User', value: 1 },
        { show: '未登錄列表', value: 2 },
        { show: 'Deposit User', value: 3 },
        { show: '未存款列表', value: 4 },
        { show: '下注', value: 5 },
        { show: 'No Bet', value: 6 }
      ],
      birthdayList: [
        { show: 'Today', value: 1 },
        { show: 'Tomorrow', value: 2 },
        { show: 'This week', value: 3 },
        { show: 'Next week', value: 4 },
        { show: 'This Month', value: 5 },
        { show: 'Next Month', value: 6 },
        { show: 'Custom', value: 7 }
      ],
      messageList: [
        { show: '電子郵箱', value: 1 },
        { show: '短信', value: 2 }
      ],
      search: '',
      data: [],
      pageData: { page: 0, limit: 50 },
      memberGroupList: [],
      createdAtRange: [],
      createdAtRange2: [],
      routeName: this.$route.path.split('/')[2]
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
    this.getMemberGroup();
  },
  methods: {
    async getMemberGroup () {
      const { data } = await getMemberGroupList();
      data.forEach((x) => {
        x.value = x.id;
        x.text = x.name;
      });
      this.memberGroupList = data;
      this.selectAll(1);
    },
    async getData () {
      this.searchStatus = true;
      const params = Object.assign(this.pageData, this.postData, {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1]
      });
      try {
        const res = await getTransactionStatistic(params);
        this.$set(this, 'data', res.data);
        // this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async changeMemberGroup () {
      const params = this.pageData2;
      try {
        const res = await getTransactionStatistic(params);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async sendMessage () {
      const params = this.pageData3;
      try {
        const res = await getTransactionStatistic(params);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    clearData () {
      this.winData = null;
      this.winTotalData = null;
      this.loseData = null;
      this.loseTotalData = null;
      this.notOperateData = null;
      this.transactionData = null;
      for (const i in this.switchStatus) {
        this.switchStatus[i] = true;
      }
    },
    resetFilter () {
      this.postData = {
        gid: [],
        reportType: -1,
        number: 1,
        status: -1,
        betting: -1,
        depositSymbol: 1,
        depositAmount: '',
        withdrawSymbol: 1,
        withdrawAmount: '',
        flowSymbol: 1,
        flowAmount: '',
        tableType: -1,
        birthday: -1,
        domain: ''
      };
      this.createdAtRange = [];
      this.selectAll(1);
    },
    selectAll (type) {
      this.postData.gid = [];
      if (type) {
        for (let i = 0; i < this.memberGroupList.length; i++) {
          this.postData.gid[i] = this.memberGroupList[i].value;
        }
      }
    },
    selectAllItem () {
      console.log(123);
    },
    setExportData (type) {
      const routeName = this.routeName;
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;

      data.forEach((x) => {
        x.sumValidbet = this.moneyFormat(x.sumValidbet);
        x.sumBet = this.moneyFormat(x.sumBet);
        x.sumResult = this.moneyFormat(x.sumResult);
        x.winloss = this.moneyFormat(x.winloss);
      });
      total = Object.assign({}, this.winTotalData);
      total.sumValidbet = this.moneyFormat(total.sumValidbet);
      total.sumBet = this.moneyFormat(total.sumBet);
      total.sumResult = this.moneyFormat(total.sumResult);
      total.sumWinloss = this.moneyFormat(total.sumWinloss);

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
