<template>
  <div class="section-body">
    <div class="row col-12 card card-body">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="filterStatus" class="d-flex border p-2 flex-wrap">
        <div class="col-md-4 my-2">
          <b-form-group class="mb-1" label="時間範圍">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="primary" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>
          <div class="d-flex align-items-center mt-2">
            <button class="btn btn-primary" @click="getData()">{{ getLang('搜尋') }}</button>
            <button class="btn btn-primary ml-2" @click="reset()">{{ getLang('重置') }}</button>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="mb-1">{{ getLang('記錄類型') }}</div>
          <div class="mb-1">
            <select v-model="type" class="p-1 w-75">
              <option v-for="(item,index) in typeList" :key="index" :value="item.value">{{ item.show }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="mb-1">{{ getLang('數額條件') }}</div>
          <div class="mb-1">
            <input v-model="amount" type="text" class="w-75" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div v-if="searchStatus" class="col-sm-12">
          <div class="d-inline-flex pr-3 mb-3 form-inline">
            {{ getLang('顯示') }}
            <select v-model="pageData.limit" @change="getData">
              <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('條目') }}
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </div>
          <div class="d-inline-flex mb-3 form-inline float-right">
            {{ getLang('搜尋') }}:<input v-model.lazy="search" type="search" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table v-if="searchStatus" id="printTable" class="table table-striped table-bordered ">
              <thead>
                <tr role="row">
                  <th>No.</th>
                  <th>{{ getLang('用戶名') }}</th>
                  <th>{{ getLang('名稱') }}</th>
                  <th>{{ getLang('聯絡號碼') }}</th>
                  <th>{{ getLang('電子郵箱') }}</th>
                  <th>{{ getLang('頻率') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in data" v-show="!search || item.account.indexOf(search)!=-1 || item.name.indexOf(search)!=-1" :key="index" role="row">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.account }}</td>
                  <td>{{ item.name || '--' }}</td>
                  <td>{{ item.phone || '--' }}</td>
                  <td>{{ item.email || '--' }}</td>
                  <td>{{ item.bet_count || item.deposit_count }}</td>
                </tr>
                <tr v-if="!data.length">
                  <td colspan="6" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                </tr>
              </tbody>
              <b-tfoot>
                <b-tr v-if="data.length">
                  <b-td colspan="3" variant="secondary" />
                  <b-td colspan="1" variant="secondary">{{ getLang('玩家總頻率：') + totalFrequency }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ getLang('玩家總數：') + totalPlayer }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ getLang('平均玩家頻率：') + avgFrequency }}</b-td>
                </b-tr>
              </b-tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getData" /> -->
      </div>
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getPlayerFrequency } from '~/api/statistics.js';
export default {
  data () {
    return {
      filterStatus: true,
      searchStatus: false,
      data: {},
      pageData: { page: 0, limit: 50 },
      typeList: [{ show: '已投注', value: 1 }, { show: '存款', value: 2 }],
      type: 1,
      amount: '',
      createdAtRange: [],
      search: '',
      whereStatus: 1,
      orderId: 1
    };
  },
  computed: {
    ...mapFields(['dateTimeArray']),
    totalFrequency () {
      let result = 0;
      this.data.forEach((x) => {
        result += x.bet_count ? Number(x.bet_count) : Number(x.deposit_count);
      });
      return result;
    },
    totalPlayer () {
      return this.data.length;
    },
    avgFrequency () {
      return this.totalFrequency / this.totalPlayer;
    }
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    async getData () {
      this.searchStatus = true;
      const params = {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1],
        type: this.type,
        money: this.amount
      };
      try {
        const res = await getPlayerFrequency(params);
        this.$set(this, 'data', res.data);
        // this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    reset () {
      this.createdAtRange = [];
      this.type = 1;
      this.amount = '';
    },
    setExportData (type) {
      const routeName = this.$route.path.split('/')[2];
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;

      data.forEach((x) => {
        x.count = x.bet_count ? x.bet_count : x.deposit_count;
      });
      total = {
        totalFrequency: this.getLang('玩家總頻率：') + this.totalFrequency,
        totalPlayer: this.getLang('玩家總數：') + this.totalPlayer,
        avgFrequency: this.getLang('平均玩家頻率：') + this.avgFrequency
      };

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
