<template>
  <div class="section-body">
    <div class="row col-12 card card-body mb-3">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="filterStatus" class="border p-3">
        <div>
          {{ getLang('時間範圍') }}:
          <b-input-group class="mt-1">
            <template #prepend>
              <b-dropdown variant="primary" dropdown>
                <template #button-content>
                  <i class="fas fa-calendar"></i>
                </template>
                <b-dropdown-item
                  v-for="(item,index) in dateTimeArray"
                  :key="index"
                  @click="setDate(item,'createdAtRange')"
                >
                  {{ item.show }}
                </b-dropdown-item>
              </b-dropdown>
            </template>
            <date-picker
              v-model="createdAtRange"
              range
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
              placeholder=""
            />
          </b-input-group>
        </div>
        <div class="mt-3">
          <button class="btn btn-primary" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary" @click="reset()">{{ getLang('重置') }}</button>
        </div>
      </div>
      <div class="row mt-3">
        <div v-if="searchStatus" class="col-sm-12">
          <div class="d-inline-flex pr-3 mb-3 form-inline">
            {{ getLang('顯示') }}
            <select v-model="pageData.limit" @change="getData">
              <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('條目') }}
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </div>
          <div class="d-inline-flex mb-3 form-inline float-right">
            {{ getLang('搜尋') }}:<input v-model.lazy="search" type="search" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table v-if="searchStatus" id="printTable" class="table table-striped table-bordered ">
              <thead>
                <tr role="row">
                  <th>No.</th>
                  <th>{{ getLang('用戶名') }}</th>
                  <th>{{ getLang('總存款交易') }}</th>
                  <th>Avg. Deposit Process Time</th>
                  <th>{{ getLang('總提款交易') }}</th>
                  <th>Avg. WIthdraw Process Time</th>
                  <th>{{ getLang('總優惠交易') }}</th>
                  <th>Avg. Promotion Process Time</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in data" v-show="!search || item.operator_accounts.indexOf(search)!=-1" :key="index" role="row">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.operator_accounts }}</td>
                  <td v-if="item.positive_count">
                    <nuxt-link :to="`/order/real-time?${item.operator_accounts}&1`">
                      {{ item.positive_count }} <i class="fas fa-external-link-alt"></i>
                    </nuxt-link>
                  </td>
                  <td v-else>{{ item.positive_count || 0 }}</td>
                  <td>{{ setTime(item.Avg_Deposit_Process_Time) }}</td>
                  <td v-if="item.negativ_count">
                    <nuxt-link :to="`/order/real-time?${item.operator_accounts}&2`">
                      {{ item.negativ_count }} <i class="fas fa-external-link-alt"></i>
                    </nuxt-link>
                  </td>
                  <td v-else>{{ item.negativ_count || 0 }}</td>
                  <td>{{ setTime(item.Avg_WIthdraw_Process_Time) }}</td>
                  <td v-if="item.promos_count">
                    <nuxt-link :to="`/order/real-time?${item.operator_accounts}&5`">
                      {{ item.promos_count }} <i class="fas fa-external-link-alt"></i>
                    </nuxt-link>
                  </td>
                  <td v-else>{{ item.promos_count || 0 }}</td>
                  <td>{{ setTime(item.Avg_Promotion_Process_Time) }}</td>
                </tr>
                <tr v-if="!data.length">
                  <td colspan="8" class="text-center">{{ getLang('沒有任何記錄') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getData" /> -->
      </div>
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getTransactionStatistic } from '~/api/statistics.js';
export default {
  data () {
    return {
      filterStatus: true,
      searchStatus: false,
      data: {},
      pageData: { page: 0, limit: 50 },
      createdAtRange: [],
      search: '',
      whereStatus: 1,
      orderId: 1
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    async getData () {
      this.searchStatus = true;
      const params = {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1]
      };
      try {
        const res = await getTransactionStatistic(params);
        this.$set(this, 'data', res.data);
        // this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    setTime (time) {
      if (time) {
        const data = String(time).split('.');
        const hour = (data[0] / 60).toFixed();
        const minute = data[0] % 60;
        const second = (Number('0.' + data[1]) * 60).toFixed();
        return hour + ':' + (String(minute).length === 2 ? minute : '0' + minute) + ':' + (String(second).length === 2 ? second : '0' + second);
      } else {
        return '0:00:00';
      }
    },
    reset () {
      this.createdAtRange = [];
    },
    setExportData (type) {
      const routeName = this.$route.path.split('/')[2];
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;

      data.forEach((x) => {
        x.Avg_Deposit_Process_Time = this.setTime(x.Avg_Deposit_Process_Time);
        x.Avg_WIthdraw_Process_Time = this.setTime(x.Avg_WIthdraw_Process_Time);
        x.Avg_Promotion_Process_Time = this.setTime(x.Avg_Promotion_Process_Time);
      });
      total = {};

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
