<template>
  <div class="section-body">
    <div class="row col-12 card card-body mb-3">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="filterStatus = !filterStatus"><i class="fas" :class="filterStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="filterStatus" class="border p-3">
        <div>
          {{ getLang('時間範圍') }}:
          <b-input-group class="mt-1">
            <template #prepend>
              <b-dropdown variant="primary" dropdown>
                <template #button-content>
                  <i class="fas fa-calendar"></i>
                </template>
                <b-dropdown-item
                  v-for="(item,index) in dateTimeArray"
                  :key="index"
                  @click="setDate(item,'createdAtRange')"
                >
                  {{ item.show }}
                </b-dropdown-item>
              </b-dropdown>
            </template>
            <date-picker
              v-model="createdAtRange"
              range
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
              placeholder=""
            />
          </b-input-group>
        </div>
        <div class="mt-3">
          <button class="btn btn-primary mr-1" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary" @click="resetFilter()">{{ getLang('重置') }}</button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between" style="margin-right:30px">
      <template v-if="memberData">
        <div class="row col-3 card card-body" :class="{ 'hide-heigth': !switchStatus.list1 }">
          <div class="d-flex justify-content-between">
            <h6>{{ getLang('會員') }}</h6>
            <div style="cursor:pointer" @click="switchStatus.list1 = !switchStatus.list1"><i class="fas" :class="switchStatus.list1?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if="switchStatus.list1">
            <div class="d-flex justify-content-between my-1 font-weight-bold">
              <div># <span class="ml-2">{{ getLang('描述') }}</span></div>
              <div>{{ getLang('總額') }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>1. <span class="ml-2">{{ getLang('會員總數') }}</span></div>
              <div>{{ memberData.MemberTotal || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>2. <span class="ml-2">{{ getLang('總激活會員') }}</span></div>
              <div>{{ memberData.sumBetStatus || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>3. <span class="ml-2">{{ getLang('每日平均會員註冊') }}</span></div>
              <div>{{ memberData.every_day_member || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>4. <span class="ml-2">{{ getLang('總獨特會員登錄') }}</span></div>
              <div>{{ memberData.login_member_count || 0 }}</div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="depositData">
        <div class="row col-3 card card-body" :class="{ 'hide-heigth': !switchStatus.list2 }">
          <div class="d-flex justify-content-between">
            <h6>{{ getLang('存款') }}</h6>
            <div style="cursor:pointer" @click="switchStatus.list2 = !switchStatus.list2"><i class="fas" :class="switchStatus.list2?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if=" switchStatus.list2">
            <div class="d-flex justify-content-between my-1 font-weight-bold">
              <div># <span class="ml-2">{{ getLang('描述') }}</span></div>
              <div>{{ getLang('總額') }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>1. <span class="ml-2">{{ getLang('總存款額') }}</span></div>
              <div>{{ moneyFormat(depositData.positive_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>2. <span class="ml-2">{{ getLang('總存款交易') }}</span></div>
              <div>{{ depositData.positive_count || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>3. <span class="ml-2">{{ getLang('平均存款') }}</span></div>
              <div>{{ moneyFormat(depositData.Avg_positive_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>4. <span class="ml-2">{{ getLang('每日平均存款') }}</span></div>
              <div>{{ moneyFormat(depositData.every_positive_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>5. <span class="ml-2">{{ getLang('每日平均存款交易') }}</span></div>
              <div>{{ depositData.every_positive_count || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>6. <span class="ml-2">Avg. Deposit Process Time</span></div>
              <div>{{ setMinute(depositData.Avg_Deposit_Process_Time) }}</div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="withdrawalData">
        <div class="row col-3 card card-body" :class="{ 'hide-heigth': !switchStatus.list3 }">
          <div class="d-flex justify-content-between">
            <h6>{{ getLang('取款') }}</h6>
            <div style="cursor:pointer" @click="switchStatus.list3 = !switchStatus.list3"><i class="fas" :class="switchStatus.list3?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if="switchStatus.list3">
            <div class="d-flex justify-content-between my-1 font-weight-bold">
              <div># <span class="ml-2">{{ getLang('描述') }}</span></div>
              <div>{{ getLang('總額') }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>1. <span class="ml-2">{{ getLang('總取款額') }}</span></div>
              <div>{{ moneyFormat(-withdrawalData.negativ_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>2. <span class="ml-2">{{ getLang('總取款交易') }}</span></div>
              <div>{{ withdrawalData.negativ_count || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>3. <span class="ml-2">{{ getLang('平均取款') }}</span></div>
              <div>{{ moneyFormat(-withdrawalData.Avg_negativ_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>4. <span class="ml-2">{{ getLang('每日平均取款') }}</span></div>
              <div>{{ moneyFormat(-withdrawalData.every_negativ_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>5. <span class="ml-2">{{ getLang('每日平均取款交易') }}</span></div>
              <div>{{ withdrawalData.every_negativ_count || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>6. <span class="ml-2">Avg. WIthdraw Process Time</span></div>
              <div>{{ setMinute(withdrawalData.Avg_WIthdraw_Process_Time) }}</div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="promoData">
        <div class="row col-3 card card-body" :class="{ 'hide-heigth': !switchStatus.list4 }">
          <div class="d-flex justify-content-between">
            <h6>{{ getLang('優惠') }}</h6>
            <div style="cursor:pointer" @click="switchStatus.list4 = !switchStatus.list4"><i class="fas" :class="switchStatus.list4?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if="switchStatus.list4">
            <div class="d-flex justify-content-between my-1 font-weight-bold">
              <div># <span class="ml-2">{{ getLang('描述') }}</span></div>
              <div>{{ getLang('總額') }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>1. <span class="ml-2">{{ getLang('優惠活動總數') }}</span></div>
              <div>{{ moneyFormat(promoData.promos_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>2. <span class="ml-2">{{ getLang('總優惠交易') }}</span></div>
              <div>{{ promoData.promos_count || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>3. <span class="ml-2">{{ getLang('平均優惠') }}</span></div>
              <div>{{ moneyFormat(promoData.Avg_promos_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>4. <span class="ml-2">{{ getLang('每日平均優惠') }}</span></div>
              <div>{{ moneyFormat(promoData.every_promos_amount) }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>5. <span class="ml-2">{{ getLang('每日平均優惠交易') }}</span></div>
              <div>{{ promoData.every_promos_count || 0 }}</div>
            </div>
            <hr class="my-1" />
            <div class="d-flex justify-content-between my-1">
              <div>6. <span class="ml-2">Avg. Promotion Process Time</span></div>
              <div>{{ setMinute(promoData.Avg_Promotion_Process_Time) }}</div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div class="d-flex justify-content-between" style="margin-right:30px">
      <template v-if="data.invest_funds">
        <div class="row col-4 card card-body" :class="{ 'hide-heigth': !switchStatus.chart1 }">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <h6>{{ getLang('繁忙時段') }}</h6>
              <span>({{ getLang('總登錄次數') }}:{{ data.invest_peak_count }})</span>
            </div>
            <div style="cursor:pointer" @click="switchStatus.chart1 = !switchStatus.chart1"><i class="fas" :class="switchStatus.chart1?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if="chartData1 && switchStatus.chart1">
            <bar-chart
              :chart-data="chartData1"
              :options="{
                responsive: true,
                maintainAspectRatio: false
              }"
            />
          </div>
        </div>
      </template>
      <template v-if="data.deposit_peak_hours">
        <div class="row col-4 card card-body" :class="{ 'hide-heigth': !switchStatus.chart2 }">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <h6>{{ getLang('存款繁忙時段') }}</h6>
              <span>({{ getLang('總存款次數') }}:{{ data.deposit_peak_count }})</span>
            </div>
            <div style="cursor:pointer" @click="switchStatus.chart2 = !switchStatus.chart2"><i class="fas" :class="switchStatus.chart2?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if="chartData2 && switchStatus.chart2">
            <bar-chart
              :chart-data="chartData2"
              :options="{
                responsive: true,
                maintainAspectRatio: false
              }"
            />
          </div>
        </div>
      </template>
      <template v-if="data.withdrawal_peak_hours">
        <div class="row col-4 card card-body" :class="{ 'hide-heigth': !switchStatus.chart3 }">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <h6>{{ getLang('提款繁忙時段') }}</h6>
              <span>({{ getLang('總提款次數') }}:{{ data.withdrawal_peak_count }})</span>
            </div>
            <div style="cursor:pointer" @click="switchStatus.chart3 = !switchStatus.chart3"><i class="fas" :class="switchStatus.chart3?'fa-plus':'fa-minus'"></i></div>
          </div>
          <hr class="my-1" />
          <div v-if="chartData3 && switchStatus.chart3">
            <bar-chart
              :chart-data="chartData3"
              :options="{
                responsive: true,
                maintainAspectRatio: false
              }"
            />
          </div>
        </div>
      </template>
    </div>
    <template v-if="data.Most_frequent_bank">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('使用最頻繁的銀行(只計已到賬的存款)') }}</h6>
            <span>({{ getLang('總存款額') }}:{{ data.Most_frequent_bank_positive_count }})</span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart4 = !switchStatus.chart4"><i class="fas" :class="switchStatus.chart4?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData4 && switchStatus.chart4" class="w-50 mx-auto">
          <pie-chart
            :chart-data="chartData4"
          />
        </div>
      </div>
    </template>
    <template v-if="data.Most_popular_offers">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('最受歡迎的優惠') }}</h6>
            <span>({{ getLang('已付總額') }}:{{ data.Most_popular_offers_count }})</span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart5 = !switchStatus.chart5"><i class="fas" :class="switchStatus.chart5?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData5 && switchStatus.chart5" class="w-50 mx-auto">
          <pie-chart
            :chart-data="chartData5"
          />
        </div>
      </div>
    </template>
    <template v-if="data.Member_device">
      <div class="row col-12 card card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h6>{{ getLang('會員曾使用過的遊戲平臺') }}</h6>
            <span>({{ getLang('總會員人數') }}:{{ data.Member_device_count }})</span>
          </div>
          <div style="cursor:pointer" @click="switchStatus.chart6 = !switchStatus.chart6"><i class="fas" :class="switchStatus.chart6?'fa-plus':'fa-minus'"></i></div>
        </div>
        <hr class="my-1" />
        <div v-if="chartData6 && switchStatus.chart6" class="w-50 mx-auto">
          <pie-chart
            :chart-data="chartData6"
          />
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getWebStatistic } from '~/api/statistics.js';
export default {
  data () {
    return {
      filterStatus: true,
      switchStatus: {
        list1: true,
        list2: true,
        list3: true,
        list4: true,
        chart1: true,
        chart2: true,
        chart3: true,
        chart4: true,
        chart5: true,
        chart6: true
      },
      data: {},
      memberData: null,
      depositData: null,
      withdrawalData: null,
      promoData: null,
      chartData1: {
        dateList: [],
        list: []
      },
      chartData2: {
        dateList: [],
        list: []
      },
      chartData3: {
        dateList: [],
        list: []
      },
      chartData4: {
        dateList: [],
        list: []
      },
      chartData5: {
        dateList: [],
        list: []
      },
      chartData6: {
        dateList: [],
        list: []
      },
      timeList: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
      createdAtRange: []
    };
  },
  computed: {
    ...mapFields(['dateTimeArray']),
    ...mapFields('product', ['productObject', 'productTypeObject'])
  },
  mounted () {
    this.$store.dispatch('product/initData');
    this.$store.commit('initDateTimeArray');
    this.setDate(this.dateTimeArray[0], 'createdAtRange');
  },
  methods: {
    async getData () {
      this.clearData();
      const params = {
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1]
      };
      try {
        const res = await getWebStatistic(params);
        this.$set(this, 'data', res.chart);
        this.$set(this, 'memberData', res.member);
        this.$set(this, 'withdrawalData', res.negativ);
        this.$set(this, 'depositData', res.positive);
        this.$set(this, 'promoData', res.promos);
        this.data && this.setChartData(this.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    setChartData () {
      this.chartData1.list = [{ name: '總登入次數', list: [] }];
      this.timeList.forEach((x, index) => {
        this.chartData1.dateList[index] = x;
        this.chartData1.list[0].list.push(this.data.invest_funds[x].count);
      });

      this.chartData2.list = [{ name: '總存款次數', list: [] }, { name: '批準交易', list: [] }];
      this.timeList.forEach((x, index) => {
        this.chartData2.dateList[index] = x;
        this.chartData2.list[0].list.push(this.data.deposit_peak_hours[x].count);
        this.chartData2.list[1].list.push(this.data.deposit_peak_hours[x].status_count);
      });

      this.chartData3.list = [{ name: '總提款次數', list: [] }, { name: '批準交易', list: [] }];
      this.timeList.forEach((x, index) => {
        this.chartData3.dateList[index] = x;
        this.chartData3.list[0].list.push(this.data.withdrawal_peak_hours[x].count);
        this.chartData2.list[1].list.push(this.data.withdrawal_peak_hours[x].status_count);
      });

      this.data.Most_frequent_bank.forEach((x, index) => {
        this.chartData4.dateList[index] = x.bank_acc_name;
        this.chartData4.list[index] = x.Most_frequent_bank_positive_count;
      });

      this.data.Most_popular_offers.forEach((x, index) => {
        this.chartData5.dateList[index] = x.title;
        this.chartData5.list[index] = x.Most_popular_offers_count;
      });

      this.data.Member_device.forEach((x, index) => {
        this.chartData6.dateList[index] = x.login_device;
        this.chartData6.list[index] = x.count;
      });
    },
    setList (data, target) {
      return data.map(x => x[target]) || 0;
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    setMinute (minute) {
      if (minute) {
        const data = String(minute).split('.');
        const integer = data[0];
        const decimal = (Number('0.' + data[1]) * 60).toFixed();
        return integer + ':' + decimal;
      } else {
        return '0:00';
      }
    },
    clearData () {
      this.data = {};
      this.memberData = null;
      this.depositData = null;
      this.withdrawalData = null;
      this.promoData = null;
      for (let i = 1; i <= 6; i++) {
        this[`chartData${i}`] = {
          dateList: [],
          list: []
        };
      }
      for (const i in this.switchStatus) {
        this.switchStatus[i] = true;
      }
    },
    resetFilter () {
      this.createdAtRange = [];
    }
  }
};
</script>
<style scoped>
  .hide-heigth {
    height: 77px;
  }
</style>
