<template>
  <div class="row">
    <div class="col-sm-12">
      <b-table :items="data" :fields="fields" striped responsive="sm" class="table table-striped table-bordered">
        <template #thead-top>
        </template>
        <template #cell(id)="row">
          {{ row.index +1 }}
        </template>
        <template #cell(agentAccount)="row">
          <a href="javascript:void(0)" class="nav-link" @click="viewAgentDetail(row, 1)">{{ row.item.agentAccount }}</a>
        </template>
        <template #cell(cost)>
          {{ '0' }}
        </template>
        <template #cell(fee)>
          {{ '0' }}
        </template>
        <template #cell(Member_commission)="row">
          {{ row.item.Member_commission }}
        </template>
        <template #cell(totalCost)>
          {{ '0' }}
        </template>
        <template #cell(totalFee)>
          {{ '0' }}
        </template>
        <template #cell(Agent_commission)="row">
          {{ row.item.Agent_commission }}
        </template>
        <template #row-details="row">
          <AgentTree
            v-if="row.item.subData"
            :fields="fields"
            :data="row.item.subData"
            :view-agent-detail="viewAgentDetail"
          />
          <div v-else>{{ getLang('搜尋不到下線代理人') }}</div>
        </template>
      </b-table>
    </div>
  </div>
</template>
<script>
import agentTree from '~/components/agentTree.vue';
export default {
  name: 'AgentTree',
  components: { agentTree },
  props: ['fields', 'data', 'viewAgentDetail'],
  data () {
    return {
    };
  }
};
</script>
