<template>
  <div v-frag>
    <ul v-if="mergeBreadcrumb" class="breadcrumb breadcrumb-style p-0 m-0">
      <li class="breadcrumb-item active">
        <h4>{{ getLang(mergeBreadcrumb.name) }}</h4>
      </li>
      <li class="breadcrumb-item">
        <nuxt-link to="/">
          <i class="fas fa-home"></i>
        </nuxt-link>
      </li>
      <li v-if="mergeBreadcrumb.parent" class="breadcrumb-item">
        {{ getLang(mergeBreadcrumb.parent) }}
      </li>
      <li v-if="mergeBreadcrumb.name" class="breadcrumb-item active">
        {{ getLang(mergeBreadcrumb.name) }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: ['breadcrumb'],
  computed: {
    mergeBreadcrumb () {
      if (this.breadcrumb) {
        return this.breadcrumb;
      }
      const result = {
        parent: '',
        name: ''
      };
      switch (this.$route.path) {
        case '/':
          result.name = '控制面板';
          break;
        case '/profile':
          result.name = '個人資料';
          break;
        case '/change-password':
          result.name = '修改密碼';
          break;
      }
      return result;
    }
  }
};
</script>
