<template>
  <div v-frag>
    <input
      :checked="showSearchDateTime"
      type="checkbox"
      @click="showSearchDateTime=showSearchDateTime?0:1"
    />
    {{ getLang('搜尋範圍時間') }}:
    <span v-show="showSearchDateTime">
      <date-picker
        v-model="start"
        value-type="format"
        :placeholder="getLang('開始時間')"
        format="YYYY-MM-DD 00:00:00"
        :confirm="true"
        @change="getList"
      >
        <template
          v-slot:icon-calendar
        >
          <i></i>
        </template>
      </date-picker>
      <date-picker
        v-model="end"
        value-type="format"
        :placeholder="getLang('結束時間')"
        format="YYYY-MM-DD 23:59:59"
        :confirm="true"
        @change="getList"
      >
        <template
          v-slot:icon-calendar
        >
          <i></i>
        </template>
      </date-picker>
    </span>
    <button
      v-for="(item,index) in dateTimeArray"
      :key="index"
      class="btn btn-sm"
      :class="['btn-'+(show(item)?'dark':'light')]"
      @click="set(item)"
    >
      {{ getLang(item.show) }}
    </button>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['setDate'],
  data () {
    return {
      showSearchDateTime: 0,
      start: null,
      end: null
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
  },
  methods: {
    show (item) {
      if (item.type == -1) {
        if (!this.start && !this.end) {
          return true;
        }
        if (this.start == -1 && this.end == -1) {
          return true;
        }
      } else {
        if (this.start && this.end) {
          return item.value == (this.start + '~' + this.end);
        }
      }

      return false;
    },
    set (item) {
      if (item.type == -1) {
        this.$set(this, 'start', -1);
        this.$set(this, 'end', -1);
      } else {
        let datetime = item.value;
        if (datetime) {
          datetime = datetime.split('~');
          this.$set(this, 'start', datetime[0]);
          this.$set(this, 'end', datetime[1]);
        }
      }
      this.getList();
    },
    getList () {
      this.setDate(this.start, this.end);
    }
  }
};
</script>
