<template>
  <div class="navbar-nav-s navbar-right">
    <b-dropdown id="btnflag" size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
      <template #button-content>
        <img
          v-if="selectItem"
          alt="image"
          :src="$config.baseURL+'/flag/'+selectItem.country+'.png'"
          class="user-img-radious-style"
          width="30"
        />
      </template>
      <b v-for="(item,index) in langList" :key="index" role="row">
        <b-dropdown-item @click="setSelectLang(item.lang)">
          <img
            :src="$config.baseURL+'/flag/'+item.country+'.png'"
            class="user-img-radious-style"
            width="40"
          />
          <span style="margin-left:0.5rem">{{ getLang(item['name']) }}</span>
        </b-dropdown-item>
      </b>
    </b-dropdown>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';

import { setSessionLang } from '~/api/lang.js';
export default {
  data () {
    return {};
  },
  computed: {
    ...mapFields('lang', ['langList', 'langObject', 'selectLang']),
    selectItem () {
      return this.langObject[this.selectLang];
    }
  },
  mounted () {
    this.$store.dispatch('lang/getLangList', (langList) => {
      this.selectLang = this.$cookies.get('lang');
      if (!this.selectLang) {
        if (langList.length) {
          this.setSelectLang(langList[0].lang);
        }
      }
    });
  },
  methods: {
    setSelectLang (selectLang) {
      this.selectLang = selectLang;
      this.$cookies.set('lang', selectLang);
      setSessionLang(selectLang);
    }
  }
};
</script>

<style lang="scss">
#btnflag {
  button.btn-lg{
    padding: 0px;
  }
}
</style>
