<template>
  <ul v-if="guideTree['']" class="sidebar-menu">
    <li class="menu-header">{{ getLang("菜單") }}</li>
    <li
      v-for="(item, index) in guideTree['']"
      v-show="item.show"
      :key="index"
      :ref="item.name"
      style="position: relative"
      :class="{ active: selectNav[item.name] }"
    >
      <a
        href="javascript:void(0)"
        class="nav-link has-dropdown"
        :class="{
          'menu-toggle': guideTree[item.name],
          toggled: selectNav[item.name],
        }"
        @click="go(item)"
      >
        <i class="fas" :class="item.icon"></i>
        <span>{{ getLang(item.name) }}</span>
      </a>
      <ul class="dropdown-menu">
        <div
          v-for="(subItem, subIndex) in guideTree[item.name]"
          :key="subIndex"
          v-frag
        >
          <li
            v-if="subItem.path"
            :class="{
              active:
                breadcrumb && breadcrumb.name == subItem.name,
            }"
          >
            <nuxt-link
              v-if="subItem.name === '即時交易'"
              class="nav-link"
              :to="subItem.path"
              :class="{
                toggled:
                  breadcrumb && breadcrumb.name == subItem.name,
              }"
            >
              <i class="fas" :class="subItem.icon"></i>
              {{ getLang(subItem.name) }}
              <b-badge style="padding: 6px;margin-left: 5px;width: 40px;" variant="warning">{{ nowOrder }}</b-badge>
            </nuxt-link>

            <nuxt-link
              v-else
              class="nav-link"
              :to="subItem.path"
              :class="{
                toggled:
                  breadcrumb && breadcrumb.name == subItem.name,
              }"
            >
              <i class="fas" :class="subItem.icon"></i>
              {{ getLang(subItem.name) }}
            </nuxt-link>
          </li>
        </div>
      </ul>
    </li>
  </ul>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['breadcrumb'],
  data () {
    return {
      selectNav: {}
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree', 'profile', 'nowOrder'])
  },
  mounted () {
    this.watch = this.$watch('profile', (profile) => {
      if (profile) {
        this.setDefaultGuide();
        this.watch();
      }
    });
  },
  methods: {
    go (item) {
      if (this.guideTree[item.name]) {
        this.$set(this.selectNav, item.name, !this.selectNav[item.name]);
      } else {
        this.$router.push(item.path);
      }
    },
    setDefaultGuide () {
      if (this.breadcrumb) {
        this.$set(this.selectNav, this.breadcrumb.name, true);
        if (this.breadcrumb.parent) {
          this.$set(this.selectNav, this.breadcrumb.parent, true);
        }
      }
    }
  }
};
</script>
<style lang="scss">
</style>
