<template>
  <div v-frag>
    <div class="col-sm-12 col-md-5 text-left">
      <div
        class="dataTables_info"
        role="status"
        aria-live="polite"
      >
        {{ getLang('顯示分頁的第') }}
        {{ (pageData.page+1) }} {{ getLang('頁') }}，
        {{ getLang('共') }} {{ pageData.total }} {{ getLang('筆') }}
      </div>
    </div>
    <div v-if="parseInt(pageData.total/pageData.limit) > 0" class="col-sm-12 col-md-7 ">
      <ul class="pagination float-right">
        <li
          class="paginate_button page-item previous "
          :class="{disabled:prevPage}"
          @click="goPrevPage"
        >
          <a
            href="javascript:void(0)"
            class="page-link"
          >{{ getLang('上一頁') }}</a>
        </li>

        <li
          v-for="(num,index) in total"
          :key="index"
          class="paginate_button page-item"
          :class="{active:pageData.page==num}"
          @click="go(num)"
        >
          <input
            v-if="pageData.page==num"
            v-model="page"
            style="width:50px;"
            type="text"
            @keyup.enter="pageData.page=page-1"
          />
          <a
            v-else
            href="javascript:void(0)"
            aria-controls="table-1"
            data-dt-idx="1"
            tabindex="0"
            class="page-link"
          >{{ num+1 }}</a>
        </li>
        <li
          class="paginate_button page-item next"
          :class="{disabled:nextPage}"
          @click="goNextPage"
        >
          <a
            href="javascript:void(0)"
            class="page-link"
          >{{ getLang('下一頁') }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: ['pageData'],
  data () {
    return { page: 0 };
  },
  computed: {
    totalPage () {
      return Math.ceil(this.pageData.total / this.pageData.limit);
    },
    total () {
      const count = 2;
      const start = this.pageData.page * 1 - count;
      const end = this.pageData.page * 1 + count;
      const result = [];
      for (let i = 0; i < this.totalPage; i++) {
        if (i >= start && i <= end) {
          result.push(i);
        }
      }
      return result;
    },
    prevPage () {
      return (this.total.indexOf(this.pageData.page - 1) == -1);
    },
    nextPage () {
      return (this.total.indexOf(this.pageData.page + 1) == -1);
    }
  },
  watch: {
    'pageData.page': {
      handler (page) {
        if (page * 1 == page) {
          this.page = page + 1;
        }
      },
      immediate: true
    }
  },
  mounted () {

  },
  methods: {
    goPrevPage () {
      this.prevPage || this.pageData.page--;
      this.$emit('getData');
      this.$emit('getList');
    },
    goNextPage () {
      this.nextPage || this.pageData.page++;
      this.$emit('getData');
      this.$emit('getList');
    },
    go (num) {
      (this.pageData.page == num) || (this.pageData.page = num);
      this.$emit('getData');
      this.$emit('getList');
    }
  }
};
</script>
