<template>
  <div class="d-flex m-1  border">
    <square
      v-if="name"
      :draggable="true"
      @dragstart="dragName=name"
      @drop="add(name)"
    >
      <div style="position:absolute;top:0;left:0;">{{ level }}</div>
      <span>{{ nameObject[name]|| name }}</span>
    </square>
    <square
      v-else-if="power=='S'"
      @drop="del(dragName)"
    >
      <div style="position:absolute;top:0;left:0;">{{ level }}</div>
      <span>{{ getLang('最上層') }}</span>
    </square>
    <span v-if="0 && !level">
      {{ profile }}
    </span>
    <div class="d-flex border flex-column">
      <div v-for="(item,index) in list" :key="index">
        <parentTree
          v-if="((level?level:0)+1)<=5"
          :name="item"
          :level="(level?level:0)+1"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getRoleList, getCommonParent, addCommonParent, updateCommonParent, delCommonParent } from '~/api/admin.js';
export default {
  name: 'ParentTree',
  props: ['name', 'level', 'drag'],
  data () {
    return {
    };
  },
  computed: {
    ...mapFields('parentTree', ['tree', 'treeParent', 'treeList', 'roleList', 'nameObject', 'dragName']),
    ...mapFields('user', ['power']),

    list () {
      if (this.name) {
        return this.tree[this.name];
      }

      const result = [];
      for (const i in this.roleList) {
        const keyName = 'R-' + this.roleList[i].id;
        if (!this.treeParent[keyName]) {
          result.push(keyName);
        }
      }
      return result;
    }
  },
  mounted () {
    if (!this.level) {
      this.$store.dispatch('parentTree/initData');
    }
  },
  methods: {
    async add (parent) {
      // console.log(this.dragName, parent);
      if (this.dragName == parent) {
        return;
      }
      const base = this.dragName;
      const oldParent = this.treeParent[base];
      if (parent == oldParent) {
        return;
      }
      await this.del(base);
      const [power, power_id] = base.split('-');
      const [parent_power, pid] = parent.split('-');
      const post = { parent_power, pid, power, power_id };
      try {
        const { status } = await addCommonParent(post);
        if (status) {
          this.$store.commit('parentTree/addTreeList', post);
        }
      } catch (e) {

      }
    },
    async del (base) {
      const parent = this.treeParent[base];
      if (!parent) {
        return true;
      };

      const [power, power_id] = base.split('-');
      const [parent_power, pid] = parent.split('-');

      const post = { parent_power, pid, power, power_id };
      try {
        const { status } = await delCommonParent(post);
        if (status) {
          for (let i = 0; i < this.treeList.length; i++) {
            const item = this.treeList[i];
            let flag = true;
            for (const field in post) {
              if (post[field] != item[field]) {
                flag = false;
              }
            }
            if (flag) {
              this.$store.commit('parentTree/delTreeList', i);
              break;
            }
          }
        }
      } catch (e) {
        this.alertWindow(e.message);
        return true;
      }
    },
    drop (parent) {
      // if (this.mode) {
      //   this.swap(parent);
      // } else {
      this.add(parent);
      // }
    }

  }
};
</script>
