<template>
  <b-modal
    id="system-message"
    :no-close-on-backdrop="true"
    :no-close-on-esc="true"
    centered
  >
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('系統訊息') }}</h4>
      <button type="button" class="close" @click="messageCancel ? messageCancel() : close()">×</button>
    </template>
    <p class="my-4">{{ messageText }}</p>
    <template v-if="messageType === 1" #modal-footer="{ cancel }">
      <b-button
        variant="primary"
        @click="messageOk ? messageOk() : cancel()"
      >
        {{ getLang('確認') }}
      </b-button>
      <b-button
        @click="messageCancel ? messageCancel() : cancel()"
      >
        {{ getLang('取消') }}
      </b-button>
    </template>
    <template v-else #modal-footer="{ cancel }">
      <b-button variant="primary" @click="cancel()">{{ getLang('確認') }}</b-button>
    </template>
  </b-modal>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
export default {
  data () {
    return {
    };
  },
  computed: {
    ...mapFields('message', [
      'messageType',
      'messageText',
      'messageOk',
      'messageCancel'
    ])
  },
  created () {
  },
  methods: {
  }
};
</script>
