<template>
  <div v-frag>
    <button
      v-if="!tree"
      class="btn btn-sm btn-primary"
      @click=" diffitem.length && save()"
    >
      {{ getLang('儲存') }}
    </button>
    <span v-if="0 &&!tree && diffitem.length">{{ diffitem }}</span>
    <button
      v-if="!tree && diffitem.length"
      class="btn btn-primary btn-sm"
      @click="back()"
    >
      {{ getLang('復原') }}
    </button>
    <div v-for="(item,index) in guideTree[pid||'']" :key="index" class="pl-3 mt-1">
      <input
        type="checkbox"
        class="mr-2"
        :checked="item.id"
        @click="update(item)"
      />
      <i v-if="item.icon" class="fa pr-2" :class="item.icon"></i>
      {{ getLang(item.name) }}
      <button v-if="item.message" class="btn btn-danger btn-sm">{{ item.message }}</button>
      <button
        v-if="item.id && guideTree[item.unique]"
        class="btn btn-primary btn-sm"
        @click="selectAll(item)"
      >
        {{ getLang('全選') }}
      </button>
      <power-guide-tree
        v-if="item.id"
        :power="power"
        :power-id="powerId"
        :tree="guideTree"
        :pid="item.unique"
      />
    </div>
  </div>
</template>
<script>
import { get, set, del } from '~/api/powerGuide.js';
export default {
  name: 'PowerGuideTree',
  props: ['tree', 'pid', 'power', 'powerId'],
  data () {
    return {
      tmpGuideTree: null
    };
  },
  computed: {
    guideTree () {
      if (this.tree) {
        return this.tree;
      }
      if (this.tmpGuideTree) {
        return this.tmpGuideTree;
      }
      return {};
    },
    diffitem () {
      const result = [];
      for (const i in this.guideTree) {
        const list = this.guideTree[i];
        for (const j in list) {
          const item = list[j];
          if (item.id != item.backupId) {
            result.push(item);
          }
        }
      }
      return result;
    }
  },
  mounted () {
    this.get();
  },
  methods: {
    get () {
      if (!this.tree) {
        get({ power: this.power, id: this.powerId })
          .then(({ status, data }) => {
            if (status) {
              const guide = data;
              const guideTree = {};
              for (const i in guide) {
                const { parent, id } = guide[i];
                this.$set(guide[i], 'backupId', id);
                guideTree[parent] || (guideTree[parent] = []);
                guideTree[parent].push(guide[i]);
              }
              this.$set(this, 'tmpGuideTree', guideTree);
            }
          });
      }
    },
    del (item) {
      if (item.id) {
        this.$delete(item, 'id');
        for (const i in this.guideTree[item.unique]) {
          this.del(this.guideTree[item.unique][i]);
        }
      }
    },
    set (item) {
      if (!item.id) {
        if (item.backupId) {
          this.$set(item, 'id', item.backupId);
        } else {
          this.$set(item, 'id', -1);
        }
      }
    },
    back () {
      for (const i in this.diffitem) {
        const item = this.diffitem[i];
        setTimeout(() => {
          this.$set(item, 'id', item.backupId);
        });
      }
    },
    save () {
      this.confirmWindow(this.getLang('確認更新') + '?', () => {
        for (const i in this.diffitem) {
          const item = this.diffitem[i];
          item.message = '';
          setTimeout(() => {
            if (item.id) { // 新增
              set({ power: this.power, id: this.powerId, guide: item.unique }).then(({ data, message }) => {
                this.$set(item, 'id', data.id);
                item.backupId = data.id;
                if (message) {
                  this.$set(item, 'message', message);
                  clearTimeout(item.message_timer);
                  item.message_timer = setTimeout(() => {
                    this.$delete(item, 'message');
                  }, 3000);
                }
              }).catch(({ message }) => {
                if (message) {
                  this.$set(item, 'message', message);
                  clearTimeout(item.message_timer);
                  item.message_timer = setTimeout(() => {
                    this.$delete(item, 'message');
                  }, 3000);
                }
                this.$set(item, 'id', item.backupId);
              });
            } else { // 刪除
              if (item.backupId) {
                del({ id: item.backupId }).then(({ message }) => {
                  this.$delete(item, 'id');
                  this.$delete(item, 'backupId');
                  if (message) {
                    this.$set(item, 'message', message);
                  }
                }).catch(({ message }) => {
                  this.$set(item, 'id', item.backupId);
                  if (message) {
                    this.$set(item, 'message', message);
                  }
                });
              }
            }
          });
        }
        this.alertWindow(this.getLang('更新成功'));
        return true;
      });
    },
    update (item) {
      if (item.id) {
        this.del(item);
      } else {
        this.set(item);
      }
    },
    selectAll (item) {
      this.set(item);
      for (const i in this.guideTree[item.unique]) {
        this.set(this.guideTree[item.unique][i]);
      }
    }
  }
};

</script>
