<template>
  <div
    :draggable="draggable"
    class="d-flex justify-content-center align-items-center rounded"
    style="width:50px;height: 50px;position:relative;margin:5px;background:#888888;color:#000000;"
    @dragover.prevent="$emit('dragover.prevent')"
    @click="$emit('click')"
    @drop="$emit('drop')"
    @dragstart="$emit('dragstart')"
  >
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: ['draggable'],
  methods: {

  }
};
</script>
