<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('遊戲商') }}:
                  <label>
                    <select v-model="gamePid" @change="getData">
                      <option value="-1">{{ getLang('全部') }}</option>
                      <option
                        v-for="(item,index) in gamePidData"
                        :key="index"
                        :value="item.id"
                      >
                        {{ getLang(item.name) }}
                      </option>
                    </select>
                  </label>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('遊戲種類') }}:
                  <label>
                    <select v-model="gameId" @change="getData">
                      <option value="-1">{{ getLang('全部') }}</option>
                      <option
                        v-for="(statusItem,statusIndex) in statusArray"
                        :key="statusIndex"
                        :value="statusItem.value"
                      >
                        {{ getLang(statusItem.show) }}
                      </option>
                    </select>
                  </label>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增遊戲') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th>id</th>
                        <th>{{ getLang('遊戲商名稱') }}</th>
                        <th>{{ getLang('遊戲編號') }}</th>
                        <th>{{ getLang('遊戲描述') }}</th>
                        <th>{{ getLang('遊戲種類') }}</th>
                        <th>{{ getLang('遊戲圖片') }}</th>
                        <th v-if="1">{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item,index) in data"
                        v-show="!search || item.gameType.indexOf(search)!=-1 || item.name.indexOf(search)!=-1 || item.gameName.indexOf(search)!=-1"
                        :key="index"
                        role="row"
                      >
                        <td>{{ item.id }}</td>
                        <td>{{ item.pName }}</td>
                        <td>{{ item.gameType }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.gameName }}</td>
                        <td>
                          <img style="max-width: 100px;" :src="$config.baseURL+item.images" alt="" />
                        </td>
                        <td>
                          <button
                            class="btn btn-primary"
                            variant="primary"
                            @click="edit(1, item, index)"
                          >
                            {{ getLang('編輯') }}
                          </button>
                          <button
                            class="btn btn-danger"
                            @click="deleteItem(item,index)"
                          >
                            {{ getLang('刪除') }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <game-type-modal :edit-item="editItem" :edit-type="editType" :edit-pid="gamePidData" />
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getGameTypeList, getProductList, deleteGameType } from '~/api/product.js';
export default {
  components: { pagination },
  data () {
    return {
      showTimePanel: true,
      value2: [],
      statusArray: [
        { value: 1, show: '老虎機' },
        { value: 2, show: '釣魚機' }
      ],
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { pid: 0, gameType: '', name: '', gameName: '', images: '' },
      editIndex: -1,
      data: {},
      gamePidData: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      search: '',
      whereStatus: 1,
      gameId: -1,
      gamePid: -1,
      orderId: 1
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.getGamePid();
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editIndex = index;
        this.$set(this, 'editItem', item);
      } else { // 新增
        this.$set(this, 'editItem', { pid: 0, gameType: '', name: '', gameName: '', images: '' });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId,
        gameId: this.gameId,
        pid: this.gamePid
      };
      try {
        const res = await getGameTypeList(params);
        res.data.forEach((x) => {
          this.gamePidData.forEach((y) => {
            if (x.pid === y.id) {
              x.pName = y.name;
            }
          });
        });
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getGamePid () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId
      };
      try {
        const res = await getProductList(params);
        const data = res.data.filter(x => x.type === 1);
        this.$set(this, 'gamePidData', data);
        this.getData();
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteGameType(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    }
  }
};
</script>
