<template>
  <div v-frag>
    {{ editItem }}
    <product-main-item :edit-item="editItem" />
  </div>
</template>

<script>
import { getProductList, deleteProduct, addProduct, updateProduct } from '~/api/product.js';
export default {
  data () {
    return {
      editItem: null
    };
  },
  mounted () {
    this.getData();
  },
  methods: {
    async getData () {
      const params = {
        // page: this.pageData.page,
        // limit: this.pageData.limit,
        // whereStatus: this.whereStatus,
        // orderId: this.orderId
      };
      const res = await getProductList(params);
      this.$set(this, 'editItem', res.data[0]);
      // this.edit(1, res.data[0], 0);
    }
  }
};
</script>
