<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th>No.</th>
                        <th>{{ getLang('產品名稱') }}</th>
                        <th>{{ getLang('產品編號') }}</th>
                        <th>{{ getLang('類型') }}</th>
                        <th>{{ getLang('維護進度') }}</th>
                        <th>{{ getLang('維護開始時間') }}</th>
                        <th>{{ getLang('維護結束時間') }}</th>
                        <th v-if="1">{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item,index) in data"
                        v-show="!search || item.code.indexOf(search)!=-1 || item.name.indexOf(search)!=-1"
                        :key="index"
                        role="row"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ getLang(['支付','遊戲'][item.type]) }}</td>
                        <td>
                          <select v-model="item.status" @change="updateField(item,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td>{{ item.maintainAtStart }}</td>
                        <td>{{ item.maintainAtEnd }}</td>
                        <td v-if="1">
                          <button
                            class="btn btn-primary"
                            variant="primary"
                            @click="edit(1, item, index)"
                          >
                            {{ getLang('修改') }}
                          </button>
                          <button
                            v-if="0"
                            class="btn btn-danger"
                            @click="deleteItem(item,index)"
                          >
                            {{ getLang('刪除') }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <product-main-modal :edit-item="editItem" />
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getProductList, deleteProduct, addProduct, updateProduct } from '~/api/product.js';
export default {
  components: { pagination },
  data () {
    return {
      showTimePanel: true,
      value2: [],
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { product_code: '', product_name: '', product_cost: '', isMaintenance: 0, start_time: '', end_time: '' },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '開啟' }, { value: 0, show: '關閉' }],
      search: '',
      whereStatus: 1,
      orderId: 1
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.getData();
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'product-main');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', item);
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { bank_name: '', swift_code: '', isPG: 0, status: 0 });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId
      };
      try {
        const res = await getProductList(params);
        this.$set(this, 'data', res.data);
        // this.edit(1, res.data[0], 0);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateProduct(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteProduct(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    }

  }
};
</script>
