<template>
  <div v-frag>
    <div class="row col-md-12 ">
      <div class="col-md-4 p-0">
        <order-detail-card v-if="item">
          <template v-slot:title>
            {{ getLang('出款審核') }}
          </template>
          <template v-slot:content>
            <order-detail-card-item title="出款金額">
              <input disabled :value="-item.amount" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item title="出款方式">
              <input disabled :value="item.content.tradeType" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item title="全名">
              <input disabled :value="item.content.name" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item v-if="item.content.phone" title="聯繫電話">
              <input disabled :value="item.content.phone" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item v-if="item.content.email" title="電子郵件">
              <input disabled :value="item.content.email" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item v-if="item.content.bankName" title="銀行名稱">
              <input disabled :value="item.content.bankName" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item v-if="item.content.branchCode" title="分行代號">
              <input disabled :value="item.content.branchCode" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item v-if="item.content.bankAccount" title="銀行帳號">
              <input disabled :value="item.content.bankAccount" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item v-if="item.content.address" title="錢包地址">
              <input disabled :value="item.content.address" type="text" class="form-control-sm" />
            </order-detail-card-item>
            <order-detail-card-item title="狀態">
              {{ statusObject[item.status] }}
            </order-detail-card-item>

            <order-detail-card-item v-if="item.status==0" title="操作">
              <b-form-checkbox
                v-model.number="status"
                :value="1"
                :unchecked-value="0"
              />ok
              <b-form-checkbox
                v-model.number="status"
                :value="2"
                :unchecked-value="0"
              />不ok(退款)
              <button class="btn btn-danger" @click="review(status)">審核</button>
            </order-detail-card-item>
            <order-detail-card-item v-if="item.status==1" title="操作">
              <button class="btn btn-danger" @click="review(3)">確認出款</button>
              <button class="btn btn-danger" @click="review(0)">重新審核</button>
            </order-detail-card-item>
            <order-detail-card-item v-if="item.status==2" title="操作">
              <button class="btn btn-danger" @click="review(4)">確認退款</button>
              <button class="btn btn-danger" @click="review(0)">重新審核</button>
            </order-detail-card-item>

            <order-detail-card-item v-if="status==2 || item.status==2 || item.status==4" title="退款原因">
              <textarea v-model="item.note" type="text" class="form-control-sm"></textarea>
            </order-detail-card-item>
          </template>
        </order-detail-card>
        <member-wash-code v-if="member" :member="member" :get-list="updateMemberWashCodeLog" />
      </div>
      <div class="col-md-8">
        <member-wash-code-log v-if="member" ref="memberWashCodeLog" :member="member" />
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getWithdrawal, reviewWithdrawal } from '~/api/withdrawal.js';
import { getMemberList } from '~/api/member.js';
// 輸贏的洗碼量>存款及優惠的洗碼量
export default {
  data () {
    return {
      status: 1,
      item: null,
      member: null
    };
  },
  computed: {
    ...mapFields('withdrawal', [
      'statusList',
      'statusObject'
    ])
  },
  mounted () {
    this.getItem();
  },
  methods: {
    getItem () {
      getWithdrawal({ where: { order_id: this.$route.params.id } }).then(({ data }) => {
        if (data.length) {
          this.item = data[0];
          const params = {
            where: { id: this.item.mid }
          };
          getMemberList(params).then(({ data }) => {
            this.$set(this, 'member', data[0]);
          });
        }
      });
    },
    review (status) {
      reviewWithdrawal({
        order_id: this.item.order_id,
        status,
        note: this.item.note
      }).then(() => {
        this.getItem();
        this.updateMemberWashCodeLog();
      }).catch(({ message }) => {
        this.note = message;
        if (this.item.status == 0) {
          this.status = 2;
        }
        this.getItem();
        this.alertWindow(message);
      });
    },
    updateMemberWashCodeLog () {
      this.$refs.memberWashCodeLog.getList();
    }
  }
};
</script>
