<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <withdrawal />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
