<template>
  <b-card title="Card Title" no-body>
    <b-card-header header-tag="nav">
      <b-nav card-header tabs>
        <b-nav-item :active="tabIndex==0" @click="setTabIndex(0);tabIndex=0">{{ getLang('計算會員返水') }}</b-nav-item>
        <b-nav-item :active="tabIndex==1" @click="setTabIndex(1);tabIndex=1">{{ getLang('會員返水記錄') }}</b-nav-item>
      </b-nav>
    </b-card-header>

    <rebate-head-tab-0
      v-if="tabIndex==0"
      :get-list="getList"
      :set-where="setWhere"
      :submit-rebate="submitRebate"
    />

    <rebate-head-tab-1
      v-if="tabIndex==1"
      :get-record-list="getRecordList"
      :set-rebate-record-where="setRebateRecordWhere"
    />
  </b-card>
</template>
<script>
export default {
  props: ['submitRebate', 'getList', 'setWhere', 'getRecordList', 'setRebateRecordWhere', 'setTabIndex'],
  data () {
    return {
      tabIndex: 0
    };
  }
};
</script>
