<template>
  <b-card-body>
    <b-card-text>
      <div class="row ">
        <div class="col-sm-12"><h5>{{ getLang('搜索條件') }}</h5></div>
      </div>
      <div class="row">
        <div class="col-md-5" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="時間範圍">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="dark" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
            <b-form-group class="mb-0" label="代理編號">
              <input v-model="where.agentID" trim />
            </b-form-group>
          </b-form-group>
        </div>
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="狀態">
            <select v-model="where.status" class="search-input">
              <option
                v-for="(item,index) in statusArray"
                :key="index"
                :value="item.value"
              >
                {{ item.show }}
              </option>
            </select>
          </b-form-group>
          <b-form-group class="mb-0" label="賬號">
            <input v-model="where.accountLike" trim />
          </b-form-group>
        </div>
      </div>
    </b-card-text>
    <div class="row" style="padding-top: 10px">
      <div class="col-md-9">
        <div class="input-group-sm">
          <input type="button" class="btn btn-primary" value="會員" @click="search('member')" />
          <input type="button" class="btn btn-primary" value="代理" @click="search('agent')" />
          <input type="button" class="btn btn-primary" value="重置" @click="reset" />
        </div>
      </div>
    </div>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['getList', 'setWhere'],
  data () {
    return {
      where: {
        accountType: '',
        agentID: '',
        accountLike: '',
        status: -1
      },
      statusArray: [{ value: -1, show: '--全部--' }, { value: 0, show: '新要求' },
        { value: 1, show: '已被確認' }, { value: 2, show: '已遭拒' }
      ],
      createdAtRange: []
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    reset () {
      this.where.agentAccountLike = '';
      this.where.accountLike = '';
      this.where.status = -1;
      this.createdAtRange = [];
    },
    search (accountType) {
      this.where.accountType = accountType;
      const where = JSON.parse(JSON.stringify(this.where));
      if (this.createdAtRange.length == 2) {
        where.createdAtStart = this.createdAtRange[0];
        where.createdAtEnd = this.createdAtRange[1];
      } else {
        where.createdAtStart = -1;
        where.createdAtEnd = -1;
      }

      this.setWhere(where);
      this.getList(where);
    }
  }
};
</script>
