<template>
  <div v-frag>
    <div class="row ">
      <div class="col-sm-12">
        <div class="d-inline-flex pr-3 mb-3 form-inline">
          {{ getLang('顯示') }}
          <select v-model="pageData.limit" @change="getList">
            <option v-for="(item,index) in [250,500,1000]" :key="index" :value="item">{{ item }}</option>
          </select>
          {{ getLang('條目') }}
        </div>
        <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
          {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive text-center text-nowrap">
          <table class="table table-striped table-bordered ">
            <thead>
              <tr role="row">
                <th>NO.</th>
                <th>{{ getLang('會員帳號') }}</th>
                <th>{{ getLang('會員群組') }}</th>
                <th>{{ getLang('打碼量') }}</th>
                <th>{{ getLang('返水流水要求') }}</th>
                <th>{{ getLang('最後返水結束時間') }}</th>
                <th>{{ getLang('返水') }}(HKD)</th>
                <th>{{ getLang('最終給予返水') }}(HKD)</th>
                <th>{{ getLang('最後存款日期') }}</th>
                <th>{{ getLang('備註') }}</th>
                <th class="text-right">
                  <input
                    type="checkbox"
                    :checked="allSelect"
                    @click="setAllSelect()"
                  />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item,index) in data"
                v-show="!search || item.account.indexOf(search)!=-1|| item.phone.indexOf(search)!=-1"
                :key="index"
                role="row"
                class="text-right"
              >
                <td>{{ index+1 }}</td>
                <td>{{ item.member.account }}</td>
                <td>
                  <span v-if="groupObject[item.member.gid]">
                    {{ groupObject[item.member.gid].name }}
                  </span>
                </td>
                <td>{{ item.flow }}</td>
                <td>{{ formatPrice(item.flow * item.flow_require) }}</td>
                <td>{{ simpleDateFormat(item.updated_at) }}</td>
                <td>{{ item.rebate }}</td>
                <td>{{ item.end_rebate }}</td>
                <td>{{ item.deposit_at }}</td>
                <td></td>
                <td>
                  <input
                    type="checkbox"
                    :checked="item.select"
                    @click="item.select=!item.select"
                  />
                </td>
              </tr>
              <tr v-if="!data.length">
                <td colspan="19">{{ getLang('沒有任何記錄') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
    </div>
  </div>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getRebateMemberList, updateMemberRebate } from '~/api/promo.js';
export default {
  // props: ['inventory'],
  data () {
    return {
      data: [],
      pageData: { page: 0, limit: 250 },
      where: {
        autoApproval: -1,
        gid: -1,
        atStart: -1,
        atEnd: -1,
        mids: []
      },
      order: {
        id: -1
      },
      search: '',
      whereDateTime: 0,
      allSelect: false
    };
  },
  computed: {
    ...mapFields(['dateTimeArray']),
    ...mapFields('group', { group: 'list', groupObject: 'object' })
  },
  watch: {
    'where.createdAtStart' () {
      this.setCreatedAt();
    },
    'where.createdAtEnd' () {
      this.setCreatedAt();
    }
  },
  mounted () {
    this.$store.dispatch('group/getList');
  },
  methods: {
    submitRebate () {
      let index = 1;
      const mids = [];
      this.list = [];
      for (const i in this.data) {
        const item = this.data[i];
        if (item.select) {
          mids.push(item.memberID);
          index++;
          this.list.push(item);
        }
      }
      if (mids.length) {
        this.where.mids = mids;
        this.updateMemberRebate();
      } else {
        this.alertWindow(this.getLang('未選擇會員'));
      }
    },
    updateMemberRebate () {
      this.confirmWindow(this.getLang('提交會員返水') + '?', async () => {
        const payload = {
          where: this.where
        };
        try {
          const res = await updateMemberRebate(payload, 0);
          if (res.data > 0) { this.getList(); }
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      }, () => {
      });
    },
    formatPrice (value) {
      const val = (value / 1).toFixed(2).replace(',', '.');
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    },
    setAllSelect () {
      this.allSelect = !this.allSelect;
      for (const i in this.data) {
        const item = this.data[i];
        item.select = this.allSelect;
      }
    },
    setWhere (where) {
      for (const i in where) {
        this.$set(this.where, i, where[i]);
      }
    },
    setCreatedAt () {
      const key = this.where.createdAtStart + '~' + this.where.createdAtEnd;
      const index = this.dateTimeArray.findIndex((item) => {
        return item.value == key;
      });
      if (index == -1) {
        this.whereDateTime = 0;
      } else {
        this.whereDateTime = index;
      }
    },
    setDate (index) {
      const item = this.dateTimeArray[index];
      if (item.type == -1) {
        this.$set(this.where, 'createdAtStart', -1);
        this.$set(this.where, 'createdAtEnd', -1);
      } else {
        let datetime = item.value;
        if (datetime) {
          datetime = datetime.split('~');
          this.$set(this.where, 'createdAtStart', datetime[0]);
          this.$set(this.where, 'createdAtEnd', datetime[1]);
        }
      }
      this.getList();
    },
    async getList () {
      this.allSelect = false;
      const params = JSON.parse(JSON.stringify({
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        order: this.order
      }));
      // console.log(this.where);
      try {
        const res = await getRebateMemberList(params);
        for (const i in res.data) {
          const item = res.data[i];
          this.$set(item, 'select', false);
        }

        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
        // this.$set(this, 'where', res.where);
        // if (res.input.where.autoApproval == 1) {
        if (res.where.autoApproval == 1) {
          this.setAllSelect();
        }
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      let id = this.order.id;
      if (id == 0) {
        id = 1;
      } else if (id == 1) {
        id = -1;
      } else if (id == -1) {
        id = 0;
      }
      this.order.id = id;
      this.getList();
    }
  }
};
</script>
