<template>
  <b-card-body>
    <b-card-text>
      <div class="row">
        <div class="col-md-5" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="時間範圍">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="dark" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'atRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="atRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>
        </div>
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="賬號">
            <input v-model="where.accountLike" trim />
          </b-form-group>
        </div>
        <div class="col-md-2" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="會員群組">
            <select v-model="where.gid" class="search-input">
              <option :value="-1">
                ---{{ getLang('全部') }}---
              </option>
              <option
                v-for="(item,index) in group"
                :key="index"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </b-form-group>
        </div>
      </div>
    </b-card-text>
    <div class="row" style="padding-top: 10px">
      <div class="col-md-9">
        <div class="input-group-sm">
          <input type="button" class="btn btn-primary" value="計算會員返水" @click="search" />
          <input type="button" class="btn btn-primary" value="重置" @click="reset" />
          <input type="button" class="btn btn-info" value="提交會員返水" @click="submitRebate()" />
          <input v-model="where.autoApproval" type="checkbox" :true-value="1" :false-value="0" />
          <label>自動審批</label>
        </div>
      </div>
    </div>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['submitRebate', 'getList', 'setWhere'],
  data () {
    return {
      where: {
        gid: -1,
        autoApproval: 1,
        accountLike: ''
      },
      atRange: []
    };
  },
  computed: {
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields(['dateTimeArray'])
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    reset () {
      this.where.autoApproval = 1;
      this.where.accountLike = '';
      this.where.gid = -1;
      this.atRange = [];
      // this.search();
    },
    submit () {
      const where = JSON.parse(JSON.stringify(this.where));

      if (this.atRange.length == 2) {
        where.atStart = this.atRange[0];
        where.atEnd = this.atRange[1];
      } else {
        where.atStart = -1;
        where.atEnd = -1;
      }
      // this.search();
    },
    search () {
      const where = JSON.parse(JSON.stringify(this.where));

      if (this.atRange.length == 2) {
        where.atStart = this.atRange[0];
        where.atEnd = this.atRange[1];
      } else {
        where.atStart = -1;
        where.atEnd = -1;
      }

      this.setWhere(where);
      this.getList(where);
    }
  }
};
</script>
