<template>
  <div v-frag>
    <div class="row ">
      <div class="col-sm-12">
        <div class="d-inline-flex pr-3 mb-3 form-inline">
          {{ getLang('顯示') }}
          <select v-model="pageData.limit" @change="getList">
            <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
          </select>
          {{ getLang('條目') }}
          <div v-if="data.length" class="input-group-sm">
            <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
            <button class="btn btn-primary btn-sm mx-1" @click="setExportData('csv')">{{ getLang('CSV') }}</button>
            <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </div>
        </div>
        <div v-if="0" class="d-inline-flex pr-3 mb-3 form-inline float-right">
          {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive text-center text-nowrap">
          <table id="printTable" class="table table-striped table-bordered table-hover">
            <thead>
              <tr role="row">
                <th class="col-sm-1">#</th>
                <th class="col-sm-9">Misc</th>
                <th class="col-sm-1">{{ getLang('總記錄條數') }}</th>
                <th class="col-sm-1">{{ getLang('已付總額') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" v-show="!search || item.account.indexOf(search)!=-1 || item.phone.indexOf(search)!=-1" :key="index" role="row">
                <td class="align-text-top">{{ index+1 }}</td>
                <td class="text-left">
                  <li>{{ item[`${accountType}`]['account'] }}</li>
                  <li>{{ item.dateRang }}</li>
                  <li>{{ getProductName(item.productID.split(','),product) }}</li>
                </td>
                <td>{{ item.amount }}</td>
                <td>
                  {{ moneyFormat(item.rebate || 0) }}
                </td>
              </tr>
              <tr v-if="!data.length">
                <td colspan="4">{{ getLang('沒有任何記錄') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getReportRebate } from '~/api/promo.js';
import { getProductList } from '~/api/product';

export default {
  data () {
    return {
      sortingObject: { 0: 'asc', 1: 'desc' },
      data: [],
      pageData: { page: 0, limit: 50 },
      where: {
        accountType: '',
        agentID: '',
        status: -1,
        createdAtStart: -1,
        createdAtEnd: -1,
        accountLike: ''
      },
      order: {
        id: -1
      },
      search: '',
      accountType: '',
      whereDateTime: 0,
      allSelect: false,
      product: null
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  watch: {
    'where.createdAtStart' () {
      this.setCreatedAt();
    },
    'where.createdAtEnd' () {
      this.setCreatedAt();
    }
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.getProduct();
  },
  methods: {
    setAllSelect () {
      this.allSelect = !this.allSelect;
      for (const i in this.data) {
        const item = this.data[i];
        item.select = this.allSelect;
      }
    },
    setWhere (where) {
      for (const i in where) {
        this.$set(this.where, i, where[i]);
      }
    },
    setCreatedAt () {
      const key = this.where.createdAtStart + '~' + this.where.createdAtEnd;
      const index = this.dateTimeArray.findIndex((item) => {
        return item.value == key;
      });
      if (index == -1) {
        this.whereDateTime = 0;
      } else {
        this.whereDateTime = index;
      }
    },
    setDate (index) {
      const item = this.dateTimeArray[index];
      if (item.type == -1) {
        this.$set(this.where, 'createdAtStart', -1);
        this.$set(this.where, 'createdAtEnd', -1);
      } else {
        let datetime = item.value;
        if (datetime) {
          datetime = datetime.split('~');
          this.$set(this.where, 'createdAtStart', datetime[0]);
          this.$set(this.where, 'createdAtEnd', datetime[1]);
        }
      }
      this.getList();
    },
    async getList () {
      this.allSelect = false;
      const params = JSON.parse(JSON.stringify({
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        order: this.order
      }));
      // console.log(this.where);
      try {
        const res = await getReportRebate(params);
        for (const i in res.data) {
          const item = res.data[i];
          this.$set(item, 'select', false);
        }

        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
        this.$set(this, 'accountType', res.accountType);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getProduct () {
      try {
        const res = await getProductList();
        this.$set(this, 'product', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    getProductName (arr, product) {
      let productStr = '';
      if (product) {
        for (const i in arr.map(Number)) {
          productStr = productStr + product.find(obj => obj.id == arr[i]).name;
          if (i < arr.length - 1) { productStr += ', '; }
        }
      }
      return productStr;
    },
    setExportData (type) {
      const routeName = 'rebate-report';
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      const total = JSON.parse(JSON.stringify(this.pageData));
      data.forEach((x) => {
        x.account = x[`${this.accountType}`].account;
        x.rebate = this.moneyFormat(x.rebate);
        x.product = this.getProductName(x.productID.split(','), this.product);
      });
      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      // this.onexport(type, routeName);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
