<template>
  <b-card-body>
    <b-card-text>
      <div class="row">
        <div class="col-md-1" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="篩選選項">
            <select v-model="where.filterType" class="search-input">
              <option
                v-for="(item,index) in filterArray"
                :key="index"
                :value="item.value"
              >
                {{ item.show }}
              </option>
            </select>
          </b-form-group>
        </div>
        <div class="col-md-4" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="記錄時間範圍">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="dark" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>
        </div>
        <div class="col-md-2 " style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="賬號">
            <input v-model="where.accountLike" trim />
          </b-form-group>
        </div>
        <div class="col-md-2" style="padding-right: 5px; padding-left: 5px">
          <b-form-group class="mb-0" label="狀態">
            <select v-model="where.status" class="search-input">
              <option
                v-for="(item,index) in statusArray"
                :key="index"
                :value="item.value"
              >
                {{ item.show }}
              </option>
            </select>
          </b-form-group>
        </div>
      </div>
    </b-card-text>
    <div class="row" style="padding-top: 10px">
      <div class="col-md-9">
        <div class="input-group-sm">
          <input type="button" class="btn btn-primary" value="搜索" @click="search" />
          <input type="button" class="btn btn-primary" value="重置" @click="reset" />
        </div>
      </div>
    </div>
  </b-card-body>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['getRecordList', 'setRebateRecordWhere'],
  data () {
    return {
      statusArray: [{ value: -1, show: '--全選--' }, { value: 1, show: '已批准' },
        { value: 2, show: '已遭拒' }, { value: 3, show: '票單已發' },
        { value: 4, show: '失敗' }, { value: 5, show: '返水流水要求未達到' }
      ],
      filterArray: [{ value: 1, show: '起始時間' }, { value: 2, show: '結束時間' }],
      where: {
        accountLike: '',
        status: -1,
        filterType: 1
      },
      createdAtRange: []
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    reset () {
      this.where.filterType = 1;
      this.where.accountLike = '';
      this.where.status = -1;
      this.createdAtRange = [];
    },
    submit () {
      const where = JSON.parse(JSON.stringify(this.where));

      if (this.atRange.length == 2) {
        where.createdAtStart = this.createdAtRange[0];
        where.createdAtEnd = this.createdAtRange[1];
      } else {
        where.createdAtStart = -1;
        where.createdAtEnd = -1;
      }
      // this.search();
    },
    search () {
      const where = JSON.parse(JSON.stringify(this.where));

      if (this.createdAtRange.length == 2) {
        where.createdAtStart = this.createdAtRange[0];
        where.createdAtEnd = this.createdAtRange[1];
      } else {
        where.createdAtStart = -1;
        where.createdAtEnd = -1;
      }

      this.setRebateRecordWhere(where);
      this.getRecordList(where);
    }
  }
};
</script>
