<template>
  <div v-frag>
    <div class="row ">
      <div class="col-sm-12">
        <div class="d-inline-flex pr-3 mb-3 form-inline">
          {{ getLang('顯示') }}
          <select v-model="pageData.limit" @change="getRecordList">
            <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
          </select>
          {{ getLang('條目') }}
        </div>
        <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
          {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive text-center text-nowrap">
          <table class="table table-striped table-bordered ">
            <thead>
              <tr role="row">
                <th>NO.</th>
                <th>
                  {{ getLang('會員帳號') }}
                  <span v-if="0">
                    <input v-model="where.accountLike" type="text" :placeholder="getLang('帳號')+'('+ getLang('全名')+')'" @change="pageData.page=0;getRecordList();" />
                    <div>
                      <input v-model="where.phoneLike" type="text" :placeholder="getLang('連絡電話')" @change="pageData.page=0;getRecordList();" />
                    </div>
                  </span>
                </th>
                <th>{{ getLang('會員群組') }}</th>
                <th>{{ getLang('起始時間') }}</th>
                <th>{{ getLang('結束時間') }}</th>
                <th>{{ getLang('打碼量') }}</th>
                <th>{{ getLang('返水流水要求') }}</th>
                <th>{{ getLang('返水') }}(HKD)</th>
                <th>{{ getLang('返水(操作員調整)') }}(HKD)</th>
                <th>{{ getLang('交易代號') }}</th>
                <th>{{ getLang('狀態') }}</th>
                <th>{{ getLang('創建日期') }}</th>
                <th>{{ getLang('創建者') }}</th>
                <th>{{ getLang('備註') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item,index) in data"
                v-show="!search || item.account.indexOf(search)!=-1 || item.phone.indexOf(search)!=-1"
                :key="index"
                role="row"
                class="text-right"
              >
                <td>{{ index+1 }}</td>
                <td>{{ item.member.account }}</td>
                <td>
                  <span v-if="groupObject[item.member.gid]">
                    {{ groupObject[item.member.gid].name }}
                  </span>
                </td>
                <td>{{ item.flow_start_date }}</td>
                <td>{{ item.flow_end_date }}</td>
                <td>{{ item.flow }}</td>
                <td>{{ moneyFormat(item.flow * item.flow_require || 0) }}</td>
                <td>{{ item.end_rebate }}</td>
                <td>{{ moneyFormat(item.rebate - item.end_rebate || 0) }}</td>
                <td></td>
                <td>
                  <span v-if="statusArray[item.status]">
                    {{ statusArray[item.status].show }}
                  </span>
                </td>
                <td>{{ simpleDateFormat(item.updated_at) }}</td>
                <td>{{ item.create_user }}</td>
                <td>--</td>
              </tr>
              <tr v-if="!data.length">
                <td colspan="19">{{ getLang('沒有任何記錄') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pagination v-if="pageData" :page-data="pageData" @getRecordList="getRecordList" />
    </div>
  </div>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getRebateRecordList } from '~/api/promo.js';
export default {
  data () {
    return {
      // sortingObject: { 0: 'asc', 1: 'desc' },
      data: [],
      pageData: { page: 0, limit: 50 },
      where: {
        filterType: 1,
        status: -1,
        createdAtStart: -1,
        createdAtEnd: -1,
        accountLike: ''
      },
      order: {
        id: -1
      },
      statusArray: [{ value: 0, show: '未審核' }, { value: 1, show: '已批准' },
        { value: 2, show: '已遭拒' }, { value: 3, show: '票單已發' },
        { value: 4, show: '失敗' }, { value: 5, show: '返水流水要求未達到' }
      ],
      // betStatusArray: [{ value: 0, show: '暫停下注' }, { value: 1, show: '激活下注' }], // { value: 2, show: '禁止交易' }
      search: '',
      whereDateTime: 0,
      allSelect: false
    };
  },
  computed: {
    ...mapFields(['dateTimeArray']),
    ...mapFields('group', { group: 'list', groupObject: 'object' })
  },
  watch: {
    'where.createdAtStart' () {
      this.setCreatedAt();
    },
    'where.createdAtEnd' () {
      this.setCreatedAt();
    }
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    // this.$store.dispatch('group/getList');
  },
  methods: {
    // changeGroup (gid) {
    //   this.$refs['confirm-mutiple-list-modal'].setData(gid, this.data, 1);
    // },
    // setAllSelect () {
    //   this.allSelect = !this.allSelect;
    //   for (const i in this.data) {
    //     const item = this.data[i];
    //     item.select = this.allSelect;
    //   }
    // },
    setRebateRecordWhere (where) {
      for (const i in where) {
        this.$set(this.where, i, where[i]);
      }
    },
    setCreatedAt () {
      const key = this.where.createdAtStart + '~' + this.where.createdAtEnd;
      const index = this.dateTimeArray.findIndex((item) => {
        return item.value == key;
      });
      if (index == -1) {
        this.whereDateTime = 0;
      } else {
        this.whereDateTime = index;
      }
    },
    setDate (index) {
      const item = this.dateTimeArray[index];
      if (item.type == -1) {
        this.$set(this.where, 'createdAtStart', -1);
        this.$set(this.where, 'createdAtEnd', -1);
      } else {
        let datetime = item.value;
        if (datetime) {
          datetime = datetime.split('~');
          this.$set(this.where, 'createdAtStart', datetime[0]);
          this.$set(this.where, 'createdAtEnd', datetime[1]);
        }
      }
      this.getRecordList();
    },
    async getRecordList () {
      // this.allSelect = false;
      const params = JSON.parse(JSON.stringify({
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        order: this.order
      }));
      // console.log(this.where);
      try {
        const res = await getRebateRecordList(params);
        for (const i in res.data) {
          const item = res.data[i];
          this.$set(item, 'select', false);
        }

        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      let id = this.order.id;
      if (id == 0) {
        id = 1;
      } else if (id == 1) {
        id = -1;
      } else if (id == -1) {
        id = 0;
      }
      this.order.id = id;
      this.getRecordList();
    }
  }
};
</script>
