<template>
  <b-modal id="edit" :no-close-on-backdrop="true" :size="lid==-1?'lg':'xl'">
    <template #modal-header="{close}">
      <h4 v-if="editItem" class="modal-title">{{ getLang('編輯') }}{{ editItem.title }}</h4>
      <button type="button" class="close" @click="close();">×</button>
    </template>
    <template #default>
      <div class="d-flex align-items-start">
        <CmsPromotionManagementModalItem
          v-if="editItem"
          :edit-item="editItem"
          :upload-info-image="uploadInfoImage"
          :common-lang-item="commonLangItem"
          :common-lang="commonLang"
          :common-image="commonImage"
        />
        <CmsPromotionManagementModalItem
          v-if="editItem && commonLangItem[editItem.id]"
          :edit-item="commonLangItem[editItem.id]"
          :upload-info-image="uploadInfoImage"
          :common-lang-item="commonLangItem"
          :common-lang="commonLang"
          :common-image="commonImage"
        />
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <div class="form-group w-100 d-flex align-items-center">
        <label class="text-nowrap">{{ getLang('內容內圖片') }}:</label>
        <button class="btn btn-primary text-nowrap" style="position:relative;overflow: hidden;">
          {{ getLang('上傳圖片') }}
          <input
            type="file"
            style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;"
            @change="uploadImage($event)"
          />
        </button>
        <div class="d-flex" style="overflow-x:scroll;">
          <div
            v-for="(image_id,index) in imagelist"
            :key="index"
            style="width:100px;height:100%;position:relative;"
          >
            <img
              style="width:100%;height:100%;"
              :src="getFilePath(image_id)"
            />
            <a target="_blank" :href="getFilePath(image_id)" style="position:absolute;top:0;right:0;widht:100%;height:100%;"></a>
            <button

              class="btn btn-primary btn-sm"
              style="position:absolute;top:0;right:0;"
              @click="removeImageInContent(image_id)"
            >
              ×
            </button>
          </div>
        </div>
      </div>
      <b-button variant="light" @click="cancel();">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import commonImage from '~/api/commonImage.js';
import commonLang from '~/api/commonLang.js';
import { updatePromotion } from '~/api/cms.js';
export default {
  props: ['lid', 'editItem', 'commonLang', 'commonLangItem', 'uploadInfoImage', 'commonImage'],
  data () {
    return {
    };
  },
  computed: {
    ...mapFields('lang', ['langList']),
    imagelist () {
      if (this.editItem) {
        const list = this.commonImage[this.editItem.id];
        if (list) {
          return list;
        }
      }

      return [];
    }
  },

  methods: {
    async uploadImage (e) {
      if (e.target.files[0]) {
        const file = e.target.files[0];
        const formData = new FormData();
        formData.append('image', file);
        formData.append('model_name', 'PromotionManagement');
        formData.append('model_id', this.editItem.id);
        try {
          const { image_id, message } = await commonImage.upload(formData);
          if (!this.commonImage[this.editItem.id]) {
            this.$set(this.commonImage, this.editItem.id, []);
          }
          this.commonImage[this.editItem.id].push(image_id);
          this.alertWindow(message);
          const item = this.editItem;
          if (item.lid) {
            await commonLang.set({
              lid: item.lid,
              model_id: item.id,
              model_field: 'image_id',
              model_name: 'PromotionManagement',
              model_content: image_id
            });
            this.$set(this.commonLang, item.lid + '-' + item.id + '-image_id', image_id);
          }
        } catch (err) {
          this.alertWindow(err.message);
        }
      }
    },
    removeImageInContent (image_id) {
      const escapeRegExp = function (text) {
        return text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, '\\$&');
      };
      const path = this.getFilePath(image_id);

      this.confirmWindow(this.getLang('確認移除圖片') + '?', async () => {
        try {
          const res = await commonImage.delete({ image_id });
          const item = this.editItem;
          // console.log(item);
          const index = this.commonImage[item.id].indexOf(image_id);
          if (index != -1) {
            this.commonImage[item.id].splice(index, 1);
          }
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    }
  }
};
</script>
<style lang="scss">
.ql-editor{
    height:300px;
    overflow-y: scroll;
}
</style>
