<template>
  <tr>
    <td v-if="!item.lid">
      <button
        class="btn btn-light"
        draggable="true"
        @dragover.prevent
        @drop="swapItem(index)"
        @dragstart="drag.index=index"
      >
        {{ item.id }}
      </button>
    </td>
    <td>
      {{ item.title }}
      <br />
      <span v-if="commonLangItem[item.id]">
        {{ commonLangItem[item.id].title }}
      </span>
    </td>
    <td>
      <div v-if="item.image_id" style="display:inline-block;position:relative;">
        <div style="position:absolute;" class="text-white">{{ getLang('原文') }}</div>
        <img :src="getFilePath(item.image_id)" style="max-width:100px;" />
      </div>
      <button v-else class="btn btn-primary" style="position:relative;">
        {{ getLang('上傳圖片') }}({{ getLang('原文') }})
        <input
          type="file"
          style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;"
          @change="uploadInfoImage($event,item)"
        />
      </button>
      <div v-if="commonLangItem[item.id] && commonLangItem[item.id].image_id" style="display:inline-block;position:relative;">
        <div style="position:absolute;" class="text-white">{{ langObject[lid] }}</div>
        <img
          :src="getFilePath(commonLangItem[item.id].image_id)"
          style="max-width:100px;"
        />
      </div>

      <button v-else-if="commonLangItem[item.id]" class="btn btn-primary" style="position:relative;">
        {{ getLang('上傳圖片') }}({{ langObject[lid] }})
        <input
          type="file"
          style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;"
          @change="uploadInfoImage($event,commonLangItem[item.id])"
        />
      </button>
    </td>
    <td>
      <select :value="item.status" @change="updateField($event,item,'status')">
        <option
          v-for="(statusItem,statusIndex) in statusList"
          :key="statusIndex"
          :value="statusItem.value"
        >
          {{ getLang(statusItem.show) }}
        </option>
      </select>
    </td>
    <td>
      <b-button variant="primary" @click="edit(1,index)">{{ getLang('編輯') }}</b-button>
      <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
    </td>
  </tr>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import {
  updatePromotion
} from '~/api/cms.js';
export default {
  props: ['item', 'index', 'edit', 'uploadInfoImage', 'lid', 'commonLangItem', 'swapItem', 'drag', 'deleteItem'],
  data () {
    return {};
  },
  computed: {
    ...mapFields('promotion', ['statusList']),
    ...mapFields('lang', ['langObject'])
  },
  mounted () {
  },
  methods: {
    updateField (e, item, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = e.target.value;
        try {
          const res = await updatePromotion(payload, item.id);
          item[field] = e.target.value;
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          e.target.value = item[field];
          this.alertWindow(err.message);
        }
      }, () => {
        e.target.value = item[field];
      });
    }

  }
};

</script>
