<template>
  <div class="d-flex w-100 flex-wrap">
    <div class="form-inline w-100">
      <div class="form-group">
        <label class="text-nowrap">{{ getLang('封面') }}:</label>
        <div class="d-inline-flex align-items-center" style="width:100px;height:100px;position:relative;overflow: hidden;">
          <img
            v-if="editItem.image_id"
            :src="getFilePath(editItem.image_id)"
            style="width:100%;height:100%;"
          />
          <button v-else class="btn btn-primary">
            上傳封面
          </button>
          <input
            type="file"
            style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;"
            @change="uploadInfoImage($event,editItem)"
          />
        </div>
      </div>
      <div class="form-group">
        <label class="text-nowrap">{{ getLang('標題') }}:</label>
        <input
          v-model="item.title"
          type="text"
          class="form-control form-control-sm"
        />
      </div>
    </div>
    <div class="form-group w-100">
      <quillEditor
        :content="item.content"
        :options="{
          modules: { toolbar: true },
          theme: 'snow',
          placeholder:''
        }"
        @change="$set(item,'content',$event.html)"
      />
    </div>

    <button
      v-if="checkChanged"
      class="btn btn-danger"
      @click="updateItem();"
    >
      {{ getLang('儲存') }}{{ editItem.lid ? langObject[editItem.lid]:'原文' }}
    </button>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import 'quill/dist/quill.bubble.css';
import { quillEditor } from 'vue-quill-editor';
import { updatePromotion } from '~/api/cms.js';
import commonLang from '~/api/commonLang.js';

export default {
  components: { quillEditor },
  props: ['editItem', 'uploadInfoImage', 'commonLangItem', 'commonLang', 'commonImage'],
  data () {
    return {
      item: null
    };
  },
  computed: {
    ...mapFields('lang', ['langObject']),

    checkChanged () {
      return this.item.title != this.editItem.title || this.item.content != this.editItem.content;
    }
  },
  watch: {
    editItem: {
      handler (editItem) {
        this.item = JSON.parse(JSON.stringify(editItem));
      },
      immediate: true
    }
  },
  methods: {
    async updateItem () {
      const item = this.item;
      const id = this.item.id;
      const fields = ['title', 'content'];
      try {
        if (item.lid) {
          for (const i in fields) {
            const field = fields[i];
            if (item[field] == this.commonLang[item.lid + '-' + item.id + '-' + field]) {
              continue;
            }

            commonLang.set({
              lid: item.lid,
              model_id: item.id,
              model_name: 'PromotionManagement',
              model_field: field,
              model_content: item[field]
            }).then(({ message }) => {
              this.alertWindow(message);
            }).catch(() => {});
            if (item[field]) {
              this.$set(this.commonLang, item.lid + '-' + item.id + '-' + field, item[field]);
            } else {
              this.$delete(this.commonLang, item.lid + '-' + item.id + '-' + field);
            }
          }
        } else {
          const res = await updatePromotion(item, id);
          for (const i in this.item) {
            this.editItem[i] = this.item[i];
          }
          this.alertWindow(res.message);
        }
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    }

  }
};
</script>
<style lang="scss">
.ql-editor{
    height:300px;
    overflow-y: scroll;
}
</style>
