<template>
  <div class="section-body">
    <div class="row col-12 card card-body">
      <div class="form-inline form-group">
        <span style="width:100px">{{ getLang('優惠') }}：</span>
        <select v-model="promoItem" class="form-control">
          <option value="-1">
            {{ getLang('請選擇') }}
          </option>
          <option
            v-for="(item,index) in promoList"
            :key="index"
            :value="item.id"
          >
            {{ item.title }}
          </option>
        </select>
      </div>
      <div class="form-inline form-group">
        <span style="width:100px">{{ getLang('自動審批') }}：</span>
        <label class="mx-1">
          <input v-model="autoApproval" class="form-check-input" type="radio" name="autoApproval" :value="1" />
          {{ getLang('是') }}
        </label>
        <label class="mx-1">
          <input v-model="autoApproval" class="form-check-input" type="radio" name="autoApproval" :value="0" />
          {{ getLang('否') }}
        </label>
      </div>
      <div class="form-inline form-group">
        <span style="width:100px">{{ getLang('文件') }}：</span>
        <input type="file" accept=".xls,.xlsx/*" />
      </div>
      <div class="form-inline form-group">
        <button class="btn btn-primary" @click="''">{{ getLang('提交') }}</button>
      </div>
    </div>
  </div>
</template>
<script>
import { getPromoList } from '~/api/transaction.js';
export default {
  data () {
    return {
      promoList: [],
      promoItem: -1,
      autoApproval: 1
    };
  },
  mounted () {
    this.getPromoList();
  },
  methods: {
    async getPromoList () {
      try {
        const res = await getPromoList();
        this.$set(this, 'promoList', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    }
  }
};
</script>
