<template>
  <b-modal id="product-main" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('更新產品詳情') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <div class="form-group form-inline">
      <label>{{ getLang('產品名稱') }}:</label>
      <input
        v-model="editItem.name"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('次序') }}:</label>
      <input v-model="editItem.order" type="number" class="form-control" />
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('維護開始時間') }}:</label>
      <date-picker
        v-model="editItem.maintainAtStart"
        type="datetime"
        value-type="format"
        format="YYYY-MM-DD HH:mm:ss"
        placeholder="開始時間"
      />
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('維護結束時間') }}:</label>
      <date-picker
        v-model="editItem.maintainAtEnd"
        type="datetime"
        value-type="format"
        format="YYYY-MM-DD HH:mm:ss"
        placeholder="結束時間"
      />
    </div>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="updateItem">{{ getLang('更新') }}</b-button>
      <b-button variant="light" @click="cancel();preview=null">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { getProductList, deleteProduct, addProduct, updateProduct } from '~/api/product.js';
export default {
  props: ['editItem'],
  data () {
    return {
    };
  },
  methods: {
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateProduct(payload, id);
        this.$root.$emit('bv::hide::modal', 'product-main');
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    }
  }
};
</script>
