<template>
  <div v-if="editItem">
    <div class="form-group form-inline">
      <div class="form-group form-inline">
        <label>{{ getLang('名稱') }}:</label>
        <input disabled :value="editItem.name" type="text" />
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('縮寫') }}:</label>
        <input disabled :value="editItem.code" type="text" />
      </div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('狀態') }}:</label>
      <b-form-checkbox
        v-model.number="editItem.status"
        :value="1"
        :unchecked-value="0"
      />營運中
      <b-form-checkbox
        v-model.number="editItem.status"
        :value="0"
        :unchecked-value="1"
      />維護中
    </div>
    <div class="d-flex">
      <div class="w-100 table-responsive">
        <product-main-modal-crontab :item="cronItem" />
        <select v-model="cronItem.status">
          <option
            v-for="(statusItem,statusIndex) in statusArray"
            :key="statusIndex"
            :value="statusItem.value"
          >
            {{ getLang(statusItem.show) }}
          </option>
        </select>
        <button class="btn btn-primary btn-sm" @click="addDetail(cronItem,'crontab')">新增週期時間</button>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>
                id
              </th>
              <th>
                {{ getLang('時分星期') }}
              </th>
              <th>
                {{ getLang('操作') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in editItem.detail.crontab" :key="index">
              <td>{{ index+1 }}</td>
              <td>
                <product-main-modal-crontab :item="item" />
                <select v-model="item.status">
                  <option
                    v-for="(statusItem,statusIndex) in statusArray"
                    :key="statusIndex"
                    :value="statusItem.value"
                  >
                    {{ getLang(statusItem.show) }}
                  </option>
                </select>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" @click="delDetail(index,'crontab')">刪除</button>
              </td>
            </tr>
            <tr v-if="!editItem.detail.crontab.length">
              <td colspan="3">
                {{ getLang('無資料') }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-if="0" class="w-100">
        <input v-model="scheduleItem.text" type="text" placeholder="時間" />
        <select v-model="scheduleItem.status">
          <option
            v-for="(statusItem,statusIndex) in statusArray"
            :key="statusIndex"
            :value="statusItem.value"
          >
            {{ getLang(statusItem.show) }}
          </option>
        </select>
        <button class="btn btn-primary btn-sm" @click="addDetail(scheduleItem,'schedule')">新增固定時間</button>
        <div v-for="(item,index) in editItem.detail.schedule" :key="index">
          <input v-model="item.text" type="text" />
          <select v-model="item.status">
            <option
              v-for="(statusItem,statusIndex) in statusArray"
              :key="statusIndex"
              :value="statusItem.value"
            >
              {{ getLang(statusItem.show) }}
            </option>
          </select>
          <button class="btn btn-primary btn-sm" @click="delDetail(index,'schedule')">刪除</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getProductList, deleteProduct, addProduct, updateProduct } from '~/api/product.js';
export default {
  props: ['editItem'],
  data () {
    return {
      timer: null,
      cronItem: {
        status: 0,
        text: '',
        week: 1,
        hour: 0,
        minute: 0
      },
      scheduleItem: { status: 0, text: '' },
      statusArray: [{ value: 1, show: '營運中' }, { value: 0, show: '維護中' }]
    };
  },
  computed: {

  },
  watch: {
    editItem: {
      handler (editItem) {
        clearTimeout(this.timer);
        this.timer = setTimeout(() => {
          this.updateItem();
        }, 10);
      },
      deep: true
    }
  },
  mounted () {
  },
  methods: {
    addDetail (item, name) {
      this.editItem.detail[name].push(JSON.parse(JSON.stringify(item)));
      item.text = '';
      item.status = 0;
    },
    delDetail (index, name) {
      this.confirmWindow(this.getLang('確認移除') + '?', () => {
        this.editItem.detail[name].splice(index, 1);
      });
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      try {
        const res = await updateProduct(payload, id);
      } catch (err) {
      }
    }
  }
};
</script>
