<template>
  <div v-frag>
    <select v-model="item.hour">
      <option
        v-for="(hour,hourIndex) in 24"
        :key="hourIndex"
        :value="hour-1"
      >
        {{ hour-1 }}
      </option>
    </select>:
    <select v-model="item.minute">
      <option
        v-for="(minute,minuteIndex) in 60"
        :key="minuteIndex"
        :value="minute-1"
      >
        {{ minute-1 }}
      </option>
    </select>
    <select v-model="item.week">
      <option
        v-for="(weekItem,index) in weekList"
        :key="index"
        :value="weekItem.value"
      >
        {{ getLang(weekItem.show) }}
      </option>
    </select>
  </div>
</template>
<script>
export default {
  props: ['item'],
  data () {
    return {
      weekList: [
        { value: 1, show: '星期一' },
        { value: 2, show: '星期二' },
        { value: 3, show: '星期三' },
        { value: 4, show: '星期四' },
        { value: 5, show: '星期五' },
        { value: 6, show: '星期六' },
        { value: 7, show: '星期日' }
      ]
    };
  }
};
</script>
