<template>
  <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <div class="form-group form-inline">
      <label>{{ getLang('遊戲編號') }}:</label>
      <input
        v-model="editItem.gameType"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('遊戲名稱') }}:</label>
      <input v-model="editItem.name" type="text" class="form-control" />
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('遊戲描述') }}:</label>
      <input v-model="editItem.gameName" type="text" class="form-control" />
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('遊戲種類') }}:</label>
      <select v-model="editItem.gameId" class="form-control">
        <option
          v-for="(item,index) in editGameType"
          :key="index"
          :value="item.id"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('遊戲商') }}:</label>
      <select v-model="editItem.pid" class="form-control">
        <option
          v-for="(item,index) in editPid"
          :key="index"
          :value="item.id"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="form-group w-100 d-flex align-items-center">
      <label class="text-nowrap">{{ getLang('內容內圖片') }}:</label>
      <div v-if="preview || editItem.images" class="d-inline-flex align-items-center" style="width:100px;height:100px;position:relative;overflow: hidden;">
        <img
          v-if="preview"
          :src="preview"
          style="width:100%;height:100%;"
        />
        <img
          :src="editItem.images"
          style="width:100%;height:100%;"
        />
      </div>
      <label class="btn btn-primary ml-2">
        上傳封面
        <input
          type="file"
          style="margin-left: -80px;width:80px;opacity:0;z-index:-1"
          @change="uploadInfoImage($event)"
        />
      </label>
    </div>
    <template #modal-footer="{ cancel }">
      <b-button v-if="editType" variant="primary" @click="updateItem">{{ getLang('更新') }}</b-button>
      <b-button v-else variant="primary" @click="addItem">{{ getLang('新增') }}</b-button>
      <b-button variant="light" @click="cancel();preview=null">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { addGameType, updateGameType } from '~/api/product.js';
import commonImage from '~/api/commonImage.js';
import commonLang from '~/api/commonLang.js';
export default {
  props: ['editItem', 'editType', 'editPid'],
  data () {
    return {
      preview: null,
      imgData: null,
      editGameType: [
        { id: 1, name: 'BBIN老虎機' },
        { id: 2, name: 'BBIN釣魚機' },
        { id: 3, name: 'XBB老虎機' }
      ]
    };
  },
  methods: {
    async updateItem () {
      const formData = new FormData();
      formData.append('images', this.imgData);
      formData.append('gameType', this.editItem.gameType);
      formData.append('name', this.editItem.name);
      formData.append('gameName', this.editItem.gameName);
      formData.append('pid', this.editItem.pid);
      formData.append('gameId', this.editItem.gameId);
      const id = this.editItem.id;
      try {
        const res = await updateGameType(formData, id);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    async addItem () {
      const formData = new FormData();
      formData.append('images', this.imgData);
      formData.append('gameType', this.editItem.gameType);
      formData.append('name', this.editItem.name);
      formData.append('gameName', this.editItem.gameName);
      formData.append('pid', this.editItem.pid);
      formData.append('gameId', this.editItem.gameId);
      try {
        const res = await addGameType(formData);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
        return true;
      } catch (err) {
        this.alertWindow(err.message);
        return true;
      }
    },
    uploadInfoImage (event) {
      const input = event.target;
      if (input.files) {
        const reader = new FileReader();
        reader.onload = (e) => {
          this.preview = e.target.result;
        };
        this.imgData = input.files[0];
        reader.readAsDataURL(input.files[0]);
      }
    }
  }
};
</script>
