<template>
  <div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar sticky sticky d-flex justify-content-between">
      <div class="form-inline">
        <ul class="navbar-nav">
          <li>
            <a
              href="javascript:void(0);"
              data-toggle="sidebar"
              class="nav-link nav-link-lg collapse-btn"
              @click="triggerSidebar"
            >
              <img
                class="feather feather-align-justify"
                src="@/assets/images/collapse.svg"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="form-inline">
        <ul class="navbar-nav navbar-right">
          <li>
            <nuxt-link to="/member/member-listing" class="dropdown-item has-icon px-2" @click.native="dropdown=!dropdown">
              <b-badge style="padding: 3px 6px; margin: -16px 0px 0px -17px;" variant="warning">{{ registered }}</b-badge>
              <i class="far fa-user" style="margin-top: 4px;"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/order/now-time" class="dropdown-item has-icon px-2" @click.native="dropdown=!dropdown">
              <b-badge style="padding: 3px 6px; margin: -16px 0px 0px -17px;" variant="warning">{{ nowOrder }}</b-badge>
              <i class="fas fa-ticket-alt" style="margin-top: 4px;"></i>
            </nuxt-link>
          </li>
          <li>
            <div style="margin-top: 7px;font-size:0.8em">{{ simpleDateFormat(nowTime) }}</div>
          </li>
          <li class="dropdown" :class="{ show: dropdown }">
            <a
              href="javascript:void(0)"
              data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user d-flex justify-content-center"
              @click.stop="dropdown = !dropdown"
            >
              <div class="d-flex justify-content-center profile-item m-0 p-0">
                <i class="far fa-user"></i>
              </div>
            </a>

            <div
              class="dropdown-menu dropdown-menu-right pullDown"
              :class="{ show: dropdown }"
            >
              <div v-if="profile" class="px-4">{{ profile.name || profile.account }}</div>
              <nuxt-link to="/profile" class="dropdown-item has-icon" @click.native="dropdown=!dropdown">
                <i class="far fa-user"></i> {{ getLang('個人資料') }}
              </nuxt-link>

              <nuxt-link to="/change-password" class="dropdown-item has-icon" @click.native="dropdown=!dropdown">
                <i class="far fa-user"></i> {{ getLang('修改密碼') }}
              </nuxt-link>
              <div class="dropdown-divider"></div>
              <a
                href="javascript:void(0)"
                class="dropdown-item has-icon text-danger"
                @click="logout"
              >
                <i class="fas fa-sign-out-alt"></i>{{ getLang("登出") }}
              </a>
            </div>
          </li>
          <li class="mt-1">
            <lang-menu />
          </li>
        </ul>
      </div>
    </nav>

    <div
      class="main-sidebar sidebar-style-2"
      tabindex="1"
      style="overflow: auto; outline: none"
    >
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <nuxt-link to="/" class="btn">
            <!--暫時-->
            <img alt="image" src="/assets/img/logo.png" class="header-logo" />
          </nuxt-link>
          <div v-if="profile">
            <span class="profile-avatar mr-1">
              <i class="far fa-user"></i>
            </span>
            <span>{{ profile.name || profile.account }}</span>
            <span>{{ getLang('微博帝國') }}</span>
          </div>
        </div>
        <nav-guide :breadcrumb="breadcrumb" />
      </aside>
    </div>
    <div class="main-content">
      <section class="section">
        <breadcrumb :breadcrumb="breadcrumb" />
        <Nuxt />
      </section>
    </div>
    <popup-windows />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { logout } from '~/api/user.js';
import { get } from '~/api/statistics.js';
import { getList } from '~/api/order.js';
export default {
  data () {
    return {
      getProfileTimer: -1,
      dropdown: false,
      langData: [],
      nowTime: new Date(),
      registered: 0,
      data: [],
      pageData: { page: 0, limit: 10 },
      where: {
        status: -1,
        type: -1,
        pid: -1,
        gid: -1,
        typeStart: 1
      }
    };
  },
  computed: {
    breadcrumb () {
      for (const i in this.guide) {
        if (this.guide[i].show == 0) { continue; }
        if (this.guide[i].path && this.$route.path == this.guide[i].path) {
          return this.guide[i];
        }
      }

      for (const i in this.guide) {
        if (this.guide[i].show == 0) { continue; }
        if (this.guide[i].path != '/') {
          if (this.guide[i].path && this.$route.path.indexOf(this.guide[i].path) != -1) {
            return this.guide[i];
          }
        }
      }
      return false;
    },
    ...mapFields('user', ['guide', 'guideTree', 'profile', 'power', 'nowOrder'])
  },
  mounted () {
    this.getNowOrder();
    this.initialize();
    this.resize();
    window.addEventListener('resize', this.resize);
    this.getProfile();
    this.getProfileTimer = setInterval(() => {
      this.getProfile();
    }, 1000 * 20);
    setInterval(() => {
      this.getNowOrder();
    }, 1000 * 10);
    window.addEventListener('click', () => {
      if (this.dropdown) {
        this.dropdown = false;
      }
    });
  },
  destroyed () {
    clearTimeout(this.getProfileTimer);
    document.body.removeEventListener('click', this.triggerSidebar);
    window.removeEventListener('resize', this.resize);
  },
  methods: {
    initialize () {
      get({
        name: ['registered'],
        save_date: Date.now()
      }).then(({ data }) => {
        const total = {};
        for (const i in data.list) {
          const item = data.list[i];
          total[item.name] = item.list[0];
        }
        this.registered = total.註冊 ||= '0';
      }).catch(() => {});
    },
    async getNowOrder () {
      const postData = JSON.parse(JSON.stringify({
        where: this.where,
        page: this.pageData.page,
        limit: this.pageData.limit
      }));

      if (this.mid) {
        postData.where.mid = this.mid;
      }
      if (this.where.type == -1) {
        postData.where.type = this.type;
      }
      const res = await getList(postData);
      const nowOrder = res.data.filter((x) => {
        return x.withdrawalStatus === 0 || x.status === 0;
      });
      this.nowOrder = nowOrder.length ||= '0';
    },
    async logout () {
      try {
        await logout();
        this.$store.dispatch('user/clearProfile');
        this.$router.push('/login');
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    triggerSidebar (e) {
      if (window.innerWidth < 500) {
        if (document.body.classList.contains('sidebar-gone')) {
          document.body.classList.remove('sidebar-gone');
          document.body.classList.add('sidebar-show');
          setTimeout(() => {
            document.body.addEventListener('click', this.triggerSidebar);
          });
        } else {
          document.body.classList.add('sidebar-gone');
          document.body.classList.remove('sidebar-show');
          document.body.removeEventListener('click', this.triggerSidebar);
        }
      } else {
        if (document.body.classList.contains('sidebar-mini')) {
          document.body.classList.remove('sidebar-mini');
        } else {
          document.body.classList.add('sidebar-mini');
        }
      }
    },
    resize () {
      if (window.innerWidth < 500) {
        document.body.classList.add('sidebar-gone');
        document.body.classList.remove('sidebar-show');
      } else {
        document.body.classList.remove('sidebar-gone');
        document.body.classList.remove('sidebar-show');
      }
    }
  }
};
</script>
<style lang="scss">
.modal-backdrop {
  opacity: 0.5;
}

.sorting {
  padding: 4px 17px 4px 4px;
  background-image: url(~static/assets/img/sort_both.png);
  cursor: pointer;
  cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
  user-select: none;
  &.asc {
    background-image: url(~static/assets/img/sort_asc.png);
  }
  &.desc {
    background-image: url(~static/assets/img/sort_desc.png);
  }
}

.sidebar-menu {
  li {
    .dropdown-menu {
      display: block !important;
      > li {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.1s ease-out;
      }
    }
    &.active {
      .dropdown-menu {
        > li {
          transition: max-height 0.1s ease-out;
          max-height: 500px;
        }
      }
    }
  }
}
.main-content {
  overflow:hidden;
  min-height: 100vh;
}
.navbar,.navbar-bg{
  height:50px;
}
.main-content{
  padding-top: 70px;
}
.sidebar-mini .sidebar-brand a{
  width: 32px;
  padding: 0;
  overflow: hidden;
}
.profile-item {
  border-radius: 6px;
  box-shadow: 4px 3px 6px 0 rgb(0 0 0 / 20%);
  width:32px;
  height:32px;
  background:#aaaaaa;
}
.profile-avatar {
  border-radius: 20px;
  box-shadow: 4px 3px 6px 0 rgb(0 0 0 / 20%);
  background:#aaaaaa;
  padding: 7px 12px;
  color: white;
  font-weight: bold;
}
</style>
