<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div
              v-for="(item,index) in list"
              :key="index"
              :class="'col-md-'+item.col"
            >
              <div
                class="mb-3 text-white"
                :style="{
                  backgroundColor:'#'+colors[index],
                  position: 'relative',
                }"
              >
                <div
                  class="p-3"
                >
                  <h4>
                    <span v-if="total[item.name] || total[item.name]===0">
                      <span v-if="item.moneyFormat">
                        {{ moneyFormat(total[item.name]) }}
                      </span>
                      <span v-else>
                        {{ moneyFormat(total[item.name],'0,0') }}
                      </span>
                    </span>
                    <span v-else>
                      {{ getLang('未載入資料') }}
                    </span>
                  </h4>
                  <p class="text-white">
                    {{ getLang(item.show) }}
                  </p>
                </div>
                <div
                  :style="{
                    color:'rgba(0,0,0,0.15)',
                    position:'absolute',
                    fontSize: '90px',
                    top: '10px',
                    right: '10px',
                  }"
                >
                  <i class="fa" :class="icons[index]"></i>
                </div>
                <div style="background:rgba(0,0,0,0.2)" class="text-center p-2">
                  <nuxt-link v-if="item.router" :to="item.router" style="color:white;text-decoration:none">
                    {{ getLang('更多詳情') }}<i class="fa fa-arrow-circle-right ml-1"></i>
                  </nuxt-link>
                  <div v-else style="cursor:pointer" @click="initialize()">
                    {{ getLang('更新') }}<i class="fa fa-arrow-circle-right ml-1"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="winLoseData" class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>{{ getLang('最近10天輸贏報表') }}</h4>
        </div>
        <div class="card-body">
          <line-chart
            :height="300"
            :chart-data="winLoseData"
            :options="{
              responsive: true,
              maintainAspectRatio: false
            }"
          />
        </div>
      </div>
    </div>
    <div v-if="transactionData" class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>{{ getLang('最近10天交易報表') }}</h4>
        </div>
        <div class="card-body">
          <line-chart
            :height="300"
            :chart-data="transactionData"
            :options="{
              responsive: true,
              maintainAspectRatio: false
            }"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { get } from '~/api/statistics.js';
import LineChart from '~/components/LineChart.js';
export default {
  components: {
    LineChart
  },
  data () {
    return {
      colors: [
        '0073b7', 'f39c12', '00c0ef', '605ca8', '00a65a', 'dd4b39', '3d9970', '0073b7', 'ff851b', 'd81b60'
      ],
      icons: [
        'fa-dollar-sign', 'fa-users', 'fa-user', 'fa-sign-in-alt', 'fa-dollar-sign', 'fa-dollar-sign', 'fa-dollar-sign', 'fa-dollar-sign', 'fa-dollar-sign', 'fa-dollar-sign'
      ],
      list: [
        { name: '系統額度', show: '系統額度', moneyFormat: true, col: 3 },
        { name: '會員總數', show: '會員總數', router: 'member/member-listing', col: 3 },
        { name: '註冊', show: '今日註冊', router: 'member/member-listing', col: 3 },
        { name: '在線會員', show: '在線會員', router: 'member/member-online', col: 3 },
        { name: '存款', show: '今日存款總額', router: 'order/real-time', moneyFormat: true, col: 2 },
        { name: '提款', show: '今日提款總額', router: 'order/real-time', moneyFormat: true, col: 2 },
        { name: '優惠', show: '今日優惠總額', router: 'promo/promo-report', moneyFormat: true, col: 2 },
        { name: '加點', show: '今日加點總額', router: 'affiliate/walletsLog', moneyFormat: true, col: 2 },
        { name: '扣點', show: '今日扣點總額', router: 'affiliate/walletsLog', moneyFormat: true, col: 2 }
      ],
      total: {},
      winLoseData: null,
      transactionData: null
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.initialize();
    this.getWinLoseData();
    this.getTransactionData();
  },
  methods: {
    initialize () {
      get({
        name: ['系統額度', '會員總數', '註冊', '在線會員', '存款', '提款', '優惠', '加點', '扣點'],
        save_date: Date.now()
      }).then(({ data }) => {
        const total = {};
        for (const i in data.list) {
          const item = data.list[i];
          total[item.name] = item.list[0];
        }
        this.total = total;
      }).catch(() => {});
    },
    getWinLoseData () {
      get({
        name: ['下注', '賠付', '公司盈虧'],
        save_date: Date.now() - 60 * 60 * 24 * 9 * 1000
      }).then(({ data }) => {
        this.winLoseData = data;
      }).catch(() => {});
    },
    getTransactionData () {
      get({
        name: ['存款', '提款', '優惠', '加點', '扣點'],
        save_date: Date.now() - 60 * 60 * 24 * 9 * 1000
      }).then(({ data }) => {
        this.transactionData = data;
      }).catch(() => {});
    }
  }
};
</script>
