<template>
  <section class="section">
    <nav class="navbar navbar-expand-lg main-navbar sticky" style="background:#ffffff00;box-shadow:initial;">
      <div class="form-inline mr-auto">
      </div>
      <lang-menu />
    </nav>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="card card-primary">
            <div class="card-header">
              <h4>{{ getLang('登入') }}</h4>
            </div>
            <div class="card-body">
              <div class="mb-1">
                <label for="email">{{ getLang('帳號') }}</label>
                <input
                  ref="account"
                  v-model="loginData.account"
                  type="text"
                  class="form-control"
                  @keyup.enter="$refs.password.focus()"
                />
                <div class="invalid-feedback">
                  Please fill in your email
                </div>
              </div>
              <div class="mb-1">
                <label for="password" class="control-label">{{ getLang('密碼') }}</label>
                <input
                  ref="password"
                  v-model="loginData.password"
                  type="password"
                  class="form-control"
                  @keyup.enter="$refs.code.focus()"
                />
                <div class="invalid-feedback">
                  please fill in your password
                </div>
              </div>
              <div v-if="0" class="mb-1">
                <div class="custom-control custom-checkbox">
                  <input
                    v-model="remember"
                    type="checkbox"
                    name="remember"
                    class="custom-control-input"
                    tabindex="3"
                  />
                  <label class="custom-control-label" for="remember-me">記住我</label>
                </div>
              </div>
              <div class="mb-3">
                <label class="control-label">{{ getLang('驗證碼') }}</label>
                <div class="d-flex ">
                  <input
                    ref="code"
                    v-model="loginData.imgCode"
                    type="text"
                    class="form-control "
                    @keyup.enter="login"
                  />
                  <img v-if="image" :src="image" @click="getCaptcha" />
                  <div class="invalid-feedback">
                    please fill in your password
                  </div>
                </div>
              </div>
              <div class="mb-1">
                <button type="submit" class="btn btn-primary btn-lg btn-block" @click="login">
                  {{ getLang('登入') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <popup-windows />
  </section>
</template>
<script>
import { getCaptcha, login } from '~/api/user.js';
export default {
  layout: 'login',
  data () {
    return {
      loginData: {
        account: '',
        password: '',
        imgCode: ''
      },
      remember: false,
      image: null
    };
  },
  mounted () {
    this.getCaptcha();
  },
  methods: {
    async login () {
      const payload = this.loginData;
      try {
        const res = await login(payload);
        const path = this.$cookies.get('path');
        if (path) {
          this.$router.push(path);
          this.$cookies.remove('path');
        } else {
          this.$router.push(res.goto);
        }
      } catch (err) {
        this.getCaptcha();
        this.alertWindow(err.message);
      }
    },
    async getCaptcha () {
      try {
        const res = await getCaptcha();
        this.image = res.img;
        if (res.code) {
          this.loginData.imgCode = res.code;
        }
      } catch (err) {
        this.alertWindow(err.message);
      }
    }
  }
};
</script>
