<template>
  <div class="section-body">
    <div class="row">
      <div class="card mr-2" style="max-width: 30rem;">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('基本資料') }}</h4>
        </div>
        <div class="card-body ">
          <div v-if="user" class="col-12">
            <div v-if="power!='S'" class="form-group form-inline">
              <label>{{ getLang('用戶名') }}:</label><input class="form-control form-control-sm" :value="user.account" disabled type="text" />
            </div>
            <div v-if="power!='S'" class="form-group form-inline">
              <label>{{ getLang('全名') }}:</label><input class="form-control form-control-sm" :value="user.account" disabled type="text" />
            </div>
            <div v-if="power!='S'" class="form-group form-inline">
              <label>{{ getLang('電子郵箱') }}:</label><input v-model="user.name" class="form-control form-control-sm" type="text" />
            </div>
            <div class="form-group form-inline">
              <button
                v-if="profile && user.name!=profile.name"
                class="btn btn-sm btn-primary"
                @click="update()"
              >
                {{ getLang('修改') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getProfile } from '~/api/user.js';
import { getRoleList, updateAccount } from '~/api/admin.js';
import { updateAgent } from '~/api/affiliate.js';

export default {
  data () {
    return {
      user: null,
      role: null,
      powerObject: {
        A: '代理',
        E: '員工',
        M: '會員',
        S: 'ROOT'
      },
      password: {
        new: '',
        newAgain: ''
      }
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree', 'profile', 'power']),
    roleObject () {
      const result = {};
      for (const i in this.role) {
        result[this.role[i].id] = this.role[i].name;
      }
      return result;
    }
  },
  mounted () {
    getProfile().then(({ data }) => {
      this.$set(this, 'user', data);
    });
    this.getRole();
  },
  methods: {
    async getRole () {
      try {
        const res = await getRoleList();
        this.$set(this, 'role', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    update () {
      this.confirmWindow(this.getLang('確認更新') + '?', () => {
        let func = null;
        if (this.power == 'E') {
          func = updateAccount;
        } else if (this.power == 'A') {
          func = updateAgent;
        }
        if (func) {
          func({
            name: this.user.name
          }, this.user.id).then(({ message }) => {
            this.getProfile();
            this.alertWindow(this.getLang(message));
          }).catch(({ message }) => {
            this.alertWindow(this.getLang(message));
          });
        }

        return true;
      });
    },
    changePassword () {
      this.confirmWindow(this.getLang('確認更新') + '?', () => {
        if (this.password.new != this.password.newAgain) {
          this.alertWindow(this.getLang('密碼不相同'));
        }
        let func = null;
        if (this.power == 'E') {
          func = updateAccount;
        } else if (this.power == 'A') {
          func = updateAgent;
        }
        if (func) {
          func({
            password: this.password.new
          }, this.user.id).then(({ message }) => {
            this.password.new = '';
            this.password.newAgain = '';
            this.alertWindow(this.getLang(message));
          }).catch(({ message }) => {
            this.alertWindow(this.getLang(message));
          });
        }

        return true;
      });
    }
  }
};
</script>
