<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(0);">{{ getLang('今日') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(1);">{{ getLang('昨天') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(7);">{{ getLang('過去七天') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(30);">{{ getLang('過去三十天') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(17);">{{ getLang('這星期') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(27);">{{ getLang('上星期') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(130);">{{ getLang('這個月') }}</button>
                  <button class="btn btn-outline-primary btn-sm" @click="dateRange(230);">{{ getLang('上個月') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <div class="form-group">
                    <date-picker
                      ref="start_at"
                      v-model="start_at"
                      type="date"
                      value-type="format"
                      format="YYYY-MM-DD 00:00:00"
                      placeholder="開始時間"
                      @change="dateRange(-1)"
                    />
                  </div>
                  <div class="form-group">
                    <date-picker
                      ref="end_at"
                      v-model="end_at"
                      type="date"
                      value-type="format"
                      format="YYYY-MM-DD 23:59:59"
                      placeholder="結束時間"
                      @change="dateRange(-1)"
                    />
                    <button :disabled="!start_at || !end_at" class="btn btn-primary btn-sm" @click="dateRange(-2);">{{ getLang('日期重置') }}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                    <thead>
                      <tr role="row">
                        <!--th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort('promoID')"
                        >
                          id
                        </th-->
                        <th>NO.</th>
                        <th>{{ getLang('優惠簡述') }}</th>
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort('mem_total')"
                        >
                          {{ getLang('參與會員人數') }}
                        </th>
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort('deposit')"
                        >
                          {{ getLang('總存款額') }}
                        </th>
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort('promo')"
                        >
                          {{ getLang('總派獎額') }}
                        </th>
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort('total_amount')"
                        >
                          {{ getLang('核準總額') }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" :key="index" role="row">
                        <td>{{ item.promos['id'] }}</td>
                        <td @click="ticketList(item.promos['id'])"><a>{{ getLang(item.promos['title']) }}</a></td>
                        <td>{{ item.mem_total }}</td>
                        <td>{{ item.deposit }}</td>
                        <td>{{ item.promo }}</td>
                        <td>{{ item.total_amount }}</td>
                      </tr>
                      <tr v-if="!data.length">
                        <td align="center" colspan="6">{{ getLang("無資料") }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="ticketList" :no-close-on-backdrop="true" size="xl">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ getLang('優惠簡述') }}</h4>
        <button type="button" class="close" @click="close();">×</button>
      </template>
      <template #default>
        <div class="row">
          <div class="col-sm-16">
            <div class="d-inline-flex pr-3 mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="ticketList(promoID)">
                <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-16">
            <div class="table-responsive">
              <table class="table table-striped table-bordered text-center">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('時間標記') }}</th>
                    <th>{{ getLang('會員賬號') }}</th>
                    <th>{{ getLang('聯絡號碼') }}</th>
                    <th
                      class="sorting"
                      :class="[sortingObject[orderId]]"
                      @click="switchSort('deposit', promoID)"
                    >
                      {{ getLang('存款額') }}
                    </th>
                    <th
                      class="sorting"
                      :class="[sortingObject[orderId]]"
                      @click="switchSort('promo', promoID)"
                    >
                      {{ getLang('優惠金額') }}
                    </th>
                    <th
                      class="sorting"
                      :class="[sortingObject[orderId]]"
                      @click="switchSort('total_amount', promoID)"
                    >
                      {{ getLang('核準總額') }}
                    </th>
                    <th>{{ getLang('優惠簡述') }}</th>
                    <th>{{ getLang('備註') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in ticket" :key="index" role="row">
                    <td>{{ index+1 }}</td>
                    <td>{{ simpleDateFormat(item.created_at) }}</td>
                    <td>{{ item.member['account'] }}</td>
                    <td>{{ item.member['phone'] }}</td>
                    <td>{{ item.deposit }}</td>
                    <td>{{ item.promo }}</td>
                    <td>{{ item.total_amount }}</td>
                    <td class="text-left">{{ getLang(item.promos['title']) }}</td>
                    <td v-if="item.remark!=''" class="text-left">{{ item.remark }}</td>
                    <td v-else class="text-left">{{ 'OrderID:' }}{{ item.orderID }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <pagination v-if="divPageData" :page-data="divPageData" @getData="ticketList" />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="light" @click="cancel();">{{ getLang('關閉') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import moment from 'moment';
import pagination from '~/components/pagination.vue';
import { getPromoReportList, getTicketList } from '~/api/promo.js';
export default {
  components: { pagination },
  data () {
    return {
      mem_total: 0,
      deposit: 0,
      promo: 0,
      total_amount: 0,
      sortingObject: { 1: 'asc', 2: 'desc' },
      created_at: null,
      remark: null,
      data: [],
      backupData: [],
      pageData: { page: 0, limit: 50 },
      divPageData: { page: 0, limit: 50 },
      orderField: '',
      orderFieldTicket: '',
      orderId: 1,
      promos: null,
      ticket: null,
      member: null,
      promoID: null,
      start_at: moment().format('YYYY-MM-DD 00:00:00'),
      end_at: moment().format('YYYY-MM-DD 23:59:59')
    };
  },
  computed: {
  },
  watch: {
  },
  mounted () {
    this.getData();
  },
  methods: {
    swapItem (swapIndex) {
      const index = this.dragstartIndex;
      this.data.splice(swapIndex, 0, this.data.splice(index, 1).pop());
      this.backupData.splice(swapIndex, 0, this.backupData.splice(index, 1).pop());
      this.updateSort();
    },
    async ticketList (id) {
      this.$root.$emit('bv::show::modal', 'ticketList');
      const params = {
        start_at: this.start_at,
        end_at: this.end_at,
        page: this.pageData.page,
        limit: this.pageData.limit,
        orderField: this.orderFieldTicket,
        orderId: this.orderId,
        data: [],
        promoID: id
      };
      try {
        const res = await getTicketList(params);
        this.$set(this, 'ticket', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'promoID', JSON.parse(JSON.stringify(res.promoID)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    dateRange (num) {
      this.pageData.page = 0;
      this.pageData.total = 0;
      switch (num) {
        case 0:
          this.start_at = moment();
          this.end_at = moment();
          break;
        case 1:
          this.start_at = moment().subtract(1, 'days');
          this.end_at = moment().subtract(1, 'days');
          break;
        case 7:
          this.start_at = moment().subtract(7, 'days');
          this.end_at = moment().subtract(1, 'days');
          break;
        case 30:
          this.start_at = moment().subtract(30, 'days');
          this.end_at = moment().subtract(1, 'days');
          break;
        case 17:
          this.start_at = moment().startOf('week');
          this.end_at = moment().endOf('week');
          break;
        case 27:
          this.start_at = moment().startOf('week').subtract(1, 'week');
          this.end_at = moment().endOf('week').subtract(1, 'week');
          break;
        case 130:
          this.start_at = moment().startOf('month');
          this.end_at = moment().endOf('month');
          break;
        case 230:
          this.start_at = moment().startOf('month').subtract(1, 'month');
          this.end_at = moment().endOf('month').subtract(1, 'month');
          break;
        case -2:
          this.start_at = '';
          this.end_at = '';
          this.$set(this, 'data', '');
          break;
        default :
          if (this.start_at || this.end_at) {
            if (!this.start_at) { this.$refs.start_at.focus(); }
            if (!this.end_at) { this.$refs.end_at.focus(); }
          }
          break;
      }
      if (this.start_at && this.end_at) {
        this.start_at = moment(this.start_at).format('YYYY-MM-DD 00:00:00');
        this.end_at = moment(this.end_at).format('YYYY-MM-DD 23:59:59');
        this.getData();
      }
    },
    async getData () {
      const params = {
        start: this.start_at,
        end: this.end_at,
        page: this.pageData.page,
        limit: this.pageData.limit,
        orderField: this.orderField,
        orderId: this.orderId
      };
      try {
        const res = await getPromoReportList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort (field, id = null) {
      this.orderId = ++this.orderId % 3;
      if (!id) {
        this.orderField = field;
        this.getData();
      } else {
        this.orderFieldTicket = field;
        this.ticketList(id);
      }
    }
  }
};
</script>
<style lang="scss">
.item-image-list{
  img{
    max-width:100px;
  }
}
</style>
