<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary btn-sm" @click="edit(0)">{{ getLang('添加優惠活動') }}</button>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="whereStatus" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜索') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                    <thead>
                      <tr role="row">
                        <th>NO.</th>
                        <th>{{ getLang('主題') }}</th>
                        <th>{{ getLang('狀態') }}</th>
                        <th>{{ getLang('顯示') }}</th>
                        <th>{{ getLang('次序') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.title.indexOf(search)!=-1" :key="index" role="row">
                        <td>
                          {{ index + 1 }}
                        </td>
                        <td class="text-left">{{ item.title }}</td>
                        <td>
                          <select v-model="item.status" @change="updateField(item,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                              :disabled="item.id==1"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <select v-model="item.display" @change="updateField(item,index,'display')">
                            <option
                              v-for="(statusItem,statusIndex) in displayArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                              :disabled="item.id==1"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td>{{ item.sort_id }}</td>
                        <td class="text-left">
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('修改') }}</b-button>
                          <button v-if="item.id!=1" class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="xl">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close();">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('主題') }}:</label>
          <input v-model="editItem.title" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>{{ getLang('副標題') }}:</label>
          <input v-model="editItem.title" type="text" class="form-control" />
        </div>
        <div class="d-flex w-100">
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50 mr-4">
            <label>{{ getLang('類型') }}:</label>
            <select v-model="editItem.type" class="form-control">
              <option
                v-for="item in typeData"
                :key="item.id"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50">
            <label>{{ getLang('次序') }}:</label>
            <input v-model="editItem.sort_id" type="text" class="form-control" />
          </div>
        </div>
        <div class="d-flex w-100">
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50 mr-4">
            <label>{{ getLang('最低存款額') }}:</label>
            <input v-model="editItem.min_deposit" type="text" class="form-control" />
          </div>
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50">
            <label>{{ getLang('顯示') }}:</label>
            <select v-model="editItem.display" class="form-control">
              <option
                v-for="(displayItem,displayIndex) in displayArray"
                :key="displayIndex"
                :value="displayItem.value"
              >
                {{ displayItem.show }}
              </option>
            </select>
          </div>
        </div>
        <div class="d-flex w-100">
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50 mr-4">
            <label>{{ getLang('最高額') }}:</label>
            <input v-model="editItem.max_deposit" type="text" class="form-control" />
          </div>
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50" style="display: grid;">
            <label>{{ getLang('起始時間') }}:</label>
            <date-picker
              v-model="editItem.start_at"
              class="w-100"
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
            />
          </div>
        </div>
        <div class="d-flex w-100">
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50 mr-4">
            <label>{{ getLang('百分率') }}:</label>
            <input v-model="editItem.discount" type="text" class="form-control" />
          </div>
          <div v-if="editItem.id!=1" class="form-group flex-fill w-50" style="display: grid;">
            <label>{{ getLang('結束時間') }}:</label>
            <date-picker
              v-model="editItem.end_at"
              class="w-100"
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
            />
          </div>
        </div>
        <div class="d-flex w-100">
          <div class="form-group flex-fill w-50 mr-4">
            <label>{{ getLang('流水倍數') }}:</label>
            <input v-model="editItem.multiples" type="text" class="form-control" />
          </div>
          <div v-if="editItem.id!=1" class="form-group flex-fill form-inline w-50 mt-4">
            <b-form-checkbox
              v-model.number="editItem.rebate"
              value="0"
              unchecked-value="1"
            />
            <label>{{ getLang('不享有返水') }}</label>
          </div>
        </div>
        <div class="d-flex w-100">
          <div class="w-50 mr-2 p-2 bg-secondary text-dark">
            <div>{{ getLang('代理群組') }}</div>
            <div class="d-flex justify-content-center bg-white text-dark">
              <label class="mx-3 my-1">
                <input v-model="agentSelect" class="form-check-input" type="radio" name="selectAgent" :value="1" />
                {{ getLang('全選') }}
              </label>
              <label class="mx-3 my-1">
                <input v-model="agentSelect" class="form-check-input" type="radio" name="selectAgent" :value="0" />
                {{ getLang('可選') }}
              </label>
            </div>
            <div class="d-flex">
              <div class="text-center" style="width:230px">
                <div class="my-1">{{ getLang('全選') }}</div>
                <div
                  class="border border-dark rounded bg-white"
                  :class="{'not-allowed':agentSelect}"
                  style="height:250px;overflow-y:scroll"
                >
                  <b-list-group v-if="agentSelect === 0" v-model="editItem.agent">
                    <b-list-group-item
                      v-for="(item,index) in notSelectedAgentList"
                      :key="index"
                      :value="item.id"
                      :active="item.isActive"
                      class="text-dark"
                      @click="setActive(item.id,'agent')"
                    >
                      {{ item.name }}
                    </b-list-group-item>
                  </b-list-group>
                </div>
              </div>
              <div v-if="agentSelect === 1" class="mx-2 py-5" style="width:40px">
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-double-left"></i></button>
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-left"></i></button>
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-right"></i></button>
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-double-right"></i></button>
              </div>
              <div v-else class="mx-2 py-5" style="width:40px">
                <button class="btn btn-primary my-1 w-100" @click="setGroup('removeAll', 'agent')"><i class="fas fa-angle-double-left"></i></button>
                <button class="btn btn-primary my-1 w-100" @click="setGroup('remove', 'agent')"><i class="fas fa-angle-left"></i></button>
                <button class="btn btn-primary my-1 w-100" @click="setGroup('add', 'agent')"><i class="fas fa-angle-right"></i></button>
                <button class="btn btn-primary my-1 w-100" @click="setGroup('addAll', 'agent')"><i class="fas fa-angle-double-right"></i></button>
              </div>
              <div class="text-center" style="width:230px">
                <div class="my-1">{{ getLang('可選') }}</div>
                <div
                  class="border border-dark rounded bg-white"
                  :class="{'not-allowed':agentSelect}"
                  style="height:250px;overflow-y:scroll"
                >
                  <b-list-group v-if="agentSelect === 0" v-model="editItem.agent">
                    <b-list-group-item
                      v-for="(item,index) in selectedAgentList"
                      :key="index"
                      :value="item.id"
                      :active="item.isActive"
                      class="text-dark"
                      @click="setActive(item.id,'agent')"
                    >
                      {{ item.name }}
                    </b-list-group-item>
                  </b-list-group>
                </div>
              </div>
            </div>
          </div>
          <div class="w-50 ml-2 p-2 bg-secondary text-dark">
            <div>{{ getLang('會員群組') }}</div>
            <div class="d-flex justify-content-center bg-white text-dark">
              <label class="mx-3 my-1">
                <input v-model="memberSelect" class="form-check-input" type="radio" name="selectmember" :value="1" />
                {{ getLang('全選') }}
              </label>
              <label class="mx-3 my-1">
                <input v-model="memberSelect" class="form-check-input" type="radio" name="selectmember" :value="0" />
                {{ getLang('可選') }}
              </label>
            </div>
            <div class="d-flex">
              <div class="text-center" style="width:230px">
                <div class="my-1">{{ getLang('全選') }}</div>
                <div
                  class="border border-dark rounded bg-white"
                  :class="{'not-allowed':memberSelect}"
                  style="height:250px;overflow-y:scroll"
                >
                  <b-list-group v-if="memberSelect === 0" v-model="editItem.member">
                    <b-list-group-item
                      v-for="(item,index) in notSelectedMemberList"
                      :key="index"
                      :value="item.id"
                      :active="item.isActive"
                      class="text-dark"
                      @click="setActive(item.id,'member')"
                    >
                      {{ item.name }}
                    </b-list-group-item>
                  </b-list-group>
                </div>
              </div>
              <div v-if="memberSelect === 1" class="mx-2 py-5" style="width:40px">
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-double-left"></i></button>
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-left"></i></button>
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-right"></i></button>
                <button class="btn btn-primary my-1 w-100" style="opacity:.5;cursor:not-allowed"><i class="fas fa-angle-double-right"></i></button>
              </div>
              <div v-else class="mx-2 py-5" style="width:40px">
                <button class="btn btn-primary my-1 w-100" @click="setGroup('removeAll', 'member')"><i class="fas fa-angle-double-left"></i></button>
                <button class="btn btn-primary my-1 w-100" @click="setGroup('remove', 'member')"><i class="fas fa-angle-left"></i></button>
                <button class="btn btn-primary my-1 w-100" @click="setGroup('add', 'member')"><i class="fas fa-angle-right"></i></button>
                <button class="btn btn-primary my-1 w-100" @click="setGroup('addAll', 'member')"><i class="fas fa-angle-double-right"></i></button>
              </div>
              <div class="text-center" style="width:230px">
                <div class="my-1">{{ getLang('可選') }}</div>
                <div
                  class="border border-dark rounded bg-white"
                  :class="{'not-allowed':memberSelect}"
                  style="height:250px;overflow-y:scroll"
                >
                  <b-list-group v-if="memberSelect === 0" v-model="editItem.member">
                    <b-list-group-item
                      v-for="(item,index) in selectedMemberList"
                      :key="index"
                      :value="item.id"
                      :active="item.isActive"
                      class="text-dark"
                      @click="setActive(item.id,'member')"
                    >
                      {{ item.name }}
                    </b-list-group-item>
                  </b-list-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk();">{{ editType?getLang('更新優惠活動'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel();">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { getPromoList, deletePromo, addPromo, updatePromo } from '~/api/promo.js';
import { getMemberGroupList } from '~/api/member.js';
import { getAgentList } from '~/api/affiliate.js';
export default {
  data () {
    return {
      editType: 0,
      editOk: null,
      editItem: {},
      editIndex: -1,
      data: [],
      backupData: [],
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      displayArray: [{ value: 1, show: '顯示' }, { value: 0, show: '隱藏' }],
      search: '',
      whereStatus: 1,
      orderId: 1,
      typeData: null,
      memberList: null,
      agentList: null,
      backupMember: null,
      backupAgent: null,
      agentSelect: 1,
      memberSelect: 1
    };
  },
  computed: {
    notSelectedAgentList () {
      const group = JSON.parse(JSON.stringify(this.agentList));
      const result = group.filter(x => x.isSelect === false);
      return result;
    },
    selectedAgentList () {
      const group = JSON.parse(JSON.stringify(this.agentList));
      const result = group.filter(x => x.isSelect === true);
      return result;
    },
    notSelectedMemberList () {
      const group = JSON.parse(JSON.stringify(this.memberList));
      const result = group.filter(x => x.isSelect === false);
      return result;
    },
    selectedMemberList () {
      const group = JSON.parse(JSON.stringify(this.memberList));
      const result = group.filter(x => x.isSelect === true);
      return result;
    }
  },
  mounted () {
    this.getMemberList();
    this.getAgentList();
    this.getData();
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      this.agentList = JSON.parse(JSON.stringify(this.backupAgent));
      this.memberList = JSON.parse(JSON.stringify(this.backupMember));
      this.agentSelect = 1;
      this.memberSelect = 1;
      if (mode) { // 更新
        this.editOk = this.setData;
        this.editIndex = index;
        const agent_group = item.agent_group ? item.agent_group.split('|') : [];
        const member_group = item.member_group ? item.member_group.split('|') : [];
        if (agent_group.length) {
          this.agentSelect = 0;
          this.agentList.forEach((x) => {
            agent_group.forEach((y) => {
              if (x.id === Number(y)) {
                x.isSelect = true;
              }
            });
          });
        }
        if (member_group.length) {
          this.memberSelect = 0;
          this.memberList.forEach((x) => {
            member_group.forEach((y) => {
              if (x.id === Number(y)) {
                x.isSelect = true;
              }
            });
          });
        }
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.setData;
        this.$set(this, 'editItem', {
          title: '',
          sort_id: '',
          type: 20,
          min_deposit: '',
          max_deposit: '',
          discount: '',
          multiples: '',
          display: 1,
          start_at: this.simpleDateFormat(new Date()),
          end_at: this.simpleDateFormat(new Date()),
          rebate: 1,
          agent_group: '',
          member_group: '',
          status: 1
        });
      }
    },
    setData () {
      if (this.agentSelect === 1) {
        this.setGroup('addAll', 'agent');
      }
      if (this.memberSelect === 1) {
        this.setGroup('addAll', 'member');
      }
      const agent_group = [];
      const member_group = [];
      this.agentList.forEach((x) => {
        if (x.isSelect) {
          agent_group.push(x.id);
        }
      });
      this.memberList.forEach((x) => {
        if (x.isSelect) {
          member_group.push(x.id);
        }
      });
      this.editItem.agent_group = agent_group.join('|');
      this.editItem.member_group = member_group.join('|');
      this.editType ? this.updateItem() : this.createItem();
    },
    async getMemberList () {
      try {
        const res = await getMemberGroupList();
        res.data.forEach((x) => {
          x.isSelect = false;
          x.isActive = false;
        });
        this.$set(this, 'memberList', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'backupMember', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getAgentList () {
      try {
        const res = await getAgentList();
        res.data.forEach((x) => {
          x.isSelect = false;
          x.isActive = false;
        });
        this.$set(this, 'agentList', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'backupAgent', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        where_table: '',
        orderId: this.orderId
      };
      try {
        const res = await getPromoList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'typeData', JSON.parse(JSON.stringify(res.typeData.reverse())));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updatePromo(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deletePromo(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addPromo(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updatePromo(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    setActive (id, type) {
      const data = type === 'agent' ? this.agentList : this.memberList;
      data.forEach((x) => {
        if (x.id === id) {
          x.isActive === true ? x.isActive = false : x.isActive = true;
        }
      });
    },
    setGroup (active, type) {
      const data = type === 'agent' ? this.agentList : this.memberList;
      switch (active) {
        case 'removeAll':
          data.forEach((x) => {
            x.isSelect = false;
          });
          break;
        case 'remove':
          data.forEach((x) => {
            if (x.isActive) {
              x.isActive = false;
              x.isSelect = false;
            }
          });
          break;
        case 'add':
          data.forEach((x) => {
            if (x.isActive) {
              x.isActive = false;
              x.isSelect = true;
            }
          });
          break;
        case 'addAll':
          data.forEach((x) => {
            x.isSelect = true;
          });
          break;
        default:
          break;
      }
    }
  }

};
</script>
<style scoped>
 .not-allowed {
   cursor: not-allowed;
 }
</style>
