<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-10">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <label>
                    <select v-model="pageData.limit" @change="getData">
                      <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
                    </select>
                  </label>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <label>
                    <select v-model="whereStatus" @change="getData">
                      <option value="-1">{{ getLang('全部') }}</option>
                      <option
                        v-for="(statusItem,statusIndex) in statusArray"
                        :key="statusIndex"
                        :value="statusItem.value"
                      >
                        {{ getLang(statusItem.show) }}
                      </option>
                    </select>
                  </label>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增類型') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  <label>{{ getLang('搜尋') }}:</label>
                  <label>
                    <input v-model="search" type="search" class="form-control form-control-sm" />
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th>id</th>
                        <th>{{ getLang('名稱') }}</th>
                        <th>{{ getLang('條件') }}</th>
                        <th>{{ getLang('次數') }}</th>
                        <th>{{ getLang('週期') }}</th>
                        <th>{{ getLang('給予(次)') }}</th>
                        <th>{{ getLang('狀態') }}</th>
                        <th>{{ getLang('顯示') }}</th>
                        <th>{{ getLang('次序') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item,index) in data"
                        v-show="!search || item.name.indexOf(search)!==-1"
                        :key="index"
                        role="row"
                      >
                        <td>
                          <button
                            v-b-tooltip.hover
                            :title="getLang('拖曳排序')"
                            class="btn btn-light"
                            draggable="true"
                            @dragover.prevent
                            @drop="swapItem(index)"
                            @dragstart="dragstartIndex=index"
                          >
                            {{ item.id }}
                          </button>
                        </td>
                        <td>{{ getLang(item.name) }}</td>
                        <td>
                          <label>
                            <select v-model="item.condition" @change="updateField(item,index,'condition')">
                              <option
                                v-for="(conditionItem,conditionIndex) in conditionArray"
                                :key="conditionIndex"
                                :value="conditionItem.value"
                              >
                                {{ getLang(conditionItem.show) }}
                              </option>
                            </select>
                          </label>
                        </td>
                        <td>{{ item.times }}</td>
                        <td>
                          <label>
                            <select v-model="item.cycle" @change="updateField(item,index, 'cycle')">
                              <option
                                v-for="(cycleItem,cycleIndex) in cycleArray"
                                :key="cycleIndex"
                                :value="cycleItem.value"
                              >
                                {{ getLang(cycleItem.show) }}
                              </option>
                            </select>
                          </label>
                        </td>
                        <td>{{ item.give }}</td>
                        <td>
                          <label>
                            <select v-model="item.status" @change="updateField(item,index,'status')">
                              <option
                                v-for="(statusItem,statusIndex) in statusArray"
                                :key="statusIndex"
                                :value="statusItem.value"
                              >
                                {{ getLang(statusItem.show) }}
                              </option>
                            </select>
                          </label>
                        </td>
                        <td>
                          <label>
                            <select v-model="item.display" @change="updateField(item,index,'display')">
                              <option
                                v-for="(statusItem,statusIndex) in displayArray"
                                :key="statusIndex"
                                :value="statusItem.value"
                              >
                                {{ getLang(statusItem.show) }}
                              </option>
                            </select>
                          </label>
                        </td>
                        <td>{{ item.sort_id }}</td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('編輯') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="l">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType ? getLang('編輯資料') : getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close();">×</button>
      </template>
      <template #default>
        <div class="form-group form-inline">
          <div class="form-group">
            <label>{{ getLang('名稱') }}:
              <input v-model="editItem.name" type="text" class="form-control" />
            </label>
          </div>
          <div class="form-inline ml-2">
            <div class="form-group">
              <label>
                <select v-model="editItem.display" class="form-control">
                  <option
                    v-for="(displayItem,displayIndex) in displayArray"
                    :key="displayIndex"
                    :value="displayItem.value"
                  >
                    {{ displayItem.show }}
                  </option>
                </select>
              </label>
            </div>
            <div class="form-inline ml-2">
              <label>
                <select v-model="editItem.status" class="form-control">
                  <option
                    v-for="(statusItem,statusIndex) in statusArray"
                    :key="statusIndex"
                    :value="statusItem.value"
                  >
                    {{ statusItem.show }}
                  </option>
                </select>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group form-inline">
          <div class="form-inline">
            <div class="form-group form-inline">
              <label>
                {{ getLang('條件') }}:
                <select v-model="editItem.condition" class="form-control" @change="changeCondition(editItem.condition)">
                  <option
                    v-for="(conditionItem,conditionIndex) in conditionArray"
                    :key="conditionIndex"
                    :value="conditionItem.value"
                  >
                    {{ conditionItem.show }}
                  </option>
                </select>
              </label>
            </div>
            <div v-if="editItem.condition!=0" class="form-group form-inline">
              <input v-model="editItem.times" type="text" class="form-control" />
              <label>{{ getLang('次數') }}</label>
            </div>
          </div>
        </div>
        <div class="form-group form-inline">
          <div class="form-inline">
            <div class="form-group form-inline">
              <label>
                {{ getLang('週期') }}:
                <select v-model="editItem.cycle" class="form-control">
                  <option
                    v-for="(cycleItem,cycleIndex) in cycleArray"
                    :key="cycleIndex"
                    :value="cycleItem.value"
                  >
                    {{ cycleItem.show }}
                  </option>
                </select>
              </label>
            </div>
            <div class="form-group form-inline">
              <label class="ml-2">{{ getLang('給予') }}
                <input v-model="editItem.give" type="text" class="form-control" />
                {{ getLang('次') }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group form-inline">
          <div class="form-inline">
            <div class="form-group form-inline">
              <label>
                {{ getLang('限時') }}:
                <b-form-checkbox
                  v-model.number="editItem.interval"
                  value="1"
                  unchecked-value="0"
                />
              </label>
              <label v-if="editItem.interval!=0">{{ '請在優惠設置 設定時間區間' }}</label>
            </div>
          </div>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk();">{{ editType ? getLang('更新') : getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel();">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getPromoTypeList, deletePromoType, addPromoType, updatePromoType } from '~/api/promo.js';

export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { title: '', status: 0, sort_id: 0 },
      editIndex: -1,
      data: [],
      backupData: {},
      pageData: { page: 0, limit: 10 },
      statusArray: [
        { value: 1, show: '活躍' },
        { value: 0, show: '非活躍' }
      ],
      conditionArray: [
        { value: '0', show: '無' },
        { value: 'D', show: '存款' },
        { value: 'OD', show: '存款超過' },
        { value: 'F', show: '節慶' }
      ],
      cycleArray: [
        { value: '0', show: '無' },
        { value: 'D', show: '日' },
        { value: 'M', show: '月' },
        { value: 'Y', show: '年' },
        { value: 'S', show: '季' },
        { value: 'W', show: '週' }
      ],
      displayArray: [
        { value: 1, show: '顯示' },
        { value: 0, show: '隱藏' }
      ],
      give: 1,
      search: '',
      whereStatus: -1,
      orderId: 1,
      dragstartIndex: null
    };
  },
  computed: {},
  watch: {},
  mounted () {
    this.getData();
  },
  methods: {
    swapItem (swapIndex) {
      const index = this.dragstartIndex;
      this.data.splice(swapIndex, 0, this.data.splice(index, 1).pop());
      this.backupData.splice(swapIndex, 0, this.backupData.splice(index, 1).pop());
      this.updateSort();
    },
    async updateSort () {
      for (const i in this.data) {
        const item = this.data[i];
        item.sort_id = i;
        const id = item.id;
        const payload = {
          sort_id: item.sort_id
        };
        try {
          await updatePromoType(payload, id);
        } catch (err) {
        }
      }
    },
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', {
          title: '',
          sort_id: 1,
          condition: '0',
          interval: 0,
          times: 0,
          cycle: 0,
          give: 1,
          display: 1,
          status: 1
        });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        where_table: '',
        orderId: this.orderId
      };
      try {
        const res = await getPromoTypeList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updatePromoType(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deletePromoType(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addPromoType(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updatePromoType(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    changeCondition (condition) {
      if (condition == 0) { this.editItem.times = 0; }
    }
  }

};
</script>
