<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <rebate-report-head
          :get-list="getList"
          :set-where="setWhere"
        />
      </div>
    </div>
    <div v-show="initShow" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <rebate-report-listing ref="rebateReportList" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return { initShow: 0 };
  },
  computed: {},
  mounted () {},
  methods: {
    getList () {
      if (!this.initShow) {
        this.initShow = 1;
      }
      this.$refs.rebateReportList.getList();
    },
    setWhere (where) {
      this.$refs.rebateReportList.setWhere(where);
    }
  }
};
</script>
