<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <rebate-head
          :get-list="getList"
          :set-where="setWhere"
          :get-record-list="getRecordList"
          :set-rebate-record-where="setRebateRecordWhere"
          :submit-rebate="submitRebate"
          :set-tab-index="setTabIndex"
        />
      </div>
    </div>
    <div v-show="initShow" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <rebate-listing ref="rebateList" />
          </div>
        </div>
      </div>
    </div>
    <div v-show="initShowRecord" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <rebate-record-listing ref="rebateRecordList" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return { initShow: 0, initShowRecord: 0 };
  },
  computed: {},
  mounted () {},
  methods: {
    getList () {
      if (!this.initShow) {
        this.initShow = 1;
        this.initShowRecord = 0;
      }
      this.$refs.rebateList.getList();
    },
    setWhere (where) {
      this.$refs.rebateList.setWhere(where);
    },
    getRecordList () {
      if (!this.initShowRecord) {
        this.initShow = 0;
        this.initShowRecord = 1;
      }
      this.$refs.rebateRecordList.getRecordList();
    },
    setRebateRecordWhere (where) {
      this.$refs.rebateRecordList.setRebateRecordWhere(where);
    },
    submitRebate () {
      this.$refs.rebateList.submitRebate();
    },
    setTabIndex (type) {
      if (type == 1) {
        this.initShow = 0;
        this.initShowRecord = 1;
      } else {
        this.initShow = 1;
        this.initShowRecord = 0;
      }
    }

  }
};
</script>
