<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <b-card class="card">
          <div class="d-flex justify-content-between">
            <h6>{{ getLang('搜索條件') }}</h6>
            <div style="cursor:pointer" @click="searchStatus = !searchStatus"><i class="fas" :class="searchStatus?'fa-plus':'fa-minus'"></i></div>
          </div>
          <div v-if="searchStatus">
            <div class="row border p-2">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('會員創建日期') }}</div>
                    <div class="mb-1">
                      <b-input-group>
                        <template #prepend>
                          <b-dropdown variant="primary" dropdown>
                            <template #button-content>
                              <i class="fas fa-calendar"></i>
                            </template>
                            <b-dropdown-item
                              v-for="(item,index) in dateTimeArray"
                              :key="index"
                              @click="setDate(item,'createdAtRange')"
                            >
                              {{ item.show }}
                            </b-dropdown-item>
                          </b-dropdown>
                        </template>
                        <date-picker
                          v-model="createdAtRange"
                          range
                          type="datetime"
                          value-type="format"
                          format="YYYY-MM-DD HH:mm:ss"
                          placeholder=""
                        />
                      </b-input-group>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('註冊 IP地址') }}</div>
                    <div class="mb-1">
                      <input v-model="where.register_ip" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('會員群組') }}</div>
                    <div class="mb-1">
                      <select v-model="where.gid" size="sm" class="form-control form-control-sm">
                        <option :value="-1">{{ getLang('全部') }}</option>
                        <option
                          v-for="(item,index) in group"
                          :key="index"
                          :value="item.id"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('註冊網站') }}</div>
                    <div class="mb-1">
                      <input v-model="where.register_domain" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('狀態') }}</div>
                    <div class="mb-1">
                      <select v-model="where.member_status" size="sm" class="form-control form-control-sm">
                        <option value="-1">{{ getLang('全部') }}</option>
                        <option
                          v-for="(statusItem,statusIndex) in statusArray"
                          :key="statusIndex"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('賬號') }}</div>
                    <div class="mb-1">
                      <input v-model="where.accountLike" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('全名') }}</div>
                    <div class="mb-1">
                      <input v-model="where.name" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('最近登錄的IP') }}</div>
                    <div class="mb-1">
                      <input v-model="where.login_ip" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('來源平台') }}</div>
                    <div class="mb-1">
                      <select v-model="where.login_device" size="sm" class="form-control form-control-sm">
                        <option value="-1">{{ getLang('全部') }}</option>
                        <option
                          v-for="(statusItem,statusIndex) in deviceArray"
                          :key="statusIndex"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('暫停下註') }}</div>
                    <div class="mb-1">
                      <select v-model="where.members_betStatus" size="sm" class="form-control form-control-sm">
                        <option value="-1">{{ getLang('全部') }}</option>
                        <option
                          v-for="(statusItem,statusIndex) in betStatusArray"
                          :key="statusIndex"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row border mt-3 p-2">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('記錄時間範圍') }}</div>
                    <div class="mb-1">
                      <b-input-group>
                        <template #prepend>
                          <b-dropdown variant="primary" dropdown>
                            <template #button-content>
                              <i class="fas fa-calendar"></i>
                            </template>
                            <b-dropdown-item
                              v-for="(item,index) in dateTimeArray"
                              :key="index"
                              @click="setDate(item,'updatedAtRange')"
                            >
                              {{ item.show }}
                            </b-dropdown-item>
                          </b-dropdown>
                        </template>
                        <date-picker
                          v-model="createdAtRange"
                          range
                          type="datetime"
                          value-type="format"
                          format="YYYY-MM-DD HH:mm:ss"
                          placeholder=""
                        />
                      </b-input-group>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('登錄次數') }}</div>
                    <div class="mb-1">
                      <select v-model="where.members_logins_count_condition" size="sm" class="form-control form-control-sm">
                        <option
                          v-for="(statusItem,statusIndex) in mathArray"
                          :key="statusIndex"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mt-3">
                      <input v-model="where.members_logins_count" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('存款次數') }}</div>
                    <div class="mb-1">
                      <select v-model="where.members_positive_count_condition" size="sm" class="form-control form-control-sm">
                        <option
                          v-for="(statusItem,statusIndex) in mathArray"
                          :key="statusIndex"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mt-3">
                      <input v-model="where.members_positive_count" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('總存款額') }}</div>
                    <div class="mb-1">
                      <select v-model="where.members_positive_amount_condition" size="sm" class="form-control form-control-sm">
                        <option
                          v-for="(statusItem,statusIndex) in mathArray"
                          :key="statusIndex"
                          :value="statusItem.value"
                        >
                          {{ getLang(statusItem.show) }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mt-3">
                      <input v-model="where.members_positive_amount" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 form-inline">
                  <button class="btn btn-primary" @click="getList()">{{ getLang('搜尋') }}</button>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <button class="btn btn-primary" @click="reset()">{{ getLang('重置') }}</button>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <b-form-checkbox v-model="showNote">{{ getLang('顯示備註欄目') }}</b-form-checkbox>
                </div>
              </div>
            </div>
          </div>
        </b-card>
        <div class="card">
          <div class="card-body">
            <div>
              <div class="row mt-3">
                <div class="col-sm-12">
                  <div class="d-inline-flex pr-3 mb-3 form-inline">
                    {{ getLang('顯示') }}
                    <select v-model="pageData.limit" @change="getList">
                      <option v-for="(item,index) in [100,200,500,1000,3000,5000]" :key="index" :value="item">{{ item }}</option>
                    </select>
                    {{ getLang('條目') }}
                  </div>
                  <div class="d-inline-flex pr-3 mb-3 form-inline">
                    <button class="btn btn-primary btn-sm">{{ getLang('導出到Excel') }}</button>
                  </div>
                  <div class="d-inline-flex pr-3 mb-3 form-inline">
                    <button class="btn btn-primary btn-sm">{{ getLang('CSV') }}</button>
                  </div>
                  <div class="d-inline-flex pr-3 mb-3 form-inline">
                    <button class="btn btn-primary btn-sm">{{ getLang('打印') }}</button>
                  </div>
                  <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                    {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive text-center text-nowrap">
                    <table class="table table-striped table-bordered ">
                      <thead>
                        <tr role="row">
                          <th>
                            No.
                            <span
                              class="sorting"
                              :class="[sortingObject[order.id]]"
                              @click="switchSort()"
                            >
                            </span>
                          </th>
                          <th>
                            {{ getLang('會員帳號') }}
                            <span v-if="0">
                              <input v-model="where.accountLike" type="text" :placeholder="getLang('帳號')+'('+ getLang('全名')+')'" @change="pageData.page=0;getList();" />
                              <div>
                                <input v-model="where.phoneLike" type="text" :placeholder="getLang('連絡電話')" @change="pageData.page=0;getList();" />
                              </div>
                            </span>
                          </th>
                          <th>{{ getLang('全名') }}</th>
                          <th>{{ getLang('會員群組') }}</th>
                          <th>{{ getLang('代理編號') }}</th>
                          <th>{{ getLang('連絡電話') }}</th>
                          <th>{{ getLang('電子郵件') }}</th>
                          <th>{{ getLang('結存') }}</th>
                          <th>{{ getLang('註冊詳情') }}</th>
                          <th>{{ getLang('最近登入詳情') }}</th>
                          <th>{{ getLang('登入次數') }}</th>
                          <th>{{ getLang('存款次數') }}</th>
                          <th v-if="showNote">{{ getLang('總存款額') }}</th>
                          <th>{{ getLang('總取款額') }}</th>
                          <th>{{ getLang('遊戲幣') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item,index) in data" v-show="!search || item.account.indexOf(search)!=-1 || item.phone.indexOf(search)!=-1" :key="index" role="row">
                          <td>{{ index + 1 }}</td>
                          <td>
                            <nuxt-link
                              :to="'/member/member-listing/'+item.mid"
                            >
                              {{ item.memberAccount }}
                              <i class="fas fa-external-link-alt"></i>
                            </nuxt-link>
                            <div class="bet-status mb-1 w-60 mx-auto font-weight-bold">{{ item.members_betStatus ? '激活下註' : '暫停下註' }}</div>
                            <div class="status mb-1 w-50 m-auto font-weight-bold">{{ item.status ? '活躍' : '非活躍' }}</div>
                          </td>
                          <td>
                            <nuxt-link
                              :to="'/member/member-listing/'+item.mid"
                            >
                              <span v-if="item.memberName">
                                {{ item.memberName }}
                              </span>
                              <span v-else>
                                -
                              </span>
                              <i class="fas fa-external-link-alt"></i>
                            </nuxt-link>
                          </td>
                          <td>{{ item.member_groups }}</td>
                          <td>{{ item.members_agent }}</td>
                          <td>{{ item.members_phone }}</td>
                          <td>{{ item.members_email }}</td>
                          <td>{{ item.members_amount }}</td>
                          <td>
                            <div v-if="item.members_created_at">{{ simpleDateFormat(item.members_created_at) }}</div>
                            <a href="javascript:void(0)" class="text-decoration-none">{{ item.members_register_ip }}</a>
                            <div class="register-domain mb-1 w-50 m-auto font-weight-bold">{{ item.members_register_domain }}</div>
                          </td>
                          <td>
                            <div v-if="item.members_login_at">{{ simpleDateFormat(item.members_login_at) }}</div>
                            <a href="javascript:void(0)">{{ item.members_login_ip }}</a>
                            <div v-if="item.members_login_device" class="login-device mb-1 w-50 m-auto font-weight-bold">{{ checkDevice(item.members_login_device) }}</div>
                          </td>
                          <td>{{ item.members_logins_count }}</td>
                          <td>{{ item.members_positive_count }}</td>
                          <td v-if="showNote">{{ item.members_positive_amount }}</td>
                          <td>{{ item.members_negativ_amount }}</td>
                          <td>{{ 0.00 }}</td>
                        </tr>
                        <tr v-if="!data.length">
                          <td colspan="19">{{ getLang('無資料') }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
              </div>
              <member-listing-modal
                ref="edit-modal"
                :edit-type="editType"
                :edit-item="editItem"
                :edit-ok="editOk"
              />
              <member-listing-password-modal
                v-if="0"
                ref="password-modal"
                :edit-item="editPasswordItem"
                :edit-ok="resetPassword"
              />
              <member-listing-send-sms-modal
                v-if="0"
                ref="send-sms-modal"
                :edit-item="editSendSmsItem"
              />
              <member-listing-send-inbox-modal
                v-if="0"
                ref="send-inbox-modal"
                :edit-item="editSendInBoxItem"
              />
              <member-listing-confirm-mutiple-list-modal
                ref="confirm-mutiple-list-modal"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getMemberList, deleteMember, addMember, updateMember, changeAgent } from '~/api/member.js';
import { getList } from '~/api/order.js';
export default {
  props: ['agent', 'inventory', 'adjustAmount'],
  data () {
    return {
      searchStatus: true,
      showNote: false,
      sortingObject: { 0: 'asc', 1: 'desc' },
      editType: 0,
      editOk: null,
      editItem: {},
      editIndex: -1,
      data: [],
      pageData: { page: 0, limit: 100 },
      where: {
        member_status: -1,
        gid: -1,
        createdAtStart: -1,
        createdAtEnd: -1,
        register_ip: '',
        register_domain: '',
        accountLike: '',
        name: '',
        login_ip: '',
        login_device: -1,
        members_betStatus: -1,
        members_positive_count: '',
        members_positive_count_condition: '<',
        members_positive_amount: '',
        members_positive_amount_condition: '<',
        members_logins_count: '',
        members_logins_count_condition: '<'
      },
      createdAtRange: [],
      updatedAtRange: [],
      order: {
        id: -1
      },
      statusArray: [{ value: 0, show: '非活耀' }, { value: 1, show: '活耀' }],
      deviceArray: [
        { value: 'WINDOW', show: 'WINDOW' },
        { value: 'MAC', show: 'MAC' },
        { value: 'ANDROID', show: 'ANDROID' },
        { value: 'IPHONE', show: 'IPHONE' },
        { value: 'IPAD', show: 'IPAD' },
        { value: 'WINDOW_PHONE', show: 'WINDOW_PHONE' },
        { value: 'UBUNTU', show: 'UBUNTU' },
        { value: 'PLAYSTATION', show: 'PLAYSTATION' },
        { value: 'NINTENDO', show: 'NINTENDO' },
        { value: 'UNKNOWN', show: 'UNKNOWN' }
      ],
      betStatusArray: [{ value: 0, show: '暫停下注' }, { value: 1, show: '激活下注' }],
      mathArray: [{ value: '<', show: '<' }, { value: '=', show: '=' }, { value: '>', show: '>' }],
      search: '',
      editPasswordItem: {
        id: -1,
        account: '',
        password: '',
        passwordAgain: '',
        gid: '1'
      },
      editSendSmsItem: {},
      editSendInBoxItem: {},
      whereDateTime: 0,
      allSelect: false
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree']),
    ...mapFields(['dateTimeArray']),
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields('agent', { agentList: 'list', agentObject: 'object' }),
    ...mapFields('country', ['countryList', 'countryObject'])
  },
  watch: {
    'where.createdAtStart' () {
      this.setCreatedAt();
    },
    'where.createdAtEnd' () {
      this.setCreatedAt();
    },
    agent () {
      this.pageData.page = 0;
      this.getList();
    }
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.$store.dispatch('agent/getList');
    this.$store.dispatch('group/getList');
    this.$store.dispatch('country/setList');
    this.getList();
  },
  methods: {
    changeAgent (agentAccount) {
      this.$refs['confirm-mutiple-list-modal'].setData(agentAccount, this.data, 0);
    },
    changeGroup (gid) {
      this.$refs['confirm-mutiple-list-modal'].setData(gid, this.data, 1);
    },
    setAllSelect () {
      this.allSelect = !this.allSelect;
      for (const i in this.data) {
        const item = this.data[i];
        item.select = this.allSelect;
      }
    },
    setWhere (where) {
      for (const i in where) {
        this.$set(this.where, i, where[i]);
      }
    },
    checkDevice (userAgent) {
      if (/(iPhone|iPad|iPod|iOS)/i.test(userAgent)) {
        return 'iPhone';
      } else if (/(Android)/i.test(userAgent)) {
        return 'Android';
      }
      return 'Window';
    },
    setCreatedAt () {
      const key = this.where.createdAtStart + '~' + this.where.createdAtEnd;
      const index = this.dateTimeArray.findIndex((item) => {
        return item.value == key;
      });
      if (index == -1) {
        this.whereDateTime = 0;
      } else {
        this.whereDateTime = index;
      }
    },
    editPassword (item) {
      this.editPasswordItem.account = item.account;
      this.editPasswordItem.id = item.id;
      this.$refs['password-modal'].toggle();
    },
    editSendSms (item) {
      this.editSendSmsItem.id = item.id;
      this.editSendSmsItem.account = item.account;
      this.editSendSmsItem.smsContent = '';
      this.editSendSmsItem.phone = item.phone;
      this.$refs['send-sms-modal'].toggle();
    },
    editSendInbox (item) {
      this.editSendInBoxItem.account = item.account;
      this.editSendInBoxItem.mid = item.id;
      this.editSendInBoxItem.type = 0;
      this.editSendInBoxItem.title = '';
      this.editSendInBoxItem.content = '';
      this.$refs['send-inbox-modal'].toggle();
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    edit (mode, index) {
      this.editType = mode;
      this.$refs['edit-modal'].toggle();
      const item = this.data[index];
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        const editItem = {
          account: '',
          password: '',
          name: '',
          phone: '',
          passwordAgain: '',
          gid: 1,
          status: 0
        };
        if (this.agent) {
          editItem.aid = this.agent.id;
        } else {
          editItem.aid = 1;
        }
        this.$set(this, 'editItem', editItem);
      }
    },
    async getList () {
      this.allSelect = false;
      const params = JSON.parse(JSON.stringify({
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        order: this.order,
        memberReport: 1,
        members_created_at_Start: this.createdAtRange[0],
        members_created_at_End: this.createdAtRange[1],
        updatedAtStart: this.updatedAtRange[0],
        updatedAtEnd: this.updatedAtRange[1]
      }));

      if (this.agent) {
        params.where.aid = this.agent.id;
      }

      // console.log(this.where);
      try {
        const res = await getList(params);
        for (const i in res.data) {
          const item = res.data[i];
          this.$set(item, 'select', false);
        }

        this.$set(this, 'data', res.data);
        // this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (e, index, field) {
      const item = this.data[index];
      const value = e.target.value;
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = value;
        const id = item.id;
        try {
          const res = await updateMember(payload, id);
          item[field] = value;
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          e.target.value = item[field];
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
        e.target.value = item[field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteMember(item.id);
          this.data.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      if (this.editItem.password !== this.editItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      }
      const payload = this.editItem;
      try {
        const { data, message } = await addMember(payload);
        this.data.unshift(data);
        this.$refs['edit-modal'].toggle();
        this.alertWindow(message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const index = this.editIndex;
      const payload = {};
      for (const field in this.editItem) {
        if (this.data[index][field] != this.editItem[field]) {
          payload[field] = this.editItem[field];
        }
      }
      const id = this.editItem.id;

      try {
        const res = await updateMember(payload, id);
        for (const field in payload) {
          this.$set(this.data[index], field, payload[field]);
        }
        this.$refs['edit-modal'].toggle();
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async resetPassword () {
      if (this.editPasswordItem.password !== this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      } else if (!this.editPasswordItem.password || !this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('欄位不能留空'));
      }
      const payload = {
        password: this.editPasswordItem.password
      };
      const id = this.editPasswordItem.id;
      try {
        const res = await updateMember(payload, id);
        this.editPasswordItem.password = '';
        this.editPasswordItem.passwordAgain = '';
        this.$refs['password-modal'].toggle();
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      let id = this.order.id;
      if (id == 0) {
        id = 1;
      } else if (id == 1) {
        id = -1;
      } else if (id == -1) {
        id = 0;
      }
      this.order.id = id;
      this.getList();
    },
    tdAmount (item) {
      if (this.where.mergeTrans) {
        if (item.amount < 0) {
          return -item.amount;
        }
      }
      return Math.abs(item.amount);
    },
    reset () {
      this.where.member_status = -1;
      this.where.gid = -1;
      this.where.createdAtStart = -1;
      this.where.createdAtEnd = -1;
      this.where.register_ip = '';
      this.where.register_domain = '';
      this.where.accountLike = '';
      this.where.name = '';
      this.where.login_ip = '';
      this.where.login_device = -1;
      this.where.members_betStatus = -1;
      this.where.members_positive_count = '';
      this.where.members_positive_count_condition = '<';
      this.where.members_positive_amount = '';
      this.where.members_positive_amount_condition = '<';
      this.where.members_logins_count = '';
      this.where.members_logins_count_condition = '<';
      this.createdAtRange = [];
      this.updatedAtRange = [];
    }
  }
};
</script>
<style scoped>
  .login-device {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #A3DEE0;
  }
  .register-domain {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #E1D8E8;
  }
  .bet-status {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #6FE8C6;
  }
  .status {
    padding-right: 10px;
    padding-left: 10px;
    background-color: lime;
  }
</style>
