<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>

                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="searchAccount" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th>{{ getLang('No.') }}</th>
                        <th>{{ getLang('用戶名') }}</th>
                        <th>{{ getLang('代理編號') }}</th>
                        <th>{{ getLang('會員群組') }}</th>
                        <th>{{ getLang('操作平臺') }}</th>
                        <th>{{ getLang('瀏覽器') }}</th>
                        <th>{{ getLang('登入時間/登入IP地址') }}</th>
                        <th>{{ getLang('註冊時間/註冊IP地址') }}</th>
                        <th>{{ getLang('主錢包') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!searchAccount || ids[item.power][item.power_id].account.indexOf(searchAccount)!=-1 || item.agentAccount!=-1 || item.groups_name!=-1" :key="index" role="row">
                        <td>{{ index + 1 }}</td>
                        <td>
                          <a href="javascript:void(0)" @click="showInfo()">{{ ids[item.power][item.power_id].account }}</a>
                        </td>
                        <td>{{ item.agentAccount }}</td>
                        <td>{{ item.groups_name }}</td>
                        <td>{{ setDevice(item.login_device) }}</td>
                        <td>{{ setBrowser(item.login_device) }}</td>
                        <td>
                          {{ item.login_at }}<br />
                          {{ item.login_ip }}
                        </td>
                        <td>
                          {{ simpleDateFormat(item.created_at) }}<br />
                          {{ item.register_ip }}
                        </td>
                        <td>{{ moneyFormat(item.members_amount) }}</td>
                        <td>
                          <button class="btn btn-danger" @click="kickUser(item,index)">{{ getLang('踢除會員') }}</button>
                        </td>
                      </tr>
                      <tr v-if="!data.length">
                        <td colspan="5">{{ getLang('無資料') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <member-online-modal />
  </div>
</template>
<script>
import { getOnlineUser, kickUser } from '~/api/member.js';
export default {
  components: { },
  data () {
    return {
      searchAccount: '',
      pageData: { page: 0, limit: 50 },
      data: [],
      ids: {},
      timer: null
    };
  },
  destroyed () {
    clearTimeout(this.timer);
  },
  mounted () {
    this.getData();
    this.timer = setInterval(this.getData, 2000);
  },
  methods: {
    showInfo () {
      this.$root.$emit('bv::show::modal', 'showInfo');
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit
      };
      const { data, ids } = await getOnlineUser(params);
      this.$set(this, 'data', data);
      this.$set(this, 'ids', ids);
      // this.$set(this, 'pageData', data.pageData);
    },
    kickUser (item, index) {
      this.confirmWindow(this.getLang('確認踢除會員') + '?', async () => {
        try {
          const { data } = await kickUser(item.session_id);
          this.data.splice(index, 1);
          this.$root.$emit('bv::hide::modal', 'system-message');
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    setDevice (data) {
      console.log(data.match('Windows'));
      if (data.match('Windows')) {
        return 'WINDOW';
      } else if (data.match('Macintosh')) {
        return 'MAC';
      } else if (data.match('iPhone')) {
        return 'IPHONE';
      } else if (data.match('iPad')) {
        return 'IPAD';
      } else if (data.match('Android')) {
        return 'ANDROID';
      } else {
        return 'UNKNOW';
      }
    },
    setBrowser (data) {
      if (data.match('Firefox')) {
        return 'Firefox';
      } else if (data.match('Safari')) {
        if (data.match('Chrome') || data.match('CriOS')) {
          if (data.match('Edg')) {
            return 'Edge';
          } else {
            return 'Chrome';
          }
        } else {
          return 'Safari';
        }
      } else if (data.match('Opera')) {
        return 'Opera';
      } else if (data.match('MSIE')) {
        return 'IE';
      } else {
        return 'UNKNOW';
      }
    }
  }
};
</script>
