<template>
  <b-modal ref="modal" size="lg">
    <template #modal-header="{close}">
      <h4 v-if="mode==0" class="modal-title">{{ getLang('更改會員的代理人') }}</h4>
      <h4 v-else-if="mode==1" class="modal-title">{{ getLang('更改會員群組') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div v-if="mode==0">
        {{ getLang('是否確定要更改會員的代理人') }}?
      </div>
      <div v-if="mode==1">
        {{ getLang('是否確定要更改以下的會員群組') }}?
      </div>
      <div v-if="mode==0 || mode==1">
        {{ getLang('更換成') }}: {{ agentAccount }}
      </div>
      <div v-if="mode==2">
        {{ getLang('是否確定要發送信息給以下玩家') }}?
      </div>

      <textarea v-model="memberString" rows="15" cols="40" readonly></textarea>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="submit">{{ getLang('確認') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { changeAgent, changeGroup, sendMessage } from '~/api/member.js';
export default {
  props: [],
  data () {
    return {
      agent_account: '',
      memberString: '',
      mids: [],
      data: [],
      list: [],
      mode: 0,
      gid: -1
    };
  },
  computed: {
    ...mapFields('group', { group: 'list', groupObject: 'object' })
  },
  methods: {
    setData (agentAccount, data, mode) {
      // console.log('mode', mode);
      this.mode = mode;
      if (mode == 0) {
        this.agentAccount = agentAccount;
      } else if (mode == 1) {
        this.agentAccount = this.groupObject[agentAccount].name;
        this.gid = this.groupObject[agentAccount].id;
      } else if (mode == 2) {
        // console.log(agentAccount);
        this.agentAccount = agentAccount;
      }

      this.data = data;
      let memberString = '';
      let index = 1;
      const mids = [];
      this.list = [];
      for (const i in this.data) {
        const item = this.data[i];
        if (item.select) {
          mids.push(item.id);
          memberString += index + ')' + item.account + '\n';
          index++;
          this.list.push(item);
        }
      }
      if (mids.length) {
        this.$refs.modal.show();
        this.memberString = memberString;
        this.mids = mids;
      } else {
        this.alertWindow(this.getLang('未選擇會員'));
      }
    },
    submit () {
      if (this.mode == 0) {
        changeAgent({
          mids: this.mids,
          agentAccount: this.agentAccount
        })
          .then(({ message, data }) => {
            this.$refs.modal.hide();
            this.alertWindow(message);
            for (const i in this.list) {
              const item = this.list[i];
              item.aid = data.id;
              item.parentId = data.id;
              item.parentList = data.parentList;
            }
          });
      } else if (this.mode == 1) {
        changeGroup({
          mids: this.mids,
          gid: this.gid
        })
          .then(({ message }) => {
            this.$refs.modal.hide();
            this.alertWindow(message);
            for (const i in this.list) {
              const item = this.list[i];
              item.gid = this.gid;
            }
          });
      } else if (this.mode == 2) {
        sendMessage({
          mids: this.mids,
          title: this.agentAccount.title,
          content: this.agentAccount.content,
          type: this.agentAccount.type
        }).then(({ message }) => {
          this.$refs.modal.hide();
          this.alertWindow(message);
        });
      }
    }

  }
};
</script>
