<template>
  <b-card title="Card Title" no-body>
    <b-card-header header-tag="nav">
      <b-nav card-header tabs>
        <b-nav-item :active="tabIndex==0" @click="tabIndex=0">{{ getLang('搜尋條件') }}</b-nav-item>
        <b-nav-item :active="tabIndex==1" @click="tabIndex=1">{{ getLang('搜尋產品會員名稱') }}</b-nav-item>
        <b-nav-item :active="tabIndex==2" @click="tabIndex=2">{{ getLang('更改會員的代理人') }}</b-nav-item>
        <b-nav-item :active="tabIndex==3" @click="tabIndex=3">{{ getLang('更改會員群組') }}</b-nav-item>
        <b-nav-item :active="tabIndex==4" @click="tabIndex=4">{{ getLang('發送信息') }}</b-nav-item>
      </b-nav>
    </b-card-header>

    <member-listing-head-tab-0
      v-if="tabIndex==0"
      :get-list="getList"
      :set-where="setWhere"
    />
    <member-listing-head-tab-1
      v-if="tabIndex==1"
    />
    <member-listing-head-tab-2
      v-if="tabIndex==2"
      :change-agent="changeAgent"
    />
    <member-listing-head-tab-3
      v-if="tabIndex==3"
      :change-group="changeGroup"
    />
    <member-listing-head-tab-4
      v-if="tabIndex==4"
      :send-message="sendMessage"
    />
  </b-card>
</template>
<script>
export default {
  props: ['getList', 'setWhere', 'changeAgent', 'changeGroup', 'sendMessage'],
  data () {
    return {
      tabIndex: 0
    };
  }
};
</script>
