<template>
  <div class="row col-md-12 m-0">
    <div class="col-md-6 p-0">
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('會員錢包') }}</h4>
        </div>
        <div class="card-body table-responsive">
          <input style="width:100px" :value="moneyFormat(amount)" type="text" disabled />
          <button
            class="btn btn-sm btn-primary"
            @click="getAmount();getBalance();"
          >
            {{ getLang('更新全部餘額') }}
          </button>
          <button
            v-show="transMoneyShow"
            class="btn btn-sm btn-primary"
            @click="allPoint"
          >
            {{ getLang('全部轉入錢包') }}
          </button>
          <table class="table table-striped table-bordered ">
            <thead>
              <tr>
                <th>{{ getLang('產品') }}</th>
                <th>{{ getLang('餘額') }}</th>
                <th>{{ getLang('用戶名') }}</th>
                <th class="text-center">
                  <button
                    class="btn btn-primary"
                    @click="setLock"
                  >
                    {{ getLang('封鎖') }}
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in list" :key="index">
                <td>{{ item.name }}</td>
                <td>
                  <span v-if="item.money==-1">{{ getLang('更新資料中') }}</span>
                  <input v-else style="width:100px" :value="moneyFormat(item.money)" type="text" disabled />
                </td>
                <td>
                  {{ item.account }}
                </td>
                <td class="text-center">
                  <b-form-checkbox
                    v-model="item.status"
                    :value="0"
                    :unchecked-value="1"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('進行轉賬') }}</h4>
        </div>
        <div class="card-body ">
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('轉款方') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="a_pid" class="w-100">
                <option :value="-1">{{ getLang('請選擇') }}</option>
                <option :value="''">{{ getLang('主錢包') }}</option>
                <option
                  v-for="(item,index) in list"
                  :key="index"
                  :value="item.code"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('收款方') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="b_pid" class="w-100">
                <option :value="-1">{{ getLang('請選擇') }}</option>
                <option :value="''">{{ getLang('主錢包') }}</option>
                <option
                  v-for="(item,index) in list"
                  :key="index"
                  :value="item.code"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('總額') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="money" type="text" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
            </div>
            <div class="d-flex col-8 align-items-center">
              <button
                v-if="transMoneyShow"
                class="btn btn-primary btn-sm"
                @click="transMoney(a_pid,b_pid,money)"
              >
                {{ getLang('進行轉帳') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getProductList } from '~/api/product.js';
import { getBalance, transport, AtoBpoint } from '~/api/game.js';
// import { transABLogInsert, } from '~/api/transABLog.js';

import { getMemberList, lockProduct } from '~/api/member.js';
export default {
  props: ['member'],
  data () {
    return {
      list: [],
      amount: 0,
      object: {},
      a_pid: -1,
      b_pid: -1,
      money: 0,
      transMoneyShow: true,
      transMoneyShowTimer: -1,
      getAmountTimer: -1
    };
  },
  computed: {
    totalTrans () {
      let money = 0;
      for (const i in this.trans) {
        const item = this.trans[i];
        if (item.type * 1) {
          money -= item.money;
        } else {
          money += item.money;
        }
      }
      let type;
      if (money > 0) {
        type = 0;
      } else {
        money = -money;
        type = 1;
      }
      return { type, money };
    }
  },
  mounted () {
    getProductList({
      where: { type: 1, status: 1 }
    }).then(({ data }) => {
      this.list = data;
      this.object = {};
      for (let i = 0; i < data.length; i++) {
        const item = data[i];
        this.$set(this.object, item.code, item);
      }
      this.getBalance();
      this.getAmount();
    });
  },
  methods: {
    async transMoney (a_pid, b_pid, money) {
      this.transMoneyShow = false;
      clearTimeout(this.transMoneyShowTimer);
      this.transMoneyShowTimer = setTimeout(() => {
        this.transMoneyShow = true;
      }, 5000);
      if (a_pid == -1 || b_pid == -1) {
        this.alertWindow(this.getLang('請選擇轉款方或收款方'));
        return true;
      }
      if (money == 0) {
        this.alertWindow(this.getLang('總額不能為0'));
        return true;
      }
      if (a_pid == b_pid) {
        this.alertWindow(this.getLang('轉款方和收款方不能相同'));
        return true;
      }
      const payload = {
        gameA: a_pid,
        gameB: b_pid,
        money,
        id: this.member.id
      };
      try {
        const res = await AtoBpoint(payload);
        if (this.object[a_pid]) {
          this.getBalance(this.object[a_pid]);
        }
        if (this.object[b_pid]) {
          this.getBalance(this.object[b_pid]);
        }
      } catch (err) {
      }
    },
    setLock () {
      const list = [];
      for (const i in this.list) {
        const item = this.list[i];
        list.push({ status: item.status, id: item.id });
      }
      lockProduct({ mid: this.member.id, list }).then(({ message }) => {
        this.alertWindow(message);
      }).catch(({ message }) => {
        this.alertWindow(message);
      });
    },
    getBalance (item) {
      if (item) {
        this.$set(item, 'money', -1);
        getBalance({ gameName: item.code, id: this.member.id, mode: 1 }).then(({ data: { balance, account, status } }) => {
          this.$set(item, 'money', balance);
          this.$set(item, 'account', account);
          this.$set(item, 'status', status);
          this.getAmount();
        }).catch(() => {});
      } else {
        for (const i in this.list) {
          const item = this.list[i];
          this.$set(item, 'money', -1);
          getBalance({ gameName: item.code, id: this.member.id, mode: 1 }).then(({ data: { balance, account, status } }) => {
            this.$set(item, 'money', balance);
            this.$set(item, 'account', account);
            this.$set(item, 'status', status);
            this.getAmount();
          }).catch(() => {});
        }
      }
    },
    getAmount () {
      clearTimeout(this.getAmountTimer);
      this.getAmountTimer = setTimeout(() => {
        getMemberList({ where: { id: this.member.id } }).then(({ data }) => {
          this.$set(this, 'amount', data[0].amount);
        }).catch(() => {});
      }, 100);
    },
    allPoint () {
      this.confirmWindow(this.getLang('確認全部轉入') + '?', () => {
        this.transMoneyShow = false;
        clearTimeout(this.transMoneyShowTimer);
        this.transMoneyShowTimer = setTimeout(() => {
          this.transMoneyShow = true;
        }, 5000);
        for (const i in this.list) {
          const item = this.list[i];
          if (item.money == 0) { continue; }
          this.transMoney(item.code, 0, item.money);
        }
        // this.transMoneyShow = true;
      });
    }

  }
};
</script>
