<template>
  <div class="card d-flex">
    <div class="card-header d-flex justify-content-center">
      <h4>{{ getLang('額度補單') }}</h4>
    </div>
    <div class="card-body ">
      <div>
        <label>{{ getLang('錢包餘額') }}</label>
        <input style="width:100px" :value="moneyFormat(amount)" type="text" disabled />
        <button class="btn btn-sm" :class="[isPositive?'btn-dark':'btn-light']" @click="isPositive = true">+</button>
        <button class="btn btn-sm" :class="[!isPositive?'btn-dark':'btn-light']" @click="isPositive = false">-</button>
        <input v-model.number="money" type="text" />

        <button
          v-if="money"
          class="btn btn-danger btn-sm"
          @click="submit"
        >
          {{ getLang('轉點') }}
        </button>
        <div class="d-flex align-items-center">
          <label>{{ getLang('註解') }}</label>
          <textarea v-model="note"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import { agentAdjustAmount } from '~/api/affiliate.js';
import { getMemberList, Adjustment } from '~/api/member.js';
export default {
  props: ['member'],
  data () {
    return {
      isPositive: true,
      amount: 0,
      money: 0,
      messages: {},
      note: ''
    };
  },
  mounted () {
    this.getAmount();
  },
  methods: {
    getAmount () {
      getMemberList({ where: { id: this.member.id } }).then(({ data }) => {
        this.$set(this, 'amount', data[0].amount);
      }).catch(() => {});
    },
    submit () {
      if (!this.money) {
        return;
      }
      let message = '';
      message += this.member.account;
      if (this.isPositive) {
        message += this.getLang('確認加點');
      } else {
        message += this.getLang('確認扣點');
      }
      message += this.money;
      message += '?';
      this.confirmWindow(message, async () => {
        // console.log(this.getList);
        try {
          const res = await Adjustment({
            id: this.member.id,
            amount: this.isPositive ? this.money : -this.money,
            note: this.note
          });

          this.money = 0;
          this.note = '';
          this.getAmount();
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    }
  }
};
</script>
