<template>
  <div class="row col-md-12 m-0">
    <div class="card d-flex w-100">
      <div class="card-header d-flex justify-content-center">
        <h4>{{ getLang('轉款報告') }}</h4>
      </div>
      <div class="card-body ">
        <div v-if="member" class="row ">
          <div class="col-sm-3">
            <b-form-group :label="getLang('時間範圍')" class="mr-2">
              <b-input-group class="flex-nowrap">
                <template #prepend>
                  <b-dropdown variant="primary" dropdown>
                    <template #button-content>
                      <i class="fas fa-calendar"></i>
                    </template>
                    <b-dropdown-item
                      v-for="(item,index) in dateTimeArray"
                      :key="index"
                      @click="setDate(item,'createdAtRange')"
                    >
                      {{ item.show }}
                    </b-dropdown-item>
                  </b-dropdown>
                </template>
                <date-picker
                  v-model="createdAtRange"
                  range
                  type="datetime"
                  value-type="format"
                  format="YYYY-MM-DD HH:mm:ss"
                  placeholder=""
                />
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-sm-3">
            <b-form-group :label="getLang('轉款方')" class="mr-2">
              <b-input-group>
                <select v-model="where.a_pid" class="w-100">
                  <option :value="-1">{{ getLang('全部') }}</option>
                  <option :value="0">{{ getLang('主錢包') }}</option>
                  <option
                    v-for="(item,index) in productList"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-sm-3">
            <b-form-group :label="getLang('收款方')" class="mr-2">
              <b-input-group>
                <select v-model="where.b_pid" class="w-100">
                  <option :value="-1">{{ getLang('全部') }}</option>
                  <option :value="0">{{ getLang('主錢包') }}</option>
                  <option
                    v-for="(item,index) in productList"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-sm-3">
            <b-form-group :label="getLang('狀態')" class="mr-2">
              <b-input-group>
                <select v-model="where.status" class="w-100">
                  <option :value="-1">{{ getLang('全部') }}</option>
                  <option
                    v-for="(item,index) in statusList"
                    :key="index"
                    :value="item.value"
                  >
                    {{ item.show }}
                  </option>
                </select>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-sm-12">
            <button
              class="btn btn-primary btn-sm"
              @click="getList()"
            >
              {{ getLang('提交') }}
            </button>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr>
                    <th>{{ getLang('交易日期') }}</th>
                    <th>{{ getLang('交易號') }}</th>
                    <th>{{ getLang('轉款方') }}</th>
                    <th>{{ getLang('補單前結存 (轉款方)') }}</th>
                    <th>{{ getLang('補單後結存 (轉款方)') }}</th>
                    <th>{{ getLang('收款方') }}</th>
                    <th>{{ getLang('補單前結存 (收款方)') }}</th>
                    <th>{{ getLang('補單後結存 (收款方)') }}</th>
                    <th>{{ getLang('轉款數額') }}</th>
                    <th>{{ getLang('狀態') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in list" :key="index">
                    <td>{{ simpleDateFormat(item.created_at) }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ productObject[item.a_pid]?productObject[item.a_pid].name:getLang('主錢包') }}</td>
                    <td>{{ moneyFormat(item.a_before_wallet) }}</td>
                    <td>{{ moneyFormat(item.a_wallet) }}</td>
                    <td>{{ productObject[item.b_pid]?productObject[item.b_pid].name:getLang('主錢包') }}</td>
                    <td>{{ moneyFormat(item.b_before_wallet) }}</td>
                    <td>{{ moneyFormat(item.b_wallet) }}</td>
                    <td>{{ moneyFormat(item.amount || 0) }}</td>
                    <td>{{ getLang(statusObject[item.status]) }}</td>
                  </tr>
                  <tr v-if="list.length==0">
                    <td
                      colspan="10"
                      class="text-center"
                    >
                      {{ getLang('無資料') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div v-else class="row ">
          <div class="col-sm-4">
            <b-form-group :label="getLang('時間範圍')" class="mr-2">
              <b-input-group class="flex-nowrap">
                <template #prepend>
                  <b-dropdown variant="primary" dropdown>
                    <template #button-content>
                      <i class="fas fa-calendar"></i>
                    </template>
                    <b-dropdown-item
                      v-for="(item,index) in dateTimeArray"
                      :key="index"
                      @click="setDate(item,'createdAtRange')"
                    >
                      {{ item.show }}
                    </b-dropdown-item>
                  </b-dropdown>
                </template>
                <date-picker
                  v-model="createdAtRange"
                  range
                  type="datetime"
                  value-type="format"
                  format="YYYY-MM-DD HH:mm:ss"
                  placeholder=""
                />
              </b-input-group>
            </b-form-group>
            <b-form-group :label="getLang('帳號')" class="mr-2">
              <b-input-group>
                <input v-model="where.account" type="text" class="w-100" />
              </b-input-group>
            </b-form-group>
            <b-form-group :label="getLang('總額')" class="mr-2">
              <b-input-group>
                <input v-model="where.amount" type="text" class="w-100" />
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-sm-4">
            <b-form-group :label="getLang('轉款方')" class="mr-2">
              <b-input-group>
                <select v-model="where.a_pid" class="w-100">
                  <option :value="-1">{{ getLang('全部') }}</option>
                  <option :value="0">{{ getLang('主錢包') }}</option>
                  <option
                    v-for="(item,index) in productList"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </b-input-group>
            </b-form-group>
            <b-form-group :label="getLang('收款方')" class="mr-2">
              <b-input-group>
                <select v-model="where.b_pid" class="w-100">
                  <option :value="-1">{{ getLang('全部') }}</option>
                  <option :value="0">{{ getLang('主錢包') }}</option>
                  <option
                    v-for="(item,index) in productList"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-sm-4">
            <b-form-group :label="getLang('轉款紀錄ID')" class="mr-2">
              <b-input-group>
                <input v-model="where.id" type="text" class="w-100" />
              </b-input-group>
            </b-form-group>
          </div>
          <div v-if="member" class="col-sm-12">
            <button
              class="btn btn-primary btn-sm"
              @click="getList()"
            >
              {{ getLang('提交') }}
            </button>
          </div>
          <div v-else class="col-sm-12">
            <button
              class="btn btn-primary btn-sm"
              @click="getList()"
            >
              {{ getLang('搜尋') }}
            </button>
            <button
              class="btn btn-primary btn-sm"
              @click="reset()"
            >
              {{ getLang('重置') }}
            </button>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr>
                    <th>{{ getLang('交易日期') }}</th>
                    <th>{{ getLang('交易號') }}</th>
                    <th v-if="!member">{{ getLang('帳號') }}</th>
                    <th>{{ getLang('轉款方') }}</th>
                    <th>{{ getLang('補單前結存 (轉款方)') }}</th>
                    <th>{{ getLang('補單後結存 (轉款方)') }}</th>
                    <th>{{ getLang('收款方') }}</th>
                    <th>{{ getLang('補單前結存 (收款方)') }}</th>
                    <th>{{ getLang('補單後結存 (收款方)') }}</th>
                    <th>{{ getLang('轉款數額') }}</th>
                    <th>{{ getLang('狀態') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in list" :key="index">
                    <td>{{ simpleDateFormat(item.created_at) }}</td>
                    <td>{{ item.id }}</td>
                    <td v-if="!member">{{ item.account }}</td>
                    <td>{{ productObject[item.a_pid]?productObject[item.a_pid].name:getLang('主錢包') }}</td>
                    <td>{{ moneyFormat(item.a_before_wallet) }}</td>
                    <td>{{ moneyFormat(item.a_wallet) }}</td>
                    <td>{{ productObject[item.b_pid]?productObject[item.b_pid].name:getLang('主錢包') }}</td>
                    <td>{{ moneyFormat(item.b_before_wallet) }}</td>
                    <td>{{ moneyFormat(item.b_wallet) }}</td>
                    <td>{{ moneyFormat(item.amount || 0) }}</td>
                    <td>{{ getLang(statusObject[item.status]) }}</td>
                  </tr>
                  <tr v-if="list.length==0">
                    <td
                      colspan="10"
                      class="text-center"
                    >
                      {{ getLang('無資料') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getProductList } from '~/api/product.js';
import { transABLogList } from '~/api/transABLog.js';
export default {
  props: ['member'],
  data () {
    return {
      list: [],
      pageData: { page: 0, limit: 10 },
      productList: [],
      productObject: [],
      statusList: [
        { show: '失敗', value: '0' },
        { show: '成功', value: '1' }
      ],
      createdAtRange: [],
      where: {
        createdAtStart: -1,
        createdAtEnd: -1,
        a_pid: -1,
        b_pid: -1,
        status: -1,
        id: '',
        amount: '',
        account: ''
      }
    };
  },
  computed: {
    statusObject () {
      const object = {};
      for (const i in this.statusList) {
        const item = this.statusList[i];
        object[item.value] = item.show;
      }
      return object;
    },
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    getProductList({
      where: { type: 1, status: 1 }
    }).then(({ data }) => {
      this.productList = data;
      this.productObject = {};
      for (let i = 0; i < data.length; i++) {
        const item = data[i];
        this.$set(this.productObject, item.id, item);
      }
    });
    this.getList();
    this.$store.commit('initDateTimeArray');
  },
  methods: {
    setDate (item) {
      this.$set(this, 'createdAtRange', item.value.split('~'));
    },
    getList () {
      const postData = JSON.parse(JSON.stringify({
        limit: this.pageData.limit,
        page: this.pageData.page,
        where: this.where
      }));
      if (this.createdAtRange.length == 2) {
        postData.where.createdAtStart = this.createdAtRange[0];
        postData.where.createdAtEnd = this.createdAtRange[1];
      } else {
        postData.where.createdAtStart = -1;
        postData.where.createdAtEnd = -1;
      }

      if (this.member) {
        postData.where.mid = this.member.id;
      }

      transABLogList(postData).then(({ data, pageData }) => {
        this.$set(this, 'list', data);
        this.$set(this, 'pageData', pageData);
      });
    },
    reset () {
      this.$set(this, 'where', {
        createdAtStart: -1,
        createdAtEnd: -1,
        a_pid: -1,
        b_pid: -1,
        status: -1,
        id: '',
        amount: '',
        account: ''
      });
    }
  }
};
</script>
