<template>
  <div class="row col-md-12 m-0">
    <div class="col-md-6 p-0">
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('重置密碼') }}</h4>
        </div>
        <div class="card-body">
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('新密碼') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.password" type="password" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('確認密碼') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="againPassword" type="password" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
            </div>
            <div class="d-flex col-8 align-items-center">
              <button class="btn btn-primary btn-sm" @click="submit">
                {{ getLang('重置') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { updateMember } from '~/api/member.js';
export default {
  props: ['member'],
  data () {
    return {
      againPassword: ''
    };
  },
  methods: {
    submit () {
      if (this.member.password == this.againPassword) {
        this.member.password = '';
        this.againPassword = '';
        updateMember({
          password: this.member.password
        }, this.member.id)
          .then(({ message }) => {
            this.alertWindow(this.getLang(message));
          }).catch(({ message }) => {
            this.alertWindow(this.getLang(message));
          });
      } else {
        this.alertWindow(this.getLang('與確認密碼不相同'));
      }
    }
  }
};
</script>
