<template>
  <div class="row col-md-12 m-0">
    <div class="col-md-6 p-0">
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('會員個人訊息') }}</h4>
        </div>
        <div class="card-body ">
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('全名') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.name" type="text" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('性別') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="member.gender" class="w-100">
                <option :value="undefined">{{ getLang('請選擇') }}</option>
                <option
                  v-for="(item,index) in genderList"
                  :key="index"
                  :value="item.value"
                >
                  {{ getLang(item.show) }}
                </option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('生日') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <date-picker
                v-model="member.birthday"
                class="w-100"
                value-type="format"
                format="YYYY-MM-DD "
                placeholder=""
              />
            </div>
          </div>

          <div v-if="0" class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('會員狀態') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <button
                v-for="(item,index) in status_list"
                :key="index"
                class="btn btn-sm  text-nowrap mr-1"
                :class="item.value==member.status?'btn-dark':'btn-light'"
                @click="updateStatus(item.value)"
              >
                {{ item.show }}
              </button>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('連絡電話') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input :value="member.phone" type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>whatsapp</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('微信') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>Line</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>Telegram</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>Zalo</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('電子郵箱') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input :value="member.email" type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('地址') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <textarea v-model="member.address" class="w-100"></textarea>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('州屬') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.states" type="text" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('國家') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="member.country" class="w-100">
                <option :value="undefined">請選擇</option>
                <option>馬來西亞</option>
                <option>中國</option>
                <option>泰國</option>
                <option>越南</option>
                <option>菲律賓</option>
                <option>印度尼西亞</option>
                <option>新加坡</option>
                <option>韓國</option>
                <option>日本</option>
                <option>緬甸</option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('備註') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <textarea v-model="member.note" class="w-100"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('會員的銀行賬戶信息') }}</h4>
        </div>
        <div class="card-body ">
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('銀行') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.bank_name" type="text" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('銀行戶名') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.bank_account" type="text" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('銀行賬號') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.bank_number" type="text" class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('銀行支行') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input v-model="member.bank_branch" type="text" class="w-100" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('會員賬戶') }}</h4>
        </div>
        <div class="card-body ">
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('登入權限') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="member.loginStatus" class="w-100" :style="member.loginStatus==1?'color:black;background-color:lime':'color:white;background-color:red'">
                <option :value="1" style="color:black;background-color:lime">{{ getLang('準予') }}</option>
                <option :value="0" style="color:white;background-color:red">{{ getLang('封鎖') }}</option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('狀態') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="member.status" class="w-100" :style="member.status==1?'color:black;background-color:lime':'color:white;background-color:red'">
                <option :value="1" style="color:black;background-color:lime">{{ getLang('活躍') }}</option>
                <option :value="0" style="color:white;background-color:red">{{ getLang('非活躍') }}</option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('暫停下註') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="member.betStatus" class="w-100" :style="member.betStatus==1?'color:black;background-color:lime':'color:white;background-color:red'">
                <option :value="1" style="color:black;background-color:lime">{{ getLang('激活下註') }}</option>
                <option :value="0" style="color:white;background-color:red">{{ getLang('暫停下註') }}</option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('會員群組') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <select v-model="member.gid" class="w-100">
                <option
                  v-for="(item,index) in group"
                  :key="index"
                  :value="item.id"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('註冊IP地址') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input
                v-model="member.register_ip"
                type="text"
                disabled
                class="w-100"
              />
            </div>
          </div>

          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('創建日期') }}</label>
            </div>

            <div class="d-flex col-8 align-items-center">
              <input
                :value="simpleDateFormat(member.created_at)"
                type="text"
                disabled
                class="w-100"
              />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('代理編號') }}</label>
            </div>

            <div class="d-flex col-8 align-items-center">
              <input
                v-if="agentObject[member.aid]"
                :value="agentObject[member.aid].account"
                type="text"
                disabled
                class="w-100"
              />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('代理模式') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" :value="getLang('現金模式')" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('最近登錄時間') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input
                :value="simpleDateFormat(member.login_at)"
                type="text"
                disabled
                class="w-100"
              />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('最近登錄的IP') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input
                v-model="member.login_ip"
                type="text"
                disabled
                class="w-100"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card d-flex">
        <div class="card-header d-flex justify-content-center">
          <h4>{{ getLang('會員交易詳情') }}</h4>
        </div>
        <div class="card-body ">
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('總存款額') }} (JPY)</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" :value="depositTotal==-1?getLang('資料讀取中'):moneyFormat(depositTotal)" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('總取款額') }} (JPY)</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" :value="withdrawalTotal==-1?getLang('資料讀取中'):moneyFormat(withdrawalTotal)" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('優惠活動總數') }} (JPY)</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" :value="discountTotal==-1?getLang('資料讀取中'):moneyFormat(discountTotal)" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('最近登錄日期') }}</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input
                type="text"
                :value="simpleDateFormat(member.transaction_at)"
                disabled
                class="w-100"
              />
            </div>
          </div>
          <div v-if="0" class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('返水流水要求') }} (JPY)</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" disabled class="w-100" />
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('流水要求') }} (JPY)</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input type="text" :value="washCodeData?washCodeData.more:getLang('資料讀取中')" disabled class="w-100" />
              <button class="text-nowrap" @click="resetWashCode(1)">{{ getLang('重置') }}</button>
            </div>
          </div>
          <div class="justify-content-start align-items-center order-detail-card-item row flex-nowrap py-2">
            <div class="d-flex col-4 justify-content-end">
              <label>{{ getLang('當前打碼量') }} (JPY)</label>
            </div>
            <div class="d-flex col-8 align-items-center">
              <input
                v-if="washCodeData"
                type="text"
                :value="washCodeData?washCodeData.less:getLang('資料讀取中')"
                disabled
                class="w-100 text-white"
                :class="washCodeData.more<=washCodeData.less?'bg-success':'bg-danger'"
              />
              <button class="text-nowrap" @click="resetWashCode(2)">{{ getLang('重置') }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 p-0">
      <button
        class="btn btn btn-primary"
        @click="submit()"
      >
        {{ getLang('存檔') }}
      </button>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { updateMember } from '~/api/member.js';
import { getList } from '~/api/order.js';
import { getWashCodeList, updateWashCode } from '~/api/wash-code.js';
export default {
  props: ['member'],
  data () {
    return {
      genderList: [
        { value: 1, show: '男' },
        { value: 2, show: '女' }
      ],
      backupMember: null,
      depositTotal: -1,
      withdrawalTotal: -1,
      discountTotal: -1,
      washCodeData: null
    };
  },
  computed: {
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields('agent', { agentList: 'list', agentObject: 'object' }),
    genderObject () {
      const object = {};
      for (const i in this.genderList) {
        const item = this.genderList[i];
        object[item.value] = item.show;
      }
      return object;
    }
  },
  mounted () {
    this.$store.dispatch('group/getList');
    this.$store.dispatch('agent/getList');
    this.backupMember = JSON.parse(JSON.stringify(this.member));
    getList({ where: { type: 1, mid: this.member.id } }).then(({ data, allPositiveTotalAmount }) => {
      this.depositTotal = allPositiveTotalAmount || 0;
    });
    getList({ where: { type: 2, mid: this.member.id } }).then(({ data, allNegativeTotalAmount }) => {
      this.withdrawalTotal = -allNegativeTotalAmount || 0;
    });
    getList({ where: { type: 5, mid: this.member.id } }).then(({ data, allPositiveTotalAmount }) => {
      this.discountTotal = allPositiveTotalAmount || 0;
    });
    this.getWashCodeList();
  },
  methods: {
    getWashCodeList () {
      getWashCodeList({ search: this.member.account }).then(({ washCodeData }) => {
        if (washCodeData) {
          this.washCodeData = washCodeData;
        } else {
          this.washCodeData = {
            more: 0, less: 0
          };
        }
      });
    },
    updateStatus (status) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {
          status
        };
        const id = this.member.id;
        try {
          const res = await updateMember(payload, id);
          this.member.status = status;
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
      });
    },
    resetWashCode (type) {
      this.confirmWindow(this.getLang('確認重置') + '?', async () => {
        const payload = {
          typeID: type
        };
        const id = this.member.id;
        try {
          const res = await updateWashCode(payload, id);
          this.getWashCodeList();
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
      });
    },
    submit () {
      const post = {};
      let countChangeIndex = 0;
      for (const i in this.member) {
        if (this.member[i] != this.backupMember[i]) {
          post[i] = this.member[i];
          countChangeIndex++;
        }
      }
      if (countChangeIndex) {
        updateMember(post, this.member.id).then(({ message }) => {
          this.alertWindow(this.getLang(message));
          for (const i in post) {
            this.backupMember[i] = post[i];
          }
        });
      } else {
        this.alertWindow(this.getLang('無修改資料'));
      }

      // 存檔後把backupMember更新
    }
  }
};
</script>
