<template>
  <div v-frag>
    <div class="row ">
      <div class="col-sm-12">
        <div class="d-inline-flex pr-3 mb-3 form-inline">
          {{ getLang('顯示') }}
          <select v-model="pageData.limit" @change="getList">
            <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
          </select>
          {{ getLang('條目') }}
        </div>

        <div v-if="0" class="d-inline-flex pr-2 form-inline">
          {{ getLang('註冊時間') }}:
          <date-picker
            v-model="where.createdAtStart"
            type="datetime"
            value-type="format"
            format="YYYY-MM-DD HH:mm:ss"
            placeholder="開始時間"
            @change="getList"
          />
        </div>
        <div v-if="0" class="d-inline-flex pr-2 form-inline">
          <date-picker
            v-model="where.createdAtEnd"
            type="datetime"
            value-type="format"
            format="YYYY-MM-DD HH:mm:ss"
            placeholder="結束時間"
            @change="getList"
          />
        </div>

        <div v-if="0" class="d-inline-flex pr-3 mb-3 form-inline float-right">
          {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive text-center text-nowrap">
          <table class="table table-striped table-bordered ">
            <thead>
              <tr role="row">
                <th>
                  <input v-model="where.id" type="text" :placeholder="'id'" style="width:50px;" @change="pageData.page=0;getList();" />
                  <span
                    class="sorting"
                    :class="[sortingObject[order.id]]"
                    @click="switchSort()"
                  >
                  </span>
                </th>
                <th>
                  {{ getLang('會員帳號') }}
                  <span v-if="0">
                    <input v-model="where.accountLike" type="text" :placeholder="getLang('帳號')+'('+ getLang('全名')+')'" @change="pageData.page=0;getList();" />
                    <div>
                      <input v-model="where.phoneLike" type="text" :placeholder="getLang('連絡電話')" @change="pageData.page=0;getList();" />
                    </div>
                  </span>
                </th>
                <th>
                  {{ getLang('會員名稱') }}
                </th>
                <th>
                  {{ getLang('連絡電話') }}
                </th>
                <th>
                  {{ getLang('電子郵件') }}
                </th>
                <th>
                  <div>
                    {{ getLang('會員群組') }}
                  </div>
                </th>
                <th>
                  {{ getLang('代理帳號') }}
                  <input v-if="0" v-model="where.agentAccountLike" type="text" :placeholder="getLang('代理帳號')" @change="pageData.page=0;getList();" />
                  <select v-if="0" v-model="where.aid" @change="getList">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="item in agentList"
                      :key="item.id"
                      :value="item.id"
                    >
                      {{ item.account }}
                    </option>
                  </select>
                </th>
                <th>
                  <div>
                    {{ getLang('狀態') }}
                  </div>
                  <select v-if="0" v-model="where.status" @change="pageData.page=0;getList();">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </th>
                <th>
                  <div>
                    {{ getLang('暫停下注') }}
                  </div>
                </th>
                <th>
                  <div>
                    {{ getLang('註冊詳情') }}
                  </div>
                  <select
                    v-if="0"
                    :value="whereDateTime"
                    @change="setDate($event.target.value)"
                  >
                    <option
                      v-for="(dateTimeItem,dateTimeIndex) in dateTimeArray"
                      :key="dateTimeIndex"
                      :value="dateTimeIndex"
                    >
                      {{ getLang(dateTimeItem.show) }}
                    </option>
                  </select>
                </th>

                <th>
                  <div>
                    {{ getLang('最近登入詳情') }}
                  </div>
                  <div v-if="0">{{ getLang('登入時間') }}</div>
                  <div v-if="0">{{ getLang('登入ip') }}</div>
                  <div v-if="0">
                    <input v-model="where.register_ip" type="text" :placeholder="getLang('註冊ip')" @change="pageData.page=0;getList();" />
                  </div>
                </th>
                <th>{{ getLang('主錢包結存') }}</th>
                <th>
                  <input
                    type="checkbox"
                    :checked="allSelect"
                    @click="setAllSelect()"
                  />
                </th>
                <th v-if="0" style="width:300px;">{{ getLang('操作') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" v-show="!search || item.account.indexOf(search)!=-1 || item.phone.indexOf(search)!=-1" :key="index" role="row">
                <td>{{ item.id }}</td>
                <td>
                  <nuxt-link
                    :to="'/member/member-listing/'+item.id"
                  >
                    {{ item.account }}
                    <i class="fas fa-external-link-alt"></i>
                  </nuxt-link>
                </td>
                <td>
                  <nuxt-link
                    :to="'/member/member-listing/'+item.id"
                  >
                    <span v-if="item.name">
                      {{ item.name }}
                    </span>
                    <span v-else>
                      -
                    </span>
                    <i class="fas fa-external-link-alt"></i>
                  </nuxt-link>
                </td>
                <td>
                  <nuxt-link
                    :to="'/member/member-listing/'+item.id"
                  >
                    {{ item.phone }}
                    <i class="fas fa-external-link-alt"></i>
                  </nuxt-link>
                </td>
                <td>
                  <nuxt-link
                    :to="'/member/member-listing/'+item.id"
                  >
                    <span v-if="item.email">
                      {{ item.email }}
                    </span>
                    <span v-else>
                      -
                    </span>
                    <i class="fas fa-external-link-alt"></i>
                  </nuxt-link>
                </td>
                <td>
                  <span v-if="groupObject[item.gid]">
                    {{ groupObject[item.gid].name }}
                  </span>
                </td>
                <td>
                  <span v-if="agentObject && agentObject[item.aid]">
                    {{ agentObject[item.aid].account }}
                  </span>
                </td>
                <td>
                  <select
                    :value="item.status"
                    :class="item.status==1?'bg-success':'bg-danger'"
                    @change="updateField($event,index,'status')"
                  >
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                      style="background-color:#EAECEE;color:black"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </td>
                <td>
                  <select
                    :value="item.betStatus"
                    :class="item.betStatus==1?'bg-success':'bg-danger'"
                    @change="updateField($event,index,'betStatus')"
                  >
                    <option
                      v-for="(statusItem,statusIndex) in betStatusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                      style="background-color:#EAECEE;color:black"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </td>
                <td>
                  <div v-if="item.created_at">{{ simpleDateFormat(item.created_at) }}</div>
                  <div>{{ item.register_ip }}</div>
                  <div>{{ item.register_domain }}</div>
                </td>
                <td>
                  <div v-if="item.login_at">{{ simpleDateFormat(item.login_at) }}</div>
                  <div>{{ item.login_ip }}</div>
                  <div v-if="item.login_device">{{ checkDevice(item.login_device) }}</div>
                </td>
                <td>
                  {{ moneyFormat(item.amount || 0) }}
                </td>
                <td>
                  <input
                    type="checkbox"
                    :checked="item.select"
                    @click="item.select=!item.select"
                  />
                </td>
                <td v-if="0" class="text-left text-wrap">
                  <nuxt-link
                    class="btn btn-primary btn-sm"
                    :to="'/member/member-listing/'+item.id"
                  >
                    {{ getLang('詳情') }}
                  </nuxt-link>
                  <button class="btn btn-primary btn-sm" @click="edit(1,index)">{{ getLang('編輯') }}</button>
                  <button class="btn btn-primary btn-sm" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                  <button
                    class="btn btn-primary btn-sm"
                    @click="editPassword(item)"
                  >
                    {{ getLang('重置密碼') }}
                  </button>
                  <button
                    v-if="guide['會員管理.發送SMS']"
                    class="btn btn-primary btn-sm"
                    @click="editSendSms(item)"
                  >
                    {{ getLang('發送SMS') }}
                  </button>
                  <button
                    v-if="guide['會員管理.發送inbox']"
                    class="btn btn-primary btn-sm"
                    @click="editSendInbox(item)"
                  >
                    {{ getLang('發送inbox') }}
                  </button>
                  <button
                    v-if="inventory"
                    class="btn btn-sm btn-primary my-1"
                    @click="inventory(item)"
                  >
                    {{ getLang('盤點') }}
                  </button>
                  <button
                    v-if="adjustAmount"
                    class="btn btn-sm btn-primary my-1"
                    @click="adjustAmount(item)"
                  >
                    {{ getLang('加扣點') }}
                  </button>
                </td>
              </tr>
              <tr v-if="!data.length">
                <td colspan="19">{{ getLang('無資料') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
    </div>
    <member-listing-modal
      ref="edit-modal"
      :edit-type="editType"
      :edit-item="editItem"
      :edit-ok="editOk"
    />
    <member-listing-password-modal
      v-if="0"
      ref="password-modal"
      :edit-item="editPasswordItem"
      :edit-ok="resetPassword"
    />
    <member-listing-send-sms-modal
      v-if="0"
      ref="send-sms-modal"
      :edit-item="editSendSmsItem"
    />
    <member-listing-send-inbox-modal
      v-if="0"
      ref="send-inbox-modal"
      :edit-item="editSendInBoxItem"
    />
    <member-listing-confirm-mutiple-list-modal
      ref="confirm-mutiple-list-modal"
    />
  </div>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getMemberList, deleteMember, addMember, updateMember, changeAgent } from '~/api/member.js';
export default {
  props: ['agent', 'inventory', 'adjustAmount'],
  data () {
    return {
      sortingObject: { 0: 'asc', 1: 'desc' },
      editType: 0,
      editOk: null,
      editItem: {},
      editIndex: -1,
      data: [],
      pageData: { page: 0, limit: 10 },
      where: {
        status: -1,
        aid: -1,
        gid: -1,
        createdAtStart: -1,
        createdAtEnd: -1
      },
      order: {
        id: -1
      },
      statusArray: [{ value: 0, show: '非活耀' }, { value: 1, show: '活耀' }], // { value: 2, show: '禁止交易' }
      betStatusArray: [{ value: 0, show: '暫停下注' }, { value: 1, show: '激活下注' }], // { value: 2, show: '禁止交易' }
      search: '',
      editPasswordItem: {
        id: -1,
        account: '',
        password: '',
        passwordAgain: '',
        gid: '1'
      },
      editSendSmsItem: {},
      editSendInBoxItem: {},
      whereDateTime: 0,
      allSelect: false
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree']),
    ...mapFields(['dateTimeArray']),
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields('agent', { agentList: 'list', agentObject: 'object' }),
    ...mapFields('country', ['countryList', 'countryObject'])
  },
  watch: {
    'where.createdAtStart' () {
      this.setCreatedAt();
    },
    'where.createdAtEnd' () {
      this.setCreatedAt();
    },
    agent () {
      this.pageData.page = 0;
      this.getList();
    }
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
    this.$store.dispatch('agent/getList');
    this.$store.dispatch('group/getList');
    this.$store.dispatch('country/setList');
  },
  methods: {
    sendMessage (payload) {
      this.$refs['confirm-mutiple-list-modal'].setData(payload, this.data, 2);
    },
    changeAgent (agentAccount) {
      this.$refs['confirm-mutiple-list-modal'].setData(agentAccount, this.data, 0);
    },
    changeGroup (gid) {
      this.$refs['confirm-mutiple-list-modal'].setData(gid, this.data, 1);
    },
    setAllSelect () {
      this.allSelect = !this.allSelect;
      for (const i in this.data) {
        const item = this.data[i];
        item.select = this.allSelect;
      }
    },
    setWhere (where) {
      for (const i in where) {
        this.$set(this.where, i, where[i]);
      }
    },
    checkDevice (userAgent) {
      if (/(iPhone|iPad|iPod|iOS)/i.test(userAgent)) {
        return 'iPhone';
      } else if (/(Android)/i.test(userAgent)) {
        return 'Android';
      }
      return 'Window';
    },
    setCreatedAt () {
      const key = this.where.createdAtStart + '~' + this.where.createdAtEnd;
      const index = this.dateTimeArray.findIndex((item) => {
        return item.value == key;
      });
      if (index == -1) {
        this.whereDateTime = 0;
      } else {
        this.whereDateTime = index;
      }
    },
    editPassword (item) {
      this.editPasswordItem.account = item.account;
      this.editPasswordItem.id = item.id;
      this.$refs['password-modal'].toggle();
    },
    editSendSms (item) {
      this.editSendSmsItem.id = item.id;
      this.editSendSmsItem.account = item.account;
      this.editSendSmsItem.smsContent = '';
      this.editSendSmsItem.phone = item.phone;
      this.$refs['send-sms-modal'].toggle();
    },
    editSendInbox (item) {
      this.editSendInBoxItem.account = item.account;
      this.editSendInBoxItem.mid = item.id;
      this.editSendInBoxItem.type = 0;
      this.editSendInBoxItem.title = '';
      this.editSendInBoxItem.content = '';
      this.$refs['send-inbox-modal'].toggle();
    },
    setDate (index) {
      const item = this.dateTimeArray[index];
      if (item.type == -1) {
        this.$set(this.where, 'createdAtStart', -1);
        this.$set(this.where, 'createdAtEnd', -1);
      } else {
        let datetime = item.value;
        if (datetime) {
          datetime = datetime.split('~');
          this.$set(this.where, 'createdAtStart', datetime[0]);
          this.$set(this.where, 'createdAtEnd', datetime[1]);
        }
      }
      this.getList();
    },
    edit (mode, index) {
      this.editType = mode;
      this.$refs['edit-modal'].toggle();
      const item = this.data[index];
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        const editItem = {
          account: '',
          password: '',
          name: '',
          phone: '',
          passwordAgain: '',
          gid: 1,
          status: 0
        };
        if (this.agent) {
          editItem.aid = this.agent.id;
        } else {
          editItem.aid = 1;
        }
        this.$set(this, 'editItem', editItem);
      }
    },
    async getList () {
      this.allSelect = false;
      const params = JSON.parse(JSON.stringify({
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        order: this.order
      }));

      if (this.agent) {
        params.where.aid = this.agent.id;
      }

      // console.log(this.where);
      try {
        const res = await getMemberList(params);
        for (const i in res.data) {
          const item = res.data[i];
          this.$set(item, 'select', false);
        }

        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (e, index, field) {
      const item = this.data[index];
      const value = e.target.value;
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = value;
        const id = item.id;
        try {
          const res = await updateMember(payload, id);
          item[field] = value;
          this.alertWindow(res.message);
          return true;
        } catch (err) {
          e.target.value = item[field];
          this.alertWindow(err.message);
          return true;
        }
      }, () => {
        e.target.value = item[field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteMember(item.id);
          this.data.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      if (this.editItem.password !== this.editItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      }
      const payload = this.editItem;
      try {
        const { data, message } = await addMember(payload);
        this.data.unshift(data);
        this.$refs['edit-modal'].toggle();
        this.alertWindow(message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const index = this.editIndex;
      const payload = {};
      for (const field in this.editItem) {
        if (this.data[index][field] != this.editItem[field]) {
          payload[field] = this.editItem[field];
        }
      }
      const id = this.editItem.id;

      try {
        const res = await updateMember(payload, id);
        for (const field in payload) {
          this.$set(this.data[index], field, payload[field]);
        }
        this.$refs['edit-modal'].toggle();
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async resetPassword () {
      if (this.editPasswordItem.password !== this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('密碼不一致'));
      } else if (!this.editPasswordItem.password || !this.editPasswordItem.passwordAgain) {
        return this.alertWindow(this.getLang('欄位不能留空'));
      }
      const payload = {
        password: this.editPasswordItem.password
      };
      const id = this.editPasswordItem.id;
      try {
        const res = await updateMember(payload, id);
        this.editPasswordItem.password = '';
        this.editPasswordItem.passwordAgain = '';
        this.$refs['password-modal'].toggle();
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      let id = this.order.id;
      if (id == 0) {
        id = 1;
      } else if (id == 1) {
        id = -1;
      } else if (id == -1) {
        id = 0;
      }
      this.order.id = id;
      this.getList();
    }
  }
};
</script>
