<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div v-if="!editType" class="form-group form-inline">
        <label>{{ getLang('會員帳號') }}:</label>
        <input v-model="editItem.account" type="text" class="form-control" />
      </div>
      <div v-if="!editType" class="form-group form-inline">
        <label>{{ getLang('密碼') }}:</label>
        <input v-model="editItem.password" type="password" class="form-control" />
      </div>
      <div v-if="!editType" class="form-group form-inline">
        <label>{{ getLang('確認密碼') }}:</label>
        <input v-model="editItem.passwordAgain" type="password" class="form-control" />
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('會員名稱') }}:</label>
        <input v-model="editItem.name" type="text" class="form-control" />
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('連絡電話') }}:</label>
        <input v-model="editItem.phone" type="text" class="form-control" />
      </div>
      <div v-if="0" class="form-group form-inline">
        <label>{{ getLang('電子信箱') }}:</label>
        <input v-model="editItem.email" type="text" class="form-control" />
      </div>
      <div v-if="!editType" class="form-group form-inline">
        <label>{{ getLang('狀態') }}:</label>
        <select v-model="editItem.status" class="form-control">
          <option
            v-for="(statusItem,statusIndex) in statusArray"
            :key="statusIndex"
            :value="statusItem.value"
          >
            {{ getLang(statusItem.show) }}
          </option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label>{{ getLang('群組') }}:</label>
        <select v-model="editItem.gid" class="form-control">
          <option
            v-for="item in group"
            :key="item.id"
            :value="item.id"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
      <div v-if="editType==0" class="form-group form-inline">
        <label>{{ getLang('代理') }}:</label>
        <select v-model="editItem.aid" class="form-control">
          <option
            v-for="item in agent"
            :key="item.id"
            :value="item.id"
          >
            {{ item.account }}
          </option>
        </select>
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
      <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['editType', 'editItem', 'editOk'],
  data () {
    return {
      statusArray: [{ value: 0, show: '關閉' }, { value: 1, show: '開啟' }, { value: 2, show: '禁止交易' }]
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree']),
    ...mapFields(['dateTimeArray']),
    ...mapFields('group', { group: 'list', groupObject: 'object' }),
    ...mapFields('agent', { agent: 'list', agentObject: 'object' })
  },
  methods: {
    toggle () {
      this.$refs.modal.toggle();
    }
  }
};
</script>
