<template>
  <div class="row col-md-12 m-0">
    <div class="card d-flex w-100">
      <div class="card-header d-flex justify-content-center">
        <h4>{{ getLang('交易紀錄') }}</h4>
      </div>
      <div class="card-body ">
        <div class="row ">
          <div class="col-sm-4 my-2">
            <b-form-group :label="getLang('時間範圍')" class="mr-2">
              <b-input-group>
                <template #prepend>
                  <b-dropdown variant="dark" dropdown>
                    <template #button-content>
                      <i class="fas fa-calendar"></i>
                    </template>
                    <b-dropdown-item
                      v-for="(item,index) in dateTimeArray"
                      :key="index"
                      @click="setDate(item,'createdAtRange')"
                    >
                      {{ item.show }}
                    </b-dropdown-item>
                  </b-dropdown>
                </template>
                <date-picker
                  v-model="createdAtRange"
                  range
                  type="datetime"
                  value-type="format"
                  format="YYYY-MM-DD HH:mm:ss"
                  placeholder=""
                />
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-4 my-2">
            <template>
              <div class="mb-1 d-flex">
                <span class="mr-3">{{ getLang('狀態') }}</span>
                <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('status', statusList, 1)">{{ getLang('全選') }}</a>
                <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('status', statusList, 0)">{{ getLang('取消全選') }}</a>
              </div>
              <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
                <b-form-checkbox-group
                  v-model="where.status"
                  :options="statusList"
                />
              </div>
            </template>
          </div>
          <div class="col-md-4 my-2">
            <template>
              <div class="mb-1 d-flex">
                <span class="mr-3">{{ getLang('交易類型') }}</span>
                <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('type', typeList, 1)">{{ getLang('全選') }}</a>
                <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('type', typeList, 0)">{{ getLang('取消全選') }}</a>
              </div>
              <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
                <b-form-checkbox-group
                  v-model="where.type"
                  :options="typeList"
                />
              </div>
            </template>
          </div>
          <div class="col-sm-12">
            <button
              class="btn btn-primary btn-sm"
              @click="getList()"
            >
              {{ getLang('提交') }}
            </button>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr>
                    <th>{{ getLang('交易日期') }}</th>
                    <th>{{ getLang('交易號') }}</th>
                    <th>{{ getLang('交易類型') }}</th>
                    <th>{{ getLang('狀態') }}</th>
                    <th>{{ getLang('流水倍數') }}</th>
                    <th>{{ getLang('當前打碼量') }}</th>
                    <th>{{ getLang('補單前結存') }}</th>
                    <th>{{ getLang('補單後結存') }}</th>
                    <th>{{ getLang('支出') }}</th>
                    <th>{{ getLang('存入') }}</th>
                    <th>{{ getLang('手續費') }}</th>
                    <th>{{ getLang('備註') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in list" :key="index">
                    <td>{{ simpleDateFormat(item.created_at) }}</td>
                    <td>
                      <nuxt-link :to="`/order/real-time/${item.id}&${item.type}`">
                        {{ item.id }} <i class="fas fa-external-link-alt"></i>
                      </nuxt-link>
                    </td>
                    <td>
                      {{ typeObject[item.type] }}
                    </td>
                    <td
                      :class="'bg-'+{0:'warning',1:'info',2:'success',3:'danger'}[item.status]"
                      class="text-center"
                    >
                      {{ statusObject[item.status] }}
                    </td>
                    <td>
                      <span
                        v-if="item.multiples"
                      >{{ item.multiples>>0 }}</span>
                      <span v-else>{{ 0 }}</span>
                    </td>
                    <td>
                      <span
                        v-if="item.wash_code"
                      >{{ item.wash_code }}</span>
                      <span v-else>{{ moneyFormat(0) }}</span>
                    </td>
                    <td>
                      <span
                        v-if="orderTransLog[item.id]"
                      >{{ moneyFormat(orderTransLog[item.id].before_wallet) }}</span>
                      <span v-else>{{ moneyFormat(0) }}</span>
                    </td>
                    <td>
                      <span
                        v-if="orderTransLog[item.id]"
                      >{{ moneyFormat(orderTransLog[item.id].wallet) }}</span>
                      <span v-else>{{ moneyFormat(0) }}</span>
                    </td>
                    <td>
                      <span v-if="item.amount<0">
                        {{ moneyFormat(-item.amount) }}
                      </span>
                      <span v-else>
                        -
                      </span>
                    </td>
                    <td>
                      <span v-if="item.amount>0">
                        {{ moneyFormat(item.amount) }}
                      </span>
                      <span v-else>
                        -
                      </span>
                    </td>
                    <td>
                      {{ item.handling_fee }}
                    </td>
                    <td>
                      {{ item.submit_note }}
                    </td>
                  </tr>
                  <tr v-if="list.length==0">
                    <td
                      colspan="10"
                      class="text-center"
                    >
                      {{ getLang('無資料') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getList } from '~/api/order.js';
export default {
  props: ['member'],
  data () {
    return {
      list: [],
      pageData: { page: 0, limit: 10 },
      productList: [],
      productObject: [],
      createdAtRange: [],
      where: {
        // createdAtStart: -1,
        // createdAtEnd: -1,
        // a_pid: -1,
        // b_pid: -1,
        status: [],
        type: []
      },
      statusList: [
        { text: '新要求', value: 0 },
        { text: '處理中', value: 1 },
        { text: '已被確認', value: 2 },
        { text: '已遭拒', value: 3 }
      ],
      typeList: [
        { text: '存款', value: 1 },
        { text: '提款', value: 2 },
        { text: '優惠', value: 5 }
      ],
      orderTransLog: {}
    };
  },
  computed: {
    statusObject () {
      const object = {};
      for (const i in this.statusList) {
        const item = this.statusList[i];
        object[item.value] = item.text;
      }
      return object;
    },
    typeObject () {
      const object = {};
      for (const i in this.typeList) {
        const item = this.typeList[i];
        object[item.value] = item.text;
      }
      return object;
    },
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    // getProductList({
    //   where: { type: 1, status: 1 }
    // }).then(({ data }) => {
    //   this.productList = data;
    //   this.productObject = {};
    //   for (let i = 0; i < data.length; i++) {
    //     const item = data[i];
    //     this.$set(this.productObject, item.id, item);
    //   }
    // });

    this.$store.commit('initDateTimeArray');
    this.selectAll('status', this.statusList, 1);
    this.selectAll('type', this.typeList, 1);
    this.getList();
  },
  methods: {
    setDate (item) {
      this.$set(this, 'createdAtRange', item.value.split('~'));
    },
    async getList () {
      const postData = JSON.parse(JSON.stringify({
        memberPromos: 1,
        where: this.where,
        page: this.pageData.page,
        limit: this.pageData.limit
      }));

      postData.where.mid = this.member.id;
      if (this.createdAtRange.length == 2) {
        postData.where.updatedAtStart = this.createdAtRange[0];
        postData.where.updatedAtEnd = this.createdAtRange[1];
      } else {
        postData.where.updatedAtStart = -1;
        postData.where.updatedAtEnd = -1;
      }
      try {
        const res = await getList(postData);
        this.$set(this, 'list', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', JSON.parse(JSON.stringify(res.pageData)));
        this.$set(this, 'orderTransLog', JSON.parse(JSON.stringify(res.orderTransLog)));
      } catch (err) {
        this.alertWindow(err.message);
      }
      // const postData = JSON.parse(JSON.stringify({
      //   limit: this.pageData.limit,
      //   page: this.pageData.page,
      //   where: this.where
      // }));
      // if (this.createdAtRange.length == 2) {
      //   postData.where.createdAtStart = this.createdAtRange[0];
      //   postData.where.createdAtEnd = this.createdAtRange[1];
      // } else {
      //   postData.where.createdAtStart = -1;
      //   postData.where.createdAtEnd = -1;
      // }
      // postData.where.mid = this.member.id;
      // transABLogList(postData).then(({ data, pageData }) => {
      //   this.$set(this, 'list', data);
      //   this.$set(this, 'pageData', pageData);
      // });
    },
    selectAll (target, list, type) {
      this.where[target] = [];
      if (type) {
        for (let i = 0; i < list.length; i++) {
          this.where[target][i] = list[i].value;
        }
      }
    }
  }
};
</script>
