<template>
  <div v-frag>
    <tbody v-if="routeName ==='now-time' || routeName ==='real-time'">
      <tr
        v-for="(item, index) in data"
        v-show="!search || String(item.id).indexOf(search)!=-1 || item.memberAccount.indexOf(search)!=-1"
        :key="index"
        role="row"
      >
        <td>{{ index +1 }}</td>
        <td>{{ simpleDateFormat(item.created_at) }}</td>
        <td>
          <nuxt-link :to="`/order/${routeName}/${item.id}&${item.type}`">
            {{ item.id }} <i class="fas fa-external-link-alt"></i>
          </nuxt-link>
        </td>
        <td>{{ item.memberAccount }}</td>
        <td>{{ item.memberName || '--' }}</td>
        <td>{{ item.member_groups || '--' }}</td>
        <td>{{ item.email || '--' }}</td>
        <td>{{ getLang(typeObject[item.type]) }}</td>
        <td>{{ item.note || '--' }}</td>
        <td v-if="routeName ==='real-time'">{{ '--' }}</td>
        <td
          :class="[getStatusClass(item.status)]"
        >
          {{ getLang(statusObject[item.status]) }}
        </td>
        <td>{{ item.amount &lt; 0 ? moneyFormat(Math.abs(item.amount)) : '--' }}</td>
        <td>{{ item.amount > 0 ? moneyFormat(Math.abs(item.amount)) : '--' }}</td>
        <td>{{ item.handling_fee || '--' }}</td>
        <td v-if="routeName ==='real-time'">{{ '--' }}</td>
      </tr>
      <template v-if="data.length && routeName ==='real-time'">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ getLang("此頁總餘額") }}</td>
          <td>{{ moneyFormat(-negativeTotalAmount) }}</td>
          <td>{{ moneyFormat(positiveTotalAmount) }}</td>
          <td>{{ moneyFormat(handlingFeeTotal) }}</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ getLang("總記錄條數") }}:{{ total }}</td>
          <td>{{ moneyFormat(-allNegativeTotalAmount) }}</td>
          <td>{{ moneyFormat(allPositiveTotalAmount) }}</td>
          <td>{{ moneyFormat(allHandlingFee) }}</td>
          <td></td>
        </tr>
      </template>
    </tbody>
    <tbody v-if="routeName ==='transaction-report'">
      <tr
        v-for="(item, index) in data"
        v-show="!search || item.account.indexOf(search)!=-1"
        :key="index"
        role="row"
      >
        <td>{{ index +1 }}</td>
        <td v-if="lv === 0">
          <a href="javascript:void(0)" class="text-decoration-none" @click="setWhereData(item.account)">{{ item.account }}</a>
        </td>
        <td v-else>{{ item.account }}</td>
        <td>{{ moneyFormat(item.AdjustmentPositiveAmount) }}</td>
        <td>{{ moneyFormat(-item.AdjustmentNegativeAmount) }}</td>
        <td>{{ moneyFormat(item.PositiveAmount) }}</td>
        <td>{{ moneyFormat(-item.NegativeAmount) }}</td>
        <td>{{ moneyFormat(item.DiscountAmount) }}</td>
        <td>{{ moneyFormat(0) }}</td>
      </tr>
      <tr v-if="data.length">
        <td></td>
        <td>Total</td>
        <td>{{ moneyFormat(pageData.AdjustmentPositiveAmount) }}</td>
        <td>{{ moneyFormat(-pageData.AdjustmentNegativeAmount) }}</td>
        <td>{{ moneyFormat(pageData.PositiveAmount) }}</td>
        <td>{{ moneyFormat(-pageData.NegativeAmount) }}</td>
        <td>{{ moneyFormat(pageData.DiscountAmount) }}</td>
        <td>{{ moneyFormat(0) }}</td>
      </tr>
    </tbody>
    <tbody v-if="routeName ==='off-rec-adj-hist'">
      <tr
        v-for="(item, index) in data"
        v-show="!search || item.memberAccount.indexOf(search)!=-1 || (item.operator_accounts && item.operator_accounts.indexOf(search)!=-1)"
        :key="index"
        role="row"
      >
        <td>{{ index +1 }}</td>
        <td>{{ simpleDateFormat(item.created_at) }}</td>
        <td>{{ item.memberAccount }}</td>
        <td>{{ getLang(item.amount > 0 ? "轉入" : "轉出") }}</td>
        <td>{{ moneyFormat(Math.abs(item.amount)) }}</td>
        <td>{{ orderTransLog[item.id] ? moneyFormat( orderTransLog[item.id].before_wallet) : '--' }}</td>
        <td>{{ orderTransLog[item.id] ? moneyFormat( orderTransLog[item.id].wallet) : '--' }}</td>
        <td>{{ item.operator_accounts || '--' }}</td>
        <td>{{ item.note || '--' }}</td>
      </tr>
    </tbody>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: [
    'getListFunc',
    'routeName',
    'where',
    'pageData',
    'data',
    'search',
    'positiveTotalAmount',
    'allPositiveTotalAmount',
    'negativeTotalAmount',
    'allNegativeTotalAmount',
    'handlingFeeTotal',
    'allHandlingFee',
    'orderTransLog',
    'lv'
  ],
  data () {
    return {
    };
  },

  computed: {
    ...mapFields('order', [
      'typeObject',
      'statusObject'
    ]),
    ...mapFields('withdrawal', {
      withdrawalStatusObject: 'statusObject'
    }),
    total () {
      return (this.pageData.page * this.pageData.limit) + this.pageData.total;
    }
  },
  methods: {
    setWhereData (account) {
      this.$set(this.where, this.where.agentNo ? 'account' : 'agentNo', account);
      this.getListFunc();
    }
  }
};
</script>
