<template>
  <div v-frag>
    <div class="d-flex justify-content-between">
      <h6>{{ getLang('搜索條件') }}</h6>
      <div style="cursor:pointer" @click="searchStatus = !searchStatus"><i class="fas" :class="searchStatus?'fa-plus':'fa-minus'"></i></div>
    </div>
    <div v-if="searchStatus" class="d-flex border p-2 flex-wrap">
      <div class="col-md-4 my-2">
        <template v-if="routeName !=='now-time'">
          <b-form-group class="mb-1" label="時間範圍">
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="primary" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </b-form-group>
        </template>
        <template v-if="routeName==='now-time'">
          <div class="mb-1">{{ getLang('更新率') }}</div>
          <div class="mb-1 w-50">
            <select v-model="updateTime" class="w-100 p-1">
              <option v-for="(item,index) in updateTimeList" :key="index" :value="item.value">{{ item.show }}</option>
            </select>
          </div>
        </template>
        <template v-if="routeName==='now-time'">
          <div class="mb-1">{{ getLang('交易類型') }}</div>
          <div class="mb-1 w-50">
            <select v-model="where.type" class="w-100 p-1">
              <option value="-1">{{ getLang("全部") }}</option>
              <option v-for="(item,index) in typeList" :key="index" :value="item.value">{{ item.show }}</option>
            </select>
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1">{{ getLang('交易代號') }}</div>
          <div class="mb-1 w-75 d-flex">
            <input v-model="where.idMin" type="text" class="w-100" />
            <span class="mx-2">to</span>
            <input v-model="where.idMax" type="text" class="w-100" />
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1">{{ getLang('數額條件') }}</div>
          <div class="mb-1 w-75 d-flex">
            <input v-model="where.accountMin" type="text" class="w-100" />
            <span class="mx-2">to</span>
            <input v-model="where.accountMax" type="text" class="w-100" />
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1">{{ getLang('銀行戶名') }}</div>
          <div class="mb-1 w-50">
            <select v-model="where.bank_accounts_id" class="w-100 p-1">
              <option value="-1">{{ getLang("請選擇") }}</option>
              <option v-for="(item,index) in bankAccountGroup" :key="index" :value="item.id">{{ bankObject[item.bank_id] }} - {{ item.bank_acc_name }}</option>
            </select>
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1">{{ getLang('電子郵箱') }}</div>
          <div class="mb-1 w-50">
            <input v-model="where.email" type="text" class="w-100" />
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1">{{ getLang('確認方') }}</div>
          <div class="mb-1 w-50">
            <input v-model="where.operator_accounts" type="text" class="w-100" />
          </div>
        </template>
        <template v-if="routeName==='now-time' || routeName==='real-time'">
          <div class="mb-1">{{ getLang('交易途徑') }}</div>
          <div class="mb-1 w-50">
            <select v-model="where.trading_channel" class="w-100 p-1">
              <option value="-1">{{ getLang("全部") }}</option>
              <option v-for="(item,index) in channelList" :key="index" :value="item.value">{{ item.show }}</option>
            </select>
          </div>
        </template>
        <template v-if="routeName==='off-rec-adj-hist'">
          <div class="mb-1">{{ getLang('額度補單類型') }}</div>
          <div class="mb-1 w-50">
            <select v-model="where.recordType" class="w-100 p-1">
              <option :value="undefined">{{ getLang("全部") }}</option>
              <option v-for="(item,index) in recordTypeList" :key="index" :value="item.value">{{ item.text }}</option>
            </select>
          </div>
        </template>
        <template v-if="routeName==='now-time'">
          <div class="d-flex align-items-center mt-2">
            <button class="btn btn-primary btn-md w-50" @click="updata()">{{ getLang('更新') }}</button>
            <span class="ml-2">{{ getLang('最後更新時間') }} {{ simpleDateFormat(lastUpdatedAt) }}</span>
          </div>
        </template>
        <template v-else>
          <div class="d-flex align-items-center mt-2">
            <button class="btn btn-primary btn-md w-25" @click="getList()">{{ getLang('搜尋') }}</button>
            <button class="btn btn-primary btn-md w-25 ml-2" @click="resetData()">{{ getLang('重置') }}</button>
            <b-form-checkbox v-if="routeName==='real-time'" v-model="where.note" class="ml-2">{{ getLang('顯示備註欄目') }}</b-form-checkbox>
          </div>
        </template>
      </div>
      <div class="col-md-4 my-2">
        <template v-if="routeName==='now-time' || routeName==='real-time'">
          <div class="mb-1 d-flex">
            <span class="mr-3">{{ getLang('記錄類型') }}</span>
            <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('recordType', recordTypeList, 1)">{{ getLang('全選') }}</a>
            <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('recordType', recordTypeList, 0)">{{ getLang('取消全選') }}</a>
          </div>
          <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
            <b-form-checkbox-group
              v-model="where.recordType"
              :options="recordTypeList"
            />
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1 d-flex mt-2">
            <span class="mr-3">{{ getLang('交易類型') }}</span>
            <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('type', typeGroupList, 1)">{{ getLang('全選') }}</a>
            <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('type', typeGroupList, 0)">{{ getLang('取消全選') }}</a>
          </div>
          <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
            <b-form-checkbox-group
              v-if="where.type && where.type!=-1"
              v-model="where.type"
              :options="typeGroupList"
            />
          </div>
        </template>
        <template v-if="routeName==='real-time' || routeName === 'transaction-report'">
          <div class="mb-1 mt-2">{{ getLang('代理編號') }}</div>
          <div class="mb-1 w-50">
            <input v-model="where.agentNo" type="text" class="w-100" />
          </div>
        </template>
        <template v-if="routeName==='off-rec-adj-hist' || routeName==='bonus-adj-hist'">
          <div class="mb-1 mt-2">{{ getLang('操作員') }}</div>
          <div class="mb-1 w-50">
            <input v-model="where.operator" type="text" class="w-100" />
          </div>
        </template>
      </div>
      <div class="col-md-4 my-2">
        <template v-if="routeName==='now-time' || routeName==='real-time'">
          <div class="mb-1 d-flex">
            <span class="mr-3">{{ getLang('會員群組') }}</span>
            <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('gid', memberGroupList, 1)">{{ getLang('全選') }}</a>
            <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('gid', memberGroupList, 0)">{{ getLang('取消全選') }}</a>
          </div>
          <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
            <b-form-checkbox-group
              v-if="where.gid && where.gid!=-1"
              v-model="where.gid"
              :options="memberGroupList"
            />
          </div>
        </template>
        <template v-if="routeName==='real-time'">
          <div class="mb-1 d-flex mt-2">
            <span class="mr-3">{{ getLang('狀態') }}</span>
            <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('status', statusGroupList, 1)">{{ getLang('全選') }}</a>
            <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('status', statusGroupList, 0)">{{ getLang('取消全選') }}</a>
          </div>
          <div class="d-flex border p-2" style="min-height:100px;overflow-y: scroll;">
            <b-form-checkbox-group
              v-if="where.status && where.status!=-1"
              v-model="where.status"
              :options="statusGroupList"
            />
          </div>
        </template>
        <template v-if="routeName!=='now-time'">
          <div class="mb-1 mt-2">{{ getLang('賬號') }}</div>
          <div class="mb-1 w-50">
            <input v-model="where.account" type="text" class="w-100" />
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberGroupList } from '~/api/member.js';
import { getBankList, getBankAccountList } from '~/api/bank.js';
export default {
  props: [
    'getListFunc',
    'where',
    'lastUpdatedAt',
    'routeName'
  ],
  data () {
    return {
      searchStatus: true,
      updateTime: 5,
      timer: null,
      recordTypeList: [{ text: '存入', value: 0 }, { text: '支付', value: 1 }],
      memberGroupList: [],
      bankGroup: [],
      bankAccountGroup: [],
      typeGroupList: [],
      statusGroupList: [],
      createdAtRange: []
    };
  },
  computed: {
    ...mapFields('order', [
      'updateTimeList',
      'typeList',
      'statusList',
      'channelList'
    ]),
    ...mapFields(['dateTimeArray']),
    bankObject () {
      const result = {};
      for (const i in this.bankGroup) {
        result[this.bankGroup[i].id] = this.bankGroup[i].bank_name;
      }
      return result;
    }
  },
  async mounted () {
    await this.getMemberGroup();
    this.initialize();
  },
  destroyed () {
    clearTimeout(this.timer);
  },
  methods: {
    initialize (resetStatus) {
      this.$store.commit('initDateTimeArray');
      switch (this.routeName) {
        case 'now-time':
          this.selectAll('recordType', this.recordTypeList, 1);
          this.selectAll('gid', this.memberGroupList, 1);
          if (!resetStatus) {
            this.updata();
          }
          break;
        case 'real-time':
          if (!resetStatus) {
            this.getBankGroup();
            this.getBankAccountGroup();
            this.typeGroupList = this.typeList.map((x) => {
              return {
                text: x.show,
                value: x.value
              };
            });
            this.statusGroupList = this.statusList.map((x) => {
              return {
                text: x.show,
                value: x.value
              };
            });
          }
          this.selectAll('recordType', this.recordTypeList, 1);
          this.selectAll('gid', this.memberGroupList, 1);
          this.selectAll('type', this.typeGroupList, 1);
          this.selectAll('status', this.statusGroupList, 1);

          if (location.search) {
            const data = location.search.split('?')[1].split('&');
            this.where.type = data[0];
            this.where.operator_accounts = data[1];
            this.getList();
          }
          break;
        default:
          break;
      }
    },
    getList () {
      this.$set(this.where, 'updatedAtStart', this.createdAtRange[0]);
      this.$set(this.where, 'updatedAtEnd', this.createdAtRange[1]);
      this.getListFunc();
    },
    updata () {
      this.getList();
      clearTimeout(this.timer);
      if (this.updateTime > 0) {
        this.timer = setInterval(() => {
          this.getList();
        }, this.updateTime * 1000);
      }
    },
    resetData () {
      for (const i in this.where) {
        this.where[i] = -1;
      }
      this.where.account = '';
      this.where.agentNo = '';
      this.where.email = '';
      this.where.confirm = '';
      this.where.operator = '';
      this.where.idMin = '';
      this.where.idMax = '';
      this.where.accountMin = '';
      this.where.accountMax = '';
      this.where.updatedAtStart = '';
      this.where.updatedAtEnd = '';
      this.where.note = false;
      this.createdAtRange = [];
      this.initialize(true);
    },
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    async getMemberGroup () {
      const { data } = await getMemberGroupList();
      data.forEach((x) => {
        x.value = x.id;
        x.text = x.name;
      });
      this.memberGroupList = data;
    },
    async getBankGroup () {
      try {
        const res = await getBankList();
        this.$set(this, 'bankGroup', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getBankAccountGroup () {
      const params = {
        whereStatus: 1
      };
      try {
        const res = await getBankAccountList(params);
        this.$set(this, 'bankAccountGroup', res.data);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    selectAll (target, list, type) {
      this.where[target] = [];
      if (type) {
        for (let i = 0; i < list.length; i++) {
          this.where[target][i] = list[i].value;
        }
      }
    }
  }
};

</script>
