<template>
  <div v-frag>
    <div class="row">
      <div class="col-sm-12">
        <order-filter
          :route-name="routeName"
          :get-list-func="getList"
          :where="where"
          :last-updated-at="lastUpdatedAt"
        />
        <template v-if="data.length">
          <div class="d-flex justify-content-between my-3">
            <div class="d-flex form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" class="mx-1" @change="getList">
                <option v-for="(item,index) in [50,100,150,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
              <template v-if="routeName !== 'now-time'">
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="setExportData('csv')">{{ getLang('CSV') }}</button>
                <button class="btn btn-primary btn-sm mx-1" @click="printData('printTable')">{{ getLang('打印') }}</button>
              </template>
            </div>
            <div class="d-flex form-inline">
              {{ getLang('搜尋') }}：
              <input v-model.lazy="search" type="search" class="form-control form-control-sm ml-1" />
            </div>
          </div>
        </template>
        <div ref="table-wrapper" class="text-center">
          <table
            v-if="0"
            ref="fixed-thead"
            class="table table-striped table-bordered table-hover"
            :fixed-thead="fixedThead"
          >
            <order-table-head
              :route-name="routeName"
              :data="data"
            />
          </table>
          <table
            id="printTable"
            ref="normal-thead"
            class="table table-striped table-bordered table-hover"
          >
            <order-table-head
              :route-name="routeName"
              :data="data"
            />
            <order-table-content
              :route-name="routeName"
              :get-list-func="getList"
              :where="where"
              :search="search"
              :data="data"
              :page-data="pageData"
              :positive-total-amount="positiveTotalAmount"
              :all-positive-total-amount="allPositiveTotalAmount"
              :negative-total-amount="negativeTotalAmount"
              :all-negative-total-amount="allNegativeTotalAmount"
              :handling-fee-total="handlingFeeTotal"
              :all-handling-fee="allHandlingFee"
              :order-trans-log="orderTransLog"
              :lv="lv"
            />
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pagination
        v-if="data.length && pageData && routeName !== 'transaction-report'"
        :page-data="pageData"
        @getData="getList"
      />
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getList } from '~/api/order.js';
export default {
  props: ['type', 'routeName'],
  data () {
    return {
      data: [],
      pageData: { page: 0, limit: 50 },
      where: {
        status: -1,
        type: -1,
        pid: -1,
        gid: [],
        recordType: [],
        typeStart: -1,
        bank_accounts_id: -1,
        trading_channel: -1
      },
      search: '',
      lastUpdatedAt: null,
      totalAmount: 0,
      allTotalAmount: 0,
      positiveTotalAmount: 0,
      allPositiveTotalAmount: 0,
      negativeTotalAmount: 0,
      allNegativeTotalAmount: 0,
      handlingFeeTotal: 0,
      allHandlingFee: 0,
      getListTimer: null,
      fixedThead: 0,
      scrollTimer: null,
      mergeOrder: {},
      orderTransLog: {},
      productTransLog: {},
      demandData: [],
      lv: 0
    };
  },

  computed: {
    ...mapFields('order', [
      'typeObject',
      'statusObject',
      'productObject'
    ]),
    ...mapFields('withdrawal', {
      withdrawalStatusObject: 'statusObject'
    }),
    orderType () {
      switch (this.routeName) {
        case 'off-rec-adj-hist':
          return 6;
        default:
          return '';
      }
    }
  },
  watch: {
  },
  mounted () {
    // this.getList();
    this.$store.dispatch('order/getProductList');
    // window.addEventListener('scroll', this.scrollFunc);
    // this.$refs['table-wrapper'].addEventListener('scroll', this.scrollXFunc);
  },
  destroyed () {
    // window.removeEventListener('scroll', this.scrollFunc);
  },
  methods: {
    scrollXFunc () {
      this.$refs['fixed-thead'].style.left =
        this.$refs['table-wrapper'].getBoundingClientRect().left -
        this.$refs['table-wrapper'].scrollLeft +
        'px';
    },
    scrollFunc () {
      this.scrollTimer = setTimeout(() => {
        const aTop = document.body.getBoundingClientRect().top;
        const bTop = this.$refs['normal-thead'].getBoundingClientRect().top;
        const baseTop = document
          .querySelector('.navbar')
          .getBoundingClientRect().height;
        const resultTop = bTop - aTop - baseTop;
        this.$refs['fixed-thead'].style.top = baseTop + 'px';

        if (window.scrollY > resultTop) {
          this.$set(this, 'fixedThead', 1);
        } else {
          this.$set(this, 'fixedThead', 0);
        }
        clearTimeout(this.scrollTimer);
      }, 0);
    },
    resetTHeadTh () {
      setTimeout(() => {
        if (this.$refs['normal-thead']) {
          const normalTheadTh = this.$refs['normal-thead'].querySelectorAll('th');
          const fixedTheadTh = this.$refs['fixed-thead'].querySelectorAll('th');
          this.$refs['fixed-thead'].style.width = this.$refs['normal-thead'].getBoundingClientRect().width + 'px';
          for (let i = 0; i < normalTheadTh.length; i++) {
            if (fixedTheadTh[i]) {
              fixedTheadTh[i].style.width = normalTheadTh[i].getBoundingClientRect().width + 'px';
            }
          }
        }
      }, 60);
    },
    setExportData (type) {
      const routeName = this.routeName;
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;
      switch (routeName) {
        case 'real-time':
          data.forEach((x) => {
            x.created_at = this.simpleDateFormat(x.created_at);
            x.type = this.getLang(this.typeObject[x.type]);
            x.status = this.getLang(x.type === 2 ? this.withdrawalStatusObject[x.withdrawalStatus] : this.statusObject[x.status]);
            x.withdraw = x.amount < 0 ? this.moneyFormat(Math.abs(x.amount)) : '--';
            x.deposit = x.amount > 0 ? this.moneyFormat(Math.abs(x.amount)) : '--';
          });
          total = [
            { text: '此頁總餘額', handlingFee: this.moneyFormat(this.handlingFeeTotal), positiveTotal: this.moneyFormat(this.positiveTotalAmount), negativeTotal: this.moneyFormat(-this.negativeTotalAmount) },
            { text: `總記錄條數:${this.pageData.total}`, handlingFee: this.moneyFormat(this.allHandlingFee), positiveTotal: this.moneyFormat(this.allPositiveTotalAmount), negativeTotal: this.moneyFormat(-this.allNegativeTotalAmount) }
          ];
          break;
        case 'transaction-report':
          data.forEach((x) => {
            x.AdjustmentPositiveAmount = this.moneyFormat(x.AdjustmentPositiveAmount);
            x.AdjustmentNegativeAmount = this.moneyFormat(Math.abs(x.AdjustmentNegativeAmount));
            x.PositiveAmount = this.moneyFormat(x.PositiveAmount);
            x.NegativeAmount = this.moneyFormat(Math.abs(x.NegativeAmount));
            x.DiscountAmount = this.moneyFormat(x.DiscountAmount);
          });
          total = Object.assign({}, this.pageData);
          total.AdjustmentPositiveAmount = this.moneyFormat(total.AdjustmentPositiveAmount);
          total.AdjustmentNegativeAmount = this.moneyFormat(Math.abs(total.AdjustmentNegativeAmount));
          total.PositiveAmount = this.moneyFormat(total.PositiveAmount);
          total.NegativeAmount = this.moneyFormat(Math.abs(total.NegativeAmount));
          total.DiscountAmount = this.moneyFormat(total.DiscountAmount);
          break;
        case 'off-rec-adj-hist':
          data.forEach((x) => {
            x.created_at = this.simpleDateFormat(x.created_at);
            x.type = this.getLang(x.amount > 0 ? '轉入' : '轉出');
            x.amount = this.moneyFormat(Math.abs(x.amount));
            x.before_wallet = this.orderTransLog[x.id] ? this.moneyFormat(this.orderTransLog[x.id].before_wallet) : '--';
            x.after_wallet = this.orderTransLog[x.id] ? this.moneyFormat(this.orderTransLog[x.id].wallet) : '--';
          });
          total = {};
          break;
        default:
          break;
      }
      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    },
    getList () {
      clearTimeout(this.getListTimer);
      this.getListTimer = setTimeout(async () => {
        if (this.routeName === 'transaction-report') {
          this.lv = this.where.account ? 1 : 0;
          const params = {
            allReport: 'Transaction_report',
            lv: this.lv,
            search_member: this.where.account,
            search_agent: this.where.agentNo,
            startTime: this.where.updatedAtStart,
            endTime: this.where.updatedAtEnd,
            page: this.pageData.page,
            limit: this.pageData.limit
          };
          try {
            const res = await getList(params);
            this.$set(this, 'data', JSON.parse(JSON.stringify(res.data)));
            this.$set(this, 'pageData', JSON.parse(JSON.stringify(res.pageData)));
          } catch (err) {
            this.alertWindow(err.message);
          }
        } else {
          this.where.typeStart = this.routeName === 'now-time' ? 1 : -1;
          const postData = JSON.parse(JSON.stringify({

            where: this.where,
            page: this.pageData.page,
            limit: this.pageData.limit
          }));
          if (this.where.type == -1) {
            postData.where.type = this.type;
          }
          if (this.orderType == 6) {
            postData.where.type = this.orderType;
          }

          // if (this.where.gid.length === 0) {
          //   postData.where.gid[0] = -1;
          // }
          const {
            data,
            pageData,
            totalAmount,
            allTotalAmount,
            allPositiveTotalAmount,
            allNegativeTotalAmount,
            allhandling_fee,
            positiveTotalAmount,
            negativeTotalAmount,
            handling_feeTotal,
            orderTransLog,
            productTransLog,
            mergeOrder
          } = await getList(postData);

          if (this.routeName === 'now-time') {
            this.demandData = data.filter(x => x.status === 0 || x.withdrawalStatus === 0);
            pageData.total = this.demandData.length;
          }
          this.data = this.routeName !== 'now-time' ? data : this.demandData;
          this.pageData = pageData;
          this.totalAmount = totalAmount;
          this.allTotalAmount = allTotalAmount;
          this.positiveTotalAmount = positiveTotalAmount;
          this.negativeTotalAmount = negativeTotalAmount;
          this.handlingFeeTotal = handling_feeTotal;
          this.allPositiveTotalAmount = allPositiveTotalAmount;
          this.allNegativeTotalAmount = allNegativeTotalAmount;
          this.allHandlingFee = allhandling_fee;
          this.$set(this, 'orderTransLog', orderTransLog);
          this.$set(this, 'productTransLog', productTransLog);
          this.$set(this, 'mergeOrder', mergeOrder);
          this.lastUpdatedAt = Date.now();
          // this.resetTHeadTh();
        }
      }, 0);
    }
  }
};
</script>
<style >
[fixed-thead] {
  position: fixed;
}
[fixed-thead="0"] {
  display: none;
}
</style>
