<template>
  <thead v-if="data.length">
    <tr role="row">
      <template v-if="routeName === 'now-time'">
        <th rowspan="2">No.</th>
        <th rowspan="2">{{ getLang("交易日期") }}</th>
        <th rowspan="2">{{ getLang("交易號") }}</th>
        <th rowspan="2">{{ getLang("帳號") }}</th>
        <th rowspan="2">{{ getLang("帳號名") }}</th>
        <th rowspan="2">{{ getLang("群組") }}</th>
        <th rowspan="2">{{ getLang("電子郵箱") }}</th>
        <th rowspan="2">{{ getLang("交易類型") }}</th>
        <th rowspan="2">{{ getLang("詳情") }}</th>
        <th rowspan="2">{{ getLang("狀態") }}</th>
        <th rowspan="2">{{ getLang("支出") }}</th>
        <th rowspan="2">{{ getLang("存入") }}</th>
        <th rowspan="2">{{ getLang("手續費") }}</th>
      </template>
      <template v-if="routeName === 'real-time'">
        <th rowspan="2">No.</th>
        <th rowspan="2">{{ getLang("交易日期") }}</th>
        <th rowspan="2">{{ getLang("交易號") }}</th>
        <th rowspan="2">{{ getLang("帳號") }}</th>
        <th rowspan="2">{{ getLang("帳號名") }}</th>
        <th rowspan="2">{{ getLang("群組") }}</th>
        <th rowspan="2">{{ getLang("電子郵箱") }}</th>
        <th rowspan="2">{{ getLang("交易類型") }}</th>
        <th rowspan="2">{{ getLang("詳情") }}</th>
        <th rowspan="2">{{ getLang("轉帳(確認方)") }}</th>
        <th rowspan="2">{{ getLang("狀態") }}</th>
        <th rowspan="2">{{ getLang("支出") }}</th>
        <th rowspan="2">{{ getLang("存入") }}</th>
        <th rowspan="2">{{ getLang("手續費") }}</th>
        <th rowspan="2">{{ getLang("確認方") }}</th>
      </template>
      <template v-if="routeName === 'transaction-report'">
        <th rowspan="2">No.</th>
        <th rowspan="2">{{ getLang("用戶名") }}</th>
        <th rowspan="2">{{ getLang("調整(存入)") }}</th>
        <th rowspan="2">{{ getLang("調整(支出)") }}</th>
        <th rowspan="2">{{ getLang("總存款額") }}</th>
        <th rowspan="2">{{ getLang("總取款額") }}</th>
        <th rowspan="2">{{ getLang("優惠活動總數") }}</th>
        <th rowspan="2">{{ getLang("總返水") }}</th>
      </template>
      <template v-if="routeName === 'off-rec-adj-hist'">
        <th rowspan="2">No.</th>
        <th rowspan="2">{{ getLang("時間標記") }}</th>
        <th rowspan="2">{{ getLang("會員") }}</th>
        <th rowspan="2">{{ getLang("額度補單類型") }}</th>
        <th rowspan="2">{{ getLang("總額") }}</th>
        <th rowspan="2">{{ getLang("補單前結存") }}</th>
        <th rowspan="2">{{ getLang("補單後結存") }}</th>
        <th rowspan="2">{{ getLang("操作員") }}</th>
        <th rowspan="2">{{ getLang("備註") }}</th>
      </template>
      <template v-if="routeName === 'bonus-adj-hist'">
        <th rowspan="2">No.</th>
        <th rowspan="2">{{ getLang("時間標記") }}</th>
        <th rowspan="2">{{ getLang("會員") }}</th>
        <th rowspan="2">{{ getLang("存款額") }}</th>
        <th rowspan="2">{{ getLang("優惠金額") }}</th>
        <th rowspan="2">{{ getLang("主題") }}</th>
        <th rowspan="2">{{ getLang("流水倍數") }}</th>
        <th rowspan="2">{{ getLang("流水") }}</th>
        <th rowspan="2">{{ getLang("補單前結存") }}</th>
        <th rowspan="2">{{ getLang("補單後結存") }}</th>
        <th rowspan="2">{{ getLang("操作員") }}</th>
        <th rowspan="2">{{ getLang("備註") }}</th>
      </template>
    </tr>
  </thead>
</template>
<script>
export default {
  props: ['routeName', 'data'],
  computed: {
  },
  methods: {
  }
};
</script>
