<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('語系') }}:
                  <select v-model="lid">
                    <option :value="-1">{{ getLang('原文') }}</option>
                    <option v-for="(item,index) in langList" :key="index" :value="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('新增最新消息') }}</button>
                </div>

                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th>id</th>
                        <th style="width:1000px;">{{ getLang('通告') }}</th>
                        <th>
                          {{ getLang('狀態') }}
                          <select v-model="where.status" @change="getData()">
                            <option value="-1">{{ getLang('全部') }}</option>
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </th>
                        <th v-if="0">
                          {{ getLang('類型') }}
                          <select v-model="where.type" @change="getData()">
                            <option value="-1">{{ getLang('全部') }}</option>
                            <option
                              v-for="(statusItem,statusIndex) in typeArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.content.indexOf(search)!=-1" :key="index" role="row">
                        <td>
                          <button
                            v-b-tooltip.hover
                            :title="getLang('拖曳排序')"
                            class="btn btn-light"
                            draggable="true"
                            @dragover.prevent
                            @drop="swapItem(index)"
                            @dragstart="dragstartIndex=index"
                          >
                            {{ item.id }}
                          </button>
                        </td>
                        <td>
                          <div>
                            <button v-if="lid!=-1" class="btn btn-light">
                              {{ getLang('原文') }}:
                            </button>
                            {{ item.content }}
                          </div>
                          <div v-if="lid!=-1 && commonLangItem[item.id]">
                            <button class="btn btn-light">
                              {{ langObject[lid] }}:
                            </button>
                            {{ commonLangItem[item.id].content }}
                          </div>
                        </td>

                        <td>
                          <select v-model="item.status" @change="updateField(item,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td v-if="0">
                          <select v-model="item.type" @change="updateField(item,index,'type')">
                            <option
                              v-for="(statusItem,statusIndex) in typeArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <b-button variant="primary" @click="edit(1, index)">{{ getLang('編輯') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" :size="editType==0 || lid==-1?'lg':'xl'">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="d-flex align-items-start">
          <div class="d-flex flex-wrap w-100">
            <label>{{ lid==-1?getLang('通告'):getLang('原文') }}:</label>
            <textarea
              v-model="editItem.content"
              class="form-control"
              style="min-height:250px;"
            ></textarea>
            <button
              v-if="editType==0 || editItem.content!=data[editIndex].content"
              class="btn btn-danger"
              @click="editOk(editItem)"
            >
              {{ editType?getLang('更新'):getLang('新增') }}
            </button>
          </div>
          <div v-if="editType==1 && commonLangItem[editItem.id]" class="d-flex flex-wrap w-100">
            <label>{{ getLang("翻譯後") }}:</label>
            <textarea
              v-model="editCommonLangItem.content"
              class="form-control"
              style="min-height:250px;"
            ></textarea>
            <button
              v-if="editCommonLangItem.content!=commonLangItem[editItem.id].content"
              class="btn btn-danger"
              @click="editOk(editCommonLangItem)"
            >
              {{ editType?getLang('更新'):getLang('新增') }}
            </button>
          </div>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getAnnouncementList, deleteAnnouncement, addAnnouncement, updateAnnouncement } from '~/api/cms.js';
import commonLang from '~/api/commonLang.js';
export default {
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { content: '', status: 0, sort_id: 0 },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '開啟' }, { value: 0, show: '關閉' }],
      typeArray: [{ value: 1, show: '會員' }, { value: 0, show: '消息' }],
      search: '',
      where: { status: -1, type: -1 },
      dragstartIndex: null,
      lid: -1,
      commonLang: {},
      editCommonLangItem: null
    };
  },
  computed: {
    ...mapFields('lang', ['langList', 'langObject']),
    commonLangItem () {
      if (this.lid == -1) {
        return {};
      }
      const result = {};
      for (const i in this.data) {
        const item = this.data[i];
        result[item.id] || (result[item.id] = { lid: this.lid, id: item.id });
        for (const field in item) {
          if (this.commonLang[this.lid + '-' + this.data[i].id + '-' + field]) {
            result[item.id][field] = this.commonLang[this.lid + '-' + this.data[i].id + '-' + field];
          }
        }
      }
      return result;
    }
  },
  watch: {
    lid (lid) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query.lid = lid;
      this.$router.push({ query });
    },
    'where.status' (status) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query['where[status]'] = status;
      this.$router.push({ query });
    },
    'where.type' (type) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query['where[type]'] = type;
      this.$router.push({ query });
    },
    edit (edit) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query.edit = edit;
      this.$router.push({ query });
    }
  },
  mounted () {
    if (this.$route.query.lid) {
      this.lid = this.$route.query.lid;
    }
    if (this.$route.query['where[status]']) {
      this.where.status = this.$route.query['where[status]'];
    }
    if (this.$route.query['where[type]']) {
      this.where.type = this.$route.query['where[type]'];
    }
    this.getData(() => {
      if (this.$route.query.edit) {
        if (this.data[this.$route.query.edit]) {
          this.edit(1, this.$route.query.edit);
        }
      }
    });
  },
  methods: {
    getCommonLang (ids) {
      return commonLang.get({
        model_name: 'Announcement',
        model_id: ids
      })
        .then(({ data }) => {
          this.$set(this, 'commonLang', data);
        });
    },
    swapItem (swapIndex) {
      const index = this.dragstartIndex;
      this.data.splice(swapIndex, 0, this.data.splice(index, 1).pop());
      this.backupData.splice(swapIndex, 0, this.backupData.splice(index, 1).pop());
      this.updateSort();
    },
    async updateSort () {
      for (const i in this.data) {
        const item = this.data[i];
        item.sort_id = i;
        const id = item.id;
        const payload = {
          sort_id: item.sort_id
        };
        try {
          await updateAnnouncement(payload, id);
        } catch (err) {}
      }
    },
    edit (mode, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      const item = this.data[index];
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
        if (this.commonLangItem[this.editItem.id]) {
          this.$set(this, 'editCommonLangItem', JSON.parse(JSON.stringify(this.commonLangItem[this.editItem.id])));
        }

        const query = JSON.parse(JSON.stringify(this.$route.query));
        query.edit = index;
        this.$router.push({ query });
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { content: '', status: 0, sort_id: 0 });
      }
    },
    async getData (callback) {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        orderId: this.orderId
      };
      try {
        const res = await getAnnouncementList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
        const ids = [];
        for (const i in res.data) {
          ids.push(res.data[i].id);
        }
        await this.getCommonLang(ids);
        callback && callback();
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateAnnouncement(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteAnnouncement(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addAnnouncement(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateItem (editItem) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = JSON.parse(JSON.stringify(editItem));
        const index = this.editIndex;
        try {
          if (editItem.lid) {
            const item = editItem;
            const field = 'content';
            const res = commonLang.set({
              lid: item.lid,
              model_id: item.id,
              model_name: 'Announcement',
              model_field: field,
              model_content: item[field]
            }).then(({ message }) => {
              this.alertWindow(message);
            }).catch(() => {});
            if (item[field]) {
              this.$set(this.commonLang, item.lid + '-' + item.id + '-' + field, item[field]);
            } else {
              this.$delete(this.commonLang, item.lid + '-' + item.id + '-' + field);
            }
            this.alertWindow(res.message);
          } else {
            const res = await updateAnnouncement(payload, editItem.id);
            this.$set(this.data, index, payload);
            this.$set(this.backupData, index, payload);
            this.alertWindow(res.message);
          }

          // this.$root.$emit('bv::hide::modal', 'edit');

          return true;
        } catch (err) {
          this.alertWindow(err.message);
          return true;
        }
      });
    }
  }
};
</script>
