<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang("語系") }}:
                  <select v-model="lid">
                    <option :value="-1">{{ getLang("原文") }}</option>
                    <option
                      v-for="(item, index) in langList"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">
                    {{ getLang("新增優惠內容") }}
                  </button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang("搜尋") }}:<input
                    v-model="search"
                    type="search"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr role="row">
                        <th>id</th>
                        <th>{{ getLang("標題") }}</th>
                        <th>{{ getLang("封面") }}</th>
                        <th>
                          {{ getLang("狀態") }}
                          <select v-model="where.status" @change="getData()">
                            <option value="-1">{{ getLang("全部") }}</option>
                            <option
                              v-for="(statusItem, statusIndex) in statusList"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </th>
                        <th>{{ getLang("操作") }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div v-for="(item, index) in data" :key="index" v-frag>
                        <CmsPromotionManagementTr
                          :item="item"
                          :index="index"
                          :edit="edit"
                          :upload-info-image="uploadInfoImage"
                          :lid="lid"
                          :swap-item="swapItem"
                          :drag="drag"
                          :delete-item="deleteItem"
                          :common-lang-item="commonLangItem"
                        />
                      </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CmsPromotionManagementModal
      :lid="lid"
      :edit-item="editItem"
      :common-lang-item="commonLangItem"
      :common-lang="commonLang"
      :common-image="commonImage"
      :upload-info-image="uploadInfoImage"
    />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';

import {
  getPromotionList,
  deletePromotion,
  addPromotion,
  updatePromotion
} from '~/api/cms.js';
import commonImage from '~/api/commonImage.js';
import commonLang from '~/api/commonLang.js';

export default {
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editItem: null,
      data: [],
      pageData: { page: 0, limit: 50 },
      search: '',
      where: { status: -1 },
      orderId: 1,
      drag: {
        index: null
      },
      commonLang: {},
      commonImage: {},
      lid: -1
    };
  },
  computed: {
    ...mapFields('lang', ['langList']),
    ...mapFields('promotion', ['statusList']),
    commonLangItem () {
      if (this.lid == -1) {
        return {};
      }
      const result = {};
      for (const i in this.data) {
        const item = this.data[i];
        result[item.id] || (result[item.id] = { lid: this.lid, id: item.id });
        for (const field in item) {
          if (this.commonLang[this.lid + '-' + this.data[i].id + '-' + field]) {
            result[item.id][field] = this.commonLang[
              this.lid + '-' + this.data[i].id + '-' + field
            ];
          }
        }
      }
      return result;
    }
  },
  watch: {
    lid (lid) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query.lid = lid;
      this.$router.push({ query });
    },
    'where.status' (status) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query['where[status]'] = status;
      this.$router.push({ query });
    },
    edit (edit) {
      const query = JSON.parse(JSON.stringify(this.$route.query));
      query.edit = edit;
      this.$router.push({ query });
    }
  },
  mounted () {
    if (this.$route.query.lid) {
      this.lid = this.$route.query.lid;
    }
    if (this.$route.query['where[status]']) {
      this.where.status = this.$route.query['where[status]'];
    }

    this.getData(() => {
      if (this.$route.query.edit) {
        if (this.data[this.$route.query.edit]) {
          this.edit(1, this.$route.query.edit);
        }
      }
    });
  },
  methods: {
    edit (mode, index) {
      if (mode) { // 更新
        this.$set(this, 'editItem', this.data[index]);
        this.$root.$emit('bv::show::modal', 'edit');
        const query = JSON.parse(JSON.stringify(this.$route.query));
        query.edit = index;
        this.$router.push({ query });
      } else { // 新增
        this.confirmWindow(this.getLang('確認新增') + '?', () => {
          this.createItem();
        });
      }
    },
    swapItem (swapIndex) {
      const index = this.drag.index;
      this.data.splice(swapIndex, 0, this.data.splice(index, 1).pop());
      this.updateSort();
    },
    async updateSort () {
      for (const i in this.data) {
        const item = this.data[i];
        item.sort_id = i;
        const id = item.id;
        const payload = {
          sort_id: item.sort_id
        };
        try {
          await updatePromotion(payload, id);
        } catch (err) {}
      }
    },
    getCommonLang (ids) {
      commonLang.get({
        model_name: 'PromotionManagement',
        model_id: ids
      })
        .then(({ data }) => {
          this.$set(this, 'commonLang', data);
        });
    },
    getCommonImage (ids) {
      const result = {};
      for (const i in this.data) {
        result[this.data[i].id] = [];
      }
      commonImage.get({
        model_name: 'PromotionManagement',
        model_id: ids
      }).then(({ data }) => {
        for (const i in data) {
          const item = data[i];
          result[item.model_id].push(item.id);
        }

        this.$set(this, 'commonImage', result);
      });
    },
    async getData (callback) {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        where: this.where,
        orderId: this.orderId
      };
      try {
        const res = await getPromotionList(params);
        this.$set(this, 'data', res.data);
        const ids = [];
        for (const i in res.data) {
          ids.push(res.data[i].id);
        }
        this.getCommonLang(ids);
        this.getCommonImage(ids);

        this.$set(this, 'pageData', res.pageData);
        callback && callback();
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async createItem () {
      try {
        const res = await addPromotion({
          title: '',
          content: '',
          status: 0
        });
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },

    async uploadInfoImage (e, item) {
      if (!e.target.files[0]) {
        return false;
      }
      // const item = this.data[index];
      const file = e.target.files[0];
      const formData = new FormData();
      formData.append('image', file);
      formData.append('model_name', 'PromotionManagement');
      formData.append('model_id', item.id);
      if (item.image_id) {
        commonImage.delete({ image_id: item.image_id });
      }
      const { image_id } = await commonImage.upload(formData);
      this.$set(item, 'image_id', image_id);
      // item.image_id = image_id;
      if (item.lid) {
        await commonLang.set({
          lid: item.lid,
          model_id: item.id,
          model_field: 'image_id',
          model_name: 'PromotionManagement',
          model_content: image_id
        });
        this.$set(this.commonLang, item.lid + '-' + item.id + '-image_id', image_id);
      } else {
        await updatePromotion({ image_id: item.image_id }, item.id);
      }
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deletePromotion(item.id);
          this.data.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    }
  }
};
</script>
