<template>
  <b-modal id="showInfo" :no-close-on-backdrop="true" size="l">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('會員賬戶') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <div class="form-group form-inline">
      <label>{{ getLang('用戶名') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('全名') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('電子郵箱') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('聯絡號碼') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('狀態') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('暫停下註狀態') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('登錄權限') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('最近登錄的IP') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('最近登錄時間') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('註冊 IP地址') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <div class="form-group form-inline">
      <label>{{ getLang('創建日期') }}:</label>
      <div class="form-control">{{ 'test' }}</div>
    </div>
    <template #modal-footer="{ cancel }">
      <b-button variant="light" @click="cancel();preview=null">{{ getLang('取消') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: [],
  data () {
    return {
      preview: null
    };
  },
  methods: {
  }
};
</script>
