<template>
  <div ref="element">
  </div>
</template>
<script>
import SwaggerUI from 'swagger-ui';
import 'swagger-ui/dist/swagger-ui.css';

export default {
  mounted () {
    SwaggerUI({
      url: process.env.baseUrl + 'document/' + this.$route.params.name,
      domNode: this.$refs.element
    });
  }
};

</script>
