<template>
  <fragment>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ getLang('批量調整彩金配額') }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group-sm">
                  <label>{{ getLang('時間範圍') }}</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <button id="daterange-btn" type="button" class="btn btn-primary btn-xs pull-left" style="padding: 0px; padding-right: 5px; padding-left: 5px">
                        <span>
                          <i class="fas fa-calendar"></i>
                        </span>
                        <i class="fas fa-caret-down"></i>
                      </button>
                    </div>
                    <input id="recDateTime" type="text" class="form-control pull-right" name="DateRange" />
                  </div>
                  <div style="float: right"><a href="#" onclick="ResetDate();">{{ getLang('重置日期') }}</a></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group-sm">
                  <label>{{ getLang('會員帳號') }}</label>
                  <input id="txtUsername" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group-sm">
                  <label>{{ getLang('操作員') }}</label>
                  <input id="txtOperator" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <input id="btnSearchOffRecAdj" type="button" class="btn btn-primary" onclick="GetBonusAdjHistory();" value="搜索" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </fragment>
</template>
<script>
export default {

};
</script>
