<template>
  <fragment>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>搜索條件</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group-sm">
                  <label>時間範圍</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <button id="daterange-btn" type="button" class="btn btn-primary btn-xs pull-left" style="padding: 0px; padding-right: 5px; padding-left: 5px">
                        <span>
                          <i class="fas fa-calendar"></i>
                        </span>
                        <i class="fas fa-caret-down"></i>
                      </button>
                    </div>
                    <input id="orafDateTime" type="text" class="form-control pull-right" name="DateRange" />
                  </div>
                  <div style="float: right"><a href="#" onclick="ResetDate();">重置日期</a></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group-sm">
                  <label>額度補單類型</label>
                  <select id="selOrafAdjType" class="form-control" name="AdjustmentType" style="font-size: 14px">
                    <option value="">全部</option>
                    <option value="1">存入</option>
                    <option value="2">支出</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group-sm">
                  <label>會員賬號</label>
                  <input id="txtOrafUsername" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group-sm">
                  <label>{{ getLang('操作') }}員</label>
                  <input id="txtOrafOperator" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <input id="btnSearchOffRecAdj" type="button" class="btn btn-primary" onclick="GetOffRecAdjHistory();" value="搜索" />
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row"><div class="col-sm-12 col-md-6"><div id="table-1_length" class="dataTables_length"><label>Show <select name="table-1_length" aria-controls="table-1" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="table-1_filter" class="dataTables_filter"><label>{{ getLang('搜尋') }}:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table-1" /></label></div></div></div><div class="row">
                  <div class="col-sm-12">
                    <table id="table-1" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="table-1_info">
                      <thead>
                        <tr style="position:relative;width:100%; overflow:auto" role="row">
                          <th
                            class="dt-header dt-col-04-c dt-body-center sorting_disabled"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="No."
                            style="width: 35px;"
                          >
                            No.
                          </th><th
                            class="dt-header dt-col-12-c dt-body-center sorting_desc"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="交易日期: activate to sort column ascending"
                            style="width: 117px;"
                            aria-sort="descending"
                          >
                            交易日期
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="交易號: activate to sort column ascending"
                            style="width: 73px;"
                          >
                            交易號
                          </th><th
                            class="dt-header dt-col-10-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label=" 賬號: activate to sort column ascending"
                            style="width: 96px;"
                          >
                            賬號
                          </th><th
                            class="dt-header dt-col-11-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="電子郵箱: activate to sort column ascending"
                            style="width: 108px;"
                          >
                            電子郵箱
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="賬戶名: activate to sort column ascending"
                            style="width: 74px;"
                          >
                            賬戶名
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting_disabled"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="交易類型"
                            style="width: 74px;"
                          >
                            交易類型
                          </th><th
                            class="dt-header dt-col-12-c dt-body-center sorting_disabled"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="詳情"
                            style="width: 120px;"
                          >
                            詳情
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="狀態: activate to sort column ascending"
                            style="width: 74px;"
                          >
                            狀態
                          </th><th
                            class="dt-header dt-col-07-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="支出: activate to sort column ascending"
                            style="width: 62px;"
                          >
                            支出
                          </th><th
                            class="dt-header dt-col-07-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="存入: activate to sort column ascending"
                            style="width: 62px;"
                          >
                            存入
                          </th><th
                            class="dt-header dt-col-07-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="手續費: activate to sort column ascending"
                            style="width: 60px;"
                          >
                            手續費
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row">
                          <td class="dt-body-center dt-col-04-c">1</td>
                          <td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:51</td>
                          <td class="dt-body-center dt-col-08-c">
                            <a href="#" onclick="GoToTrxDetailPage('317438', '/ticketing/deposit?tid=317438')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317438</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td>
                          <td class="dt-body-center dt-col-10-c">kongcheung</td>
                          <td class="dt-body-center dt-col-11-c"></td>
                          <td class="dt-body-center dt-col-08-c">注册ip19个，一个赢钱，don918,三个没有记录，其他正常交易</td>
                          <td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td>
                          <td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td>
                          <td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">150.84</td>
                          <td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr>
                        <tr role="row">
                          <td class="dt-body-center dt-col-04-c">2</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:48</td>
                          <td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317437', '/ticketing/deposit?tid=317437')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317437</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">yip95920</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">100.92</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd"><td class="dt-body-center dt-col-04-c">3</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:45</td><td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317436', '/ticketing/deposit?tid=317436')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317436</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">harry118</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">Lee H Y</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">110.95</td><td class="dt-body-center dt-col-07-c">0.00</td></tr><tr role="row" class="even"><td class="dt-body-center dt-col-04-c">4</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:43</td><td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317435', '/ticketing/deposit?tid=317435')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317435</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">iamwajai01</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c"></td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">500.52</td><td class="dt-body-center dt-col-07-c">0.00</td></tr><tr role="row" class="odd"><td class="dt-body-center dt-col-04-c">5</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:37</td><td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317434', '/ticketing/deposit?tid=317434')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317434</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">happy888</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c"></td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">100.18</td><td class="dt-body-center dt-col-07-c">0.00</td></tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">6</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:23</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317433', '/ticketing/deposit?tid=317433')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317433</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">wwkkpp</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">200.58</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd">
                          <td class="dt-body-center dt-col-04-c">7</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:20</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317432', '/ticketing/deposit?tid=317432')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317432</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">sing411</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">301.90</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">8</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:10</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317431', '/ticketing/deposit?tid=317431')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317431</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">waiki30000</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">注册ip一个，登录ip3个。正常存取</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">500.06</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd">
                          <td class="dt-body-center dt-col-04-c">9</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:07</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317430', '/ticketing/deposit?tid=317430')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317430</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">wwkkpp</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">200.29</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">10</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:17:38</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317429', '/ticketing/deposit?tid=317429')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317429</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">iamwajai01</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c"></td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">501.04</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd">
                          <td class="dt-body-center dt-col-04-c">11</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:17:37</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317428', '/ticketing/deposit?tid=317428')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317428</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">kongcheung</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">注册ip19个，一个赢钱，don918,三个没有记录，其他正常交易</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">151.68</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">12</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:17:25</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317427', '/ticketing/deposit?tid=317427')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317427</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">harry118</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">Lee H Y</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">110.85</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><div class="row"><div class="col-sm-12 col-md-5"><div id="table-1_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div></div><div class="col-sm-12 col-md-7"><div id="table-1_paginate" class="dataTables_paginate paging_simple_numbers"><ul class="pagination"><li id="table-1_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="table-1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="table-1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="table-1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li id="table-1_next" class="paginate_button page-item next"><a href="#" aria-controls="table-1" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fragment>
</template>
<script>
</script>
