<template>
  <fragment>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>搜尋條件</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="input-group-sm">
                  <label>時間範圍</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <button id="daterange-btn" type="button" class="btn btn-primary btn-xs pull-left" style="padding: 0px; padding-right: 5px; padding-left: 5px">
                        <span>
                          <i class="fas fa-calendar"></i>
                        </span>
                        <i class="fas fa-caret-down"></i>
                      </button>
                    </div>
                    <input id="recordDateTime" type="text" class="form-control pull-right" name="DateRange" />
                  </div>
                </div>
                <div class="input-group-sm">
                  <label style="padding-top: 10px">交易代號</label>
                  <div class="form-inline input-group-sm">
                    <input
                      id="txtTrxIdFrom"
                      type="text"
                      class="form-control"
                      style="width: 165px"
                      name="TrxIdFrom"
                    />&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;
                    <input
                      id="txtTrxIdTo"
                      type="text"
                      class="form-control"
                      style="width: 165px"
                      name="TrxIdTo"
                    />
                  </div>
                </div>
                <div class="input-group-sm">
                  <label>數額條件</label>
                  <div class="form-inline input-group-sm">
                    <input
                      id="txtAmountFrom"
                      type="text"
                      class="form-control"
                      style="width: 165px"
                      name="AmountFrom"
                      onkeypress="return DecimalNumberOnly(event);"
                    />&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;
                    <input
                      id="txtAmountTo"
                      type="text"
                      class="form-control"
                      style="width: 165px"
                      name="AmountTo"
                      onkeypress="return DecimalNumberOnly(event);"
                    />
                  </div>
                </div>
                <div class="input-group-sm">
                  <label>{{ getLang('銀行戶名') }}</label>
                  <select id="txtBankAccNo" class="form-control" name="BankAccNo"><option value="">請選擇</option><option value="23|ECPAY" style="color: red;">ECPAY - ECPAY (非活躍)</option><option value="20|测试银行" style="color: red;">中國工商銀行 (亞洲) - 测试银行 (非活躍)</option><option value="3|001" style="color: red;">中國銀行 - 001 (非活躍)</option><option value="3|002" style="color: red;">中國銀行 - 002 (非活躍)</option><option value="3|88888888">中國銀行 - 88888888</option><option value="12|测试银行" style="color: red;">交通銀行 (香港) - 测试银行 (非活躍)</option><option value="25|ECAPY便利店充現金">便利店充現金 - ECAPY便利店充現金</option><option value="29|UMPAY便利店充現金">便利店充現金 - UMPAY便利店充現金</option><option value="32|UMPAY入钞机">入鈔機 - UMPAY入钞机</option><option value="17|测试银行" style="color: red;">創興銀行 - 测试银行 (非活躍)</option><option value="14|88888888">匯豐銀行 - 88888888</option><option value="14|B02" style="color: red;">匯豐銀行 - B02 (非活躍)</option><option value="16|测试银行" style="color: red;">大新銀行 - 测试银行 (非活躍)</option><option value="13|测试银行" style="color: red;">大眾銀行 (香港) - 测试银行 (非活躍)</option><option value="21|88888888">恒生銀行 - 88888888</option><option value="21|测试银行" style="color: red;">恒生銀行 - 测试银行 (非活躍)</option><option value="24|ECPAY支付支">支付支 - ECPAY支付支</option><option value="28|UMPAY支付支">支付支 - UMPAY支付支</option><option value="7|测试银行" style="color: red;">星展銀行 (香港) - 测试银行 (非活躍)</option><option value="4|测试银行" style="color: red;">東亞銀行 - 测试银行 (非活躍)</option><option value="9|测试银行" style="color: red;">永隆銀行 - 测试银行 (非活躍)</option><option value="6|测试银行" style="color: red;">渣打銀行 (香港) - 测试银行 (非活躍)</option><option value="31|UMPAY网银">網銀 - UMPAY网银</option><option value="22|TS" style="color: red;">花旗銀行 (香港) - TS (非活躍)</option><option value="10|测试银行" style="color: red;">華僑永亨銀行 - 测试银行 (非活躍)</option><option value="5|001" style="color: red;">菲律賓提款 - 001 (非活躍)</option><option value="5|002" style="color: red;">菲律賓提款 - 002 (非活躍)</option><option value="5|中班">菲律賓提款 - 中班</option><option value="5|早班">菲律賓提款 - 早班</option><option value="5|晚班">菲律賓提款 - 晚班</option><option value="26|ECPAY轉數快">轉數快 - ECPAY轉數快</option><option value="30|UMPAY转数快">轉數快 - UMPAY转数快</option><option value="33|重新下單">重新下單 - 重新下單</option><option value="27|ECPAY銀行轉帳/入鈔機">銀行轉帳/入鈔機 - ECPAY銀行轉帳/入鈔機</option><option value="15|测试银行" style="color: red;">集友銀行 - 测试银行 (非活躍)</option><option value="2|中班">香港提款 - 中班</option><option value="2|早班">香港提款 - 早班</option><option value="2|晚班">香港提款 - 晚班</option></select>
                </div>
                <div class="input-group-sm">
                  <label> 賬號</label>
                  <input id="txtAccId" type="text" class="form-control" name="AccountId" />
                </div>
                <div class="input-group-sm">
                  <label>電子郵箱</label>
                  <input id="txtEmail" type="text" class="form-control" name="Email" />
                </div>
                <div class="input-group-sm">
                  <label>批准者</label>
                  <input id="txtApprover" type="text" class="form-control" name="approver" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group-sm">
                  <label>交易類型</label>
                  <span>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="DeselectAllTrxType();">取消全選</a>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="SelectAllTrxType();">全選</a>
                  </span>
                  <div id="divFundMethod" class="form-inline trx-type-list" style="font-size: 0.8em; padding: 10px; overflow-y: scroll; overflow-x: auto; min-height: 100px; max-height: 140px; border: 1px solid grey;"><label for="chk_tt_0" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_0" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">存款</span></label><label for="chk_tt_1" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_1" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">取款</span></label><label for="chk_tt_2" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_2" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">優惠</span></label><label for="chk_tt_3" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_3" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">增加存入額</span></label><label for="chk_tt_4" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_4" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">扣除存入額</span></label><label for="chk_tt_5" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_5" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">返水</span></label><label for="chk_tt_7" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_7" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">產品優惠</span></label><label for="chk_tt_8" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_8" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">救緩金</span></label><label for="chk_tt_9" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_9" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">優惠券</span></label><label for="chk_tt_10" style="padding-right:20px;vertical-align:middle"><input id="chk_tt_10" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">Referrer Rebate</span></label></div>
                </div>
                <div class="input-group-sm" style="padding-top: 5px">
                  <label>狀態</label>

                  <span>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="DeselectAllTrxStatus();">取消全選</a>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="SelectAllTrxStatus();">全選</a>
                  </span>
                  <div id="divTrxStatus" class="form-inline trx-status-list" style="font-size: 0.8em; padding: 10px; overflow-y: scroll; overflow-x: auto; min-height: 100px; max-height: 140px; border: 1px solid grey;"><label for="chk_ts_0" style="padding-right:20px;vertical-align:middle"><input id="chk_ts_0" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">新要求</span></label><label for="chk_ts_1" style="padding-right:20px;vertical-align:middle"><input id="chk_ts_1" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">處理中</span></label><label for="chk_ts_2" style="padding-right:20px;vertical-align:middle"><input id="chk_ts_2" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">已被確認</span></label><label for="chk_ts_3" style="padding-right:20px;vertical-align:middle"><input id="chk_ts_3" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">已遭拒</span></label></div>
                </div>
                <div class="input-group-sm" style="padding-top: 5px">
                  <label>交易途徑</label>
                  <select id="selDepChannel" name="ctl00$cphMainContent$selDepChannel" class="form-control">
                    <option value="-1">--- 全部---</option>
                    <option value="1">網銀轉帳</option>
                    <option value="2">ATM轉帳</option>
                    <option value="3">現金存款</option>
                    <option value="4">{{ getLang('支付網關') }}</option>
                    <option value="6">提款網關</option>
                  </select>
                </div>
                <div class="input-group-sm">
                  <label>{{ getLang('代理編號') }}</label>
                  <input id="txtAgentCode" type="text" class="form-control" name="AgentCode" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group-sm">
                  <label>記錄類型</label>
                  <span>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="DeselectCreditDebit();">取消全選</a>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="SelectCreditDebit();">全選</a>
                  </span>
                  <div id="divCreditDebit" class="form-inline credit-debit-list" style="font-size: 0.8em; padding: 10px; overflow-y: scroll; overflow-x: auto; min-height: 100px; max-height: 140px; border: 1px solid grey;">
                    <label for="chkTypeCredit" style="padding-right: 20px; vertical-align: middle">
                      <input id="chkTypeCredit" type="checkbox" style="vertical-align: middle" checked="checked" /><span style="padding-left: 3px; vertical-align: middle">存入</span></label>
                    <label for="chkTypeDebit" style="padding-right: 20px; vertical-align: middle">
                      <input id="chkTypeDebit" type="checkbox" style="vertical-align: middle" checked="checked" /><span style="padding-left: 3px; vertical-align: middle">支出</span></label>
                  </div>
                </div>

                <div class="input-group-sm" style="padding-top: 5px">
                  <label>會員群組</label>
                  <span>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="DeselectAllMemberGroup();">取消全選</a>
                    <a href="#" style="float: right; padding-right: 10px;" onclick="SelectAllMemberGroup();">全選</a>
                  </span>
                  <div id="divMemberGroup" class="form-inline mem-group-list" style="font-size: 0.8em; padding: 10px; overflow-y: scroll; overflow-x: auto; min-height: 100px; max-height: 140px; border: 1px solid grey;"><label for="chk_mg_1" style="padding-right:20px;vertical-align:middle"><input id="chk_mg_1" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">普通客戶</span></label><label for="chk_mg_2" style="padding-right:20px;vertical-align:middle"><input id="chk_mg_2" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">大客戶</span></label><label for="chk_mg_3" style="padding-right:20px;vertical-align:middle"><input id="chk_mg_3" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">骗子</span></label><label for="chk_mg_4" style="padding-right:20px;vertical-align:middle"><input id="chk_mg_4" type="checkbox" style="vertical-align:middle" checked="checked" /><span style="padding-left:3px;vertical-align:middle">testing</span></label></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <input id="btnSearchTrxHistory" type="button" class="btn btn-primary" onclick="GetTicketingHistory();" value="搜索" />
              <input type="button" class="btn btn-primary" onclick="ResetSearch();" value="重置" />
              <input id="txtSearchCaption" readonly="readonly" value="單擊以進行搜索" style="border: none; font-style: italic;" />
              <label for="chkShowRemark" style="padding-right: 20px; vertical-align: middle">
                <input
                  id="chkShowRemark"
                  type="checkbox"
                  class="toggle-vis"
                  data-column="12"
                  value="Column"
                  style="vertical-align: middle"
                />
                <span style="padding-left: 3px; vertical-align: middle">顯示備註欄目</span>
              </label>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row"><div class="col-sm-12 col-md-6"><div id="table-1_length" class="dataTables_length"><label>Show <select name="table-1_length" aria-controls="table-1" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="table-1_filter" class="dataTables_filter"><label>搜尋:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table-1" /></label></div></div></div><div class="row">
                  <div class="col-sm-12">
                    <table id="table-1" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="table-1_info">
                      <thead>
                        <tr style="position:relative;width:100%; overflow:auto" role="row">
                          <th
                            class="dt-header dt-col-04-c dt-body-center sorting_disabled"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="No."
                            style="width: 35px;"
                          >
                            No.
                          </th><th
                            class="dt-header dt-col-12-c dt-body-center sorting_desc"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="交易日期: activate to sort column ascending"
                            style="width: 117px;"
                            aria-sort="descending"
                          >
                            交易日期
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="交易號: activate to sort column ascending"
                            style="width: 73px;"
                          >
                            交易號
                          </th><th
                            class="dt-header dt-col-10-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label=" 賬號: activate to sort column ascending"
                            style="width: 96px;"
                          >
                            賬號
                          </th><th
                            class="dt-header dt-col-11-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="電子郵箱: activate to sort column ascending"
                            style="width: 108px;"
                          >
                            電子郵箱
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="賬戶名: activate to sort column ascending"
                            style="width: 74px;"
                          >
                            賬戶名
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting_disabled"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="交易類型"
                            style="width: 74px;"
                          >
                            交易類型
                          </th><th
                            class="dt-header dt-col-12-c dt-body-center sorting_disabled"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="詳情"
                            style="width: 120px;"
                          >
                            詳情
                          </th><th
                            class="dt-header dt-col-08-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="狀態: activate to sort column ascending"
                            style="width: 74px;"
                          >
                            狀態
                          </th><th
                            class="dt-header dt-col-07-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="支出: activate to sort column ascending"
                            style="width: 62px;"
                          >
                            支出
                          </th><th
                            class="dt-header dt-col-07-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="存入: activate to sort column ascending"
                            style="width: 62px;"
                          >
                            存入
                          </th><th
                            class="dt-header dt-col-07-c dt-body-center sorting"
                            tabindex="0"
                            aria-controls="tblNewRequestTickets"
                            rowspan="1"
                            colspan="1"
                            aria-label="手續費: activate to sort column ascending"
                            style="width: 60px;"
                          >
                            手續費
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row">
                          <td class="dt-body-center dt-col-04-c">1</td>
                          <td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:51</td>
                          <td class="dt-body-center dt-col-08-c">
                            <a href="#" onclick="GoToTrxDetailPage('317438', '/ticketing/deposit?tid=317438')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317438</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td>
                          <td class="dt-body-center dt-col-10-c">kongcheung</td>
                          <td class="dt-body-center dt-col-11-c"></td>
                          <td class="dt-body-center dt-col-08-c">注册ip19个，一个赢钱，don918,三个没有记录，其他正常交易</td>
                          <td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td>
                          <td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td>
                          <td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">150.84</td>
                          <td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr>
                        <tr role="row">
                          <td class="dt-body-center dt-col-04-c">2</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:48</td>
                          <td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317437', '/ticketing/deposit?tid=317437')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317437</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">yip95920</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">100.92</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd"><td class="dt-body-center dt-col-04-c">3</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:45</td><td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317436', '/ticketing/deposit?tid=317436')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317436</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">harry118</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">Lee H Y</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">110.95</td><td class="dt-body-center dt-col-07-c">0.00</td></tr><tr role="row" class="even"><td class="dt-body-center dt-col-04-c">4</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:43</td><td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317435', '/ticketing/deposit?tid=317435')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317435</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">iamwajai01</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c"></td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">500.52</td><td class="dt-body-center dt-col-07-c">0.00</td></tr><tr role="row" class="odd"><td class="dt-body-center dt-col-04-c">5</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:37</td><td class="dt-body-center dt-col-08-c"><a href="#" onclick="GoToTrxDetailPage('317434', '/ticketing/deposit?tid=317434')" data-toggle="tooltip" title="交易詳情" style="font-size:1.1em;padding-right:10px"><u><strong>317434</strong></u></a><i class="fas fa-external-link-alt"></i></td><td class="dt-body-center dt-col-10-c">happy888</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c"></td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">100.18</td><td class="dt-body-center dt-col-07-c">0.00</td></tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">6</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:23</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317433', '/ticketing/deposit?tid=317433')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317433</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">wwkkpp</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">200.58</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd">
                          <td class="dt-body-center dt-col-04-c">7</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:20</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317432', '/ticketing/deposit?tid=317432')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317432</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">sing411</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">301.90</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">8</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:10</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317431', '/ticketing/deposit?tid=317431')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317431</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">waiki30000</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">注册ip一个，登录ip3个。正常存取</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">500.06</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd">
                          <td class="dt-body-center dt-col-04-c">9</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:18:07</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317430', '/ticketing/deposit?tid=317430')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317430</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">wwkkpp</td><td class="dt-body-center dt-col-11-c">--</td><td class="dt-body-center dt-col-08-c">--</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">200.29</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">10</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:17:38</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317429', '/ticketing/deposit?tid=317429')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317429</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">iamwajai01</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c"></td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY转数快</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">501.04</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="odd">
                          <td class="dt-body-center dt-col-04-c">11</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:17:37</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317428', '/ticketing/deposit?tid=317428')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317428</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">kongcheung</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">注册ip19个，一个赢钱，don918,三个没有记录，其他正常交易</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">151.68</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr><tr role="row" class="even">
                          <td class="dt-body-center dt-col-04-c">12</td><td class="dt-body-center dt-col-12-c sorting_1">2020-10-26 18:17:25</td><td class="dt-body-center dt-col-08-c">
                            <a
                              href="#"
                              onclick="GoToTrxDetailPage('317427', '/ticketing/deposit?tid=317427')"
                              data-toggle="tooltip"
                              title=""
                              style="font-size:1.1em;padding-right:10px"
                              data-original-title="交易詳情"
                            ><u><strong>317427</strong></u></a><i class="fas fa-external-link-alt"></i>
                          </td><td class="dt-body-center dt-col-10-c">harry118</td><td class="dt-body-center dt-col-11-c"></td><td class="dt-body-center dt-col-08-c">Lee H Y</td><td class="dt-body-center dt-col-08-c">存款</td><td class="dt-body-center dt-col-12-c">UMPAY支付支</td><td class="dt-body-center dt-col-08-c" style="background-color: gold; color: rgb(0, 0, 0);">新要求</td><td class="dt-body-center dt-col-07-c">--</td><td class="dt-body-center dt-col-07-c">110.85</td><td class="dt-body-center dt-col-07-c">0.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><div class="row"><div class="col-sm-12 col-md-5"><div id="table-1_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div></div><div class="col-sm-12 col-md-7"><div id="table-1_paginate" class="dataTables_paginate paging_simple_numbers"><ul class="pagination"><li id="table-1_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="table-1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="table-1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="table-1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li id="table-1_next" class="paginate_button page-item next"><a href="#" aria-controls="table-1" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fragment>
</template>
<script>
export default {

};
</script>
