<template>
  <report />
</template>
<script>

export default {
  data () {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  mounted () {

  },
  methods: {

  }
};
</script>
<style scoped>
  .betting-message {
    max-width: 300px;
  }
  .positive {
    color:#6777ef;
  }
  .negative {
    color:#fc544b;
  }
</style>
