<template>
  <b-modal ref="modal" :no-close-on-backdrop="true" size="lg">
    <template #modal-header="{close}">
      <h4 class="modal-title">{{ getLang('聯屬推廣鏈接列表') }}</h4>
      <button type="button" class="close" @click="close()">×</button>
    </template>
    <template #default>
      <div class="form-group form-inline">
        <label>{{ getLang('添加新鏈接') }}</label>
        <input v-model="link" class="form-control" type="text" />
        <button class="btn btn-primary ml-2" @click="set()">{{ getLang('添加') }}</button>
      </div>

      <div class="card-body border-top">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-inline-flex mb-3 form-inline">
              {{ getLang('顯示') }}
              <select v-model="pageData.limit" @change="getList">
                <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
              </select>
              {{ getLang('條目') }}
            </div>
            <div class="d-inline-flex mb-3 form-inline float-right">
              {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive text-center">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr role="row">
                    <th>No.</th>
                    <th>{{ getLang('域名') }}</th>
                    <th>{{ getLang('操作') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item,index) in editItem.list"
                    v-show="!search || item.link.indexOf(search)!=-1"
                    :key="index"
                  >
                    <td>{{ index + 1 }}</td>
                    <td>
                      {{ item.link }}
                    </td>
                    <td>
                      <button class="btn btn-sm btn-primary" @click="del(index)">{{ getLang('刪除') }}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <pagination v-if="pageData" :page-data="pageData" @getList="getList" />
        </div> -->
      </div>
    </template>
    <template #modal-footer="{ cancel }">
      <b-button variant="light" @click="cancel()">{{ getLang('關閉') }}</b-button>
    </template>
  </b-modal>
</template>
<script>
import agentLink from '~/api/agentLink.js';
export default {
  props: ['editItem'],
  data () {
    return {
      link: '',
      search: '',
      pageData: { page: 0, limit: 50 }
    };
  },
  methods: {
    getList () {
      agentLink.get(this.editItem.id).then(({ data }) => {
        this.editItem.list = data;
      });
    },
    set () {
      if (this.link == '') {
        this.alertWindow(this.getLang('推廣連結不能為空白'));
        return;
      }
      agentLink.set({ link: this.link }, this.editItem.id).then(({ data }) => {
        this.editItem.list.push(data);
        this.link = '';
      });
    },
    del (index) {
      const item = this.editItem.list[index];
      agentLink.del(item.id).then(({ data }) => {
        this.editItem.list.splice(index, 1);
      });
    },
    toggle () {
      this.getList();
      this.$refs.modal.toggle();
      this.link = '';
    }
  }
};
</script>
