<template id="edit">
  <div v-frag>
    <div v-if="!member" class="form-inline">
      <div class="form-group">
        <label>{{ getLang('會員帳號') }} :
          <input v-model="account" type="text" class="form-control" @change="getMemberID()" />
        </label>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <label>
          {{ getLang('碼量') }} :&#12288;&#12288;
          <select v-model="more_less" class="form-control">
            <option
              v-for="(moreLessItem,moreLessIndex) in moreLessArray"
              :key="moreLessIndex"
              :value="moreLessItem.value"
            >
              {{ moreLessItem.show }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group form-inline">
        <label>{{ getLang('金額') }} :&#12288;&#12288;
          <input v-model="amount" type="text" class="form-control" />
        </label>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group form-inline">
        <label>{{ getLang('說明') }} :&#12288;&#12288;
          <input v-model="description" type="text" class="form-control" />
        </label>
      </div>
    </div>
    <div v-if="0" class="form-group">
      <label>{{ getLang('產品') }}:
        <div class="d-flex">
          <b-form-checkbox-group
            v-model="product_group"
            :options="product"
            class="mr-2"
            @change="setData()"
          />
        </div>
      </label>
    </div>
    <div class="d-inline-flex pr-3 mb-3 form-inline">
      <button class="btn btn-primary" :disabled="!(memberID > 0)" @click="createItem();">{{ getLang('新增') }}</button>
    </div>
    <div v-if="!member && guide['流水.流水重置'] && !account" class="form-inline">
      <div v-show="!resetDate" class="form-group">
        <date-picker
          v-model="resetDate"
          placeholder="請選擇重置流水日期"
          type="date"
          value-type="format"
          format="YYYY-MM-DD"
          @change="checkDate()"
        />
      </div>
      <div v-show="resetDate" class="form-group">
        <button class="btn btn-primary" @click="summaryDateFlow();">{{ getLang('重置 ') + resetDate + getLang(' 流水') }}</button>
        <button class="btn btn-primary" style="margin-left: 10px" @click="resetDate='';">{{ getLang('日期重置') }}</button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberID, addWashCode, resetFlow } from '~/api/wash-code.js';
import { getProductList } from '~/api/product';
export default {
  props: ['member', 'getList'],
  data () {
    return {
      data: [],
      account: '',
      memberID: -1,
      amount: 100,
      editOk: null,
      backupData: {},
      moreLessArray: [{ value: 1, show: '增加' }, { value: 2, show: '減少' }],
      more_less: 2,
      description: '修正',
      promoID: 0,
      product_group: [],
      product: [],
      resetDate: ''
    };
  },
  computed: {
    ...mapFields('user', ['guide', 'guideTree', 'profile'])
  },
  watch: {},
  mounted () {
    if (this.member) {
      this.account = this.member.account;
      this.memberID = this.member.id;
    }
    this.getProduct();
  },
  methods: {
    setData () {
      setTimeout(() => {
        if (this.product.value) {
          this.product_group = this.product.value.split('|');
          console.log(this.product_group);
        }
      });
    },
    async getProduct () {
      try {
        const res = await getProductList();
        res.data = res.data.filter((item) => {
          return item.type == 1;
        });
        res.data.forEach((x) => {
          x.value = x.id;
          x.text = x.name;
        });
        this.$set(this, 'product', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getMemberID () {
      try {
        const res = await getMemberID(this.account);
        this.memberID = res.data.id;
      } catch (e) {
        this.memberID = -1;
        this.alertWindow(e.data);
      }
    },
    async createItem () {
      if (this.memberID <= 0) {
        return this.alertWindow(this.getLang('資料格式不正確'));
      }
      const payload = {
        account: this.account,
        memberID: this.memberID,
        more_less: this.more_less,
        amount: this.amount,
        description: this.description,
        promoID: this.promoID,
        product_group: this.product_group.join('|')
      };

      try {
        const res = await addWashCode(payload);
        this.alertWindow(res.message);
        this.getList && this.getList();
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    checkDate () {
      const valueDate = new Date();
      if (Date.parse(this.resetDate) > new Date(valueDate.setDate(valueDate.getDate() - 1))) {
        this.resetDate = '';
        return this.alertWindow(this.getLang('請選擇昨日前的日期'));
      }
    },
    async summaryDateFlow () {
      try {
        const res = await resetFlow(this.resetDate);
        this.alertWindow(this.resetDate + this.getLang('流水已重置'));
        this.resetDate = '';
      } catch (e) {
        if (e.data == '會員帳號不存在') {
          this.alertWindow(this.getLang('格式不正確'));
        } else {
          this.alertWindow(e.data);
        }
        this.resetDate = '';
      }
    }
  }
};
</script>
