<template>
  <div v-frag>
    <div class="row ">
      <div class="col-sm-12">
        <div v-if="washCodeData" class="d-inline-flex pr-3 mb-3 form-inline">
          <label :class="washCodeData.less - washCodeData.more >= 0 ? 'text-success' : 'text-danger'">
            {{ getLang('碼量') + ' ' + formatPrice(washCodeData.more) + '  ' + getLang('流水') + ' ' + formatPrice(washCodeData.less) }}
            {{ '  ' + washCodeData.less - washCodeData.more >= 0 ? getLang('已達碼量') : getLang('未達碼量') + formatPrice(washCodeData.less - washCodeData.more) }}
          </label>
        </div>
        <div class="d-inline-flex pr-3 mb-3 form-inline">
          <span>
            <select v-model="flushTime" @change="getData">
              <option v-for="(item,index) in [3,5,10]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('分鐘更新') }}{{ '  ' + updatedAt }}
          </span>
        </div>
        <div class="d-inline-flex pr-3 mb-3 form-inline">
          {{ getLang('起始時間') }}:
          <date-picker
            v-model="createdAtStart"
            type="datetime"
            value-type="format"
            format="YYYY-MM-DD HH:mm:ss"
            placeholder="開始時間"
            @change="getData"
          />
        </div>
        <div class="d-inline-flex pr-2 form-inline">
          <date-picker
            v-model="createdAtEnd"
            type="datetime"
            value-type="format"
            format="YYYY-MM-DD HH:mm:ss"
            placeholder="結束時間"
            @change="getData"
          />
        </div>
        <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
          {{ getLang('顯示') }}
          <label>
            <select v-model="pageData.limit" @change="getData">
              <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">{{ item }}</option>
            </select>
          </label>
          {{ getLang('條目') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered ">
            <thead>
              <tr role="row">
                <th>id</th>
                <th v-if="!member" class="text-right">
                  <input v-model="search" type="text" :placeholder="getLang('會員帳號')" style="width: 100px;" @change="pageData.page=0;init()" />
                </th>
                <th v-if="!member" class="text-center">{{ getLang('連絡電話') }}</th>
                <th class="text-right">
                  <div>{{ getLang('碼量') }}</div>
                  <select v-model="more_less" @change="pageData.page=0;getData()">
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </th>
                <th>{{ getLang('時間') }}</th>
                <th>{{ getLang('說明') }}</th>
                <th>{{ getLang('簡述') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in data" :key="index" role="row">
                <td>{{ item.id }}</td>
                <td v-if="!member" class="text-right">
                  <a href="javascript:void(0)" @click="search=!search ? item.member['account'] : '';init()">{{ search ? index === 0 ? getLang('重置帳號') : item.member['account'] : item.member['account'] }}</a>
                </td>
                <td v-if="!member" class="text-right">{{ item.member['phone'] }}</td>
                <td :class="[item.more_less == 1 || item.more_less == -1 ? 'text-success' : 'text-danger', 'text-right']">
                  <b v-if="item.more_less > 0">{{ item.more_less == 1 || item.more_less == -1 ? '' : '-' }}{{ formatPrice(item.amount) }}</b>
                  <s v-else>{{ item.more_less == 1 || item.more_less == -1 ? '' : '-' }}{{ formatPrice(item.amount) }}</s>
                </td>
                <td>{{ item.created_at }}</td>
                <td class="text-left">
                  <ul v-if="item.description.split('|;|').length > 1">
                    <li v-for="(desItem, desIndex) in item.description.split('|;|')" :key="desIndex" :value="desItem">
                      {{ desItem }}
                    </li>
                  </ul>
                  <div v-else>
                    {{ item.description }}
                  </div>
                </td>
                <td>
                  {{
                    item.promoID == 0 || item.promoID == 255
                      ? item.promoID == 0
                        ? getLang('修正')
                        : getLang('注單')
                      : item.promos['title'].substr(0,12)
                  }} {{
                    item.product_group
                      ? ' : ' + getProductName(item.product_group.split('|'),product)
                      : ''
                  }}
                </td>
              </tr>
              <tr v-show="!data.length">
                <td class="text-center" colspan="7">{{ getLang("無資料") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
    </div>
  </div>
</template>
<script>
import moment from 'moment';
import { getWashCodeList } from '~/api/wash-code.js';
import { getProductList } from '~/api/product';
export default {
  props: ['member'],
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      data: [],
      backupData: {},
      pageData: { page: 0, limit: 10 },
      statusArray: [{ value: -1, show: '作廢' },
        { value: 0, show: '有效' },
        { value: 1, show: '碼單' },
        { value: 2, show: '流水' }],
      more_less: 0,
      createdAtStart: '',
      createdAtEnd: '',
      washCodeData: null,
      promos: null,
      promoID: 0,
      search: '',
      dragstartIndex: null,
      product: null,
      flushTime: 5,
      updatedAt: '',
      timer: null
    };
  },
  computed: {},
  watch: {
    flushTime () {
      this.init();
    }
  },
  mounted () {
    if (this.member) {
      this.search = this.member.account;
    }
    this.getProduct();
    this.init();
  },
  destroyed () {
    clearTimeout(this.timer);
  },
  methods: {
    init () {
      this.getData();
      clearTimeout(this.timer);
      this.timer = setInterval(() => {
        this.getData();
      }, this.flushTime * 60 * 1000);
    },
    formatPrice (value) {
      const val = (value / 1).toFixed(2).replace(',', '.');
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        more_less: this.more_less,
        search: this.search,
        createdAtStart: this.createdAtStart,
        createdAtEnd: this.createdAtEnd
      };
      try {
        const res = await getWashCodeList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'washCodeData', res.washCodeData);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
        this.$set(this, 'data', '');
        this.$set(this, 'washCodeData', '');
        this.$set(this, 'backupData', '');
        this.$set(this, 'pageData', err.pageData);
        clearTimeout(this.timer);
      }
      this.$set(this, 'updatedAt', moment().format('LTS'));
    },
    async getProduct () {
      try {
        const res = await getProductList();
        res.data.forEach((x) => {
          x.value = x.id;
          x.text = x.name;
        });
        this.$set(this, 'product', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    getProductName (arr, product) {
      let productStr = '';
      if (product) {
        for (const i in arr.map(Number)) {
          productStr = productStr + product.find(obj => obj.id == arr[i]).name;
          if (i < arr.length - 1) { productStr += ', '; }
        }
      }
      return productStr;
    }
  }
};
</script>
