<template>
  <div class="section-body">
    <div class="row col-12 card card-body">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="searchStatus = !searchStatus"><i class="fas" :class="searchStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="searchStatus" class="d-flex border p-2  flex-wrap">
        <div class="col-md-4 my-2">
          {{ getLang('時間範圍') }}:
          <b-input-group class="mt-1">
            <template #prepend>
              <b-dropdown variant="primary" dropdown>
                <template #button-content>
                  <i class="fas fa-calendar"></i>
                </template>
                <b-dropdown-item
                  v-for="(item,index) in dateTimeArray"
                  :key="index"
                  @click="setDate(item,'createdAtRange')"
                >
                  {{ item.show }}
                </b-dropdown-item>
              </b-dropdown>
            </template>
            <date-picker
              v-model="createdAtRange"
              range
              type="datetime"
              value-type="format"
              format="YYYY-MM-DD HH:mm:ss"
              placeholder=""
            />
          </b-input-group>
        </div>
        <div class="col-md-4 my-2">
          {{ getLang('銀行戶名') }}:<input v-model="where.bankName" type="search" class="form-control form-control-sm w-50 mt-1" />
        </div>
        <div class="col-md-4 my-2">
          {{ getLang('銀行賬號') }}:<input v-model="where.bankAccount" type="search" class="form-control form-control-sm w-50 mt-1" />
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" @click="getData()">{{ getLang('搜尋') }}</button>
          <button class="btn btn-primary" @click="reset()">{{ getLang('重置') }}</button>
        </div>
      </div>
      <div class="row mt-3">
        <div v-if="data.length" class="col-sm-12">
          <div class="d-inline-flex pr-3 mb-3 form-inline">
            {{ getLang('顯示') }}
            <select v-model="pageData.limit" @change="getData">
              <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('條目') }}
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('csv')">{{ getLang('CSV') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </div>
          <div class="d-inline-flex mb-3 form-inline float-right">
            {{ getLang('搜尋') }}:<input v-model.lazy="search" type="search" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table v-if="data.length" id="printTable" class="table table-striped table-bordered ">
              <thead>
                <tr role="row">
                  <th>No.</th>
                  <th>{{ getLang('銀行名稱') }}</th>
                  <th>{{ getLang('銀行戶名') }}</th>
                  <th>{{ getLang('銀行帳號') }}</th>
                  <th>{{ getLang('總存款額') }}</th>
                  <th>{{ getLang('總取款額') }}</th>
                  <th>{{ getLang('總運營成本') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in data" v-show="!search || item.bank_name.indexOf(search)!=-1 || item.bank_acc_name.indexOf(search)!=-1 || item.bank_acc_no.indexOf(search)!=-1" :key="index" role="row">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.bank_name }}</td>
                  <td>{{ item.bank_acc_name }}</td>
                  <td>{{ item.bank_acc_no }}</td>
                  <td>{{ moneyFormat(item.PositiveAmount) }}</td>
                  <td>{{ moneyFormat(Math.abs(item.NegativeAmount)) }}</td>
                  <td>{{ moneyFormat(0) }}</td>
                </tr>
              </tbody>
              <b-tfoot>
                <b-tr>
                  <b-td colspan="4" variant="secondary" class="text-right">{{ 'Total' }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(pageData.PositiveAmount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(Math.abs(pageData.NegativeAmount)) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(0) }}</b-td>
                </b-tr>
              </b-tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getData" />
      </div> -->
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getList } from '~/api/order.js';
export default {
  data () {
    return {
      searchStatus: true,
      data: {},
      pageData: { page: 0, limit: 50 },
      where: {
        bankName: '',
        bankAccount: ''
      },
      createdAtRange: [],
      search: '',
      whereStatus: 1,
      orderId: 1
    };
  },
  computed: {
    ...mapFields(['dateTimeArray'])
  },
  mounted () {
    this.$store.commit('initDateTimeArray');
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId,
        allReport: 'bank_account_report',
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1],
        bank_acc_name: this.where.bankName,
        bank_acc_no: this.where.bankAccount
      };
      try {
        const res = await getList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    reset () {
      this.createdAtRange = [];
      this.where.bankName = '';
      this.where.bankAccount = '';
    },
    setExportData (type) {
      const routeName = this.$route.path.split('/')[2];
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;

      data.forEach((x) => {
        x.PositiveAmount = this.moneyFormat(x.PositiveAmount);
        x.NegativeAmount = this.moneyFormat(Math.abs(x.NegativeAmount));
      });
      total = Object.assign({}, this.pageData);
      total.PositiveAmount = this.moneyFormat(total.PositiveAmount);
      total.NegativeAmount = this.moneyFormat(Math.abs(total.NegativeAmount));

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
