<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="whereStatus" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('添加銀行') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort()"
                        >
                          No.
                        </th>
                        <th style="width:200px;">{{ getLang('銀行名稱') }}</th>
                        <th style="width:150px;">{{ getLang('銀行國際代碼') }}</th>
                        <th>{{ getLang('狀態') }}</th>
                        <th>{{ getLang('支付網關') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.bank_name.indexOf(search)!=-1 || item.swift_code.indexOf(search)!=-1" :key="index" role="row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.bank_name }}</td>
                        <td>{{ item.swift_code }}</td>
                        <td>
                          <select v-model="item.status" @change="updateField(item,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td><i class="fas" :class="item.isPG?'fa-check':'fa-times'"></i></td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('修改') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="lg">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('更新銀行檔案'):getLang('添加銀行') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('銀行名稱') }}:</label>
          <input v-model="editItem.bank_name" type="text" class="form-control" />
        </div>
        <div class="form-group ">
          <label>{{ getLang('銀行國際代碼') }}:</label>
          <input v-model="editItem.swift_code" type="text" class="form-control" />
        </div>
        <div class="form-group form-inline">
          <label label-for="input-3">{{ getLang('支付網關') }}:</label>
          <b-form-checkbox
            v-model.number="editItem.isPG"
            value="1"
            unchecked-value="0"
          />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getBankList, deleteBank, updateBank, addBank } from '~/api/bank.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { bank_name: '', swift_code: '', isPG: 0, status: 0 },
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      orderId: 1
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.getData();
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { bank_name: '', swift_code: '', isPG: 0, status: 0 });
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId
      };
      try {
        const res = await getBankList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateBank(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteBank(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const item = this.editItem;
      const payload = this.editItem;
      try {
        const res = await addBank(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateBank(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      this.orderId = ++this.orderId % 3;
      this.getData();
    }
  }
};
</script>
