<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="whereStatus" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('銀行') }}:
                  <select v-model="whereBankId" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(item,index) in bank"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.bank_name }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th colspan="4">{{ getLang('銀行信息明細') }}</th>
                        <th colspan="2">{{ getLang('收款門檻') }}</th>
                        <th colspan="2">{{ getLang('存款次數門檻') }}</th>
                        <th colspan="2">{{ getLang('操作') }}</th>
                      </tr>
                      <tr role="row">
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort();"
                        >
                          No.
                        </th>
                        <th>{{ getLang('銀行名稱') }}</th>
                        <th>{{ getLang('銀行戶名') }}</th>
                        <th>{{ getLang('銀行帳號') }}</th>
                        <th>{{ getLang('限度') }}</th>
                        <th>{{ getLang('收穫') }}</th>
                        <th>{{ getLang('限度') }}</th>
                        <th>{{ getLang('收穫') }}</th>
                        <th>{{ getLang('門檻狀況') }}</th>
                        <th>{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item,index) in data"
                        v-show="!search || bankObject[item.bank_id].indexOf(search)!=-1 || item.bank_acc_name.indexOf(search)!=-1 || item.bank_acc_no.indexOf(search)!=-1"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ bankObject[item.bank_id] }}</td>
                        <td>{{ item.bank_acc_name }}</td>
                        <td>{{ item.bank_acc_no }}</td>
                        <td>{{ item.thresholdLimit }}</td>
                        <td>{{ item.depositThreshold }}</td>
                        <td>{{ item.noOfDepThresholdLimit }}</td>
                        <td>{{ item.noOfDepThreshold }}</td>
                        <td>
                          <select v-model="item.thresholdStatus" @change="updateField(item,index,'thresholdStatus')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>

                        <td>
                          <button class="btn btn-danger" @click="resetThreshold(item,index)">{{ getLang('重置') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getBankList, getBankAccountList, updateBankAccount, addBankAccount } from '~/api/bank.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: {
        bank_id: 0,
        bank_code: '',
        bank_acc_no: '',
        min_deposit: '0',
        max_deposit: '0',
        cost_pct: '0',
        maintenance_start: '0:0:0',
        maintenance_end: '0:0:0',
        seq: 0,
        isMaintenance: 0,
        purpose: 0,
        thresholdStatus: 0,
        noOfDepThresholdLimit: 0,
        noOfDepThreshold: 0,
        thresholdLimit: 0,
        depositThreshold: 0
      },

      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0 },
      statusArray: [{ value: 1, show: '使用中' }, { value: 0, show: '停用中' }],
      search: '',
      whereStatus: 1,
      whereBankId: -1,
      orderId: 1,
      bank: []
    };
  },
  computed: {
    bankObject () {
      const result = {};
      for (const i in this.bank) {
        result[this.bank[i].id] = this.bank[i].bank_name;
      }
      return result;
    }
  },
  watch: {

  },
  mounted () {
    this.getData();
    this.getBank();
  },
  methods: {
    async getBank () {
      const params = {
        orderId: this.orderId
      };
      try {
        const res = await getBankList(params);
        this.$set(this, 'bank', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', {
          bank_id: 0,
          bank_code: '',
          bank_acc_no: '',
          min_deposit: '0',
          max_deposit: '0',
          cost_pct: '0',
          maintenance_start: '0:0:0',
          maintenance_end: '0:0:0',
          seq: 0,
          isMaintenance: 0,
          purpose: 0,
          thresholdStatus: 0,
          noOfDepThresholdLimit: 0,
          thresholdLimit: 0
        }
        );
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        whereRoleId: this.whereRoleId,
        orderId: this.orderId
      };
      try {
        const res = await getBankAccountList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateBankAccount(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addBankAccount(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateBankAccount(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    resetThreshold (item, index) {
      this.confirmWindow(this.getLang('確認重置') + '?', async () => {
        item.noOfDepThreshold = 0;
        item.depositThreshold = 0;
        const payload = {
          noOfDepThreshold: item.noOfDepThreshold,
          depositThreshold: item.depositThreshold
        };
        const id = item.id;
        try {
          const res = await updateBankAccount(payload, id);
          this.backupData[index].noOfDepThreshold = item.noOfDepThreshold;
          this.backupData[index].depositThreshold = item.depositThreshold;
        } catch (err) {
          item.noOfDepThreshold = this.backupData[index].noOfDepThreshold;
          item.depositThreshold = this.backupData[index].depositThreshold;
          this.alertWindow(err.message);
        }
      });
    },
    switchSort () {
      this.orderId = ++this.orderId % 3;
      this.getData();
    }
  }
};
</script>
