<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="whereStatus" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('添加銀行級別') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort()"
                        >
                          No.
                        </th>
                        <th>{{ getLang('銀行級別名稱') }}</th>
                        <th>{{ getLang('存款額') }}</th>
                        <th>{{ getLang('群組') }}</th>
                        <th>{{ getLang('銀行帳戶') }}</th>
                        <th style="width:100px;">{{ getLang('狀態') }}</th>
                        <th style="width:200px;">{{ getLang('操作') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.bank_name.indexOf(search)!=-1 || item.swift_code.indexOf(search)!=-1" :key="index" role="row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.deposit }}</td>
                        <td>
                          <div v-for="(item1,index1) in groupList(item)" :key="index1" class="m-1">
                            <li>{{ item1 }}</li>
                          </div>
                        </td>
                        <td>
                          <div v-for="(item1,index1) in accountList(item)" :key="index1" class="m-1">
                            <li>{{ item1 }}</li>
                          </div>
                        </td>
                        <td>
                          <select v-model="item.status" @change="updateField(item,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('修改') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="xl">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('編輯資料'):getLang('新增資料') }}</h4>
        <button type="button" class="close" @click="close();">×</button>
      </template>
      <template #default>
        <div class="form-group">
          <label>{{ getLang('銀行級別') }}:</label>
          <input v-model="editItem.name" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>{{ getLang('存款額') }}:</label>
          <input v-model="editItem.deposit" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>{{ getLang('會員群組') }}:</label>
          <div class="d-flex">
            <b-form-checkbox-group
              v-model="editItem.member_group"
              :options="group"
              class="mr-2"
            />
          </div>
        </div>
        <div class="form-group">
          <label>{{ getLang('銀行帳戶') }}:</label>
          <select v-model="editItem.accountBankID" class="form-control" @change="getBankAccountList()">
            <option value="-1">{{ getLang('全部') }}</option>
            <option
              v-for="item in bankList"
              :key="item.id"
              :value="item.id"
            >
              {{ getLang(item.bank_name) }}
            </option>
          </select>
        </div>
        <div>
          <div v-for="(item,index) in account" :key="index" class="form-group">
            <label v-if="item.bank_name">{{ item.bank_name }}:</label>
            <b-form-checkbox
              v-model="editItem.bank_account_group"
              :value="item.id"
            >
              {{ item.bank_acc_name }}
            </b-form-checkbox>
          </div>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk();">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel();">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getBankLevelList, getBankList, getBankAccountList, deleteBankLevel, updateBankLevel, addBankLevel } from '~/api/bank.js';
import { getMemberGroupList } from '~/api/member.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: { name: '', deposit: '', accountBankID: -1, member_group: [], bank_account_group: [] },
      editIndex: -1,
      data: {},
      backupData: {},
      bankList: {},
      pageData: { page: 0, limit: 50 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      orderId: 1,
      group: [],
      account: []
    };
  },
  computed: {
  },
  watch: {

  },
  mounted () {
    this.getBankList();
    this.getBankAccountList();
    this.getGroup();
    this.getData();
  },
  methods: {
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        item.accountBankID = -1;
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', { name: '', deposit: '', accountBankID: -1, member_group: [], bank_account_group: [] });
      }
    },
    async getGroup () {
      try {
        const res = await getMemberGroupList();
        res.data.forEach((x) => {
          x.value = x.id;
          x.text = x.name;
        });
        this.$set(this, 'group', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId
      };
      try {
        const res = await getBankLevelList(params);
        res.data.forEach((x) => {
          x.bank_account_group = x.bank_account_group.split(',');
          x.member_group = x.member_group.split(',');
        });
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getBankList () {
      try {
        const res = await getBankList();
        this.bankList = res.data;
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getBankAccountList () {
      const params = {
        whereStatus: 1,
        orderId: 1,
        page: 0,
        limit: -1,
        whereBankId: this.editItem.accountBankID
      };
      try {
        const res = await getBankAccountList(params);
        this.account = res.data;
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateBankLevel(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteBankLevel(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = {
        name: this.editItem.name,
        deposit: this.editItem.deposit,
        member_group: this.editItem.member_group.join(','),
        bank_account_group: this.editItem.bank_account_group.join(',')
      };
      try {
        const res = await addBankLevel(payload);
        this.data = {};
        this.getData();
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateBankLevel(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      this.orderId = ++this.orderId % 3;
      this.getData();
    },
    groupList (item) {
      const result = [];
      if (item.member_group.length && this.group.length) {
        item.member_group.forEach((x) => {
          this.group.forEach((y) => {
            if (x == y.id) {
              result.push(y.name);
            }
          });
        });
      }
      return result;
    },
    accountList (item) {
      const result = [];
      if (item.bank_account_group.length && this.account.length) {
        item.bank_account_group.forEach((x) => {
          this.account.forEach((y) => {
            if (x == y.id) {
              result.push(y.bank_acc_name);
            }
          });
        });
      }
      return result;
    }
  }
};
</script>
