<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('狀態') }}:
                  <select v-model="whereStatus" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ getLang(statusItem.show) }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('銀行') }}:
                  <select v-model="whereBankId" @change="getData">
                    <option value="-1">{{ getLang('全部') }}</option>
                    <option
                      v-for="(item,index) in bank"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.bank_name }}
                    </option>
                  </select>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  <button class="btn btn-primary" @click="edit(0)">{{ getLang('添加銀行帳戶') }}</button>
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th colspan="7">{{ getLang('銀行信息明細') }}</th>
                        <th colspan="2">{{ getLang('存款') }}</th>
                        <th colspan="1">{{ getLang('取款') }}</th>
                        <th colspan="3">{{ getLang('維護詳情') }}</th>
                        <th rowspan="2">{{ getLang('操作') }}</th>
                      </tr>
                      <tr role="row">
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort()"
                        >
                          No.
                        </th>
                        <th>{{ getLang('銀行名稱') }}</th>
                        <th>{{ getLang('銀行編號') }}</th>
                        <th>{{ getLang('銀行戶名') }}</th>
                        <th>{{ getLang('銀行帳號') }}</th>
                        <th>{{ getLang('狀態') }}</th>
                        <th>{{ getLang('銀行賬戶管理費') }}(%)</th>
                        <th>{{ getLang('最低') }}</th>
                        <th>{{ getLang('最高') }}</th>
                        <th>{{ getLang('最低') }}</th>
                        <th>{{ getLang('開始') }}</th>
                        <th>{{ getLang('結束') }}</th>
                        <th>{{ getLang('維護進度') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item,index) in data"
                        v-show="!search || bankObject[item.bank_id].indexOf(search)!=-1 || item.bank_code.indexOf(search)!=-1 || item.bank_acc_name.indexOf(search)!=-1 || item.bank_acc_no.indexOf(search)!=-1"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ bankObject[item.bank_id] }}</td>
                        <td>{{ item.bank_code }}</td>
                        <td>{{ item.bank_acc_name }}</td>
                        <td>{{ item.bank_acc_no }}</td>
                        <td>
                          <select v-model="item.status" @change="updateField(item,index,'status')">
                            <option
                              v-for="(statusItem,statusIndex) in statusArray"
                              :key="statusIndex"
                              :value="statusItem.value"
                            >
                              {{ getLang(statusItem.show) }}
                            </option>
                          </select>
                        </td>
                        <td>{{ item.cost_pct }}</td>
                        <td>{{ item.min_deposit }}</td>
                        <td>{{ item.max_deposit }}</td>
                        <td>{{ item.min_withdrawal }}</td>
                        <td>{{ item.maintenance_start }}</td>
                        <td>{{ item.maintenance_end }}</td>
                        <td>
                          <b-form-checkbox
                            v-model.number="item.isMaintenance"
                            value="1"
                            unchecked-value="0"
                            @change="updateField(item,index,'isMaintenance')"
                          />
                        </td>
                        <td>
                          <b-button variant="primary" @click="edit(1, item, index)">{{ getLang('修改') }}</b-button>
                          <button class="btn btn-danger" @click="deleteItem(item,index)">{{ getLang('刪除') }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="edit" :no-close-on-backdrop="true" size="xl">
      <template #modal-header="{close}">
        <h4 class="modal-title">{{ editType?getLang('更新銀行賬戶'):getLang('添加銀行賬戶') }}</h4>
        <button type="button" class="close" @click="close()">×</button>
      </template>
      <template #default>
        <div class="row">
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-header">
                Bank Account Details
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>{{ getLang('銀行') }}:</label>
                  <select v-model="editItem.bank_id" class="form-control">
                    <option
                      v-for="(item,index) in bank"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.bank_name }}
                    </option>
                  </select>
                </div>
                <div class="form-group ">
                  <label>{{ getLang('銀行戶名') }}:</label>
                  <input v-model="editItem.bank_acc_name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>{{ getLang('銀行賬號') }}:</label>
                  <input v-model="editItem.bank_acc_no" type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>{{ getLang('銀行編號') }}:</label>
                  <input v-model="editItem.bank_code" type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>{{ getLang('最低存款額') }}:</label>
                  <input v-model="editItem.min_deposit" type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>{{ getLang('最高存款金額') }}:</label>
                  <input v-model="editItem.max_deposit" type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>{{ getLang('最低取款額') }}:</label>
                  <input v-model="editItem.min_withdrawal" type="text" class="form-control" />
                </div>
                <div class="form-group ">
                  <label>{{ getLang('銀行賬戶管理費') }} (%)</label>
                  <input v-model="editItem.cost_pct" type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>{{ getLang('維護開始時間') }}</label>
                  <input v-model="editItem.maintenance_start" type="text" class="form-control" />
                </div>
                <div class="form-group ">
                  <label>{{ getLang('維護結束時間') }}</label>
                  <input v-model="editItem.maintenance_end" type="text" class="form-control" />
                </div>
                <div class="form-group ">
                  <label>{{ getLang('次序') }}</label>
                  <input v-model="editItem.seq" type="text" class="form-control" />
                </div>
                <div class="form-group ">
                  <label>{{ getLang('維護進度') }}</label>
                  <b-form-checkbox
                    v-model.number="editItem.isMaintenance"
                    value="1"
                    unchecked-value="0"
                  />
                </div>
                <div class="form-group ">
                  <label>Bank Account Purpose</label>
                  <select v-model="editItem.purpose" class="form-control">
                    <option value="0">Non-Specific</option>
                    <option value="1">{{ getLang('存款') }}</option>
                    <option value="2">{{ getLang('取款') }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <div class="card">
              <div class="card-header">
                Bank Threshold
              </div>
              <div class="card-body">
                <div class="form-group ">
                  <label>{{ getLang('門檻狀況') }}</label>
                  <select v-model="editItem.thresholdStatus" class="form-control">
                    <option
                      v-for="(statusItem,statusIndex) in statusArray"
                      :key="statusIndex"
                      :value="statusItem.value"
                    >
                      {{ statusItem.show }}
                    </option>
                  </select>
                </div>
                <div class="form-group ">
                  <label>{{ getLang('存款次數門檻') }}</label>
                  <input v-model="editItem.noOfDepThresholdLimit" type="text" class="form-control" />
                </div>
                <div class="form-group ">
                  <label>{{ getLang('收款門檻') }}</label>
                  <input v-model="editItem.thresholdLimit" type="text" class="form-control" />
                </div>
                <div class="form-group ">
                  <label>交易流程</label>
                  <select v-model="editItem.trading_channel" class="form-control">
                    <option value="1">{{ getLang('網銀轉帳') }}</option>
                    <option value="2">{{ getLang('ATM轉帳') }}</option>
                    <option value="3">{{ getLang('現金存款') }}</option>
                    <option value="4">{{ getLang('支付網關') }}</option>
                    <option value="5">{{ getLang('提款網關') }}</option>
                  </select>
                </div>
                <div class="form-group ">
                  <label>{{ getLang('Umpay_Type') }}</label>
                  <input v-model="editItem.type" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="editOk">{{ editType?getLang('更新'):getLang('新增') }}</b-button>
        <b-button variant="light" @click="cancel()">{{ getLang('取消') }}</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getBankList, getBankAccountList, updateBankAccount, addBankAccount, deleteBankAccount } from '~/api/bank.js';
export default {
  components: { pagination },
  data () {
    return {
      sortingObject: { 1: 'asc', 2: 'desc' },
      editType: 0,
      editOk: null,
      editItem: {},
      editIndex: -1,
      data: {},
      backupData: {},
      pageData: { page: 0 },
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      whereBankId: -1,
      orderId: 1,
      bank: []
    };
  },
  computed: {
    bankObject () {
      const result = {};
      for (const i in this.bank) {
        result[this.bank[i].id] = this.bank[i].bank_name;
      }
      return result;
    }
  },
  watch: {

  },
  mounted () {
    this.getData();
    this.getBank();
  },
  methods: {
    async getBank () {
      const params = {
        orderId: this.orderId
      };
      try {
        const res = await getBankList(params);
        this.$set(this, 'bank', JSON.parse(JSON.stringify(res.data)));
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    edit (mode, item, index) {
      this.editType = mode;
      this.$root.$emit('bv::show::modal', 'edit');
      if (mode) { // 更新
        this.editOk = this.updateItem;
        this.editIndex = index;
        this.$set(this, 'editItem', JSON.parse(JSON.stringify(item)));
      } else { // 新增
        this.editOk = this.createItem;
        this.$set(this, 'editItem', {
          bank_id: 0,
          bank_code: '',
          bank_acc_no: '',
          min_deposit: '0',
          max_deposit: '0',
          min_withdrawal: '0',
          cost_pct: '0',
          maintenance_start: '0:0:0',
          maintenance_end: '0:0:0',
          seq: 0,
          isMaintenance: 0,
          purpose: 0,
          thresholdStatus: 0,
          noOfDepThresholdLimit: 0,
          thresholdLimit: 0,
          type: '',
          trading_channel: 0
        }
        );
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        whereRoleId: this.whereRoleId,
        orderId: this.orderId
      };
      try {
        const res = await getBankAccountList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'backupData', JSON.parse(JSON.stringify(res.data)));
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    updateField (item, index, field) {
      this.confirmWindow(this.getLang('確認更新') + '?', async () => {
        const payload = {};
        payload[field] = item[field];
        const id = item.id;
        try {
          const res = await updateBankAccount(payload, id);
          this.backupData[index][field] = item[field];
          this.alertWindow(res.message);
        } catch (err) {
          item[field] = this.backupData[index][field];
          this.alertWindow(err.message);
        }
      }, () => {
        item[field] = this.backupData[index][field];
      });
    },
    deleteItem (item, index) {
      this.confirmWindow(this.getLang('確認刪除') + '?', async () => {
        try {
          const res = await deleteBankAccount(item.id);
          this.data.splice(index, 1);
          this.backupData.splice(index, 1);
          this.alertWindow(res.message);
        } catch (err) {
          this.alertWindow(err.message);
        }
      });
    },
    async createItem () {
      const payload = this.editItem;
      try {
        const res = await addBankAccount(payload);
        this.data.unshift(JSON.parse(JSON.stringify(res.data)));
        this.backupData.unshift(JSON.parse(JSON.stringify(res.data)));
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async updateItem () {
      const payload = this.editItem;
      const id = this.editItem.id;
      const index = this.editIndex;
      try {
        const res = await updateBankAccount(payload, id);
        this.$set(this.data, index, payload);
        this.$set(this.backupData, index, payload);
        this.$root.$emit('bv::hide::modal', 'edit');
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    switchSort () {
      this.orderId = ++this.orderId % 3;
      this.getData();
    }
  }
};
</script>
