<template>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <b-card title="Card Title" no-body>
          <b-card-header header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item :active="tabIndex==0" @click="tabIndex=0">{{ getLang('搜尋條件') }}</b-nav-item>
              <b-nav-item :active="tabIndex==1" @click="tabIndex=1">{{ getLang('銀行資金轉移') }}</b-nav-item>
              <b-nav-item :active="tabIndex==2" @click="tabIndex=2">{{ getLang('銀行資金出入') }}</b-nav-item>
            </b-nav>
          </b-card-header>

          <div class="d-flex p-4 flex-wrap">
            <div v-if="tabIndex == 0" class="row">
              <div class="col-sm-12" style="display: grid;">
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('銀行戶名') }}</div>
                    <div class="mb-1">
                      <input v-model="where.bankName" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('銀行賬號') }}</div>
                    <div class="mb-1">
                      <input v-model="where.bankAccount" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <b-form-checkbox v-model="status">{{ getLang('顯示銀行資金出入') }}</b-form-checkbox>
                  </div>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <button class="btn btn-primary mt-2" @click="getData()">{{ getLang('搜索') }}</button>
                  <button class="btn btn-primary mt-2 ml-2" @click="reset()">{{ getLang('重置') }}</button>
                </div>
              </div>
            </div>

            <div v-if="tabIndex == 1" class="row">
              <div class="col-sm-12" style="display: grid">
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('轉款方') }}</div>
                    <div class="mb-1">
                      <select v-model="fundTransfer.bank_A" size="sm" class="form-control form-control-sm">
                        <option value="-1">{{ getLang("請選擇") }}</option>
                        <option v-for="(item,index) in account" :key="index" :value="item.id">{{ item.bank_acc_name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('收款方') }}</div>
                    <div class="mb-1">
                      <select v-model="fundTransfer.bank_B" size="sm" class="form-control form-control-sm">
                        <option value="-1">{{ getLang("請選擇") }}</option>
                        <option v-for="(item,index) in account" :key="index" :value="item.id">{{ item.bank_acc_name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('總額') }}</div>
                    <div class="mb-1">
                      <input v-model="fundTransfer.amount" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('手續費') }}</div>
                    <div class="mb-1">
                      <input v-model="fundTransfer.handline_fee" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('備註') }}</div>
                    <div class="mb-1">
                      <b-form-textarea v-model="fundTransfer.submit_note" rows="3" max-rows="6" />
                    </div>
                  </div>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <button class="btn btn-primary mt-2" @click="bankFundTransfer()">{{ getLang('轉帳') }}</button>
                </div>
              </div>
            </div>

            <div v-if="tabIndex == 2" class="row">
              <div class="col-sm-12" style="display: grid">
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('銀行戶名') }}</div>
                    <div class="mb-1">
                      <select v-model="fundInOut.bank_A" size="sm" class="form-control form-control-sm">
                        <option value="-1">{{ getLang("請選擇") }}</option>
                        <option v-for="(item,index) in account" :key="index" :value="item.id">{{ item.bank_acc_name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('類型') }}</div>
                    <div class="mb-1">
                      <select v-model="fundInOut.type" size="sm" class="form-control form-control-sm">
                        <option v-for="(item,index) in type" :key="index" :value="item.value">{{ item.show }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('總額') }}</div>
                    <div class="mb-1">
                      <input v-model="fundInOut.amount" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="mb-1">{{ getLang('手續費') }}</div>
                    <div class="mb-1">
                      <input v-model="fundInOut.handline_fee" type="search" class="form-control form-control-sm" />
                    </div>
                  </div>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <div>
                    <div class="mb-1">{{ getLang('備註') }}</div>
                    <div class="mb-1">
                      <b-form-textarea v-model="fundInOut.submit_note" rows="3" max-rows="6" />
                    </div>
                  </div>
                </div>
                <div class="d-inline-flex pr-3 form-inline">
                  <button class="btn btn-primary mt-2" @click="bankFundInOut()">{{ getLang('提交') }}</button>
                </div>
              </div>
            </div>
          </div>
        </b-card>

        <div class="card">
          <div class="card-body">
            <div class="row mt-3">
              <div class="col-sm-12">
                <div class="d-inline-flex pr-3 mb-3 form-inline">
                  {{ getLang('顯示') }}
                  <select v-model="pageData.limit" @change="getData">
                    <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
                  </select>
                  {{ getLang('條目') }}
                </div>
                <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
                  {{ getLang('搜尋') }}:<input v-model="search" type="search" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered ">
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting"
                          :class="[sortingObject[orderId]]"
                          @click="switchSort()"
                        >
                          No.
                        </th>
                        <th>{{ getLang('銀行') }}</th>
                        <th>{{ getLang('銀行戶名') }}</th>
                        <th>{{ getLang('銀行帳號') }}</th>
                        <th>{{ getLang('總存款額') }}</th>
                        <th>{{ getLang('總取款額') }}</th>
                        <th>{{ getLang('總運營成本') }}</th>
                        <th v-if="status">{{ getLang('總轉賬 (存入)') }}</th>
                        <th v-if="status">{{ getLang('總轉賬 (支出)') }}</th>
                        <th v-if="status">{{ getLang('總轉賬 (手續費)') }}</th>
                        <th>{{ getLang('結存') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in data" v-show="!search || item.bank_name.indexOf(search)!=-1 || item.swift_code.indexOf(search)!=-1" :key="index" role="row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.bank_name }}</td>
                        <td>
                          <a href="javascript:void(0);">
                            {{ item.bank_acc_name }}
                            <i class="fas fa-external-link-alt"></i>
                          </a>
                        </td>
                        <td>{{ item.bank_acc_no }}</td>
                        <td>{{ item.PositiveAmount }}</td>
                        <td>{{ item.NegativeAmount }}</td>
                        <td>{{ 0.00 }}</td>
                        <td v-if="status">{{ item.AdjustmentPositiveAmount }}</td>
                        <td v-if="status">{{ item.AdjustmentNegativeAmount }}</td>
                        <td v-if="status">{{ item.Negative_HandlingFee + item.Positive_HandlingFee }}</td>
                        <td>{{ item.PositiveAmount + item.NegativeAmount }}</td>
                      </tr>
                    </tbody>
                    <b-tfoot>
                      <b-tr>
                        <b-td colspan="4" variant="secondary" class="text-right">{{ 'Total' }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ pageData.PositiveAmount }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ pageData.NegativeAmount }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ 0.00 }}</b-td>
                        <b-td v-if="status" colspan="1" variant="secondary">{{ pageData.AdjustmentPositiveAmount }}</b-td>
                        <b-td v-if="status" colspan="1" variant="secondary">{{ pageData.AdjustmentNegativeAmount }}</b-td>
                        <b-td v-if="status" colspan="1" variant="secondary">{{ pageData.Negative_HandlingFee + pageData.Positive_HandlingFee }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ pageData.PositiveAmount + pageData.NegativeAmount }}</b-td>
                      </b-tr>
                      <b-tr>
                        <b-td colspan="4" variant="secondary" class="text-right">{{ '總記錄條數' }}:{{ data.length }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ pageData.PositiveAmount }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ pageData.NegativeAmount }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ 0.00 }}</b-td>
                        <b-td v-if="status" colspan="1" variant="secondary">{{ pageData.AdjustmentPositiveAmount }}</b-td>
                        <b-td v-if="status" colspan="1" variant="secondary">{{ pageData.AdjustmentNegativeAmount }}</b-td>
                        <b-td v-if="status" colspan="1" variant="secondary">{{ pageData.Negative_HandlingFee + pageData.Positive_HandlingFee }}</b-td>
                        <b-td colspan="1" variant="secondary">{{ pageData.PositiveAmount + pageData.NegativeAmount }}</b-td>
                      </b-tr>
                    </b-tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <pagination v-if="pageData" :page-data="pageData" @getData="getData" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pagination from '~/components/pagination.vue';
import { getList } from '~/api/order.js';
import { getBankAccountList, fundTransfer, fundInOut } from '~/api/bank.js';
export default {
  components: { pagination },
  data () {
    return {
      tabIndex: 0,
      searchStatus: true,
      sortingObject: { 1: 'asc', 2: 'desc' },
      data: {},
      pageData: { page: 0, limit: 50 },
      type: [{ value: 1, show: '存入' }, { value: 2, show: '支出' }],
      statusArray: [{ value: 1, show: '活躍' }, { value: 0, show: '非活躍' }],
      search: '',
      whereStatus: 1,
      orderId: 1,
      account: [],
      status: false,
      where: {
        bankName: '',
        bankAccount: '',
        createdAtRange: ''
      },
      fundTransfer: {
        bank_A: -1,
        bank_B: -1,
        amount: '',
        handline_fee: '',
        submit_note: ''
      },
      fundInOut: {
        bank_A: -1,
        type: 1,
        amount: '',
        handline_fee: '',
        submit_note: ''
      }
    };
  },
  computed: {

  },
  watch: {

  },
  mounted () {
    this.getBankAccountList();
    this.getData();
  },
  methods: {
    async getBankAccountList () {
      try {
        const res = await getBankAccountList();
        this.account = res.data;
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId,
        allReport: 'bank_account_report',
        startTime: this.where.createdAtRange[0],
        endTime: this.where.createdAtRange[1],
        bank_acc_name: this.where.bankName,
        bank_acc_no: this.where.bankAccount
      };
      try {
        const res = await getList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async bankFundTransfer () {
      const payload = {
        bank_A: this.fundTransfer.bank_A,
        bank_B: this.fundTransfer.bank_B,
        amount: this.fundTransfer.amount,
        handline_fee: this.fundTransfer.handline_fee,
        submit_note: this.fundTransfer.submit_note
      };
      try {
        const res = await fundTransfer(payload);
        this.data = [];
        this.getData();
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async bankFundInOut () {
      const payload = {
        bank_A: this.fundInOut.bank_A,
        type: this.fundInOut.type,
        amount: this.fundInOut.amount,
        handline_fee: this.fundInOut.handline_fee,
        submit_note: this.fundInOut.submit_note
      };
      try {
        const res = await fundInOut(payload);
        this.data = [];
        this.getData();
        this.alertWindow(res.message);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    reset () {
      this.where.createdAtRange = '';
      this.where.bankName = '';
      this.where.bankAccount = '';
    },
    switchSort () {
      this.orderId = ++this.orderId % 3;
      this.getData();
    }
  }
};
</script>
