<template>
  <div class="section-body">
    <div class="row col-12 card card-body">
      <div class="d-flex justify-content-between">
        <h6>{{ getLang('搜索條件') }}</h6>
        <div style="cursor:pointer" @click="searchStatus = !searchStatus"><i class="fas" :class="searchStatus?'fa-plus':'fa-minus'"></i></div>
      </div>
      <div v-if="searchStatus" class="d-flex border p-2 flex-wrap">
        <div class="col-md-4 my-2">
          <div class="mb-1">
            <div class="mb-1">{{ getLang('時間範圍') }}</div>
            <b-input-group>
              <template #prepend>
                <b-dropdown variant="primary" dropdown>
                  <template #button-content>
                    <i class="fas fa-calendar"></i>
                  </template>
                  <b-dropdown-item
                    v-for="(item,index) in dateTimeArray"
                    :key="index"
                    @click="setDate(item,'createdAtRange')"
                  >
                    {{ item.show }}
                  </b-dropdown-item>
                </b-dropdown>
              </template>
              <date-picker
                v-model="createdAtRange"
                range
                type="datetime"
                value-type="format"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder=""
              />
            </b-input-group>
          </div>
          <div class="mb-1">
            <div class="mb-1">{{ getLang('交易類型') }}</div>
            <div class="mb-1 w-50">
              <select v-model="where.type" class="w-100 p-1">
                <option value="-1">{{ getLang("全部") }}</option>
                <option v-for="(item,index) in typeList" :key="index" :value="item.value">{{ item.show }}</option>
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center mt-2">
            <button class="btn btn-primary" @click="getData()">{{ getLang('搜尋') }}</button>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="mb-1 d-flex">
            <span class="mr-3">{{ getLang('銀行') }}</span>
            <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('bank_id', bankList, 1)">{{ getLang('全選') }}</a>
            <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('bank_id', bankList, 0)">{{ getLang('取消全選') }}</a>
          </div>
          <div class="d-flex border p-2" style="min-height:100px;overflow-y:scroll;max-height: 134px;">
            <b-form-checkbox-group
              v-model="where.bank_id"
              style="display: grid;"
              :options="bankList"
            />
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="mb-1 d-flex">
            <span class="mr-3">{{ getLang('銀行賬戶') }}</span>
            <a href="javascript:void(0)" class="mr-2 text-decoration-none" @click="selectAll('bank_accounts_id', bankAccountList, 1)">{{ getLang('全選') }}</a>
            <a href="javascript:void(0)" class="text-decoration-none" @click="selectAll('bank_accounts_id', bankAccountList, 0)">{{ getLang('取消全選') }}</a>
          </div>
          <div class="d-flex border p-2" style="min-height:100px;overflow-y:scroll;max-height: 134px;">
            <b-form-checkbox-group
              v-model="where.bank_accounts_id"
              style="display: grid;"
              :options="bankAccountList"
            />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div v-if="data.length" class="col-sm-12">
          <div class="d-inline-flex pr-3 mb-3 form-inline">
            {{ getLang('顯示') }}
            <select v-model="pageData.limit" @change="getData">
              <option v-for="(item,index) in [50,100,200]" :key="index" :value="item">{{ item }}</option>
            </select>
            {{ getLang('條目') }}
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('xlsx')">{{ getLang('導出到Excel') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="setExportData('csv')">{{ getLang('CSV') }}</button>
          </div>
          <div class="d-inline-flex pr-1 mb-3 form-inline">
            <button class="btn btn-primary btn-sm" @click="printData('printTable')">{{ getLang('打印') }}</button>
          </div>
          <div class="d-inline-flex pr-3 mb-3 form-inline float-right">
            {{ getLang('搜尋') }}:<input v-model.lazy="search" type="search" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table v-if="data.length" id="printTable" class="table table-striped table-bordered ">
              <thead>
                <tr role="row">
                  <th>No.</th>
                  <th>{{ getLang('銀行名稱') }}</th>
                  <th>{{ getLang('銀行戶名') }}</th>
                  <th>{{ getLang('銀行帳號') }}</th>
                  <th>{{ getLang('交易類型') }}</th>
                  <th>{{ getLang('存款') }}</th>
                  <th>{{ getLang('取款') }}</th>
                  <th>{{ getLang('手續費') }}</th>
                  <th>{{ getLang('執行方') }}</th>
                  <th>{{ getLang('交易日期') }}</th>
                  <th>{{ getLang('備註') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in data" v-show="!search || item.bank_name.indexOf(search)!=-1 || item.bank_acc_name.indexOf(search)!=-1 || item.bank_acc_no.indexOf(search)!=-1" :key="index" role="row">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.bank_name }}</td>
                  <td>{{ item.bank_acc_name }}</td>
                  <td>{{ item.bank_acc_no }}</td>
                  <td>{{ getLang(typeObject[item.type]) }}</td>
                  <td>{{ item.amount > 0 ? moneyFormat(item.amount) : '--' }}</td>
                  <td>{{ item.amount &lt; 0 ? moneyFormat(-item.amount) : '--' }}</td>
                  <td>{{ item.handling_fee }}</td>
                  <td>{{ item.operator_accounts || '--' }}</td>
                  <td>{{ simpleDateFormat(item.created_at) }}</td>
                  <td>{{ item.note }}</td>
                </tr>
              </tbody>
              <b-tfoot>
                <b-tr>
                  <b-td colspan="5" variant="secondary" class="text-right">{{ '單頁合計' }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.positiveTotalAmount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(-total.negativeTotalAmount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.handling_feeTotal) }}</b-td>
                  <b-td colspan="3" variant="secondary">&nbsp;</b-td>
                </b-tr>
                <b-tr>
                  <b-td colspan="5" variant="secondary" class="text-right">{{ '總額' }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.allPositiveTotalAmount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(-total.allNegativeTotalAmount) }}</b-td>
                  <b-td colspan="1" variant="secondary">{{ moneyFormat(total.allhandling_fee) }}</b-td>
                  <b-td colspan="3" variant="secondary">&nbsp;</b-td>
                </b-tr>
              </b-tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <pagination v-if="data.length && pageData" :page-data="pageData" @getData="getData" />
      </div>
    </div>
    <iframe name="printFrame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import pagination from '~/components/pagination.vue';
import { getList } from '~/api/order.js';
import { getBankList, getBankAccountList } from '~/api/bank.js';
export default {
  components: { pagination },
  data () {
    return {
      searchStatus: true,
      data: {},
      pageData: { page: 0, limit: 50 },
      where: {
        type: -1,
        bank_id: [],
        bank_accounts_id: []
      },
      createdAtRange: [],
      search: '',
      whereStatus: 1,
      orderId: 1,
      bankList: [],
      bankAccountList: [],
      total: {}
    };
  },
  computed: {
    ...mapFields('order', [
      'typeList',
      'typeObject'
    ]),
    ...mapFields(['dateTimeArray'])
  },

  mounted () {
    this.$store.commit('initDateTimeArray');
    this.getBankList();
    this.getBankAccountList();
  },
  methods: {
    setDate (item, field) {
      this.$set(this, field, item.value.split('~'));
    },
    async getData () {
      const params = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        whereStatus: this.whereStatus,
        orderId: this.orderId,
        startTime: this.createdAtRange[0],
        endTime: this.createdAtRange[1],
        where: this.where
      };
      try {
        const res = await getList(params);
        this.$set(this, 'data', res.data);
        this.$set(this, 'pageData', res.pageData);
        this.$set(this, 'total', res);
      } catch (err) {
        this.alertWindow(err.message);
      }
    },
    async getBankList () {
      const { data } = await getBankList();
      data.forEach((x) => {
        x.value = x.id;
        x.text = x.bank_name;
      });
      this.$set(this, 'bankList', data);
      this.selectAll('bank_id', this.bankList, 1);
    },
    async getBankAccountList () {
      const { data } = await getBankAccountList();
      data.forEach((x) => {
        x.value = x.id;
        x.text = x.bank_acc_name;
      });
      this.$set(this, 'bankAccountList', data);
      this.selectAll('bank_accounts_id', this.bankAccountList, 1);
    },
    selectAll (target, list, type) {
      this.where[target] = [];
      if (type) {
        for (let i = 0; i < list.length; i++) {
          this.where[target][i] = list[i].value;
        }
      }
    },
    setExportData (type) {
      const routeName = this.$route.path.split('/')[2];
      const tableHeader = document.getElementById('printTable').rows[0];
      const data = JSON.parse(JSON.stringify(this.data));
      let total = null;

      data.forEach((x) => {
        x.type = this.getLang(this.typeObject[x.type]);
        x.withdraw = x.amount < 0 ? this.moneyFormat(Math.abs(x.amount)) : '--';
        x.deposit = x.amount > 0 ? this.moneyFormat(Math.abs(x.amount)) : '--';
        x.created_at = this.simpleDateFormat(x.created_at);
      });
      total = [
        { text: '單頁合計', handlingFee: this.moneyFormat(this.total.handling_feeTotal), positiveTotal: this.moneyFormat(this.total.positiveTotalAmount), negativeTotal: this.moneyFormat(-this.total.negativeTotalAmount) },
        { text: '總額', handlingFee: this.moneyFormat(this.total.allhandling_fee), positiveTotal: this.moneyFormat(this.total.allPositiveTotalAmount), negativeTotal: this.moneyFormat(-this.total.allNegativeTotalAmount) }
      ];

      this.$store.dispatch(`export/${routeName}-data`, data);
      this.$store.dispatch(`export/${routeName}-total`, total);
      this.onexport(type, routeName, tableHeader);
    }
  }
};
</script>
